<template>
	<div class="left-content">
		<div class="left-box">
			<databox :title="''" :dheight="720">
				<!--<personal :personalData="personalData" :username="username"></personal>-->
				<databox :title="'今日告警分类'" :dheight="380" :icon="'account'" :boxb="false">
          <personal ></personal>
			     	<!--<div class="drawPieBox" id="drawPie" :style="{'height':'280px','width':'100%',}"></div>-->
				 </databox>
				 <databox :title="'历史告警TOP3'" :dheight="280" :icon="'account'" :boxb="false">
           <ul class="historyAlarm">
             <li  v-for="alarm in  historyAlarm">
               <el-row :gutter="20">
                 <el-col :span="6"><div class="grid-content bg-purple">{{alarm.type}}</div></el-col>
                 <el-col :span="6" :offset="6"><div class="grid-content bg-purple">{{alarm.count}}</div></el-col>
               </el-row>
             </li>
           </ul>
				 </databox>
		</databox>
		</div>
	</div>
</template>

<script>
  import personal from './personal'
import databox from '@/components/dashboard/databox'
import echarts from 'echarts'
export default {
  components:{
    databox,
    personal
  },
  data() {
    return{
      websocket:null,
      historyAlarm:[]
    }
  },
  methods:{
    drawPie(){
      var scale = 1;
      var echartData = [{
        value: 2000,
        name: '入侵检测'
      }, {
        value: 3800,
        name: '私接告警'
      }, {
        value: 3500,
        name: 'PLC异常'
      }]
      var rich = {
        yellow: {
          color: "#ffc72b",
          fontSize: 18 * scale,
          padding: [5, 10],
          align: 'center'
        },
        total: {
          color: "#ffc72b",
          fontSize: 24 * scale,
          align: 'center'
        },
        white: {
          color: "#fff",
          align: 'center',
          fontSize: 10 * scale,
          padding: [0, 20]
        },
        blue: {
          color: '#49dff0',
          fontSize: 12 * scale,
          align: 'center'
        },
        // hr: {
        //   borderColor: '#0b5263',
        //   width: '100%',
        //   borderWidth: 2,
        //   height: 0,
        // }
      }
      // var option = {
      //   backgroundColor: '#031f2d',
      //   title: {
      //     text:'总考生数',
      //     left:'center',
      //     top:'53%',
      //     padding:[24,0],
      //     textStyle:{
      //       color:'#fff',
      //       fontSize:18*scale,
      //       align:'center'
      //     }
      //   },
      //   legend: {
      //     selectedMode:false,
      //     formatter: function(name) {
      //       var total = 0; // 告警数量率总和
      //       var averagePercent; //综合告警率率
      //       echartData.forEach(function(value, index, array) {
      //         total += value.value;
      //       });
      //       return '{total|' + total + '}';
      //     },
      //     data: [echartData[0].name],
      //     left: 'center',
      //     top: 'center',
      //     icon: 'none',
      //     align:'center',
      //     textStyle: {
      //       color: "#fff",
      //       fontSize: 16 * scale,
      //       rich: rich
      //     },
      //   },
      //   series: [{
      //     name: '总告警数量',
      //     type: 'pie',
      //     radius: ['42%', '50%'],
      //     hoverAnimation: false,
      //     color: ['#c487ee', '#deb140', '#49dff0', '#034079', '#6f81da', '#00ffb4'],
      //     label: {
      //       normal: {
      //         formatter: function(params, ticket, callback) {
      //           var total = 0; //告警总数量
      //           var percent = 0; //分别占比
      //           echartData.forEach(function(value, index, array) {
      //             total += value.value;
      //           });
      //           percent = ((params.value / total) * 100).toFixed(1);
      //           return '{white|' + params.name + '}\n{hr|}\n{yellow|' + params.value + '}\n{blue|' + percent + '%}';
      //         },
      //         rich: rich
      //       },
      //     },
      //     labelLine: {
      //       normal: {
      //         length: 55 * scale,
      //         length2: 0,
      //         lineStyle: {
      //           color: '#0b5263'
      //         }
      //       }
      //     },
      //     data: echartData
      //   }]
      // };
      let PieChart = echarts.init(document.getElementById('drawPie'))
      PieChart.setOption({
        title: {
          text:'总告警数量',
          left:'center',
          top:'53%',
          padding:[20,0],
          textStyle:{
            color:'#fff',
            fontSize:14*scale,
            align:'center'
          }
        },
        legend: {
          selectedMode:false,
          formatter: function(name) {
            var total = 0; // 告警数量率总和
            var averagePercent; //综合告警率率
            echartData.forEach(function(value, index, array) {
              total += value.value;
            });
            return '{total|' + total + '}';
          },
          data: [echartData[0].name],
          left: 'center',
          top: 'center',
          icon: 'none',
          align:'center',
          textStyle: {
            color: "#fff",
            fontSize: 12 * scale,
            rich: rich
          },
        },
        series: [{
          name: '总告警数量',
          type: 'pie',
          radius: ['42%', '50%'],
          hoverAnimation: false,
          color: ['#c487ee', '#deb140', '#49dff0', '#034079', '#6f81da', '#00ffb4'],
          label: {
            normal: {
              formatter: function(params, ticket, callback) {
                var total = 0; //告警总数量
                var percent = 0; //分别占比
                echartData.forEach(function(value, index, array) {
                  total += value.value;
                });
                percent = ((params.value / total) * 100).toFixed(1);
                return '{white|' + params.name + '}\n{hr|}\n{yellow|' + params.value + '}\n{blue|' + percent + '%}';
              },
              rich: rich
            },
          },
          labelLine: {
            normal: {
              length: 12 * scale,
              length2: 0,
              lineStyle: {
                color: '#0b5263'
              }
            }
          },
          data: echartData
        }]
      })
    },

    initWebsocket(){
      const wsuri = 'ws://192.168.99.131:9000';
      this.websocket = new WebSocket(wsuri)
      this.websocket.onopen = this.websocketonopen
      this.websocket.onerror = this.websocketonerror
      this.websocket.onmessage = this.websocketonmessage
      this.websocket.onclose = this.websocketonclose
    },
    websocketonopen() {
      console.log("WebSocket连接成功");
      this.websocketsend('connect success')
    },
    websocketonerror(e) { //错误
      console.log("WebSocket连接发生错误");
    },
    websocketonmessage(e){ //数据接收
      console.log('red',e.data)
      let redata = JSON.parse(e.data);
      for (let i in redata){
        switch (redata[i]["type"]) {
          case 'iprecord':
            redata[i]["type"] = "IP";
            break;
          case 'plcset':
            redata[i]["type"] = "PLC配置";
            break;
          case 'plcconfig':
            redata[i]["type"] = "PLC日志";
            break;
          default:
            redata[i]["type"] = "未知";
        }
      }
      function compare(property){
        return function(obj1,obj2){
          var value1 = obj1[property];
          var value2 = obj2[property];
          return value2 - value1;     // 降序
        }
      }
      this.historyAlarm = redata.sort(compare("count"))
      // this.websocketsend(e.data)
      // const redata = JSON.parse(e.data);
    },

    websocketsend(agentData){//数据发送
      const sendData = {server:'analysis_service',func:'alarm_top10'}
      this.websocket.send(JSON.stringify(sendData));
    },

    websocketclose(e){ //关闭
      console.log("connection closed (" + e.code + ")");
    },

    },
  created(){
    this.initWebsocket()
  },
  mounted(){
    this.drawPie()
  }
}
</script>

<style lang="scss">
	.left-content{
		width: 100%;
		height: 100%;
	.left-box{
		width: 100%;
		height: 720px;
	}
}
  .drawPieBox{

  }
  .historyAlarm {
    padding:0;
    }
  .historyAlarm li{
    font-size: 24px;
    color: #61d2f7;
    list-style:none;
    margin-top: 20px;
    margin-left: -5%;
  }
</style>
