
<template>
  <div class="show_table">
    <div class="table_item" v-if="index!='add_user'" v-for="(item,index) in form">
      <span>{{forms[index]}}：</span>
      <span v-if="fwb.indexOf(index)==-1">{{form[index]}}</span>
      <div
        class="fwb_data"
        :id="index"
        v-if="fwb.indexOf(index)>-1"
        style="text-align:left"
        v-html="form[index]"
      ></div>
    </div>
  </div>
</template>
<style scoped>
.show_table {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid #ccc;
}
.table_item {
  width: 33.33%;
}
.table_item span {
  padding: 5px;
  line-height: 30px;
}
.fwb_data {
  width: 100%;
  padding: 10px;
}
</style>


<script>
import { fullTable } from "@/api/assets";
export default {
  props: ["form", "fieldKeys", "indexName"],
  data() {
    return {
      forms: {},
      fwb: []
    };
  },
  methods: {
    fwbIndex(index, html) {
      this.$emit("fwbIndexEvent", { index: index, html: html });
    },
    changeFwb(index, html) {
      document.getElementById(index).innerHTML = html;
    },
    showF(item) {
      if (
        item.field_dis_zh == "功能描述" ||
        item.field_dis_zh == "组成结构" ||
        item.field_dis_zh == "业务互联"
      ) {
        return true;
      }
      return false;
    },
    init(base_datas) {
      //console.log(base_datas)
      base_datas.fields.forEach(item => {
        this.$set(this.forms, item.field_name, item.field_dis_zh);
        // this.forms[item.field_name] = item.field_dis_zh;
        this.form[item.field_name] = this.form[item.field_name]
          ? this.form[item.field_name]
          : "";
        ///////////////////
        // 系统表处理（处理其中的富文本）
        if (base_datas.index_name == "系统" && this.showF(item)) {
          this.fwb.push(item.field_name);
        }
      });
    }
  },
  created() {
    this.form = this.form ? this.form : {};
    console.log(this.fieldKeys);
    if (this.fieldKeys) {
      this.fieldKeys.forEach(item => {
        if (item._source.index_name == this.indexName) {
          this.init(item._source);
          //console.log(this.forms)
        }
      });
    }
    
  }
};
</script>