
<template>
    <div>
      <el-table :data="datas" stripe style="width: 100%">
        <el-table-column prop="_source.sys_gk1" label="设备ID"></el-table-column>
        <el-table-column prop="_source.sys_gk2" label="IP"></el-table-column>
        <el-table-column prop="_source.sys_gk3" label="mac地址"></el-table-column>
        <el-table-column prop="_source.sys_gk4" label="设备名称"></el-table-column>
        <el-table-column prop="_source.sys_gk5" label="制造商"></el-table-column>
        <el-table-column prop="_source.sys_gk6" label="品牌"></el-table-column>
        <el-table-column prop="_source.sys_gk7" label="国内/国外"></el-table-column>
        <el-table-column prop="_source.sys_gk8" label="型号"></el-table-column>
        <el-table-column prop="_source.sys_gk9" label="固件版本号"></el-table-column>
        <el-table-column prop="_source.sys_gk10" label="设备类型"></el-table-column>
        <el-table-column prop="_source.sys_gk11" label="所属系统"></el-table-column>
        <el-table-column prop="_source.sys_gk12" label="地区"></el-table-column>
        <el-table-column prop="_source.sys_gk13" label="厂名"></el-table-column>
        <el-table-column prop="_source.sys_gk14" label="车间/装置"></el-table-column>
        <el-table-column prop="_source.sys_gk15" label="安装地点"></el-table-column>
        <el-table-column prop="_source.sys_gk16" label="责任人"></el-table-column>
        <el-table-column prop="_source.sys_gk17" label="联系方式"></el-table-column>
        <el-table-column prop="_source.sys_gk18" label="录入人员"></el-table-column>
        <el-table-column prop="_source.sys_gk19" label="联系方式"></el-table-column>
      </el-table>
      
    </div>
</template>
<style scoped>



</style>


<script>
export default {
  props:["datas"], 
  data() {
    return {
      forms: {}
    };
  },
  methods: {
  },
  created() {
    console.log(this.datas)
  }
};
</script>