<template>
    <div class="item_all">
        <el-table :data="formLists" stripe style="width: 100%">
            <el-table-column prop="_source.index_name" label="标题"></el-table-column>
            <el-table-column fixed="right" label="操作" width="180">
                <template slot-scope="scope">
                    <el-button @click="editpage(scope.row)" type="text" size="small">编辑</el-button>
                    <el-button @click="deleteThem(scope.row)" type="text" size="small">移除</el-button>
                </template>
            </el-table-column>
        </el-table>
    </div>
</template>
<style scoped>
/* .item_all {
  display: flex;
}
.es-row {
  margin-bottom: 20px;
} */
</style>


<script>
import { deleEsdata } from "@/api/assets";
export default {
  props: ["datas", "formLists"], //接收父组件的方法
  data() {
    return {};
  },
  methods: {
    editpage(item) {
      console.log(item);
      this.$router.push({ name: "编辑自定义资产表", params: { esdata: item } });
    },
    deleteThem(item) {
      let data = {
        name: item._index,
        id: item._id
      };
      deleEsdata(data).then(data => {
        let res = data.data;
        if (res.code == 1) {
          alert("成功删除一条记录");
          this.$emit("reloadFull");
        } else {
          alert(res.err_msg);
        }
      });
    }
  },
  created() {
    console.log(this.formLists);
  }
};
</script>