<template>
  <div>
    <el-cascader class="form-option" :options="options" v-model="value" @change="areaChange" change-on-select></el-cascader>
  </div>
</template>

<script>
import { Areas } from "@/api/assets";
export default {
  props: ["index","form"], //接收父组件的方法
  data() {
    return {
      options: [],
      value:[]
    };
  },
  computed: {},
  methods: {
    rollFun(data,areas){
      // 修改 json 对象key值
      data.forEach(element => {
        let obj = {value:element.name,label:element.name}
        if(element.children){
          obj.children = []
          this.rollFun(element.children,obj.children)
        }
        areas.push(obj)
      });
      return areas
    },
    dataToArea(data){
      let areas = []
      return this.rollFun(data,areas)
    },
    areaChange(){
      this.$emit("areaDate", this.value.join(">"), this.index); // 把值给父组件
    },
    init(){
      this.value = []
    }
  },
  created() {
    // 获取地区数据
    Areas().then(data => {
      let res = data.data;
      if (res.code == 1) {
        this.options = this.dataToArea(eval(res.data))
      }
    });
    this.value = this.form.split(">")  //转数组
  }
};
</script>

<style scoped>
.sele-option {
  width: 30%;
  height: 40px;
  border: 1px solid #dcdfe6;
  border-radius: 4px;
}
</style>

