<template>
  <div>
    <el-cascader class="form-option" :options="optionsnew" v-model="value" @change="areaChange" change-on-select></el-cascader>
  </div>
</template>

<script>
export default {
  props: ["options", "index", "form"], //接收父组件的方法
  data() {
    return {
      optionsnew:[],
      value: [],
    };
  },
  computed: {},
  methods: {
    areaChange(){
      console.log(this.value.join(">"))
      this.$emit("seleDate", this.value.join(">"), this.index); // 把值给父组件
    },
    rollFun(data,areas){
      data.forEach(element => {
        let obj = {value:element.name,label:element.name}
        if(element.childern){
          obj.children = []
          this.rollFun(element.childern,obj.children)
        }
        areas.push(obj)
      });
      return areas
    },
    dataToArea(data){
      let areas = []
      return this.rollFun(data,areas)
    },
    init(){
      this.value = []
    }
  },
  created() {
    this.optionsnew = this.dataToArea(this.options)
    this.value = this.form.split(">")  //转数组
  },
};
</script>

<style scoped>
.sele-option {
  width: 30%;
  height: 40px;
  border: 1px solid #dcdfe6;
  border-radius: 4px;
}
</style>

