<template>
    <div class="fwb_div">
        <div id="editorElem" style="text-align:left" ></div>
        <el-button class="button" type="primary" @click="getContent">确定</el-button>
    </div>
</template>
<style scoped>
.fwb_div {
  z-index: 10;
}
.item_all {
  display: flex;
}
.es-row {
  margin-bottom: 20px;
}
</style>


<script>
import E from "wangeditor";
export default {
  data() {
    return {
      editorContent: "",
      editor: {}
    };
  },
  methods: {
    getContent() {
      this.$emit("itemEvent", this.editorContent);
    },
    dataChange(data) {
      console.log(data);
      this.editor.txt.html(data);
      this.editorContent = data    // 同步更新
    }
  },
  mounted() {
    var editor = new E("#editorElem");
    editor.customConfig.onchange = html => {
      this.editorContent = html;
    };
    editor.customConfig.uploadImgServer = 'http://192.168.99.131:5000/api/v1.0/editor'
    editor.customConfig.uploadFileName = 'file'
    editor.create();
    this.editor = editor;
  }
};
</script>
<style scoped>
.fwb_div {
  position: fixed;
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
}
.fwb_data {
  border: solid, 1px, #cccccc;
}
.button {
  float: right;
}
</style>
