
<template>
  <div>
    <el-form ref="form" label-width="120px">
      <div v-for="(item,index) in form">
        <el-form-item :label="forms[index]" v-if="options[index]&&index!='add_user'">

          <Esopt ref="esopts" :options="options[index]" :form="form[index]" :index="index" v-on:seleDate="seleDate"/>

          <el-button type="warning" plain v-if="options[index].length==0&&index==field_sys_name" @click="addSys">添加系统</el-button>
        </el-form-item>
        <el-form-item :label="forms[index]" v-if="!options[index]&&index!='add_user'">
          <el-input v-if="options.fwb.indexOf(index)==-1&&!area(forms[index])" v-model="form[index]" placeholder="请输入"></el-input>

          <Esarea ref="esareas" :form="form[index]" v-if="options.fwb.indexOf(index)==-1&&area(forms[index])" :index="index" v-on:areaDate="areaDate"/>
          
          <el-button
            type="primary"
            plain
            v-if="options.fwb.indexOf(index)>-1"
            @click="fwbIndex(index,form[index])"
          >编辑</el-button>
          <div
            class="fwb_data"
            :id="index"
            v-if="options.fwb.indexOf(index)>-1"
            style="text-align:left"
            v-html="form[index]"
          ></div>
        </el-form-item>
      </div>
      <!-- <el-form-item v-if="base_datas.index_name == '设备'" label="数量">
        <el-input v-model.number="num" placeholder="请输入"></el-input>
      </el-form-item> -->
      <el-form-item>
        <el-button type="primary" @click="onSubmit">提交</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>
<style scoped>
</style>


<script>
import { fullTable } from "@/api/assets";
import Esopt from "@/components/EsVue/EsOption";
import Esarea from "@/components/EsVue/EsArea";    // 地区选择
export default {
  props: {
    form: {
      type: Object,
      default: {}
    },
    options: {
      type: Object,
      default: {}
    }
  }, //接收父组件的方法
  data() {
    return {
      forms: {},
      num: "",
      base_datas: null
    };
  },
  components: {
    Esopt,
    Esarea
  },
  methods: {
    area(str){   // 区域
      if(str=="地区"){
        return true  
      }
      return false
    },
    areaDate(value,index){  // 地区选择
      this.form[index] = value
    },
    seleDate(value,index) {  // 多级联动（设备类型）
      this.form[index] = value
    },
    onSubmit() {
      this.$emit("selectEvent", this.form, this.num);
      this.$refs.esareas.forEach(item=>{
        item.init()  // 给地区选择列表置空
      })    
      this.$refs.esopts.forEach(item=>{
        item.init()        // 下拉列表置空
      })
    },
    fwbIndex(index, html) {
      this.$emit("fwbIndexEvent", { index: index, html: html });
    },
    changeFwb(index, html) {
      document.getElementById(index).innerHTML = html;
    },
    addSys() {
      this.$router.push({ path: "/assets/sys_infos" });
    },
    showF(item) {
      if (
        item.field_dis_zh == "功能描述" ||
        item.field_dis_zh == "组成结构" ||
        item.field_dis_zh == "业务互联"
      ) {
        return true;
      }
      return false;
    }
  },
  created() {
    this.options.fwb = [];
    this.form = this.form ? this.form : {};
    this.base_datas = this.$store.state.esstate.esdata; // 通过Vuex获取
    this.base_datas.fields.forEach(item => {
      this.forms[item.field_name] = item.field_dis_zh;
      if (this.form[item.field_name]) {
        this.$set(this.form, item.field_name, this.form[item.field_name]);
      } else {
        this.$set(this.form, item.field_name, "");
      }
      if (item.field_enum.length) {
        this.$set(this.options, item.field_name, eval(item.field_enum)); // 枚举值
      }
      // 设备表处理
      if (
        this.base_datas.index_name == "设备" &&
        item.field_dis_zh == "所属系统"
      ) {
        //查询已存在的系统  初始index 是 “系统” add_user 字段是当前用户
        this.field_sys_name = item.field_name;
        fullTable("系统").then(data => {
          let res = data.data;
          if (res.code == 1) {
            var sys_arr = [];
            console.log(res.data)
            res.data.forEach(item => {
              //sys_arr.push({name:item._source["sys_gk1"],id:item._id})  // 系统名称字段名
              sys_arr.push({name: item._source["sys_gk1"]});
            });
            this.$set(this.options, this.field_sys_name, sys_arr);
          }
        });
      }
      ///////////////////
      // 系统表处理（处理其中的富文本）
      if (this.base_datas.index_name == "系统" && this.showF(item)) {
        this.options.fwb.push(item.field_name);
      }
    });
    console.log(this.form)
    console.log(this.options)
  }
};
</script>