<template>
  <div class="app-container">
    <el-table :data="list" v-loading.body="listLoading" border @cell-click="getFlow" style="width: 100%; margin-top: 20px" :row-class-name="tableRowClassName">
        <el-table-column prop="clock" label='Lass change' width="170"></el-table-column>
        <el-table-column prop="age" label='Age' width="100"></el-table-column>
        <el-table-column prop="hosts" label='Host' width="150"></el-table-column>
        <el-table-column prop="ip" label='Ip' width="130"></el-table-column>
        <el-table-column prop="subject" label='Issua'></el-table-column>
        <el-table-column prop="times" label='Times' width="80"></el-table-column>
    </el-table>
  </div>
</template>

<script>
import { getALERT } from '@/api/table'

export default {
  data() {
    return {
        list: [],
        listLoading: false
    }
  },
  created() {
    this.fetchData()
  },
  methods: {
    tableRowClassName({row, rowIndex}) {
      if (row.priority == 5){
        return 'disaster-row';
      } else if (row.priority == 4) {
        return 'serious-row'
      }else if (row.priority == 3) {
        return 'problem-row'
      }else if (row.priority == 2) {
        return 'warning-row'
      }else if (row.priority == 1) {
        return 'info-row'
      }
    },
    fetchData() {
        this.listLoading = true
        getALERT().then(response => {
            this.list = response.data
            this.listLoading = false
        })
    }
  }
}
</script>

<style>
  .el-table .warning-row {
    background: #409EFF;
  }
  .el-table .problem-row {
    background: rgb(243, 155, 54);
  }
  .el-table .serious-row {
    background: rgb(246, 104, 38);
  }
  .el-table .disaster-row {
    background: rgb(248, 3, 3);
  }
  .el-table .info-row {
    background: #0cf533;
  }
</style>
