<template>
  <div class="app-container">
    <el-table :data="linkdata" v-loading="loading" style="width: 100%" border>
       <el-table-column fixed prop="source" label=""></el-table-column>
        <el-table-column 
          v-for="col in options" 
          :key="col" 
          :prop="col" 
          :label="col"
          :v-if="isDelete">
        </el-table-column>
    </el-table>
  </div>
</template>

<script>
import { getBivariateData} from '@/api/table'

export default {
  data() {
    return {
        options: [],
        linkdata: [],
        loading: true,
        isDelete: true,
    }
  },
  created() {
		this.getBivariateData()
  },
  methods: {
    getBivariateData() {
      this.loading = true
      getBivariateData().then(response => {
        this.options = response.data.table
        this.linkdata = response.data.data
        this.loading = false
      })
    }
  }
}
</script>