<template>
  <div class="app-container">
 
        <div>
          <el-form ref="form" :model="form" label-width="120px">
            <div style="margin-bottom: 10px">测试点信息</div>
            <el-form-item label="测试点类型">
                <el-radio v-model="form.detecting.label" label='zenlayer' @change="isShow">Zenlayer</el-radio>
                <el-radio v-model="form.detecting.label" label='customer' @change="isShow">Customer</el-radio>
                <el-radio v-model="form.detecting.label" label='ISP' @change="isShow">ISP</el-radio>
            </el-form-item>
            <el-form-item label="名称" prop="detecting.name">
              <el-input v-model="form.detecting.name" placeholder="请输入设备名称" style="width: 250px"></el-input>
            </el-form-item>

            <el-form-item label="IP" prop="detecting.ip" :rules=formRule>
              <el-input v-model="form.detecting.ip" placeholder="请输入IP" style="width: 250px"></el-input>
            </el-form-item>

            <el-form-item label="所在区域" prop="detecting.area">
              <el-input v-model="form.detecting.area" placeholder="请输入所在区域" style="width: 250px"></el-input>
            </el-form-item>

            <el-form-item>
              <!-- <el-button type="primary" @click="addData('form')">添加</el-button> -->
              <el-button type="primary" @click="submitDetecting('form')">新建测试点</el-button>
              <el-button type="primary" @click="clear('form')">取消</el-button>
            </el-form-item>
          </el-form>
        </div>

    <hr/>
    <br>

    <div class="grid-content bg-purple-light">
        <el-table
            :data="detecting_lists"
            border
            max-height="600" >
            <el-table-column
                prop="name"
                label="名称">
            </el-table-column>

            <el-table-column
                v-if="isAlter"
                prop="ip"
                label="ip">
                <template slot-scope="scope">
                    <template v-if="scope.row.edit">
                        <el-input class="edit-input" size="small" v-model="scope.row.ip"></el-input>
                        <el-button v-if="scope.row.edit" type="success" @click="confirmEdit(scope.row)" size="small">确定</el-button>
                        <el-button class='cancel-btn' size="small" icon="el-icon-refresh" type="warning" @click="cancelEdit(scope.row)">取消</el-button>
                    </template>
                    <span v-else>{{ scope.row.ip }}</span>
                </template>
            </el-table-column>

            <el-table-column
                :key="Math.random()"
                prop="region"
                label="所在区域">
            </el-table-column>

            <el-table-column
                :key="Math.random()"
                prop="type"
                label="测试点类型">
            </el-table-column>

            <el-table-column
                :key="Math.random()"
                v-if="isSever"
                prop="state"
                header-align="center"
                align="center"
                label="状态">
                <template slot-scope="scope">
                    <el-tag v-if="scope.row.state == true" type="success" size="small">服务启动中</el-tag>
                    <el-tag v-else size="small" type="danger">未启动服务</el-tag>
                </template>
            </el-table-column>

            <el-table-column label="操作" :key="Math.random()" fixed="right" width="150">
                <template slot-scope="scope">
                    <!-- <el-button v-if="scope.row.edit" type="success" @click="confirmEdit(scope.row)" size="small">确定</el-button> -->
                    <!-- <el-button v-if="isAlter" @click='scope.row.edit=!scope.row.edit' type="text" size="small" >编辑</el-button> -->
                    <el-button
                        type="text"
                        size="small"
                        @click="delDetecting(scope.$index, scope.row)">删除
                    </el-button>
                </template>
        </el-table-column>

        </el-table>         
    </div>
  </div>

</template>

<script>
  import {newPoint, fetchData, delDetecting, updateDetected} from '@/api/table'

  export default {
    data() {
        return {
            // 新建表单
            form: {
                'detecting': {
                    'name': '',
                    'ip': '',
                    'area': '',
                    'type': '',
                    'label': ''
                },
            },
            // 表单选项
            point: '',
            detecting_lists: [],
            list: [],
            del_row: {},
            modify_row: {},
            isSever: false,
            isAlter: false,
            formRule: [
            {
                validator(rule, value, callback, source, options) {
                    var errors = [];
                    if (!/^((25[0-5]|2[0-4]\d|((1\d{2})|([1-9]?\d)))\.){3}(25[0-5]|2[0-4]\d|((1\d{2})|([1-9]?\d)))$/.test(value)) {
                        callback('IP格式不正确！');
                    }
                    callback(errors);
                }, trigger: 'blur',
            }]
        }
    },
    created() {
        // this.fetchData()
    },
    methods: {
        isShow(){
            console.log('point type', this.form.detecting.label)
            if (this.form.detecting.label != 'zenlayer') {
                this.isAlter = true
                this.isSever = false
                this.point = 'detected'
                this.form.detecting.type = 'detected'
            }
            else {
                this.form.detecting.type = 'detecting'
                this.point = 'detecting'
                this.isAlter = false
                this.isSever = true
            }
            this.fetchData()
        },
        fetchData() {
            fetchData({type: this.point, ip: ''}).then(response => {
                // this.detecting_lists = []
                this.detecting_lists = response.data.map(v => {
                    this.$set(v, 'edit', false)
                    v.originalTitle = v.ip
                    return v
                })
            });
        },
        submitDetecting(form) {
            this.$refs[form].validate((valid) => {
                if (valid) {
                    newPoint(this.form.detecting).then(response => {
                        console.log('submit!', response.data);
                            if(response.data['result'] == "ok"){
                            fetchData({type: 'detecting', ip: ''}).then(response => {
                                this.detecting_lists = response.data
                                this.$message({
                                    message: '添加测试点成功！',
                                    type: 'success'
                                })
                            });
                            this.form = {'detecting': {'name': '', 'ip': '', 'area': '',}}
                        } else{
                            this.$message({
                                message: '测试点已存在或存在其他错误',
                                type: 'warning',
                            });
                            }
                        });
                } else {
                    console.log('error format!!');
                    return false;
                }
            });
        },
        delDetecting(index, row) {
            this.del_row['type'] = this.point
            this.del_row['ip'] = row.ip
            this.del_row['source'] = row.name
            this.del_row['area'] = row.region

            delDetecting(this.del_row).then(response => {
                if(response.data['result'] == "ok"){
                    this.$notify({
                        message: '删除成功！',
                        type: 'success',
                        offset: 300
                    })
                    this.detecting_lists.splice(index, 1);
                }
            })
        },
        // 清除
        clear(form) {
            this.$refs['form'].resetFields()
        },
        cancelEdit(row) {
            row.ip = row.originalTitle
            row.edit = false
            this.$notify({
                message: '无效修改！',
                type: 'warning',
                offset: 300
            })
        },
        confirmEdit(row) {
            this.modify_row['type'] = 'detected'
            this.modify_row['ip'] = row.originalTitle
            this.modify_row['new_ip'] = row.ip
            this.modify_row['source'] = row.region
            updateDetected(this.modify_row).then(response => {
                row.edit = false
                // row.originalTitle = row.domin
                console.log(this.modify_row)
                if(response.data['result'] == "ok"){
                    this.$notify({
                        message: '主/被测点数据库操作：' + response.data['detect'] + ' ' +  ' ' + '任务表操作：' + response.data['task'] + '任务重启操作：' + response.data['restart'],
                        type: 'success',
                        offset: 300
                    })
                }
            })
        },
    }
}
</script>