<template>
    <div class="app-container">

    <div>
        <el-form ref="form" :model="form" label-width="120px">
            <div style="margin-bottom: 10px">被测点信息</div>

            <el-form-item label="所属主测点" prop="detected.ip">
                <el-select v-model="form.detected.ip" clearable placeholder="请选择所属主测点" style="width:250px" @change="changeData()">
                    <el-option
                        v-for="item in sub_opt"
                        :key="item.name"
                        :label="item.name"
                        :value="item.ip">
                    </el-option>
                </el-select>
            </el-form-item>

            <el-form-item label="名称" prop="detected.name">
                <el-input v-model="form.detected.name" placeholder="请输入名称" style="width: 250px"></el-input>
            </el-form-item>

            <el-form-item label="IP" prop="detected.domin" :rules=formRule>
                <el-input v-model="form.detected.domin" placeholder="请输入IP" style="width: 250px"></el-input>
            </el-form-item>

            <el-form-item>
                <el-button type="primary" @click="submitDetected('form')">新建被测点</el-button>
                <el-button type="primary" @click="clear('form')">取消</el-button>
            </el-form-item>
        </el-form>
    </div>
    
    <hr/>
    <br>

        <div>
            <el-table
            :data="detected_lists"
            border
            max-height="600">

            <el-table-column
                prop="name"
                label="名称">
            </el-table-column>

            <el-table-column
                prop="domin"
                label="ip">
                <template slot-scope="scope">
                    <template v-if="scope.row.edit">
                        <el-input class="edit-input" size="small" v-model="scope.row.domin"></el-input>
                        <el-button class='cancel-btn' size="small" icon="el-icon-refresh" type="warning" @click="cancelEdit(scope.row)">取消</el-button>
                    </template>
                    <span v-else>{{ scope.row.domin }}</span>
                </template>
            </el-table-column>

            <el-table-column
                prop="ip"
                label=" 所属主测点">
            </el-table-column>

            <el-table-column label="操作" fixed="right" width="200">
                <template slot-scope="scope">
                    <el-button v-if="scope.row.edit" type="success" @click="confirmEdit(scope.row)" size="small" icon="el-icon-circle-check-outline">确定</el-button>
                    <el-button v-else @click='scope.row.edit=!scope.row.edit' size="small" icon="el-icon-edit">编辑</el-button>
                    
                    <el-button size="small" @click="delDetected(scope.$index, scope.row)">删除</el-button>
                </template>

            </el-table-column>

            </el-table>         
        </div>

  </div>

</template>

<script>
    import {newDetected, fetchData, delDetected, updateDetected} from '@/api/table'

    export default {
    data() {
        return {
            // 新建表单
            form: {
                'detected': {
                    'name': '',
                    'domin': '',
                    'ip': '',
                },
            },
            editeFlag: false,
            inputColumn: '',
            // 表单选项
            sub_opt: [{name: '', ip: '', region: ''}],
            detected_lists: [{'name': '', 'ip': '', 'domin': ''}],
            list: [],
            del_row: {},
            modify_row: {},
            formRule: [{
                validator(rule, value, callback, source, options) {
                    var errors = [];
                    if (!/^((25[0-5]|2[0-4]\d|((1\d{2})|([1-9]?\d)))\.){3}(25[0-5]|2[0-4]\d|((1\d{2})|([1-9]?\d)))$/.test(value)) {
                        callback('IP格式不正确！');
                    }
                    callback(errors);
                }, trigger: 'blur',
            }]
        }
    },
    created() {
        this.fetchData()
    },
    methods: {
        fetchData() {
            fetchData({type: 'detecting', ip: ''}).then(response => {
                this.sub_opt = response.data
            });
        },
        changeData(data){
        	fetchData({type:'detected', ip: this.form.detected.ip}).then(response => {
                // this.detected_lists = response.data[0]
                var lists = response.data[0]
                this.detected_lists = lists.map(v => {
                    this.$set(v, 'edit', false) 
                    v.originalTitle = v.domin
                    return v
                })
        	});
      	},
        submitDetected(form) {
            this.$refs[form].validate((valid) => {
                if (valid) {
                    console.log(this.form);
                    newDetected(this.form.detected).then(response => {
                        console.log('submit!', response.data);
                        if(response.data['result'] == "ok"){
                            fetchData({type: 'detected', ip: this.form.detected.ip}).then(response => {
                                this.$message({
                                    message: '添加被测点成功！',
                                    type: 'success'
                                })
                                this.form = {'detected': {'name': '', 'domin': '', 'ip': '',}}
                                this.detected_lists = response.data[0]
                            });
                        } else{
                            this.$message({
                                message: '被测点已存在或存在其他错误',
                                type: 'warning',
                            });
                            }
                        });
                } else {
                    console.log('error format!!');
                    return false;
                }
            });
        },
        delDetected(index, row) {
            this.del_row['type'] = 'detected'
            this.del_row['domin'] = row.domin
            this.del_row['name'] = row.name
            this.del_row['source'] = row.ip
            delDetected(this.del_row).then(response => {
                if(response.data['result'] == "ok"){
                    this.$notify({
                        message: '删除成功！',
                        type: 'success',
                        offset: 300
                    })
                    this.detected_lists.splice(index, 1)
                }
            })
        },
        // 清除
        clear(form) {
            this.$refs['form'].resetFields()
        },
        cancelEdit(row) {
            row.domin = row.originalTitle
            row.edit = false
            this.$notify({
                message: '无效修改！',
                type: 'warning',
                offset: 300
            })
        },
        confirmEdit(row) {
            this.modify_row['type'] = 'detected'
            this.modify_row['ip'] = row.originalTitle
            this.modify_row['new_ip'] = row.domin
            this.modify_row['source'] = row.ip
            updateDetected(this.modify_row).then(response => {
                row.edit = false
                // row.originalTitle = row.domin
                if(response.data['result'] == "ok"){
                    this.$notify({
                        message: '主/被测点数据库操作：' + response.data['detect'] + ' ' +  ' ' + '任务表操作：' + response.data['task'] + '任务重启操作：' + response.data['restart'],
                        type: 'success',
                        offset: 300
                    })
                }
            })
        },
    }
}
</script>

