<template>
  <div class="app-container">
    <el-form ref="form" :model="form" label-width="120px" style="width: 50%">
      <el-form-item label="Group name">
        <el-select v-model="form.name" multiple placeholder="请选择Group">
          <el-option v-for="item in option" :key="item.name" :label="item.name" :value="item.name">
          </el-option>
        </el-select>
        <el-button type="primary" @click="loadData">Load</el-button>
      </el-form-item>
    </el-form>
    <el-table :data="gdata" v-loading.body="listLoading" height="550" border @cell-click="getFlow" style="width: 100%; margin-top: 20px">
        <el-table-column prop="groups.name" label='Group' width="180"></el-table-column>
        <el-table-column prop="name" label='Host name'></el-table-column>
        <el-table-column prop="host" label='Host'></el-table-column>
    </el-table>
  </div>
</template>

<script>
import { getDEVICE } from '@/api/table'

export default {
  data() {
    return {
        list: {},
        customer: [],
        zabbix: [],
        idc: [],
        form: {
          name: []
        },
        gdata: [],
        option: [{name: 'zabbix'}, {name:'customer'}, {name:'idc'}],
        listLoading: false
    }
  },
  created() {
    this.fetchData()
  },
  methods: {
    fetchData() {
        this.listLoading = true
        getDEVICE().then(response => {
            this.list = response.data
            this.customer = this.list.customer
            this.zabbix = this.list.zabbix
            this.idc = this.list.idc
            this.gdata = this.idc
            this.listLoading = false
        })
    },
    loadData() {
      if(this.form.name == 'zabbix') {
        this.gdata = this.zabbix
      } else if(this.form.name == 'customer') {
        this.gdata = this.customer
      } else {
        this.gdata = this.idc
      }
    },
    getFlow(row, column, cell, event) {
        this.$router.push({name: 'flow', params: {host: row.hostid}})
    }
  }
}
</script>
