<template>
  <div class="components-container" style='height:100vh'>   
    <div class='chart-container'>
        <el-form ref="form" :model="form" label-width="120px" style="width: 50%">
            <el-form-item v-loading.body="listLoading" label="Item name">
                <el-select v-model="form" multiple placeholder="请选择Item" multiple-limit=5 style="width: 50%">
                    <el-option v-for="item in graphData" :key="item.name" :label="item.name" :value="item.name">
                    </el-option>
                </el-select>
                <el-button type="primary" @click="load">Load</el-button>
            </el-form-item>
        </el-form>
        <chart :options="option" ref="option" height='100%' width='100%'></chart>
    </div>
  </div>
</template>

<script>
import {getGRAPH} from '@/api/table'
import Chart from '@/components/Charts/pingChart'
import 'echarts/lib/chart/line'
import echarts from 'echarts'

export default {
  name: 'pingChart',
  components: {Chart},
  
  data() {
    return {
      list: null,
      graphs: null,
      graphData: null,
      hostid: this.$route.params.host,
      listLoading: false,
      form: [],
      option: {
          backgroundColor: '#344b58',
          title: {
            text: null,
            x: '4%',
            textStyle: {
              color: '#fff',
              fontSize: '22'
            },
            subtextStyle: {
              color: '#90979c',
              fontSize: '16'
            }
          },
          tooltip: {
            trigger: 'axis',
            axisPointer: {
              textStyle: {
                color: '#fff'
              }
            }
          },
          grid: {
            borderWidth: 0,
            top: 110,
            bottom: 95,
            textStyle: {
              color: '#fff'
            }
          },
          legend: {
            x: '15%',
            top: '10%',
            textStyle: {
              color: '#90979c'
            },
            data: []
          },
          calculable: true,
          xAxis: [{
            type: 'category',
            axisLine: {
              lineStyle: {
                color: '#90979c'
              }
            },
            splitLine: {
              show: false
            },
            axisTick: {
              show: false
            },
            splitArea: {
              show: false
            },
            axisLabel: {
              interval: 0

            },
            data: []
          }],
          yAxis: [{
            type: 'value',
            splitLine: {
              show: false
            },
            axisLine: {
              lineStyle: {
                color: '#90979c'
              }
            },
            axisTick: {
              show: false
            },
            axisLabel: {
              interval: 0
            },
            splitArea: {
              show: false
            }
          }],
          dataZoom: [{
            show: true,
            height: 30,
            xAxisIndex: [
              0
            ],
            bottom: 30,
            start: 10,
            end: 80,
            handleIcon: 'path://M306.1,413c0,2.2-1.8,4-4,4h-59.8c-2.2,0-4-1.8-4-4V200.8c0-2.2,1.8-4,4-4h59.8c2.2,0,4,1.8,4,4V413z',
            handleSize: '110%',
            handleStyle: {
              color: '#d3dee5'

            },
            textStyle: {
              color: '#fff'
            },
            borderColor: '#90979c'

          }, {
            type: 'inside',
            show: true,
            height: 15,
            start: 1,
            end: 35
          }],
          series: [{
            name: 'ICMP Ping',
            type: 'line',
            barMaxWidth: 35,
            barGap: '10%',
            itemStyle: {
              normal: {
                color: 'rgba(255,144,128,1)',
                label: {
                  show: true,
                  textStyle: {
                    color: '#fff'
                  },
                  position: 'insideTop',
                  formatter(p) {
                    return p.value > 0 ? p.value : ''
                  }
                }
              }
            },
            data: []
            }
          ]
        }
    }
  },
  created() {
    this.fetchData()
  },
  methods: {
    fetchData() {
        this.listLoading = true
        getGRAPH(this.hostid, 'hour').then(response => {
            this.graphData = response.data
            //for(var i=0;i<this.graphData.length;i++){
            //    this.line[i]['name'] = this.graphData[i]['name']
            //}
            alert('butter ok!')
        })
        this.listLoading = false
    },
    load() {
        let ping_l = this.$refs.option
        ping_l.showLoading({
            text: '正在加载',
            color: '#4ea397',
            maskColor: 'rgba(255, 255, 255, 0.4)'
        })
        for(var i=0;i<this.graphData.length;i++){
            if(this.form == this.graphData[i].name){
                    ping_l.mergeOptions({
                    title:{
                        text: this.graphData[i].name
                    },
                    xAxis: {
                        data: this.graphData[i].time
                    },
                    series: [{
                        name: 'ICMP Ping',
                        data: this.graphData[i].value
                    }]
                    })
                    ping_l.hideLoading()
                }
            }
        }
  }
}
</script>

<style scoped>
  .chart-container {
    position: relative;
    width: 100%;
    height: 90%;
    padding-bottom: 40px;
  }
</style>
