<template>
  <div class="app-container">
    <div>

      <el-form ref="form" :model="form" label-width="120px">
        <div style="margin-bottom: 10px">新增IP信息</div>

        <el-form-item label="当前组" prop="group.g_name" width="30%">
          <span>{{form.group.area}} / {{form.group.g_name}}</span>
        </el-form-item>

        <el-form-item label="管理IP地址" width="30%">
          <el-input v-model="form.group.ip" style="width: 250px"></el-input>
        </el-form-item>


        <el-form-item>
          <el-button type="primary" @click="submit('form')">新建IP</el-button>
          <el-button type="primary" @click="clear('form')">取消</el-button>
        </el-form-item>
      </el-form>

    </div>

    <hr/>
    <br>

    <el-table
      :data="groups"
      border
      style="width: 50%">

      <el-table-column
        type="index"
        :index="indexMethod"
        width="80">
      </el-table-column>

      <el-table-column
        v-if="false"
        prop="area"
        label="组区域">
      </el-table-column>

      <el-table-column
        prop="g_name"
        label="组名称">
      </el-table-column>

      <el-table-column
        prop="ip"
        label="ip地址">
      </el-table-column>

      <el-table-column label="操作" fixed="right" width="150">
        <template slot-scope="scope">

          <el-button
            size="medium"
            @click="webPage(scope.$index, scope.row)">编辑
          </el-button>

        </template>
      </el-table-column>

    </el-table>

  </div>

</template>

<script>
   import {getGROUPS, newGROUP, newGROUPIP} from '@/api/table'

  export default {
    data() {
      return {
        form: {
          'group': {
            'g_name': '',
            'ip': '',
          },
        },
        listLoading: false,
        selectLoading: false,
        groups: [{
          area: '',
          g_name: '',
          ip: '',
        }],
        formRule: [
          {required: true, message: 'ip不能为空'},
          {min: 1, max: 10, message: 'ip由12个数字组成', trigger: 'blur'},
          {
            validator(rule, value, callback, source, options) {
              var errors = [];
              if (!/^[a-zA-Z0-9]+$/.test(value)) {
                callback('ip只能由数字组成');
              }
              callback(errors);
            }
          }
        ]
      }
    },
    created() {
      this.form.group.area = this.$route.query.area
      this.form.group.g_name = this.$route.query.g_name
      this.getGROUPS(this.$route.query.g_name)
    },
    methods: {

      getGROUPS(data) {
        getGROUPS(data).then(response => {
          this.list = response.data
        })
      },
      submit(form) {
        this.$refs[form].validate((valid) => {
          if (valid) {
            newGROUPIP(this.form).then(res => {
              this.groups.push(res.data.data)
            });
          } else {
            console.log('error format!!');
            return false;
          }
        });
      },
      // 清除
      clear(form) {
        this.$refs['form'].resetFields()
      },
      // 索引
      indexMethod(index) {
        return index;
      },
    }
  }
</script>
