<template>
  <div class="app-container">
    <div>

      <el-form ref="form" :model="form" label-width="120px">
        <div style="margin-bottom: 10px">分组信息</div>

        <el-form-item label="组区域" prop="group_area">
          <el-select v-model="form.group.area" clearable placeholder="请选择区域组" style="width:250px">
            <el-option
              v-for="item in options"
              :key="item.area"
              :label="item.area"
              :value="item.area">
            </el-option>
          </el-select>
        </el-form-item>

        <el-form-item label="组名称" prop="group.g_name"
                      :rules=formRule>
          <el-input v-model="form.group.g_name" placeholder="请输入组名称" style="width: 250px"></el-input>
        </el-form-item>

        <el-form-item>
          <el-button type="primary" @click="submit('form')">新建组</el-button>
          <el-button type="primary" @click="clear('form')">取消</el-button>
        </el-form-item>
      </el-form>

    </div>

    <hr/>
    <br>

    <template>
      <el-select v-model="g_options.area" clearable placeholder="请选择组" style="width: 500px">
        <el-option
          v-for="item in options"
          :key="item.area"
          :label="item.area"
          :value="item.area">
        </el-option>
      </el-select>
      <el-button type="primary" @click="loadData">Load</el-button>
    </template>

    <br><br>

    <el-table
      :data="groups"
      border
      style="width: 50%">

      <el-table-column
        type="index"
        :index="indexMethod"
        width="80">
      </el-table-column>

      <el-table-column
        v-if="false"
        prop="area"
        label="组区域">
      </el-table-column>

      <el-table-column
        prop="g_name"
        label="组名称">
      </el-table-column>

      <el-table-column label="操作" fixed="right" width="150">
        <template slot-scope="scope">

          <el-button
            size="medium"
            @click="webPage(scope.$index, scope.row)">编辑
          </el-button>

        </template>
      </el-table-column>

    </el-table>

  </div>

</template>

<script>
  import {getGROUPS, newGROUP} from '@/api/table'

  export default {
    data() {
      return {
        // 新建部分表单
        form: {
          'group': {
            'area': '',
            'g_name': ''
          },
        },
        // list部分
        groups: [{
          area: '',
          g_name: '',
        }],
        list: {},
        Asia: [],
        Europe: [],
        America: [],
        Africa:[],
        // 表单选项
        options: [{area: 'Asia'}, {area:'Europe'}, {area:'America'}, {area:'Africa'}],
        // 选项
        g_options:[{
          area: '', 
          g_name: '',
        }],
        formRule: [
          {required: true, message: '组名称不能为空'},
          {min: 1, max: 10, message: '组名称由1-10个字母、－、或数字组成', trigger: 'blur'},
          {
            validator(rule, value, callback, source, options) {
              var errors = [];
              if (!/^[a-zA-Z0-9-]+$/.test(value)) {
                callback('组名称只能由字母和数字和－组成');
              }
              callback(errors);
            }
          }
        ]
      }
    },
    created() {
      this.fetchData()
    },
    methods: {

      fetchData() {
        this.listLoading = true
        getGROUPS().then(response => {
          this.list= response.data
          this.Asia = this.list.Asia
          this.America = this.list.America
          this.Europe = this.list.Europe
          this.Africa = this.list.Africa
          this.groups = this.list.Asia
          this.listLoading = false
        })
      },
      loadData() {
        if(this.g_options.area == 'Asia') {
          this.groups = this.list.Asia
        } else if(this.g_options.area == 'America') {
          this.groups = this.list.America
        }else if(this.g_options.area == 'Africa') {
          this.groups = this.list.Africa
        } else {
            this.groups = this.list.Europe
        }
      },
      // 新建new_group_name
      submit(form) {
        this.$refs[form].validate((valid) => {
          if (valid) {
            console.log(this.form);
            newGROUP(this.form).then(response => {
              console.log('submit!', response.data);
              if(response.data.result=='error'){
                 this.$message({
                  showClose: true,
                  message: '组名已存在或存在其他错误',
                  type: 'warning'
                });
              } else{
                this.groups.g_name.push(this.group.g_name)
              }
            });
          } else {
            console.log('error format!!');
            return false;
          }
        });
      },
      // 清除
      clear(form) {
        this.$refs['form'].resetFields()
      },
      indexMethod(index) {
        return index;
      },
      // 跳转页面
      webPage(index, row) {
        this.$router.push(
          {
            path: '/monitor/g_ip',
            // name: ' ',
            // 传递列表参数
            query: {
              area: row.area,
              g_name: row.g_name
            }
          }
        );
      },

    }
  }
</script>
