<template>
  <div>
    <el-table
      :tableData="tableData.slice((currentPage-1)*pagesize,currentPage*pagesize)"
      :tableKey="tableKey"
      :isIndex="isIndex"
      :isOperation="isOperation">
    </el-table>

    <div class="block">
      <el-pagination
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange"
        :current-page.sync="currentPage"
        :page-sizes="[5, 10, 15, 20, 25]"
        :page-size="pagesize"
        layout="total, sizes, prev, pager, next, jumper"
        :total="tableData.length">
      </el-pagination>
    </div>

  </div>
</template>

<script>
import el_table from '../prompt/el_table'
let io = require('socket.io-client')

export default{
  components:{
    'el-table': el_table
  },
  data(){
    return {
      socket: {},
      currentPage: 1,
      pagesize: 15,
      tableData: [],
      isIndex: true,
      isOperation: true,
      tableKey: [{
        name: '节点名（机房名)',
        value: 'name',
      },{
        name: '设备名称',
        value: 'device',
      },{
        name: '接口名称',
        value: 'port',
      },{
        name: '对端信息',
        value: 'to_end',
      },{
        name: '流入流量/G',
        value: 'in',
      },{
        name: '流出流量/G',
        value: 'out',
      }]
    }
  },
  mounted() {
    // this.idcSocket()
  },
  methods:{
    handleSizeChange(val) {
      this.pagesize = val;
    },
    handleCurrentChange(val){
      this.currentPage = val;
    },
    idcSocket() {
      // this.socket = io.connect("107.151.184.138:5006/timing_snmp")
      var idc = process.env.SOCKET_SNMP
      this.socket = io.connect(idc)
      this.socket.on('error', (error) => {
        console.log("error:" + error)
      });
      this.socket.on('connect_timeout', (error) => {
        console.log("connect_timeout:" + error)
      });
      this.socket.on('connect', () => {
        console.log('snmp_table connect:' + 'ok')
      });
      this.socket.on('disconnect', (reason) => {
        console.log("disconnect reason:" + reason)
      });
      this.socket.on('reconnect', (attempt) => {
        console.log("attempt:" + attempt)
      });
      this.socket.on('tsnmp_response', (msg) => {
        console.log('tsnmp_response:' + msg.length)
        msg.sort(function (a, b) {
          var max_a = Math.max.apply(Math, [a.in, a.out]);
          var max_b = Math.max.apply(Math, [b.in, b.out]);
          return (max_b - max_a)
        });
        this.tableData = msg
      });
    },
  }
}
</script>
