<template>
<div class="point">

  <div id="myChart"></div>
  <div id="info" style="float: right">
    <el-table
      :data="details"
      height="900"
      style="width: 100%;">
      <el-table-column
        prop="device"
        label="device"
        width="180">
      </el-table-column>

      <el-table-column
        prop="port"
        label="port"
        width="180">
      </el-table-column>

      <el-table-column
        prop="type"
        label="type"
        width="180">
      </el-table-column>

      <el-table-column
        prop="value"
        label="value(G)"
        width="180">
      </el-table-column>
    </el-table>
  </div>

</div>

</template>

<style>
#myChart {
  background-size: 100% 100%;
  height: 800px;
  width: 100%;
  position: absolute;
}
.point{
  background: url('../../assets/images/bg.jpg') no-repeat;
  background-size: 100% 100%;
  overflow: hidden;
  height: 100%;
  width: 100%;
}
#info{
  opacity: 0;
  overflow: hidden;
  position: relative;
}
</style>

<script>
  import backgroundImage from '@/assets/images/bg.jpg'
  let echarts = require('echarts/lib/echarts');
  require('echarts/map/js/world');
  let io = require('socket.io-client')

  export default {
    data() {
      return {
        msg: "welcome",
        srcImg: backgroundImage,
        centerDialogVisible: false,
        details: [],
        socket: {},
        mapData : [],
        option: {},
      }
    },
    mounted() {
      let data= []
      this.myChart = echarts.init(document.getElementById('myChart'));
      this.initMap(data)
      this.idcSocket()
    },

    methods: {

      //此方法用在初始化和更新过程
      initMap(data=[]) {
        // var latlong = this.latlong;
        var max = -Infinity;
        var min = Infinity;
        //这是新数据，与老数据需要有一个处理，替换或者保持原状
        this.mapData=data;
        this.option = {
          title: {
            text: 'zenlayer全球',
            subtext: 'IDC出口流量',
            left: 'center',
            top: 'top',
            textStyle: {
              color: '#fff'
            }
          },
          // tooltip: {
          //   trigger: 'item',
          //   position:'bottom',//悬浮时显示的位置
          //   backgroundColor:'grey',
          //   textStyle:{
          //     fontSize:14,
          //   },
          //   enterable: true,
          //   formatter: function(params, callback){//悬浮提示框显示的内容
          //     var str = '';
          //     str += 'city:&nbsp' + params.name + '<br>';
          //     for(var i=0; i<params.value[3].length; i++){
          //       str += 'device:&nbsp' + params.value[3][i].device + '&nbsp;&nbsp;' + 'port:&nbsp' + params.value[3][i].port + '&nbsp;&nbsp;' +
          //             'type:&nbsp' + params.value[3][i].type + '&nbsp;&nbsp;' + 'value:&nbsp' + params.value[3][i].value + '<br/>';
          //     }
          //     return str
          //   },
          // },
          geo: {
            name: 'World Population (2010)',
            type: 'map',
            map: 'world',
            scaleLimit: {
              max: 10,
              min: 1,
            },
            selectedMode: 'single',
            roam: true,
            layoutCenter: ['50%', '53%'],
            label: {
              emphasis: {
                show: false
              }
            },
            itemStyle: {
              normal: {
                color: '#969696',
                opacity: 0.6,
                borderColor: 'rgba(255, 255, 255, 0.35)'
              },
              emphasis: {
                areaColor: '#2a333d'
              }
            },
          },
          series: [
            {
              name: '城市',
              type: 'scatter',
              coordinateSystem: 'geo',
              itemStyle: {
                normal: {
                    color: '#33FFFF',
                }
              },
              data: [],
              // data: this.mapData.map(function (itemOpt) {
              //   return {
              //     name: itemOpt.name,
              //     value: [
              //       itemOpt.long,
              //       itemOpt.lat,
              //       itemOpt.value,
              //       itemOpt.detail,
              //     ],
              //     label: {
              //       normal: {
              //         show: true,
              //         position: 'right',
              //         formatter:function(obj){
              //           return obj['name']
              //         }
              //       },
              //       emphasis: {
              //         position: 'right',
              //         show: false,
              //       }
              //     },
              //   };
              // }),
            },
          ]
        }
        this.drawMap(this.option)
      },

      drawMap(option) {
        // 基于准备好的dom，初始化echarts实例
        // let myChart = echarts.init(document.getElementById('myChart'));
        if (option && typeof option === "object") {
          this.myChart.setOption(option, true);
          window.onresize = this.myChart.resize;

          var jsonmap = echarts.getMap('world').geoJson.features;
          this.myChart.on("geoselectchanged", function(e) {
            console.log("name",e.batch[0].name)
            var cppoint = jsonmap.find(function(a) {
              return a.properties.name == e.batch[0].name;
            }).properties;
            var selected = Object.entries(e.batch[0].selected).filter(function(a) {
              return a[1];
            }).map(function(a) {
              return a[0];
            });
            if (!selected.length) {
              this.setOption(option = {
                geo: {
                  center: null,
                  zoom: 1,
                }
              });
            } else {
              this.setOption(option = {
                geo: {
                  center: cppoint.cp,
                  zoom: 3,
                }
              });
            }
          });
          this.myChart.on('click',(params)=>{
            // alert(params.name.toString())
            if (params.componentType === 'series') {
             var city = params.name;
             document.getElementById("info").style.opacity = '0.5';
             this.details = params.value[3]
             console.log("city", params.value[3])
            }else{
              document.getElementById("info").style.opacity = '0';
            }
          })
        }
      },
      idcSocket() {
        var idc = process.env.SOCKET_SNMP
       //this.socket=new WebSocket("ws://localhost:5000/chat/")
        // this.socket = io.connect(idc)
        this.socket = io.connect("107.151.184.138:5006/timing_snmp")
        this.socket.on('error', (error) => {
          console.log("error:" + error)
        });
        this.socket.on('connect_timeout', (error) => {
          console.log("connect_timeout:" + error)
        });
        this.socket.on('connect', () => {
          console.log('snmp connect:' + 'ok')
        });
        this.socket.on('disconnect', (reason) => {
          console.log("disconnect reason:" + reason)
        });
        this.socket.on('reconnect', (attempt) => {
          console.log("attempt:" + attempt)
        });
        this.socket.on('tsnmp_response', (msg) => {
          console.log('tsnmp_response:' + msg)
          for(var i=0; i< msg.length; i++){
            console.log(msg[i].detail)
          }
          if(this.$route.path == '/screen_display/idc'){
            // var latlong = this.latlong
            // this.initMap(msg);
            this.myChart.setOption({
              series: [{
                data: msg.map(function (itemOpt) {
                  return {
                    name: itemOpt.name,
                    value: [
                      itemOpt.detail[0]['lng'],
                      itemOpt.detail[0]['lat'],
                      itemOpt.value,
                      itemOpt.detail,
                    ],
                    label: {
                      normal: {
                        show: true,
                        position: 'right',
                        formatter:function(obj){
                          return obj['name']
                        }
                      },
                      emphasis: {
                        position: 'right',
                        show: false,
                      }
                    },
                  };
                }),
              },]
            })
          }
        });
      },
    },
  }
</script>
