<template>
	<div class="lines">
    <div  class="ping_filter">
      <div class="selected">
      <el-select
        v-model="ding_value"
        placeholder="请选择主测点"
        @change="changeDing(ding_value)">
        <el-option
          v-for="item in detecting"
          :key="item"
          :label="item"
          :value="item">
        </el-option>
      </el-select>

      <el-select
        v-model="ded_value"
        placeholder="请选择被测点"
        @change="changeDed(ded_value)">
        <el-option
          v-for="item in detected"
          :key="item"
          :label="item"
          :value="item">
        </el-option>
      </el-select>
      <el-button type="small" @click="loadData(ding_value, ded_value)">刷新</el-button>
    </div>
    <v-filter class="time" v-on:filterTime="filterTime"></v-filter>
    </div>
    <!-- <v-filter v-on:filterTime="filterTime"></v-filter> -->
		<div class="main"></div>
	</div>
</template>

<style>
.lines {
	width: 100%;
	height: calc(100% - 20px);
  position: absolute;
}
.main {
  height: 50%;
  width: 30%;
  transition: all 0.5s linear;
  padding-top: 0%;
}
.lines .ping_filter{
	flex: 1;
	display: flex;
	flex-wrap: wrap;
  margin-left: 5%;
}
.lines .ping_filter > .time{
	width: 100%;
	border: 0px solid #ddd;
  margin-bottom: 0.5%;
}
.lines .ping_filter > .selected{
	width: 100%;
	border: 0px solid #ddd;
}
.block{
  flex: 1;
}
.selected > .el-select{
  opacity: 0.3;
}
.selected > .el-select .el-input__inner{
  height: 30px;
}
.el-select >  .el-select-dropdown{
  opacity: 0.3;
}
.selected > .el-button--small{
  background: aquamarine;
  opacity: 0.3;
}
</style>

<script>
  import { getHistoryPublic } from '@/api/table'
  import filter from '@/components/echarts/filter'
  let echarts = require('echarts/lib/echarts');
	require("echarts/lib/chart/lines");
  require('echarts/lib/component/legend');
  require("echarts/lib/component/grid");
	export default {
    components: {
      'v-filter': filter,
    },
		props: {
			isSeries: {
				type: Array,
				default() {
					return []
				}
      },
			isHistory: {
				type: Array,
				default() {
					return []
				}
      },
			isSelected: {
				type: String,
				default() {
					return ''
				}
			},
    },
		data() {
	  	return {
        msg: "lines",
        name: '折线图',
        option: {},
        ding_value: '',
        ded_value: '',
        detected: [],
        detecting: [],
        select_ding: [],
        select_ded: [],
        mySeries : [],
        xData: [],
        nodes: [],
        select_time: {},
				color: this.$store.state.color,
        myChart: {},
	  	}
    },
    watch:{
      isSelected(cur, old){
        if(this.isHistory.length!=0){
          // this.isSelected = cur
          // this.coverData(cur)
          this.coverData(cur)
          this.ding_value = ''
          this.ded_value = ''
        }
      },
      isHistory(cur, old){
        this.isHistory = cur
        this.xData = this.isHistory[0].time
        this.nodes = this.isHistory[0].history_nodes
        this.ding_value = ''
        this.ded_value = ''
        this.coverData()
      }
    },
		methods: {
	  	init(option) {
				if (option && typeof option === "object") {
          this.myChart.setOption(option, true);
          window.onresize = this.myChart.resize;
					window.addEventListener('resize', function() {
						this.myChart.resize()
          }.bind(this))
        }
      },
      filterTime: function (time) {
        this.select_time = time
        getHistoryPublic(this.select_time).then(response => {
          this.xData = response.data.data.time
          this.nodes = response.data.data.history_nodes
          this.coverData();
        });
      },
      changeDing(data){
        this.ded_value = ''
        this.select_ding = data
        var detected = []
        for(var i = 0; i < this.nodes.length; i++){
          if(this.nodes[i]['node']==data){
            detected.push(this.nodes[i]['target'])
          }
        }
        this.detected =  Array.from(new Set(detected))
      },
      changeDed(data){
        this.select_ded = data
      },
      loadData(ding_value, ded_value){
        if(ding_value == '' && ded_value == ''){
          getHistoryPublic(this.select_time).then(response => {
            this.xData = response.data.data.time
            this.nodes = response.data.data.history_nodes
            this.coverData();
          });
        }else{
          var series = []
          for(var i=0; i< this.mySeries.length; i++){
            if(ded_value.length!=0){
              var node_name = ding_value + "->" + ded_value
              var series_name = this.mySeries[i]['name'].split("->")[0] + "->" + this.mySeries[i]['name'].split("->")[1]
              if(node_name == series_name){
                series.push(this.mySeries[i])
              }
            }else{
              if(ding_value == this.mySeries[i]['name'].split("->")[0]){
                series.push(this.mySeries[i])
              }
            }
          }
          var options = this.myChart.getOption()
          options.series = series
          if(series.length != 0){
            this.myChart.setOption(options, true)
          }
        }
      },
      coverData(selected=''){
        var nodes = this.nodes
        var color = ['#D02090', '#CAFF70', '#A020F0', '#0000EE', '#FFFF00', '#FF7F50', '#EE00EE', '#9932CC', '#1E90FF']
        var mySeries = [];
        var detecting = []
        for (var i = 0; i < nodes.length; i++) {
          detecting.push(nodes[i]['node'])
          // if((selected !='' && nodes[i]['node']==selected) || nodes[i]['node']==this.isSelected){
           if(selected !='' && nodes[i]['node']==selected){
            mySeries.push({
              name: nodes[i]['node'] + '->' + nodes[i]['target'],
              type: "line",
              connectNulls: true,
              symbolSize: 8,
              symbol: 'circle',
              itemStyle: {
                normal: {
                  color: color[i],
                  lineStyle: {
                    width: 1,
                    type: 'dotted'
                  },
                  barBorderRadius: 0,
                  label: {
                    show: false,
                  }
                }
              },
              data: nodes[i]['info'],
            }) 
          }
          if(selected == ''){
            mySeries.push({
              name: nodes[i]['node'] + '->' + nodes[i]['target'],
              connectNulls: true,
              type: "line",
              symbolSize: 8,
              symbol: 'circle',
              itemStyle: {
                normal: {
                  color: color[i],
                  lineStyle: {
                    width: 1,
                    type: 'dotted'
                  },
                  barBorderRadius: 0,
                  label: {
                    show: false,
                  }
                }
              },
              data: nodes[i]['info'],
            }) 
          }
        }
        this.detecting = Array.from(new Set(detecting))

        if(mySeries.length!=0){
          this.mySeries = mySeries
          var options = this.myChart.getOption()
          options.xAxis[0].data = this.xData
          options.series = this.mySeries
          this.myChart.setOption(options, true)
        }
      },
    },
		mounted() {
      document.getElementsByClassName("el-select-dropdown")[0].style.opacity = '0.3'
      document.getElementsByClassName("el-select-dropdown")[1].style.opacity = '0.3'

			this.myChart = echarts.init(document.querySelector('.lines .main'));			
			this.option = {
        legend: {
          show: false,
          top: 30,
          textStyle: {
            color: 'grey',
            fontSize: '12'
          },
          formatter: function (name) {
            return name;
          },
          data: name
        },
        tooltip: {
          trigger: 'axis',
          axisPointer: {
            type: 'cross'
          },
          // formatter: function(params, callback){
          //   var str = params[0].name
          //   for(var i=0; i<params.length; i++){
          //     str += '<br/>' + params[i].seriesName + ': ' + params[i].value
          //   }
          //   return str
          // },
        },
        grid: {
          borderWidth: 0,
          top: 5,
          height: '86%',
          // bottom: 15,
          textStyle: {
            color: "#fff"
          }
        },
        xAxis: [{
					type: "category",
					name: '时间',
          axisLine: {
            lineStyle: {
              color: '#32346c'
            }
          },
          splitLine: {
            show: false
          },
          axisTick: {
            show: false
          },
          splitArea: {
            show: false
          },
          axisLabel: {
            inside: false,
            interval: 10,
            rotate: 40,
            textStyle: {
              color: '#bac0c0',
              fontWeight: 'normal',
              fontSize: '12',
            },
          },
            // data: xData,
        }],
        yAxis: {
					type: 'value',
					name: '测值',
          axisTick: {
            show: false
          },
          axisLine: {
            show: true,
            lineStyle: {
              color: '#32346c',
            }
          },
          splitLine: {
            show: false,
            lineStyle: {
              color: '#32346c ',
            }
          },
          axisLabel: {
            textStyle: {
              color: '#bac0c0',
              fontWeight: 'normal',
              fontSize: '12',
            },
            formatter: '{value}',
          },
        },
        dataZoom: [{
          show: true,
          height: 25,
          xAxisIndex: [
            0
          ],
          bottom: '6.5%',
          start: 10,
          end: 80,
          handleIcon: 'path://M306.1,413c0,2.2-1.8,4-4,4h-59.8c-2.2,0-4-1.8-4-4V200.8c0-2.2,1.8-4,4-4h59.8c2.2,0,4,1.8,4,4V413z',
          handleSize: '110%',
          handleStyle:{
            color:"#d3dee5",               
          },
          textStyle:{
            color:"#fff"},
            borderColor:"#90979c"     
        }, {
            type: "inside",
            show: true,
            height: 15,
            start: 1,
            end: 35
        }],
        // series: [],
			},
			this.init(this.option)
		},
	}
</script>
