<template>
<div class='migrate'>
  <v-bar class="bar" v-bind:isSeries="isSeries"></v-bar>
	<div id="myChart"></div>
  <v-scatter class="scatter" v-bind:isSeries="isSeries"></v-scatter>
</div>
</template>

<style>
.migrate{
	background: url('../../assets/images/bg.jpg') no-repeat;
	background-size: 100% 100%;
	display: flex;
	align-items: flex-end;
}
.migrate .scatter{
	width: 25%;
	height: 900px;
	flex-grow: 0;
}
.migrate #myChart{
	margin: 0 10px;
	width: auto;
	height: 900px;
	flex-grow: 1;
}
.migrate .bar{
	width: 15%;
	height: 900px;
	flex-grow: 0;
}
</style>

<script>
  import bar from '@/components/echarts/bar'
  import scatter from '@/components/echarts/scatter'
	let echarts = require('echarts/lib/echarts');
	require('echarts/map/js/world');
	require('echarts/lib/component/legend');
	let io = require('socket.io-client')

	export default {
    components: {
      'v-bar': bar,
      'v-scatter': scatter,
    },
		data() {
	  	return {
				msg: "welcome",
				socket: {},
        option: {},
        isSeries: [],
        mySeries:[],
				geoCoordMap :{         
					"Moscow": [37.6173, 55.755826],
          "Osaka": [135.5100252, 34.7053617],
          "Chicago": [-87.629798, 41.878114],
          "Frankfurt": [8.682127, 50.110922],
          "Paris": [2.352222, 48.856614],
          "Melbou": [144.999416, -37.781726],
          "Madrid": [-3.7038322, 40.4167515],
          "Sanjose": [-121.7618422, 37.3015309],
          "Dubai": [55.270783, 25.204849],
          "Jakart": [106.845599, -6.208763],
          "Singapore": [103.8589537, 1.2812991],
          "Hongkong": [114.195466, 22.282751],
          "Malaysia": [101.975766,4.210484],
          "Bangkok": [100.501765, 13.756331],
          "Seoul": [126.977969, 37.566535],
          "Tokyo": [139.691706, 35.689487],
          "Seattle": [-122.3601373, 47.6295472],
          "Gao Xiong": [120.264473, 22.628285],
          "India": [78.96288,20.593684],
          "Dallas": [-96.7969879, 32.7766642],
          "Vietnam": [108.277199, 14.058324],
          "DC": [-77.013222, 38.913611],
          "Miami": [-80.1300455, 25.790654],
          "Brazil": [-51.92528, -14.235004],
          "菲律宾": [121.774017, 12.879721],
          "Philippines": [121.774017, 12.879721],
          "台北": [121.565418, 25.032969],
          "Taibei": [121.565418, 25.032969],
          "LA": [-118.243685, 34.052234],
          "LA-HE": [-118.243685, 34.052234],
          "LA-HE-2": [-118.243685, 34.052234],
          "TY8": [139.691706, 35.689487],
          "JKT2": [106.845599, -6.208763],
          "NYC1": [-74.005941, 40.712784],
          "MAA": [80.27071840, 13.0826802],
          "Del": [77.1024902, 28.7040592],
          "BLR1": [77.5945627, 12.9715987],
        },
	  	}
		},
		mounted() {
      this.myChart = echarts.init(document.getElementById('myChart'));
      this.initMap()
      this.idcSocket()
		},
		methods: {
	  	initMap() {
				this.option = {
          tooltip: {
            trigger: 'item',
            // position: 'right',
            position: function (pos, params, dom, rect, size) {
              return pos
            },
            backgroundColor: '#CCCCCC',
            textStyle:{
              fontSize: 14,
            },
            enterable: true,
            formatter: function(params, callback){
              var str = '';
              if(params.componentSubType == 'lines'){
                str += params.data.from + ' -> ' + params.data.to + '<br>' + 'value：' + params.value[0] + '<br>' + 'loss：' + params.value[1]*100 + '%'
              }if(params.componentSubType == 'effectScatter'){
                str += params.name + '<br>'
              }
              return str
            },
          },
					geo: {
            name: 'World',
            type: 'map',
            map: 'world',
            roam: true,
            scaleLimit: {
              max: 10,
              min: 1,
            },
            height: '78%',
            width: '98%',
            layoutCenter: ['50%', '53%'],
            label: {
              emphasis: {
                show: false
              }
            },
            itemStyle: {
              normal: {
                color: '#3c4247',
                opacity: 0.6,
                borderColor: 'rgba(255, 255, 255, 0.35)'
              },
              emphasis: {
                areaColor: '#2a333d'
              }
            }
					},
          series: [],
				}
				this.drawMap(this.option)
	  	},

	  	drawMap(option) {
				// 基于准备好的dom，初始化echarts实例
				if (option && typeof option === "object") {
					this.myChart.setOption(option, true);
          window.onresize = this.myChart.resize;
				}
      },
     coverData(nodes=[], links=[]){
        var geoCoordMap = this.geoCoordMap;
        var link = links.map(function (itemOpt){
          var fromCoord = geoCoordMap[itemOpt['from']];
          var toCoord = geoCoordMap[itemOpt['to']];
          return {
            from : itemOpt.from,
            to: itemOpt.to,
            value: [itemOpt.value, itemOpt.loss],
            coords: [fromCoord, toCoord]
          }
        })
        var node = []
        nodes.map(function (itemOpt){
          node.push(itemOpt.node)
        })
        node = Array.from(new Set(node))
        // this.isSeries = link
        var mySeries = [];
        for(var i=0; i<node.length; i++){
          mySeries.push({
						name: node[i],
            type: 'effectScatter',
            coordinateSystem: 'geo',
            data: [geoCoordMap[node[i]].concat([0, node[i]])],
            symbolSize: 1.5,
            showEffectOn: 'render',
            effectType: 'ripple',
						rippleEffect: {
              period: 8,
              brushType: 'stroke',
              scale: 20
						},
						hoverAnimation: false,
						label: {
							normal: {
                textStyle: {
                  color: "#33FFFF",
                  fontSize: 14,
                },
                formatter: function(params, callback){
                  return params.data[3]
                },
                position: 'right',
                offset: [5, 0],
								show: true
							}
						},
						itemStyle: {
							normal: {
								color: '#33FFFF',
							}
						},
						zlevel: 2
          });
        }
      	[link].forEach(function(item, i){
					mySeries.push(
          {
            // name: item[i].from + ' -> ' + item[i].to,
            name: item[i],
            type: 'lines',
            coordinateSystem: 'geo',
            zlevel: 3,
            // large: true,
            animation: false,
            effect: {
              show: true,
              constantSpeed: item.value,
              // opacity: 0.7,
              symbol: 'arrow',
              trailLength: 0.3,
              symbolSize: 5,
            }, 
            lineStyle: {
              show: 'true',
              type: "circle",
              normal: {
                width: '1',
                color: function(val){
                  if(val.value[0] >0.3 || val.value[0]==-1){
                    return '#e32f46'
                  }else{
                    return 'lime'
                  }
                },
                opacity: 0.05,
                curveness: 0.3
              },
            },
            data: link
					}
					);
        });
        this.mySeries = mySeries
     },
			idcSocket() {
        var tping = process.env.SOCKET_TPING
        this.socket = io.connect(tping)
        // this.socket = io.connect('http://107.151.184.138:5001/timing_ping')
				this.socket.on('error', (error) => {
					console.log("error:" + error)
				});
				this.socket.on('connect_timeout', (error) => {
					console.log("connect_timeout:" + error)
				});
				this.socket.on('connect', () => {
          console.log('connect:' + 'ok')
				});
				this.socket.on('disconnect', (reason) => {
					console.log("disconnect reason:" + reason)
				});
				this.socket.on('reconnect', (attempt) => {
					console.log("attempt:" + attempt)
				});
				this.socket.on('tping_response', (msg) => {
					if(this.$route.path == '/screen_display/linkQuality'){
            // this.isSeries = msg.links
            this.$options.methods.coverData.bind(this)(msg.nodes, msg.links);
            var links = msg.links.sort(function(o1, o2) {
              if (isNaN(o1.value) || o1.value == null) return -1;
              if (isNaN(o2.value) || o2.value == null) return 1;
              return o1.value - o2.value;
            });
            this.isSeries = links.splice(0, 9)
            // this.myChart.clear();
            var options = this.myChart.getOption()
            options.series = this.mySeries
            this.myChart.setOption(options, true);
            // this.myChart.setOption({
            //   series: this.mySeries
            // });
					}
				});
			},
		},
	}
</script>
