<template>
  <div class="app-container">
    <div>
      <el-form ref="form" :model="form" label-width="120px">

        <el-form-item label="Source name" prop="region">
          <el-select v-loading.body="selectLoading" v-model="form.region" multiple placeholder="请选择节点" style="width:250px">
            <el-option
              v-for="item in options"
              :key="item.ip"
              :label="item.name"
              :value="item.ip">
            </el-option>
          </el-select>
        </el-form-item>

        <el-form-item label="Target domain" prop="domain" :rules=formRule>
          <el-input v-model="form.domain" placeholder="请输入IP" style="width: 250px"></el-input>
        </el-form-item>

        <el-form-item>
          <el-button type="primary" @click="fetchMData">Mtr</el-button>
          <el-button>Cancel</el-button>
        </el-form-item>
      </el-form>
    </div>
  
    <el-table
      :data="pdata"
      v-loading.body="listLoading"
      fit highlight-current-row
      style="width: 100%">

      <el-table-column type="expand">
        <template slot-scope="props">
          <el-form label-position="left" inline class="demo-table-expand">

            <el-form-item prop="value">
              <ul>
                <li v-for="temp in props.row.value">{{ temp.replace(/ /g, '&nbsp;') }}</li>
              </ul>
            </el-form-item>

          </el-form>
        </template>
      </el-table-column>

      <el-table-column
        prop="source" 
        label="节点">
      </el-table-column>

      <el-table-column
        prop="domin" 
        label="目标">
      </el-table-column>

      <el-table-column
        prop="time" 
        label="时间">
      </el-table-column>

      <el-table-column
        v-if="isShow"
        prop="value" 
        label="测值">
      </el-table-column>

    </el-table>

  </div>

</template>

<script>
import { getPING, getREGION, getMTR} from '@/api/table'

export default {
  data() {
    return {
      options: [],
      pdata: [{
        source: '',
        domin: '',
        time: '',
        value: '',
      }],
      list: {},
      form: {
        'region': [],
        'domain': '',
      },
      formRule: [
        {
          validator(rule, value, callback, source, options) {
            var errors = [];
            if (!/^((25[0-5]|2[0-4]\d|((1\d{2})|([1-9]?\d)))\.){3}(25[0-5]|2[0-4]\d|((1\d{2})|([1-9]?\d)))$/.test(value)) {
              callback('IP格式不正确');
            }
            callback(errors);
          }, trigger: 'blur',
        }
      ],
      isShow: false,
      listLoading: false,
      selectLoading: false
    }
  },
  created() {
    this.getRegion()
  },
  methods: {
    fetchMData() {
      this.listLoading = true
      this.isShow = false
      getMTR(this.form.region, this.form.domain).then(response => {
        this.list = response.data
        for(var i=0;i<this.list.length;i++){
          var res = this.list[i]
          this.pdata = this.list[i]
        }
        this.listLoading = false
      })
    },
    getRegion() {
      this.selectLoading = true
      getREGION().then(response => {
        this.options = response.data
      })
      this.selectLoading = false
    }
  },
}
</script>
