<template>
  <div class="app-container">
    <div>
      <el-form ref="form" :model="form" label-width="120px">
        <el-form-item label="Target domain" prop="domain" :rules=formRule>
          <el-input v-model="form.domain" placeholder="请输入IP" style="width: 250px"></el-input>
        </el-form-item>

        <el-form-item>
          <el-button type="primary" @click="fetchPData">Ping</el-button>
          <el-button>Cancel</el-button>
        </el-form-item>
      </el-form>
    </div>
  
    <el-table
      :data="pdata"
      v-loading.body="listLoading"
      fit highlight-current-row
      style="width: 100%">
      
      <el-table-column
        prop="node" 
        label="节点">
      </el-table-column>

      <el-table-column
        prop="source_ip" 
        label="IP">
      </el-table-column>

      <el-table-column
        prop="time" 
        label="时间">
      </el-table-column>

      <el-table-column
        v-if="isShow"
        prop="value" 
        label="测值">
      </el-table-column>

    </el-table>

  </div>

</template>

<script>
import { getPING, getREGION, getMTR} from '@/api/table'

export default {
  data() {
    return {
      options: [],
      pdata: [{
        node: '',
        source_ip: '',
        time: '',
        value: '',
      }],
      list: {},
      form: {
        'domain': '',
      },
      formRule: [
        {
          validator(rule, value, callback, source, options) {
            var errors = [];
            if (!/^((25[0-5]|2[0-4]\d|((1\d{2})|([1-9]?\d)))\.){3}(25[0-5]|2[0-4]\d|((1\d{2})|([1-9]?\d)))$/.test(value)) {
              callback('IP格式不正确');
            }
            callback(errors);
          }, trigger: 'blur',
        }
      ],
      isShow: false,
      listLoading: false,
      selectLoading: false
    }
  },
  created() {
    // this.getRegion()
  },
  methods: {
    fetchPData() {
      this.listLoading = true
      this.isShow = true
      getPING(this.form.domain).then(response => {
        this.list = response.data
        for(var i=0;i<this.list.length;i++){
          var res = this.list[i]
          this.pdata = this.list[i]
        }
        this.listLoading = false
      })
    },
    getRegion() {
      this.selectLoading = true
      getREGION().then(response => {
        console.log(response.data)
        this.options = response.data
      })
      this.selectLoading = false
    }
  },
}
</script>
