<template>
<div class='public_link'>
  <div id="tabs"> 
    <el-tabs type="card"  @tab-click="handleClick">
      <el-tab-pane label="Zenlayer" name="Zenlayer"></el-tab-pane>
      <el-tab-pane label="customer" name="customer"></el-tab-pane>
      <el-tab-pane label="ISP" name="ISP"></el-tab-pane>
    </el-tabs>
  </div>
  <div style="margin-left:70%">
    <el-select  v-model="value" multiple placeholder="请选择主测点" style="width:200px;">
			<el-option
				v-for="item in sub_node"
				:key="item"
        :label="item"
        :value="item">
			</el-option>
    </el-select>
    <el-button type="primary" @click="loadData(value)">加载</el-button>
  </div>
  <div id="myChart"></div>
</div>

</template>

<style>
#myChart {
	height: 800px;
	width: 100%;  
}
.public_link{
  background: url('../../assets/images/bg.jpg') no-repeat;
  background-size: 100% 100%;
  overflow: hidden;
	background-size: 100% 100%;
}
#tabs{
  width: 270px;
  height: 50px;
  margin-top: 1%;
  margin-left: 70%;
}
</style>

<script>
	let echarts = require('echarts/lib/echarts');
	require('echarts/map/js/world');
  require('echarts/lib/component/legend');
  require("echarts/lib/component/grid");
  require("echarts/lib/chart/lines");
	let io = require('socket.io-client')

	export default {
		data() {
	  	return {
        msg: "public_link",
        pag: 'Zenlayer',
        nodes: [],
				socket: {},
        option: {},
        sub_node:[],
        value: '',
        select_data: [],
        mySeries:[],
	  	}
		},
		mounted() {
      this.myChart = echarts.init(document.getElementById('myChart'));
      this.initMap()
    },
		methods: {      
      handleClick(tab, event) {
        this.pag = tab.name
        this.$options.methods.selectDraw.bind(this)(this.pag);
        var options = this.myChart.getOption()
        options.series = this.mySeries
        this.myChart.setOption(options, true);
      },
	  	initMap() {
				this.option = {
          legend: {
            top: 5,
            textStyle: {
              color: 'grey',
              fontSize: '12'
            },
            // data: name
          },
          // title: {
          //   text: "公网链路质量",
          //   textStyle: {
          //     color: '#fff',
          //     fontSize: '18',
          //     fontWeight: 'normal',
          //   },
          //   subtextStyle: {
          //     color: '#90979c',
          //     fontSize: '16',
          //   },
          // },
          tooltip: {
            trigger: "axis",
            axisPointer: {
              type: 'line',
            },
            formatter: function(params, callback){
              var str = params[0].name
              for(var i=0; i<params.length; i++){
                str += '<br/>' + params[i].seriesName + ': ' + params[i].value
              }
              return str
            },
            backgroundColor: 'rgba(0,0,0,0.7)',
            padding: [8, 10],
            extraCssText: 'box-shadow: 0 0 3px rgba(255, 255, 255, 0.4);',
          },
          grid: {
            borderWidth: 0,
            top: 110,
            bottom: 95,
            textStyle: {
              color: "#fff"
            }
          },
          xAxis: [{
						type: "category",
						name: '时间',
            axisLine: {
              lineStyle: {
                color: '#32346c'
              }
            },
            splitLine: {
              show: false
            },
            axisTick: {
              show: false
            },
            splitArea: {
              show: false
            },
            axisLabel: {
              inside: false,
              textStyle: {
                color: '#bac0c0',
                fontWeight: 'normal',
                fontSize: '12',
              },
            },
            // data: xData,
          }],
          yAxis: {
						type: 'value',
						name: '测值',
            axisTick: {
              show: false
            },
            axisLine: {
              show: true,
              lineStyle: {
                color: '#32346c',
              }
            },
            splitLine: {
              show: true,
              lineStyle: {
                color: '#32346c ',
              }
            },
            axisLabel: {
              textStyle: {
                color: '#bac0c0',
                fontWeight: 'normal',
                fontSize: '12',
              },
              formatter: '{value}',
            },
          },
          dataZoom: [{
            show: true,
            height: 30,
            xAxisIndex: [
                0
            ],
            bottom: 30,
            start: 10,
            end: 80,
            handleIcon: 'path://M306.1,413c0,2.2-1.8,4-4,4h-59.8c-2.2,0-4-1.8-4-4V200.8c0-2.2,1.8-4,4-4h59.8c2.2,0,4,1.8,4,4V413z',
            handleSize: '110%',
            handleStyle:{
                color:"#d3dee5",               
            },
              textStyle:{
                color:"#fff"
              },
              borderColor:"#90979c"     
        }, {
            type: "inside",
            show: true,
            height: 15,
            start: 1,
            end: 35
        }],
          // series: [],
				}
				this.drawMap(this.option)
	  	},

	  	drawMap(option) {
				// 基于准备好的dom，初始化echarts实例
				if (option && typeof option === "object") {
					this.myChart.setOption(option, true);
          window.onresize = this.myChart.resize;
				}
      },
     coverData(nodes=[]){
        var geoCoordMap = this.geoCoordMap;

				// var mySeries = [];
          this.xData = function() {
            var data = []
            for (var i = 2011; i < 2017; i++) {
              data.push(i + "年");
            }
            return data;
        }();
        this.nodes = nodes
     },
     selectDraw(pag){
      var nodes = this.nodes
      var color = ['#1a9bfc', '#99da69', '#e32f46', '#7049f0', '#fa704d', '#01babc', ]
      var mySeries = [];
      var sub_node = []
        for (var i = 0; i < nodes.length; i++) {
          // console.log(nodes[i]['info'][0])
          if( nodes[i]['type'] == this.pag ){
            sub_node.push(nodes[i]['node'])
            mySeries.push({
              name: nodes[i]['node'] + '->' + nodes[i]['target'],
              type: "line",
              symbolSize: 8,
              symbol: 'circle',
              itemStyle: {
                normal: {
                  color: color[i],
                  lineStyle: {
                    width: 1,
                    type: 'dotted'
                  },
                  barBorderRadius: 0,
                  label: {
                    show: false,
                  }
                }
              },
              data: nodes[i]['info'],
            })    
            }
    
					}
        this.mySeries = mySeries
        this.sub_node = Array.from(new Set(sub_node))
     },
     selectNode(){
      var nodes = this.nodes
      var color = ['#1a9bfc', '#99da69', '#e32f46', '#7049f0', '#fa704d', '#01babc', ]
      var mySeries = [];
        for (var i = 0; i < nodes.length; i++) {
          for(var j=0; j<this.select_data.length; j++){
            if( nodes[i]['node'] == this.select_data[j] && nodes[i]['type'] == this.pag ){
              mySeries.push({
                name: nodes[i]['node'] + '->' + nodes[i]['target'],
                type: "line",
                symbolSize: 8,
                symbol: 'circle',
                itemStyle: {
                  normal: {
                    color: color[i],
                    lineStyle: {
                      width: 1,
                      type: 'dotted'
                    },
                    barBorderRadius: 0,
                    label: {
                      show: false,
                    }
                  }
                },
                data: nodes[i]['info'],
              })    
            }
          }  
        }
   
        this.mySeries = mySeries
     },
	  	drawMap(option) {
				// 基于准备好的dom，初始化echarts实例
				if (option && typeof option === "object") {
          this.myChart.setOption(option, true);
          window.onresize = this.myChart.resize;
          var nodes = [
            {'node': 'DC', 'target': 'Beijing', 'info':[13.7, 3.4, 13.5, 16.1, 7.4, 15.2], 'type': 'Zenlayer'},
            {'node': 'DC', 'target': 'LA-HE2', 'info':[12.7, 3.4, 13.5, 14.1, 17.4, 15.2], 'type': 'Zenlayer'},
            {'node': 'Paris', 'target': 'LA', 'info':[17.4, 13.7, 13.5, 3.4, 15.2, 13.5], 'type': 'customer'},
            {'node': 'Hongkong', 'target': 'Taibei', 'info':[13.4, 7.4, 13.7, 13.5, 16.1, 13.7], 'type': 'ISP'},
            {'node': 'BLR1', 'target': 'Melbou', 'info':[3.5, 15.2, 16.1, 17.4, 13.4, 6.1], 'type': 'ISP'},
            {'node': 'LA', 'target': 'Malaysia', 'info':[2.5, 12.2, 6.1, 7.4, 13.4, 8.1], 'type': 'Zenlayer'},
            {'node': 'TY8', 'target': 'NYC1', 'info':[3.9, 10.2, 14.1, 15.4, 12.4, 6.1], 'type': 'ISP'},
          ]
          this.$options.methods.coverData.bind(this)(nodes);
          this.$options.methods.selectDraw.bind(this)(this.pag);
          this.myChart.setOption(
            {
            xAxis:{
              data: this.xData,
            },
            series: this.mySeries,
          });
				}
      },
      loadData(data){
        this.select_data = data
        this.$options.methods.selectNode.bind(this)();
        var options = this.myChart.getOption()
        options.series = this.mySeries
        this.myChart.setOption(options, true);
      }
		},
	}
</script>
