<template>
  	<div class="app-container">
    	<div>

      	<el-form ref="form" :model="form" label-width="120px">
        	<div style="margin-bottom: 10px">任务管理</div>
			<el-form-item label="测试线路" prod="label">
				<el-radio v-model="form.label" label='zenlayer' @change="getDetected">Zenlayer</el-radio>
                <el-radio v-model="form.label" label='customer' @change="getDetected">Custom</el-radio>
				<el-radio v-model="form.label" label='ISP' @change="getDetected">ISP</el-radio>
            </el-form-item>
        	<el-form-item label="主测点" prop="detecting">
          		<el-select v-model="form.detecting" clearable placeholder="请选择主测点" style="width:250px" @change="changeData()">
					<el-option
						v-for="item in detecting_options"
						:key="item.ip"
						:label="item.name"
						:value="item.ip">
					</el-option>
          		</el-select>
        	</el-form-item>

        	<el-form-item label="被测点" prop="detected">
				<el-select v-model="form.detected" multiple placeholder="请选择被测点" style="width:250px">
					<el-option
						v-for="item in detected_options"
						:key="item.name"
						:label="item.name"
						:value="item.name">
					</el-option>
          		</el-select>
        	</el-form-item>
			<el-form-item label="测试线路类型" prop="type">
                <el-radio v-model="form.type" label='public'>public</el-radio>
				<el-radio v-model="form.type" label='private'>private</el-radio>
            </el-form-item>
        	<el-form-item>
           		<!-- <el-button type="primary" @click="initData">初始化任务</el-button> -->
          		<el-button type="primary" @click="loadData">新建任务</el-button>
          		<el-button type="primary" @click="clear('form')">取消</el-button>
        	</el-form-item>
      	</el-form>

    </div>

    <hr/>
    <br>

    <div>
    	<el-table
			ref="multipleTable"
			:data="details"
			border
			style="width: 70%;"
			@selection-change="handleSelectionChange">

        	<el-table-column
          		type="selection"
          		width="55">
        	</el-table-column>

      		<el-table-column
        		prop="source"
        		label="主测点">
      		</el-table-column>

			<el-table-column
          		prop="domin"
        		label="被测点">
      		</el-table-column>

			<el-table-column
        		prop="type"
        		label="任务类型">
      		</el-table-column>

			<el-table-column
        		prop="state"
        		header-align="center"
        		align="center"
        		label="状态">
        		<template slot-scope="scope">
          			<el-tag v-if="scope.row.state == 'True'" type="success" size="small">运行中</el-tag>
          			<el-tag v-else size="small" type="danger">未运行</el-tag>
        		</template>
      		</el-table-column>

        	<el-table-column
        		prop="time"
        		label="时间">
      		</el-table-column>

        	<el-table-column
          		v-if="false"
        		prop="task_id"
        		label="task_id">
      		</el-table-column>

            <el-table-column label="操作" fixed="right" width="150">
                <template slot-scope="scope">
                    <el-button
                        size="medium"
                        @click="delTping(scope.$index, scope.row)">删除
                    </el-button>
                </template>
            </el-table-column>
    	</el-table>

    	<div style="margin-top: 20px">
			<el-button @click="startTping(multipleSelection)">开始任务</el-button>
			<el-button @click="mulDelTping(multipleSelection)" disabled>取消任务</el-button>
      	</div>
    </div>

  </div>

</template>

<script>
  	import {delTping, initTask, fetchData, addTask, startTping} from '@/api/table'

  	export default {
		data() {
		return {
			radio: true,
			// 新建表单
			form: {
			'type': 'public',
			'label': '',
			'detecting': '',
			'detected': '',
			},
			// 表单选项
			detecting_options: [{name: '', ip: ''},],
			detected_options: [{name: '', ip: ''},],
			details: [{
				source: '',
				domin: '',
				state: '',
				time: '',
				task_id: '',
			}],
			modify_row: {},
			multipleSelection: [],
			rules: {
				type: [{required: true, message: '确定路线类型'}],
				detected: [{required: true, message: '确定被测点'}],
				detecting: [{required: true, message: '确定测试点'}],
            },
			formRule: [
				{message: '用户名不能为空'},
				{min: 1, max: 10, message: '用户名由1-10个字母、－、或数字组成', trigger: 'blur'},
				{
					validator(rule, value, callback, source, options) {
						var errors = [];
						if (!/^[a-zA-Z0-9-]+$/.test(value)) {
							callback('用户名只能由字母和数字和－组成');
						}
						callback(errors);
						}
				},
			]
		}
	},
    created() {
		  this.fetchData({type:'detecting', ip: ''})
		//   this.fetchData({type:'detected', ip: ''})
    },
    methods: {
      	fetchData(data) {
        	fetchData(data).then(response => {
				if (data['type'] == 'detecting') {
				  this.detecting_options = response.data
				}
				if (data['type'] == 'detected') {
					this.detected_options = response.data
				}
        	});
		  },
		getDetected(){
			if (this.form.label == 'zenlayer'){
				this.detected_options = this.detecting_options
			}
			else{
				fetchData({type: 'detected', 'ip': '', 'label': this.form.label}).then(response => {
					this.detected_options =response.data
				})
			}
		},
      	changeData(data){
        	fetchData({type:'task', ip: this.form.detecting}).then(response => {
				this.details = response.data
    		});
        	// fetchData({type:'detecting', ip: this.form.detecting}).then(response => {
			// 	this.detected_options = response.data[0]
        	// });
      	},
      	initData() {
        	initTask().then(response => {
          		this.details = response.data
        	});
      	},
      	loadData() {
        	addTask(this.form).then(response => {
				if(response.data.result == 'ok'){
					this.$notify({
						message: '任务添加成功！',
						type: 'success',
						offset: 100
					});
					fetchData({type:'task', ip: this.form.detecting}).then(response => {
						this.details = response.data
    				});
				}
        	});
      	},
      	// 清除
      	clear(form) {
        	this.$refs['form'].resetFields()
      	},
        delTping(index, row) {
			this.modify_row['source'] = row.source
			this.modify_row['target'] = row.domin
			this.modify_row['type'] = row.type
            delTping(this.modify_row).then(response => {
				console.log("res", response.data)
				this.details.splice(index, 1)
				if(response.data['result'] == "ok"){
                    this.$notify({
                        message: '删除操作：' + response.data['result'] + '数据库操作：' + response.data['db'] + ' ' + '任务启动：' + response.data['restart'],
						type: 'success',
						offset: 300
                    })
                }
            })
		},
		mulDelTping(row) {
			let data=[]
        	this.multipleSelection.map((item)=> {
				console.log("item", item)
				this.modify_row['source'] = item.source
				this.modify_row['target'] = item.domin
            	data.push(this.modify_row)
			})
			var ids = this.multipleSelection.map(item => item.id).join()
			console.log("ids", ids)
        },
      	startTping(row){
        	let data=[]
        	this.multipleSelection.map((item)=> {
            	data.push(item)
			})
        	startTping(data).then(response => {
          		if(response.data['result'] == true){
					this.$notify({
						message: '任务启动成功',
						type: 'success',
						offset: 300
					});
          		} else{
					this.$notify({
						message: '任务启动失败',
						type: 'warning',
						offset: 300
					});
          		}
        	});
      	},
		toggleSelection(rows) {
			if (rows) {
				rows.forEach(row => {
					this.$refs.multipleTable.toggleRowSelection(row);
				});
			} else {
				this.$refs.multipleTable.clearSelection();
            }
		},
		handleSelectionChange(val) {
			this.multipleSelection = val;
		}
	}
}
</script>

