<template lang="html">
  <div class="dashboard">
    <div class="flex-container column">
        <div class="item one" @click="clickChart('1')" style="transform: translate(-22.4%,-33.5%) scale(0.33)">
          <v-lines v-bind:isSelected="isSelected" v-bind:isHistory="isHistory"></v-lines>
        </div>
        <div class="item two" @click="clickChart('2')" style="transform: translate(-22.4%,0.5%) scale(0.33)">
          <v-liquidfill v-bind:isSeries="isSeries" v-bind:isSelected="isSelected"></v-liquidfill>
        </div>
        <div class="item three" @click="clickChart('3')" style="transform: translate(-22.4%,34.5%) scale(0.33)">
          <v-gauge v-bind:isSeries="isSeries" v-bind:isSelected="isSelected"></v-gauge>
        </div>
        <div class="item four active" @click="clickChart('4')" style="transform: translate(43.7%, 0) scale(1)">
          <v-map v-bind:isSeries="isSeries" v-bind:isSelected="isSelected" v-on:childByValue="childByValue"></v-map>
        </div>
    </div>
  </div>
</template>

<script>
  import { getHistory } from '@/api/table'
  import pie from '@/components/echarts/pie'
  import liquidfill from '@/components/echarts/liquidfill'
  import gauge from '@/components/echarts/gauge'
  import lines from '@/components/echarts/lines'
  import map from '@/components/echarts/map'
  let io = require('socket.io-client')

  export default {
    data() {
      return {
        items: [],
        isHistory:[],
        isSeries: [],
        isSelected: '',
        socket: {},
        select_time: {},
      }
    },
    mounted() {
      this.init()
      this.idcSocket()
      this.getLines()
    },
    methods: {
      childByValue: function (selected_node) {
        this.isSelected = selected_node
      },
      getLines(){
        getHistory(this.select_time).then(response => {
          if(response.data.data.history_nodes.length!=0){
            this.isHistory = [response.data.data]
          }
        });
      },
      resize() {
        this.$root.charts.forEach((myChart) => {
          myChart.resize()
        })
      },
      init() {
        this.items = document.querySelectorAll('.flex-container .item')
        for (let i = 0; i < this.items.length; i++) {
          this.items[i].dataset.order = i + 1;
        }
      },
      clickChart(clickIndex) {
        let activeItem = document.querySelector('.flex-container .active')
        let activeIndex = activeItem.dataset.order
        let clickItem = this.items[clickIndex - 1]
        if (activeIndex === clickIndex) {
          return
        }
        activeItem.classList.remove('active')
        clickItem.classList.add('active')
        this.setStyle(clickItem, activeItem)
      },
      setStyle(el1, el2) {
        let transform1 = el1.style.transform
        let transform2 = el2.style.transform
        el1.style.transform = transform2
        el2.style.transform = transform1
      },
      idcSocket() {
        var idc = process.env.SOCKET_SNMP
        this.socket = io.connect(idc)
        // this.socket = io.connect("1007.151.184.138:5006/timing_snmp")
        this.socket.on('error', (error) => {
          console.log("error:" + error)
        });
        this.socket.on('connect_timeout', (error) => {
          console.log("connect_timeout:" + error)
        });
        this.socket.on('connect', () => {
          console.log('snmp connect:' + 'ok')
        });
        this.socket.on('disconnect', (reason) => {
          console.log("disconnect reason:" + reason)
        });
        this.socket.on('reconnect', (attempt) => {
          console.log("attempt:" + attempt)
        });
        this.socket.on('tsnmp_response', (msg) => {
          if(this.$route.path == '/screen_display/timingSnmp' || this.$route.path == '/jk/timingSnmp'){
            console.log('msg', msg)
            // this.getLines();
            var num = Math.floor(Math.random()* msg.length)
            this.isSeries = msg
            this.isSelected = msg[num].name
          }
        });
      },
    },
    components: {
      'v-liquidfill': liquidfill,
      'v-pie': pie,
      'v-lines': lines,
      'v-gauge': gauge,
      'v-map':map
    }
  }
</script>

<style lang="stylus" scoped>
*
  box-sizing: border-box;
.lines,.pie,.gauge
  height 100%!important
  width 100%!important
  background none!important
.item
    padding: 0px;
    margin: 0px;
    width: 68%;
    height: 720px;
    position absolute
    transform scale(0.33)
    text-align: center;
    transition:all 0.8s;
    background rgba(32, 32, 35, 0.4)
.dashboard
    position relative
    width 100%
    height 900px
    margin:0px;
    padding:0px;
    padding-top 3%
    background url('../../assets/images/bg.jpg');
    background-size 100% 100%
.flex-container.column
    position relative
    height: 720px;
    width: 90%;
    overflow: hidden;
    margin:  5 auto 100px auto;
    box-sizing: content-box;
.active
    height 100%
    width: 69%;
    margin-left: 10px;
    line-height: 300px;
</style>