<template>
  <div class='tree'>
    <div id="myChart"></div>
  </div>
</template>

<style>
html,body,.tree{
 width: 100%;
 height: 100%;
}
.tree{
  background: url('../../assets/images/bg.jpg') no-repeat;
  background-size: 100% 100%;
}
#myChart{
  height: 800px;
  width: 100%;
}
</style>

<script>
  let echarts = require('echarts/lib/echarts');
  require('echarts/lib/component/legend');
  require("echarts/lib/chart/tree");
  require("echarts/lib/component/toolbox");
  require("echarts/lib/component/tooltip");
  let io = require('socket.io-client')

  export default {
    data() {
      return {
        msg: "welcome",
        socket: {},
        myChart: {},
        option: {},
        data: {},
      }
    },
    mounted() {
			this.treeSocket()
      this.myChart = echarts.init(document.getElementById('myChart'));
      this.initTree()
    },

    methods: {
      initTree(){
        this.option  = {
					color: ['#1a9bfc', '#99da69', '#e32f46', '#7049f0', '#fa704d', '#01babc', ],
					tooltip: {
            trigger: 'item',
            position:'bottom',
            show: true,
            textStyle:{
              fontSize:18,
            },
            formatter: function(params, callback){
              if(params.data.name == 'Zenlayer'){
                return params.data.name
              }
              if(params.data.children != null){
                return '主测点：&nbsp' + params.data.name
              }else{
                return '主测点：&nbsp' + params.data.source + '<br/>' +'被测点：&nbsp' + params.data.name + '<br/>' + '测值：：&nbsp' + params.data.value;
              }
            }
					},
    			series:[{
            type: 'tree',
            name: '节点质量',
            data: [this.data],
            layout: 'radial',
						symbol: 'circle',
						symbolSize: 15,
						initialTreeDepth: 1,
						itemStyle:{
							normal: {
                borderColor: 'rgba(255, 255, 255, 0.3)'
              },
						},
            label: {
              normal: {
								position: 'left',
                distance: 5,
                color: function(params){
                  return
                }
              }
            },
            leaves: {
              label: {
                normal: {
                  position: 'bottom',
                  // verticalAlign: 'middle',
									// align: 'left',
									offset: [40, 40],
									show: true,
								}
              }
            },
            expandAndCollapse: true,
            animationDuration: 50,
            animationDurationUpdate: 150
        	},]
  			};
        this.drawTree(this.option)
      },
      drawTree(option) {
        if (option && typeof option === "object") {
          this.myChart.setOption(option, true);
          window.onresize = this.myChart.resize;
        }
      },
      treeSocket() {
       //this.socket=new WebSocket("ws://localhost:5000/chat/")
        var tping = process.env.SOCKET_TPING
        this.socket = io.connect(tping)
        this.socket.on('error', (error) => {
          console.log("error:" + error)
        });
        this.socket.on('connect_timeout', (error) => {
          console.log("connect_timeout:" + error)
        });
        this.socket.on('connect', () => {
          console.log('connect:' + 'ok')
        });
        this.socket.on('disconnect', (reason) => {
          console.log("disconnect reason:" + reason)
        });
        this.socket.on('reconnect', (attempt) => {
          console.log("attempt:" + attempt)
        });
        this.socket.on('tping_response', (msg) => {
          console.log("tping_response", msg.data)
          if(this.$route.path == '/dashboard' || this.$route.path == '/screen_display/tree'){
            this.data = msg.data
						this.myChart.clear();
            this.initTree()
          }
        });
      },
    }
  }

</script>
