<template>
	<div class="myevent-box">
    <ul id="realTimelist">
      <!--:style="{'font-size':'12px','color':'yellow'}"-->
      <li v-for="msg,index in message" :class="'li li'+index" >{{msg.type}}     {{msg.content}}</li>
    </ul>
	</div>
</template>

<script>
export default {
  data(){
  	return{
  	  message:[],
      websocketRealTime:null,
  	}
  },
  methods:{
    initWebsocketRealTime(){
      const wsuri = 'ws://192.168.99.131:9001';
      this.websocket = new WebSocket(wsuri)
      this.websocket.onopen = this.websocketonopenRealTime
      this.websocket.onerror = this.websocketonerrorRealTime
      this.websocket.onmessage = this.websocketonmessageRealTime
      this.websocket.onclose = this.websocketcloseRealTime
    },
    websocketonopenRealTime() {
      console.log("WebSocket连接成功 RealTime");
      this.websocketsendRealTime('connect success')
    },
    websocketonerrorRealTime(e) { //错误
      console.log("WebSocket连接发生错误");
    },
    websocketonmessageRealTime(e){ //数据接收
      const redata = JSON.parse(e.data);
      const newMessage = this.message

      if (newMessage.unshift(redata) > 15){
        newMessage.pop()
        this.message = newMessage
      }else {
        this.message = newMessage
      }
      this.websocketsendRealTime(e.data)
      console.log(this.message)
    },
    websocketsendRealTime(agentData){//数据发送
      this.websocket.send(agentData);
      // console.log(this.message)

    },
    websocketcloseRealTime(e){ //关闭
      console.log("connection closed (" + e.code + ")");
    },


  },
  created(){
    this.initWebsocketRealTime()
  },
}
</script>

<style lang="scss">
	.myevent-box{
		width: 100%;
		height: 100%;
		padding: 15px;
		overflow: hidden;
		margin-top: -10px;
	}
  ul {
    padding:0;
    margin-left: 10%;}
  .li{
    font-size: 12px;
    color: #61d2f7;
    list-style:none;
  }
	
</style>
