<template>
  <div class="app-container">
    <!--<div>-->
    <!--<el-form ref="form" :model="form" label-width="120px">-->
    <!--<el-form-item label="计费时间点">-->
    <!--<el-col :span="11">-->
    <!--<el-date-picker type="date" value-format="yyyy-MM-dd" format="yyyy年MM月dd日" placeholder="选择日期"-->
    <!--v-model="form.date" style="width: 100%;" @change="getTraffics(form.date)"></el-date-picker>-->
    <!--</el-col>-->
    <!--</el-form-item>-->
    <!--</el-form>-->
    <!--</div>-->
    <el-table
      :tableData="tableData.slice((currentPage-1)*pagesize,currentPage*pagesize)"
      :tableKey="tableKey"
      :isIndex="isIndex"
      :isOperation="isOperation">
    </el-table>

    <div class="block">
      <el-pagination
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange"
        :current-page.sync="currentPage"
        :page-sizes="[5, 10, 15, 20, 25]"
        :page-size="pagesize"
        layout="total, sizes, prev, pager, next, jumper"
        :total="tableData.length">
      </el-pagination>
    </div>
    <!-- <div class="block">

      <el-pagination layout="total, prev, pager, next" @current-change="getAllTraffic"
                     :current-page.sync="page_args.current"
                     :page-size="page_args.size"
                     :total="page_args.total">
      </el-pagination>
    </div> -->
  </div>


</template>

<script>
  import {getNodes, newNode, getTraffics, getTrafficDetails, getAllTraffic} from '@/api/ecn'
  import el_table from '../prompt/el_table'

  export default {
    components:{
      'el-table': el_table
    },
    data() {
      return {
        form: {
          'date': '',
        },
        traffics: [{
          "bytes_received": 0,
          "bytes_sent": 0,
          "domain": "",
          "id": '',
          "status": "",
          "update_time": ""
        }],
        page_args: {
          size: 50,
          total: 1000,
          current: 0,
        },
        start_key: '',
        currentPage: 1,
        pagesize: 15,
        tableData: [],
        isIndex: false,
        isOperation: true,
        tableKey: [{
          name: 'stream',
          value: 'stream',
        },{
          name: 'bytes_received',
          value: 'bytes_received',
        },{
          name: 'bytes_sent',
          value: 'bytes_sent',
        },{
          name: 'is_stream_proxy',
          value: 'is_stream_proxy',
        },{
          name: 'listen_host',
          value: 'listen_host',
        },{
          name: 'listen_port',
          value: 'listen_port',
        },{
          name: 'protocol',
          value: 'protocol',
        },{
          name: 'request_port',
          value: 'request_port',
        },{
          name: 'session_time',
          value: 'session_time',
        },{
          name: 'status',
          value: 'status',
        },{
          name: 'time',
          value: 'time',
        }],
      }
    },
    created() {
      // this.getTrafficDetails(2)
      this.getAllTraffic()
    },
    methods: {
      handleSizeChange(val) {
        this.pagesize = val;
      },
      handleCurrentChange(val){
        this.currentPage = val;
      },
      getAllTraffic(){
        getAllTraffic(this.start_key).then(res => {
          // this.start_key = res.data.last_start_key
          this.tableData = res.data.data.list
        })
      },
      getTrafficDetails() {
        let start = (index - 1) * 10 + 1;
        getTrafficDetails(start).then(res => {
          // console.log(res.data.data)
          this.traffics = res.data.data.map((x) => {
            return {
              id: x[0],
              listen_host: x[1],
              listen_port: x[2],
              request_host: x[3],
              request_port: x[4],
              is_stream_proxy: x[5],
              protocol: x[6],
              status: x[7],
              bytes_sent: x[8],
              bytes_received: x[9],
              session_time: x[10],
              time: x[11],
              update_time: x[12],
              stream_id: x[13],
              domain: x[14],
              client_node: x[15],
              custom_host: x[16],
              custom_port: x[17]
            }
          })
          this.page_args.current = index;
        })
      },
      current_date() {
        var date = new Date()
        return date.getFullYear() + '-' + date.getMonth() + 1 + '-' + date.getDate()
      },
      //      载入当前页信息
    }
  }
</script>
