<template>
  <div class="app-container">
    <div>
      <el-form ref="form" :model="form" label-width="120px">
        <el-form-item label="计费时间点">
          <el-col :span="11">
            <el-date-picker type="date" value-format="yyyy-MM-dd" format="yyyy年MM月dd日" placeholder="选择日期" v-model="form.date" style="width: 100%;" @change="getTraffics(form.date)"></el-date-picker>
          </el-col>
        </el-form-item>
      </el-form>
    </div>
    <el-table
      :data="traffics"
      style="width: 100%">
      <el-table-column
        prop="id"
        label="流ID">
      </el-table-column>
      <el-table-column
        prop="domain"
        label="域名">
      </el-table-column>
      <el-table-column
        prop="bytes_received"
        label="收流量">
      </el-table-column>
      <el-table-column
        prop="bytes_sent"
        label="发流量">
      </el-table-column>
      <el-table-column
        prop="update_time"
        label="生成时间">
      </el-table-column>
    </el-table>
  </div>


</template>

<script>
  import {getNodes, newNode, getTraffics} from '@/api/ecn'

  export default {
    data() {
      return {
        form: {
          'date': '',
        },
        traffics: [{
          "bytes_received": 0,
          "bytes_sent": 0,
          "domain": "",
          "id": '',
          "status": "",
          "update_time": ""
        }],
      }
    },
    created() {
      console.log(this.form.date);
      this.getTraffics(this.form.date)
    },
    methods: {
      getTraffics(date) {
        getTraffics(date).then(res => {
          console.log(res.data)
          this.traffics = res.data.data.traffics
        })
      },
      current_date(){
        var date=new Date()
        return date.getFullYear()+'-'+date.getMonth()+1+'-'+date.getDate()
      }
    }
  }
</script>
