<template>
  <div class="app-container">
    <div>
      <el-form ref="form" :model="form" label-width="120px">
        <div style="margin-bottom: 10px">确定机器信息</div>
        <!--<el-form-item label="选择机器加入的节点">-->
        <!--<el-select v-model="form.server.node_id" placeholder="请选择节点" @change="getMachineList(form.server.node_id)">-->
        <!--<el-option v-for="(n,i) in nodes" :value="n.name" :key="n.name" :label="n.name"></el-option>-->
        <!--</el-select>-->
        <el-form-item label="当前节点" width="30%">
          <span>{{form.server.node_id}}</span>
        </el-form-item>

        <el-form-item label="名称">
          <el-input v-model="form.machine.name"></el-input>
        </el-form-item>

        <el-form-item label="管理IP地址" width="30%">
          <el-input v-model="form.machine.ip"></el-input>
        </el-form-item>

        <el-form-item label="ip标识">
          <el-input v-model="form.machine.uuid"></el-input>
        </el-form-item>

        <el-form-item label="地址掩码" width="30%">
          <el-input v-model="form.machine.netmask"></el-input>
        </el-form-item>


        <el-form-item>
          <el-button type="primary" @click="submit('form')">增加机器</el-button>
          <el-button>取消</el-button>
        </el-form-item>

        <el-table
          :data="nodes"
          style="width: 100%">
          <el-table-column
            prop="name"
            label="节点名称"
            width="180">
          </el-table-column>
          <el-table-column
            prop="machine"
            label="机器名称"
            width="180">
          </el-table-column>
          <el-table-column
            prop="ip"
            label="机器ip">
          </el-table-column>
          <el-table-column
            prop="uuid"
            label="ip标识">
          </el-table-column>
          <!-- <el-table-column label="操作" fixed="right" width="150">
            <template slot-scope="scope">
              <el-button type="text" @click="manageIP(scope.row.name, scope.row.ip)">增加ip
              </el-button>
            </template>
          </el-table-column> -->
        </el-table>
      </el-form>

      <el-dialog title="ip地址" :visible.sync="dialogFormVisible">
        <el-form :model="ipInfo">
          <el-form-item label="添加ip地址">
            <el-input v-model="ipInfo.data.ip" auto-complete="off"></el-input>
          </el-form-item>
          <el-form-item label="地址掩码">
            <el-input v-model="ipInfo.data.netmask" auto-complete="off"></el-input>
          </el-form-item>
          <el-form-item label="ip标识">
            <el-input v-model="ipInfo.data.uuid" auto-complete="off"></el-input>
          </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button @click="dialogFormVisible = false">取 消</el-button>
          <el-button type="primary" @click="newIP()">添 加</el-button>
        </div>
        <el-table
          :data="ips"
          style="width: 100%">
          <el-table-column
            prop="ip"
            label="ip地址">
          </el-table-column>
          <el-table-column
            prop="netmask"
            label="掩码">
          </el-table-column>
          <el-table-column
            prop="uuid"
            label="ip标识">
          </el-table-column>
        </el-table>
      </el-dialog>

    </div>

  </div>


</template>

<script>
  import {getNodes, newStreams, getStreams, newMachine, getNode_Machine, newIP} from '@/api/ecn'

  export default {
    data() {
      return {
        form: {
          'server': {'node_id': '', 'host': '', 'port': ''},
          'machine': {'name': '', 'ip': '', 'netmask': '' ,'uuid': ''}
        },

        nodes: [{'id': '', 'name': '', 'uuid': ''}],
        nodes_machine: [{'name:': '', 'machine': '', 'ip': ''}],
        r_new_machine_data: [{'result': ''}],
        add_ip: {},
        r_data: [{
          "result": "", "data":
            {
              "new_ip": "111",
              "new_id": "111",
              "new_machine": "121",
              "name": "2222"
            }
        }],
        dialogVisible: false,
        dialogFormVisible: false,
        ipInfo: {node: '', manage_ip: '',machine:'', data:{ip: '', netmask: '', uuid: ''}},
        ips: [{ip: '', netmask: '', uuid:''}]

      }

    },
    created() {
      this.form.server.node_id = this.$route.query.node
      this.getNodes(this.$route.query.node);
    },
    methods: {

      getNodes(data) {
        getNodes(data).then(res => {
          console.log(res.data)
          this.nodes = res.data
        })
      },
      submit(formName) {
        this.$refs[formName].validate((valid) => {
          if (valid) {
            newMachine(this.form).then(res => {
              if(res.data.result == 'ok'){
                this.nodes.push(res.data.data)
                this.$notify({
                  message: '添加成功！',
                  type: 'success',
                  offset: 300
                });
              }else{
                this.$notify({
                  message: '添加失败！',
                  type: 'warning',
                  offset: 300
                });
              }
            });
          } else {
            console.log('error format!!');
            return false;
          }
        });
      },

      handleClose(done) {
        this.$confirm('确认关闭？')
          .then(_ => {
            done();
          })
          .catch(_ => {
          });
      },
      dialog() {
        this.machine.ip = "";
        this.dialogFormVisible = true;
      },
      //根据主设备ip所在的资源，找到所有的ip
      getIPsByMasterId() {

      },
      manageIP(name, manage_ip, ip, netmask, uuid ) {
        this.dialogFormVisible = true;
        // this.ipInfo.manage_ip = manage_ip;
        // this.ipInfo.machine = machine;
        this.add_ip['name'] = name
        this.add_ip['manage_ip'] = manage_ip
        this.add_ip['ip'] = this.ipInfo.ip
        this.add_ip['netmask'] = this.ipInfo.netmask
        this.add_ip['uuid'] = this.ipInfo.uuid
      },
      isValidIP() {
        isValidIP(this.ipInfo).then(res => {

        });
      },
      newIP() {
        console.log(this.add_ip);
        newIP(this.add_ip).then(res => {
          console.log(res.data.data);
          this.ips.push(res.data.data);
        });
      },

    }
  }
</script>
