<template>
  <div class="app-container">
    <div>

      <el-form ref="form" :model="form" label-width="120px" v-loading="loading">
        <div style="margin-bottom: 10px">节点信息</div>

        <el-form-item label="节点名称" prop="node.name"
                      :rules=formRule>
          <el-input v-model="form.node.name" placeholder="请输入节点名称" style="width: 250px"></el-input>
        </el-form-item>

        <el-form-item>
          <el-button type="primary" @click="submit('form')">新建节点</el-button>
          <el-button type="primary" @click="clear('form')">取消</el-button>
        </el-form-item>
      </el-form>

    </div>

    <hr/>
    <br>
    <el-table
      :data="nodes"
      border
      style="width: 90%">

      <el-table-column
        type="index"
        :index="indexMethod"
        width="80">
      </el-table-column>

      <el-table-column
        prop="name"
        label="节点名称">
      </el-table-column>

      <el-table-column label="操作" fixed="right" width="150">
        <template slot-scope="scope">

          <el-button
            size="medium"
            @click="webPage(scope.$index, scope.row)">编辑
          </el-button>

        </template>
      </el-table-column>

    </el-table>

  </div>

</template>

<script>
  import {getNode, newNode} from '@/api/ecn'

  export default {
    data() {
      return {
        form: {
          'node': {
            'name': ''
          },
        },
        loading: false,
        pdata: [],
        stats_list: [0, 1],
        optimized_list: [1, 2],
        listLoading: false,
        selectLoading: false,
        page_args: {
          size: 50,
          total: 0,
          current: 1,
        },
        nodes: [{
          name: '',
        }],
        formRule: [
          {required: true, message: '节点名称不能为空'},
          {min: 1, max: 10, message: '节点名称由1-10个字母或数字组成', trigger: 'blur'},
          {
            validator(rule, value, callback, source, options) {
              var errors = [];
              if (!/^[a-zA-Z0-9]+$/.test(value)) {
                callback('节点名称只能由字母和数字组成');
              }
              callback(errors);
            }
          }
        ]
      }
    },
    created() {
      this.getNode('');
    },
    methods: {
      addClient() {
        this.form.clients.push({'node': '', 'port': '', 'name': 'stream002'});
      },
      delClient(i) {
        this.form.clients.splice(i, 1)
      },
      hello() {
        alert('hello')
      },
      getStreams() {
        getStreams().then(res => {
          this.nodes = res.data
        })
      },
      getNode(data) {
        getNode(data).then(res => {
          if (res.data.status == 'error') {
            this.$message({
              showClose: true,
              message: '后台连接有故障，请联系平台维护人员！',
              type: 'warning',
              duration: 0
            });
          } else {
            this.nodes = res.data
          }
        })
      },
      submit(form) {
        this.loading = true
        this.$refs[form].validate((valid) => {
          if (valid) {
            console.log(this.form);
            newNode(this.form.node).then(res => {
              this.loading = false
              console.log('submit!', res.data);
              if(res.data.result=='error'){
                 this.$message({
                  showClose: true,
                  message: '节点名已存在或存在其他错误',
                  type: 'warning'
                });
              } else{
                this.nodes.push(res.data.data)
              }
//              if (this.node == this.nodes.name) {
//                // alert("节点名已存在")
//
//              } else {
//                // 添加node
//                this.nodes.push(this.node);
//                // 添加完node对象后，重置node对象
//                this.node = {name: ''}
//                // form置空
//                this.$refs['form'].resetFields()
//                getNodes().then(res => {
//                  this.nodes = res.data
//                })
//              }
            });
          } else {
            console.log('error format!!');
            return false;
          }
        });
      },
      // 清除
      clear(form) {
        this.$refs['form'].resetFields()
      },
      indexMethod(index) {
        return index;
      },
      // 跳转页面
      webPage(index, row) {
        this.$router.push(
          {
            path: '/ecn/machines',
            name: 'ecn_nodes',
            // 传递列表参数
            query: {
              node: row.name
            }
          }
        );
      },

    }
  }
</script>
