<template>

  <div class="app-container">
    <el-table :data="streams"
              :default-sort="{prop: 'time', order: 'descending'}"
              border
              style="width: 90%" fit highlight-current-row>
      <el-table-column prop="custom_port" label="流名称" sortable></el-table-column>
      <el-table-column prop="domain" label="加速域名" sortable></el-table-column>
      <el-table-column prop="num_of_streams" label="流数量" width="150" sortable></el-table-column>

      <el-table-column label="操作" fixed="right" width="150">
        <template slot-scope="scope">
          <el-button type="primary" size="small" v-bind:disabled="scope.row.sending"
                     @click="getStreams2(scope.$index, scope.row)">详细
          </el-button>
        </template>
      </el-table-column>
    </el-table>

    <el-dialog title="流列表" :visible.sync="dialogFormVisible">
      <h2>流名称：{{selectedDomain}}</h2>
      <el-table :data="stream_details" :default-sort="{prop: 'time', order: 'descending'}" border
                style="width: 100%" fit highlight-current-row>
        <el-table-column prop="client_node" label="入节点" sortable></el-table-column>
        <el-table-column prop="server_node" label="出节点" sortable></el-table-column>
        <el-table-column prop="type" label="流类型" sortable></el-table-column>
        <el-table-column prop="custom_host" label="客户服务器" sortable></el-table-column>
        <el-table-column prop="custom_port" label="客户服务器端口" sortable></el-table-column>
        <el-table-column prop="update_at" label="更新" sortable></el-table-column>
      </el-table>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogFormVisible = false">取消</el-button>
        <el-button type="primary" @click="dialogFormVisible = false">确定</el-button>
      </span>
    </el-dialog>
  </div>

</template>

<script>
  import {getNodes, newStreams, getStreams2, getStreams1, getDomain, delStream} from '@/api/ecn'

  export default {
    data() {
      return {
        form: {
          type: '',
          domain: '',
          server: {node_id: '', host: '', port: ''},
          isTransparent: 'false',
          clientIsFixedPort: 'false',
          clients: [],
//          clients: [{node_id: '', client_port: '', name: 'stream001'}],
        },

        form_ext: {client_port: ''},
        nodes: [{id: '', name: '', disabled: false}],
        availableNodes: [],

        ruleForm: {
          optimized: "",
          status: 1,
          value: '',
        },
        rules: {
          server: [
            {required: true, message: '请输入活动名称', trigger: 'blur'},
            {min: 3, max: 5, message: '长度在 3 到 5 个字符', trigger: 'blur'}
          ],
          region: [
            {required: true, message: '请选择活动区域', trigger: 'change'}
          ],
          date1: [
            {type: 'date', required: true, message: '请选择日期', trigger: 'change'}
          ],
          date2: [
            {type: 'date', required: true, message: '请选择时间', trigger: 'change'}
          ],
          type: [
            {type: 'array', required: true, message: '请至少选择一个活动性质', trigger: 'change'}
          ],
          resource: [
            {required: true, message: '请选择活动资源', trigger: 'change'}
          ],
          desc: [
            {required: true, message: '请填写活动形式', trigger: 'blur'}
          ]
        },

        streams: [],
        stream_details: [],
        dialogFormVisible: false,
        formLabelWidth: '250px',
        stats_list: [0, 1],
        optimized_list: [1, 2],
        listLoading: false,
        selectLoading: false,
        selectedDomain: '',

        page_args: {
          size: 50,
          total: 0,
          current: 1,
        }
      }

    },
    created() {
      this.getNodes();
      this.getStreams1();
    },
    methods: {
      getNodes() {
        getNodes().then(res => {
          this.nodes = res.data;
          this.nodes.map(x => x.disabled = false);
        })
      },
      getAvailableNodes() {
        this.nodes.map(x => {
          if (this.form_ext.clients.some(y => y === x.name) || this.form.server.node_id === x.name) {
            x.disabled = true
          } else {
            x.disabled = false
          }
        })
      },
      getDomain(host) {
        getDomain({"host": host}).then(res => {
          this.form.domain = res.data.domain
        })
      },
      submit(formName) {
        this.form_ext.clients.map(x => {
          this.form.clients.push({
            node_id: x,
            client_port: this.form_ext.client_port,
            name: this.form_ext.client_port,
            client_port: this.form_ext.client_port
          })
        });


        this.$refs[formName].validate((valid) => {
          if (valid) {
            console.log(this.form);
            newStreams(this.form).then(res => {
              console.log('submit!', res.data);
              if (res.data.status == 'error') {
                this.$message({
                  showClose: true,
                  message: '后台连接有故障，请联系平台维护人员！',
                  type: 'warning',
                  duration: 0
                });
              } else {
                this.getStreams1();
                this.$message({
                  showClose: true,
                  message: res.data.stream,
                  type: 'warning',
                  duration: 0
                });
                this.form.domain = '';

              }
            });
          } else {
            console.log('error format!!');
            return false;
          }
        });
      },
      getStreams1() {
        getStreams1().then(res => {
          this.streams = res.data
        })
      },
      getStreams2(index, row) {
        this.selectedDomain = row.domain;
        getStreams2(row.domain).then(res => {
          this.dialogFormVisible = true;
          console.log(res.data);
          this.stream_details = res.data;
        })
      },
      delStream(streamId) {
        delStream(streamId).then(res => {
          this.stream_details.splice(this.stream_details.indexOf(this.stream_details.findIndex(x => {
            x.id === streamId;
          })), 1);
        })
      },


    }
  }
</script>
