<template>
  <div class="app-container">
    <el-table
      :tableData="tableData"
      :tableKey="tableKey"
      :isIndex="isIndex"
      :isOperation="isOperation">

			<template slot="current_state" slot-scope="scope">
        <el-tag v-if="scope.row.current_state == true" type="success" size="small">服务启动中</el-tag>
        <el-tag v-else size="small" type="danger">未启动服务</el-tag>
      </template>

			<template slot="details" slot-scope="scope">
				<el-button type="text" @click="dialogVisible = true; getState(scope.$index, scope.row)">状态详情</el-button>
			</template>
    </el-table>

		<el-dialog
			title="状态详情"
			:visible.sync="dialogVisible"
			width="80%">
			<el-steps :active="orderStatus" finish-status="success" align-center process-status="states">
        <el-step :title="item.title" :status="item.state" v-for="item in items" :key="item.value"></el-step>
    	</el-steps>	
			<span slot="footer" class="dialog-footer">
				<el-button @click="dialogVisible = false">取 消</el-button>
				<el-button type="primary" @click="dialogVisible = false">确 定</el-button>
			</span>
		</el-dialog>

  </div>

</template>

<script>
	import el_table from '../prompt/el_table'

  export default {
		components:{
			'el-table': el_table
		},
    data() {
      return {
				dialogVisible: false,
				tableData: [],
				isIndex: false,
				isOperation: true,
				isExpand: true,
				tableKey: [{
					name: '任务ID',
					value: 'task_id',
				},{
					name: '流名称',
					value: 'stream_name',
				},{
					name: '当前状态',
					value: 'current_state',
					operate: true
				},{
					name: '状态详情',
     			value: 'details',
     			operate: true
				}],
				orderStatus: 0,
				items: [],
				streams_states: {},
				states: '',
				// items:[{title:'开单'},{title:'待付款'},{title:'完成'}]
      }
    },
    created() {
			// this.tableData = [{
			// 		'task_id': 1,
			// 		'stream_name': 2,
			// 		'current_state': 3,
			// 		'details': [{
			// 			'title': 'save',
			// 			'state': 'success'
			// 		},{
			// 			'title': 'del',
			// 			'state': 'success'
			// 		}]
			// 	}]
			// this.items = [{title:'save', state: 'ok'}, {title:'delete', state: 'ok'}, {title:'完成', state: 'ok'}]
    },
    methods: {
			getState(index, row){
				this.items = row.details
				this.streams_states['streams_name'] = row.stream_name
				this.orderStatus += 2
			}
    }
  }
</script>
