<template>

  <div class="app-container">
    <div>
      <el-form ref="form" :model="form" :rules="rules" label-width="120px" v-loading="loading">

        <!--<el-form-item label="是否透传客户ip?">-->
        <!--&lt;!&ndash;<el-radio v-model="form.isTransparent" label="true">是</el-radio>&ndash;&gt;-->
        <!--<el-radio v-model="form.isTransparent" label="false">否</el-radio>-->
        <!--</el-form-item>-->
        <div style="margin-bottom: 10px">1.确定服务端信息</div>
        <el-form-item label="服务端加速点" prop="serverNodeId">
          <el-select v-model="form.serverNodeId"
                     placeholder="请选择加速点"
                     @change="getAvailableNodes()"
                     size="50%">
            <el-option v-for="(n,i) in nodes"
                       :value="n.name"
                       :key="n.name"
                       :label="n.name"
                       :disabled="n.disabled">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="加速类型" prop="type">
          <el-select v-model="form.type" placeholder="请选择应用的类型" size="50%">
            <el-option label="UDP" value="udp"></el-option>
            <el-option label="TCP" value="tcp"></el-option>
            <el-option label="HTTP" value="http"></el-option>
            <el-option label="HTTPS" value="https"></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="服务器ip或域名" prop="serverHost">
          <el-input v-model="form.serverHost"></el-input>
        </el-form-item>
        <!--<el-form-item label="ECN域名">-->
        <!--<el-input v-model="form.domain" disabled></el-input>-->
        <!--</el-form-item>-->
        <el-form-item label="端口号" prop="serverPort">
          <el-input v-model="form.serverPort"></el-input>
        </el-form-item>
        <div style="margin-bottom: 10px">2.确定访问端信息</div>
        <!-- <el-form-item label="与原端口一致?">
          <el-radio v-model="form.clientIsFixedPort" label='true' @change="checkResource">是</el-radio>
          <el-radio v-model="form.clientIsFixedPort" label='false'>否</el-radio>
        </el-form-item> -->
        <el-form-item label="客户端加速点" prop="clients">
          <el-select v-model="form.clients" multiple
                     placeholder="请选择加速点"
                     @change="getAvailableNodes()"
                     size="50%">
            <el-option v-for="(n,i) in nodes"
                       :value="n.name"
                       :key="n.name"
                       :label="n.name"
                       :disabled="n.disabled">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="与原端口一致?">
          <el-radio v-model="form.clientIsFixedPort" label='true' @change="checkResource">是</el-radio>
          <el-radio v-model="form.clientIsFixedPort" label='false'>否</el-radio>
        </el-form-item>

        <el-form-item label="端口号" v-if="form.clientIsFixedPort=='false'" prop="clientPort">
          <el-input v-model="form.clientPort" @change="checkResource"></el-input>
        </el-form-item>

        <el-form-item>
          <el-button type="primary" :disabled="is_disabled" @click="getDomain('form')">新建流</el-button>
          <el-button>取消</el-button>
        </el-form-item>
      </el-form>

      <el-dialog title="流列表" :visible.sync="dialogFormVisible" v-loading="loading">
        <h2>流名称：{{selectedDomain}}</h2>
        <el-table :data="stream_details" :default-sort="{prop: 'time', order: 'descending'}" border
                  style="width: 100%" fit highlight-current-row>
          <el-table-column prop="client_node" label="入节点" sortable></el-table-column>
          <el-table-column prop="server_node" label="出节点" sortable></el-table-column>
          <el-table-column prop="type" label="流类型" sortable></el-table-column>
          <el-table-column prop="custom_host" label="客户服务器" sortable></el-table-column>
          <el-table-column prop="custom_port" label="客户服务器端口" sortable></el-table-column>
          <el-table-column prop="update_at" label="更新" sortable></el-table-column>
          <el-table-column prop="is_deleted" label="状态" sortable></el-table-column>
          <el-table-column label="操作" fixed="right" width="150">
            <template slot-scope="scope">
              <!--<el-button type="primary" size="small"-->
              <!--@click="getStreams2(scope.$index, scope.row)">修改-->
              <!--</el-button>-->
              <el-button type="primary" size="small"
                         @click="delStream(scope.row.id)">删除
              </el-button>
            </template>
          </el-table-column>
        </el-table>
        <span slot="footer" class="dialog-footer">
      <el-button @click="dialogFormVisible = false">取消</el-button>
      <el-button type="primary" @click="dialogFormVisible = false">确定</el-button>
      </span>
      </el-dialog>
      <el-dialog :visible.sync="dialogNewStreamVisible">
        <el-card class="box-card">
          <div slot="header" class="clearfix">
            <h1>【{{form.serverHost}}】的加速信息</h1>
          </div>
          <div>
            <el-row>
              <el-col>
                <div class="grid-content">
                  <h2>加速服务端节点信息</h2>
                  <div>节点：{{form.serverNodeId}}</div>
                  <div>端口：{{form.serverPort}}</div>
                  <div>ECN域名：{{form.domain}}</div>
                  <div>协议类型：{{form.type}}</div>
                </div>
              </el-col>
            </el-row>
            <el-row>
              <el-col>
                <div class="grid-content">
                  <h2>客户接入节点信息</h2>
                  <div v-for="(node,index) in form.clients">
                    <span>第{{index}}个接入点：{{node}}</span>
                  </div>

                </div>
              </el-col>
            </el-row>
          </div>
        </el-card>
        <span slot="footer" class="dialog-footer">
    <el-button @click="dialogNewStreamVisible = false">取消</el-button>
    <el-button type="primary" @click="dialogNewStreamVisible = false,submit('form')">确定</el-button>
  </span>
      </el-dialog>

    </div>

  </div>

</template>

<script>
  import {getNodes, newStreams, getStreams2, getStreams1, getDomain, delStream, checkResource} from '@/api/ecn'

  export default {
    data() {
      return {
        loading: false,
        radio: true,
        form: {
          type: '',
          domain: '',
          serverNodeId: '',
          serverHost: '',
          serverPort: '',
          isTransparent: 'false',
          clientIsFixedPort: 'false',
          clientPort: '',
          clients: [],
        },
        stream: {
          type: '',
          domain: '',
          server: {node_id: '', host: '', port: ''},
          isTransparent: 'false',
          clientIsFixedPort: 'false',
          clients: [],
        },
        nodes: [{id: '', name: '', disabled: false}],
        availableNodes: [],

        rules: {
          type: [{required: true, message: '确定加速类型'}],
          serverNodeId: [{required: true, message: '确定加速节点'}],
          serverHost: [{required: true, message: '确定需加速服务的域名'}],
          serverPort: [{required: true, message: '确定需加速服务的端口'}],
          clients: [{required: true, message: '确定至少一个客户端节点'}],
          clientPort: [{required: false, message: '需要确定访问客户访问端端口号'}],
        },
        streams: [],
        stream_details: [],
        is_disabled: false,
        dialogFormVisible: false,
        dialogNewStreamVisible: false,
        formLabelWidth: '250px',
        stats_list: [0, 1],
        optimized_list: [1, 2],
        listLoading: false,
        selectLoading: false,
        selectedDomain: '',

        page_args: {
          size: 50,
          total: 0,
          current: 1,
        },
      }
    },
    created() {
      this.getNodes();
      this.getStreams1();
    },
    methods: {
      getNodes() {
        getNodes().then(res => {
          this.nodes = res.data;
          this.nodes.map(x => x.disabled = false);
        })
      },
      getAvailableNodes() {
        this.nodes.map(x => {
          if (this.form.clients.some(y => y === x.name) || this.form.serverNodeId === x.name) {
            x.disabled = true
          } else {
            x.disabled = false
          }
        })
      },
      getDomain(form) {
        console.log(this.form.clients);
        this.$refs[form].validate((valid) => {
          if (valid) {
            this.dialogNewStreamVisible = true;
            getDomain({"host": this.form.serverHost}).then(res => {
              this.form.domain = res.data.domain
            })
          }
          else {
            return false
          }
        });
      },
      checkResource() {
        this.stream.type = this.form.type;
        this.stream.isTransparent = this.form.isTransparent;
        this.stream.domain = this.form.domain;
        this.stream.server.node_id = this.form.serverNodeId;
        this.stream.server.host = this.form.serverHost;
        this.stream.server.port = this.form.serverPort;
        this.stream.clientIsFixedPort = this.form.clientIsFixedPort;
        let i = 0
        this.form.clients.map(x => {
          i += 1
          this.stream.clients.push({
            node_id: x,
            client_port: this.form.clientPort,
            name: `${this.form.serverHost}-${i}`,
          })
        });
        this.is_disabled = true
        checkResource(this.stream).then(res => {
          console.log('check reponse', res.data)
          if (res.data.result == 'error') {
            this.$message({
              // showClose: true,
              message: '所选节点端口被占用，请选择其他节点或端口',
              type: 'warning',
              duration: 3000,
            });
          }
          else {
            this.is_disabled = false
            this.$message({
              // showClose: true,
              message: '所选节点端口空余，可使用！',
              type: 'success',
              duration: 900,
            });
          }
        })
      },
      submit(formName) {
        this.loading = true
        this.stream.domain = this.form.domain;
        if (this.stream.clients.length == 0) {
          this.stream.type = this.form.type;
          this.stream.isTransparent = this.form.isTransparent;
          this.stream.server.node_id = this.form.serverNodeId;
          this.stream.server.host = this.form.serverHost;
          this.stream.server.port = this.form.serverPort;
          this.stream.clientIsFixedPort = this.form.clientIsFixedPort;
          let i = 0
          this.form.clients.map(x => {
            i += 1
            this.stream.clients.push({
              node_id: x,
              client_port: this.form.clientPort,
              name: `${this.form.serverHost}-${i}`,
            })
          });
        }
        newStreams(this.stream).then(res => {
          console.log('submit!', res.data);
          this.loading = false
          if (res.data.length == 1 && res.data[0].result == 'error') {
            this.$message({
              // showClose: true,
              message: '创建失败，原因：' + res.data[0].reason,
              type: 'warning',
              duration: 30000,
            });
          } else {
            this.getStreams1();
            // let a={ "client": [ { "client_in_host": "128.14.52.114", "client_in_port": 20048, "client_machine": "114_1", "client_out_port": 10014, "name": "www.sina.com.cn-1" } ], "custom_host": "www.sina.com.cn", "custom_port": "80", "server_machine": "115_1", "service_in_port": 10014, "service_out_host": "128.14.52.115", "service_out_port": "80", "type": "http" }
            var msg = ''
            for (var i = 0; i < res.data.length; i++) {
              msg += res.data[i].stream
              msg += ";"
            }
            this.$message({
              // showClose: true,
              // message: `新建${stream.client.length}条流，访问域名为${this.stream.domain},端口号为${stream.client[0].client_in_port}`,
              message: '创建成功，stream:' + msg,
              type: 'success',
              duration: 3000
            });
          }
        });
      },
      getStreams1() {
        getStreams1().then(res => {
          this.streams = res.data
        })
      },
      getStreams2(index, row) {
        this.selectedDomain = row.domain;
        getStreams2(row.domain).then(res => {
          this.dialogFormVisible = true;
          console.log(res.data);
          this.stream_details = res.data;
        })
      },
      delStream(streamId) {
        this.loading = true
        delStream(streamId).then(res => {
          this.loading = false
          this.stream_details.splice(this.stream_details.indexOf(this.stream_details.findIndex(x => {
            x.id === streamId;
          })), 1);
        })
      },
    }
  }
</script>
<style>
  .el-row {
    margin-bottom: 20px;

  }

  .el-col {
    border-radius: 4px;
  }

  .bg-purple-dark {
    background: #99a9bf;
  }

  .bg-purple {
    background: #d3dce6;
  }

  .bg-purple-light {
    background: #e5e9f2;
  }

  .grid-content {
    border-radius: 4px;
    min-height: 36px;
  }

  .row-bg {
    padding: 10px 0;
    background-color: #f9fafc;
  }
</style>
