<template>

  <div class="app-container">
    <el-form ref="form" :model="form">
        <el-form-item v-loading.body="listLoading" prop="opt">
            <el-select v-model="form.opt" multiple placeholder="请选择流名称" style="width: 50%">
                <el-option 
                    v-for="item in options" 
                    :key="item.custom_port" 
                    :label="item.custom_port" 
                    :value="item.custom_port">
                </el-option>
            </el-select>
            <el-button type="primary" @click="loadData">查询</el-button>
        </el-form-item>
    </el-form>

    <el-table :data="streams"
              :default-sort="{prop: 'time', order: 'descending'}"
              border
              style="width: 90%" fit highlight-current-row>
      <el-table-column prop="custom_port" label="客户" sortable></el-table-column>
      <el-table-column prop="domain" label="加速域名" sortable></el-table-column>
      <el-table-column prop="num_of_streams" label="流数量" width="150" sortable></el-table-column>

      <el-table-column label="操作" fixed="right" width="150">
        <template slot-scope="scope">
          <el-button type="primary" size="small" v-bind:disabled="scope.row.sending"
                     @click="getStreams2(scope.$index, scope.row)">详细
          </el-button>
        </template>
      </el-table-column>
    </el-table>

    <el-dialog title="流列表" :visible.sync="dialogFormVisible">
      <!-- <h2>客户：{{selectedDomain}}</h2> -->
      <el-table :data="stream_details" :default-sort="{prop: 'time', order: 'descending'}" border
                style="width: 100%" fit highlight-current-row>
        <el-table-column prop="client_node" label="入节点" sortable></el-table-column>
        <el-table-column prop="client_ip" label="入节点IP" sortable></el-table-column>
        <el-table-column prop="server_node" label="出节点" sortable></el-table-column>
        <el-table-column prop="type" label="流类型" sortable></el-table-column>
        <el-table-column prop="custom_host" label="客户服务器" sortable></el-table-column>
        <el-table-column prop="client_port" label="入端口"></el-table-column>
        <el-table-column prop="custom_port" label="客户服务器端口" sortable></el-table-column>
        <el-table-column prop="update_at" label="更新" sortable></el-table-column>
        <el-table-column 
          prop="is_deleted" 
          label="状态"
          header-align="center"
        	align="center"
          sortable>
          <template slot-scope="scope">
          	<el-tag v-if="scope.row.is_deleted == 0" type="success" size="small">运行中</el-tag>
          	<el-tag v-else size="small" type="danger">已删除</el-tag>
        	</template>
        </el-table-column>
        <el-table-column label="操作" fixed="right" width="50">
          <template slot-scope="scope">
            <!--<el-button type="primary" size="small"-->
            <!--@click="getStreams2(scope.$index, scope.row)">修改-->
            <!--</el-button>-->
            <el-button type="primary" size="small"
                       @click="delStream(scope.$index, scope.row)">删除
            </el-button>
          </template>
        </el-table-column>
      </el-table>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogFormVisible = false">取消</el-button>
        <el-button type="primary" @click="dialogFormVisible = false">确定</el-button>
      </span>
    </el-dialog>
  </div>

</template>

<script>
  import {getNodes, newStreams, getStreams2, getStreams1, getDomain, delStream} from '@/api/ecn'

  export default {
    data() {
      return {
        radio: true,
        form: {
            'opt':{}
        },
        stream: {
          type: '',
          domain: '',
          server: {node_id: '', host: '', port: ''},
          isTransparent: 'false',
          clientIsFixedPort: 'false',
          clients: [],
        },
        options: [],
        list: [],
        nodes: [{id: '', name: '', disabled: false}],
        availableNodes: [],
        streams: [],
        stream_details: [],
        dialogFormVisible: false,
        dialogNewStreamVisible: false,
        formLabelWidth: '250px',
        stats_list: [0, 1],
        optimized_list: [1, 2],
        listLoading: false,
        selectLoading: false,
        selectedDomain: '',
        del_stream: {},
        page_args: {
          size: 50,
          total: 0,
          current: 1,
        },
      }
    },
    created() {
      // this.getNodes();
      this.getStreams1();
    },
    methods: {
      getNodes() {
        getNodes().then(res => {
          this.nodes = res.data;
          this.nodes.map(x => x.disabled = false);

        })
      },
      getAvailableNodes() {
        this.nodes.map(x => {
          if (this.form.clients.some(y => y === x.name) || this.form.serverNodeId === x.name) {
            x.disabled = true
          } else {
            x.disabled = false
          }
        })
      },
      submit(formName) {
        this.stream.type=this.form.type;
        this.stream.isTransparent=this.form.isTransparent;
        this.stream.domain=this.form.domain;
        this.stream.server.node_id=this.form.serverNodeId;
        this.stream.server.host=this.form.serverHost;
        this.stream.server.port=this.form.serverPort;
        this.stream.clientIsFixedPort=this.form.clientIsFixedPort;

        let i = 0
        this.form.clients.map(x => {
          i += 1
          this.stream.clients.push({
            node_id: x,
            client_port: this.form.clientPort,
            name: `${this.form.serverHost}-${i}`,
          })
        });

        console.log(this.stream);
        newStreams(this.stream).then(res => {
          console.log('submit!', res.data);
          if (res.data.status == 'error') {
            this.$message({
              showClose: true,
              message: '后台连接有故障，请联系平台维护人员！',
              type: 'warning',
              duration: 0
            });
          } else {
            this.getStreams1();
            // let a={ "client": [ { "client_in_host": "128.14.52.114", "client_in_port": 20048, "client_machine": "114_1", "client_out_port": 10014, "name": "www.sina.com.cn-1" } ], "custom_host": "www.sina.com.cn", "custom_port": "80", "server_machine": "115_1", "service_in_port": 10014, "service_out_host": "128.14.52.115", "service_out_port": "80", "type": "http" }
            let stream=res.data.stream
            // this.$message({
            //   showClose: true,
            //   message: `新建${stream.client.length}条流，访问域名为${this.stream.domain},端口号为${stream.client[0].client_in_port}`,
            //   type: 'warning',
            //   duration: 0
            // });
          }
        });
      },
      getStreams1() {
        getStreams1().then(res => {
          this.list = res.data
          this.streams = res.data
          this.options = this.list
        })
      },
      getStreams2(index, row) {
        this.selectedDomain = row.custom_port;
        getStreams2(row.custom_port).then(res => {
          this.dialogFormVisible = true;
          console.log(res.data);
          this.stream_details = res.data;
        })
      },
      delStream(index, row) {
        this.del_stream['client_node'] = row.client_node
        this.del_stream['server_node'] = row.server_node
        this.del_stream['custom_host'] = row.custom_host
        this.del_stream['custom_port'] = row.custom_port
        console.log(this.del_stream)
        delStream(this.del_stream).then(res => {
          if(res.data != ''){
            this.$message({
              message: '删除成功',
              type: 'success',
              duration: 3000
            });
            this.stream_details.splice(index, 1)
          }
        })
      },
      loadData() {
        var lists = []
        for(var i=0; i< this.list.length; i++){
            for(var j=0; j<this.form.opt.length; j++){
                if(this.form.opt[j] ==  this.list[i].custom_port){
                    lists.push(this.list[i])
                }
            }
        }
        this.streams = lists
      },
    }
  }
</script>
<style>
  .el-row {
    margin-bottom: 20px;

  }

  .el-col {
    border-radius: 4px;
  }

  .bg-purple-dark {
    background: #99a9bf;
  }

  .bg-purple {
    background: #d3dce6;
  }

  .bg-purple-light {
    background: #e5e9f2;
  }

  .grid-content {
    border-radius: 4px;
    min-height: 36px;
  }

  .row-bg {
    padding: 10px 0;
    background-color: #f9fafc;
  }
</style>
