<template>
    <div class="pending">
        <el-card class="box-card">
            <div class="pending-body-con-title">待开发</div>
            <div class="pending-btn-con">
                <el-button @click="goHome" type="primary">返回首页</el-button>
                <el-button @click="backPage" type="primary">返回上一页</el-button>
            </div>
        </el-card>
    </div>
</template>

<script>
export default {
    name: 'pending',
    methods: {
        backPage () {
            this.$router.go(-1);
        },
        goHome () {
            this.$router.push({
                name: 'home_index'
            });
        }
    }
};
</script>

<style rel="stylesheet/scss" lang="scss" scoped>

.pending{
    .box-card {
        width: 480px;
        height: 500px;
        margin: 60px auto 60px;
    }
    &-body-con{
        width: 700px;
        height: 500px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        &-title{
            text-align: center;
            font-size: 100px;
            font-weight: 700;
            color: #2d8cf0;
            height: 260px;
            line-height: 260px;
            margin-top: 40px;
        }
    }
    &-btn-con{
        text-align: center;
        padding: 20px 0;
        margin-bottom: 40px;
    }
}
</style>
