<template>
  <div class="app-container">
	<div class="sl-table">
		<el-table :data="tableData" border ref="raw_table"
		:stripe="true" 
		:height="fixedHeight"
		@cell-click="CellClick" 
		@sort-change="sortChange"
		@selection-change="handleSelectionChange"
		@expand-change="handleExpandRow" >
		<!-- expand -->
			<el-table-column v-if="isExpand" type="expand">
				<template slot-scope="scope">
					<slot name="expand" :$index="scope.$index" :row="scope.row"></slot>
				</template>
			</el-table-column>

		<!-- selection -->
			<el-table-column v-if="isSelect" type="selection" width="60" align="center"></el-table-column>

		<!-- index -->
			<el-table-column v-if="isIndex" type="index" width="50" align="center"></el-table-column>

		<!-- table head -->
			<el-table-column v-for="(data,key) in tableKey"
			:key="key"
			align="center"
			v-if="!data.operate"
			:prop="data.value" 
			:label="data.name"
			:width="data.width"
			:min-width="data.minWidth"
			:fixed="data.isfixed"
			:sortable="data.sortable"
			:show-overflow-tooltip="true"></el-table-column>

		<!-- oparation -->
			<el-table-column v-else 
			:label="data.name" 
			:prop="data.value" 
			align="center" 
			:width="data.width"
			:min-width="data.minWidth"
			:fixed="data.isfixed"
			:sortable="data.sortable">
				<template slot-scope="scope">
					<slot :name="data.value" :$index="scope.$index" :row="scope.row"></slot>
				</template>
			</el-table-column>
		</el-table>
	</div>
  </div>
</template>

<script>
export default {
	name: 'sl_table',
	data (){
		return {
		}
	},
	props: {
		tableData: {
			type: Array,
			required: true
		},
		tableKey: {
			type: Array,
			required: true
		},
		isSelect: {
			type: Boolean,
			required: false
		},
		isExpand: {
			type: Boolean,
			required: false
		},
		isExpandOne: {
			type: Boolean,
			required: false
		},
		isIndex: {
			type: Boolean,
			required: true
		},
		fixedHeight: {
			type: [Number,String],
			required: false
		}
	},
	methods: {
		sortChange(argu){
			this.$emit("sortChange",argu)
		},
		CellClick(row,col,cell){
			// console.log(row,col,cell)
			this.$emit("CellClick",{row,col,cell})
		},
		handleSelectionChange(list){
			this.$emit("SelectChange",list)
		},
		handleExpandRow(row, expandRows){
			// console.log(row,expandRows)
			if(this.isExpandOne){
				this.$refs.raw_table.store.states.expandRows = expandRows.length !== 0 ? [row] : []
			}else{
			}
			/*if(this.isExpand && this.isExpandOne){
				this.$refs.raw_table.store.states.expandRows = expanded ? [row] : []
			}*/
		}
	},
}
</script>

<style>
	.sl-table .cell>span{
		word-break:normal;
	}
</style>