<template>
    <div class="maintain">
        <el-card class="box-card">
            <div class="maintain-body-con-title">维护中</div>
            <div class="maintain-btn-con">
                <el-button @click="goHome" type="primary">返回首页</el-button>
                <el-button @click="backPage" type="primary">返回上一页</el-button>
            </div>
        </el-card>
    </div>
</template>

<script>
export default {
    name: 'maintain',
    methods: {
        backPage () {
            this.$router.go(-1);
        },
        goHome () {
            this.$router.push({
                name: 'home_index'
            });
        }
    }
};
</script>

<style rel="stylesheet/scss" lang="scss" scoped>

.maintain{
    .box-card {
        width: 400px;
        height: 300px;
        margin: 60px auto 60px;
        opacity: 0.7;
    }
    &-body-con{
        width: 25px;
        height: 25px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        &-title{
            text-align: center;
            font-size: 60px;
            font-weight: 700;
            color: #2d8cf0;
            height: 20px;
            line-height: 60px;
            margin-top: 50px;
        }
    }
    &-btn-con{
        text-align: center;
        padding: 90px 0;
        margin-bottom: 20px;
    }
}
</style>
