<template>
  <div>
    <div class="main-container">
      <app-main></app-main>
    </div>
  </div>
</template>

<script>
import { AppMain } from '@/views/layout'

export default {
  name: 'layout',
  components: {
    AppMain
  }
}
</script>


