<template>
  <div class="block">

    <div v-show="state =='doing'" id="treeChart" style="height: 200px;width: 100%"></div>

    <!--<el-row>-->
    <!--<h1>{{title}}</h1>-->
    <!--<p>开始时间：{{start_time}}</p>-->
    <!--<p>结束时间：{{end_time}}</p>-->
    <!--</el-row>-->

    <!--当前步骤信息-->
    <el-row v-show="Object.keys(current_node).length > 0 && state == 'doing'">
      <el-col :span="24">
        <el-card class="box-card">
          <div class="grid-content bg-purple-dark" :style="stepInfoStyle">
            <h2 style="color: #2C58A6">主题：{{current_node.title}}</h2>
            <p style="color: #61d2f7">{{current_node.desc}}</p>

            <div style="background-color: rgba(230,243,234,0.22)">
              <div v-html="current_node.content"></div>
            </div>
            <p>记录： {{ current_node.record }}</p>
            <p>负责人：{{ current_node.principal }}</p>
          </div>
        </el-card>
      </el-col>

      <!--记录信息-->
      <el-col v-if="did">
        <el-form label-width="80px">
          <el-card class='box-card' v-if="current_node.state == 'doing'">

            <el-form-item label="记录信息">
              <el-input type="textarea" v-model="current_node.record"></el-input>
            </el-form-item>

            <el-form-item label="负责人">
              <el-input v-model="current_node.principal"></el-input>
            </el-form-item>

            <div>
              <el-button type="success" plain @click="finish">完成步骤</el-button>
              <el-button v-if="did && state != 'done'" @click="save">保存</el-button>
            </div>
          </el-card>
          <el-alert v-if="current_node.state == 'done'" title="此步骤已完成" type="success"></el-alert>

        </el-form>
      </el-col>

      <el-button @click="nextStepDialog = true" v-show="(children.length > 0 && current_node.state == 'done')">
        下一步
      </el-button>

    </el-row>

    <!--next step-->
    <el-dialog width="80%" title="next step" :visible.sync="nextStepDialog">
      <el-row>
        <h4 style="color: #f6a645">请选择下一步骤</h4>
        <el-collapse accordion>

          <el-collapse-item v-for="(child,index1) in children" :key="index1">
            <template slot="title">
              {{child.title}}
            </template>
            <p style="color: #61d2f7">描述： {{child.desc}}</p>
            <div style="background-color: rgba(230,243,234,0.22)">
              <div v-html="child.content"></div>
            </div>
            <el-button type="primary" plain @click="chooseChild(index1)">选择步骤</el-button>
          </el-collapse-item>

        </el-collapse>
      </el-row>
    </el-dialog>

    <!--carousel-->
    <el-row v-show="state == 'done'">
      <el-carousel height="1000px" :autoplay="true">

        <el-carousel-item v-for="(step,index) in steps" :key="index">
          <div style="text-align: center">
            <p style="font-size: 36px;color: rgb(44, 88, 166);"> 主题：{{ step.title }}<span
              style="font-size: 18px;color: darkcyan"> -- (步骤：{{index+1}})</span></p>
            <p style="color: darkgray;">
              <span>负责人：{{ step.principal }}</span><span>&nbsp;&nbsp; 时间：{{step.start_time}}</span>
              ~ <span>{{step.end_time}}</span><span>&nbsp;&nbsp; 状态: {{step.state}}</span></p>
          </div>

          <div style="background-color: rgba(230,243,234,0.22)">
            <div v-html="step.content"></div>
          </div>

          <!--<p style="font-size: 18px;color: #333333;">记录： {{ step.record }}</p>-->

          <el-alert
            :title="step.record"
            type="info"
            :closable="false">
          </el-alert>

        </el-carousel-item>

      </el-carousel>
    </el-row>

    <!--new director-->
    <el-row>
      <el-button v-if="!did" @click="push">新增</el-button>
      <!--<el-button v-if="tree1.length == 0 && state != 'done'" @click="save">保存</el-button>-->
    </el-row>
  </div>

</template>

<script>
  import echarts from 'echarts'
  import {Node, get_emergency, get_director, add_director, save_director, data_str} from '@/api/emergency'
  import {notice} from '@/api/common'


  export default {
    name: "director",
    data() {
      return {
        pid: '',
        did: null,
        title: '',
        desc: '',
        tree1: [],
        steps: [],
        state: 'doing',
        children: [],
        current_node: {},
        start_time: '',
        end_time: '',
        // ------------------
        nextStepDialog: false

      }
    },
    methods: {

      init() {
        let pid = this.$route.params.pid;
        let did = this.$route.params.did;

        console.log(did)

        if (pid != undefined) {
          get_emergency(pid).then(data => {
            console.log(data)

            const data1 = data.data

            if (data1.code === 1) {
              const data2 = data1.data;
              const tree_str = data1.step_tree
              const False = false
              const True = true
              this.tree1 = eval('(' + tree_str + ')')
              // this.children = this.tree1
              this.current_node = this.tree1[0]
              this.current_node['state'] = 'doing'
              this.current_node['start_time'] = data_str()
              this.children = this.current_node['children']
              this.steps.push(this.current_node)
              this.title = data2.title
              this.desc = data2.desc
              this.pid = pid
              this.drawTree(this.tree1[0])
            }

          });
        }

        if (did != undefined) {
          get_director(did).then(data => {
            console.log(data)

            const data1 = data.data

            if (data1.code === 1) {

              const data2 = data1.data;

              const steps_str = data2.steps
              const False = false
              const True = true
              this.steps = eval('(' + steps_str + ')')
              this.state = data2.state
              this.start_time = data2.start_time
              this.end_time = data2.end_time
              this.title = data2.title
              this.pid = data2.pid
              this.did = did
              if (data2.state === 'doing') {
                this.current_node = this.steps[this.steps.length - 1]
                this.children = this.current_node['children']
              }

              get_emergency(this.pid).then(data => {
                console.log(data)
                const data1 = data.data

                if (data1.code === 1) {
                  const data2 = data1.data
                  const tree_str = data2.step_tree;

                  const False = false
                  const True = true
                  this.tree1 = eval('(' + tree_str + ')')
                  this.drawTree(this.tree1[0])
                }

              })
            }


          });
        }
      },

      // 应急预案应用，新增应急指挥
      push() {
        this.tree1 = []
        const data1 = {pid: this.pid, title: this.title, desc: this.desc, state: this.state, steps: this.steps}

        add_director(data1).then(data => {
          console.log(data)
          // this.$router.push({path: '/emergency/list_director'})

        })
      },

      save() {
        console.log(this.current_node)
        if (this.current_node['children'].length == 0 && this.current_node.state == 'done') {
          this.state = 'done'
        }

        let me = this

        const data1 = {pid: this.pid, title: this.title, desc: this.desc, state: this.state, steps: this.steps}

        const did = this.$route.params.did;

        save_director(did, data1).then(data => {
          console.log(data)

          let data1 = data.data

          if (data1.code > 0) {

            notice(me, data1, '保存成功');

          } else {
            // todo error
          }

        })
      },

      chooseChild(index) {
        if (this.children.length > 0) {
          let child = this.children[index]

          if (this.steps.length > 0) {
            let last = this.steps.length - 1
            this.steps[last]['children'] = []
          }

          child['start_time'] = data_str()

          this.steps.push(child);

          this.current_node = child
          this.current_node['state'] = 'doing'
          if (this.current_node['children'].length > 0) {
            this.children = this.current_node['children']
          }
        }

        this.nextStepDialog = false

        this.save()
      },

      next_step1() {
        if (this.current_node.children.length > 0) {
          this.children = this.current_node.children
          // this.current_node = []
        }
      },

      finish() {
        this.current_node.state = 'done'
        this.current_node['end_time'] = data_str()
        this.children = this.current_node['children']
        this.save()
      },

      drawTree(x) {

        let myChart = echarts.init(document.getElementById('treeChart'))

        // myChart.hideLoading();

        let option = {
          tooltip: {
            trigger: 'item',
            triggerOn: 'mousemove'
          },
          series: [
            {
              type: 'tree',

              data: [x],

              top: '1%',
              left: '7%',
              bottom: '1%',
              right: '20%',

              symbolSize: 7,

              label: {
                normal: {
                  position: 'top',
                  verticalAlign: 'middle',
                  align: 'center',
                  fontSize: 16
                }
              },

              leaves: {
                label: {
                  normal: {
                    position: 'right',
                    verticalAlign: 'middle',
                    align: 'left'
                  }
                }
              },

              expandAndCollapse: true,
              animationDuration: 550,
              animationDurationUpdate: 750,
              initialTreeDepth: 4

            }
          ]
        }
        myChart.setOption(option);
      }
    },
    computed: {

      stepInfoStyle: function () {
        let max_height = document.documentElement.clientHeight - 600;
        return {
          'max-height': max_height + 'px',
          'overflow': 'auto'
        }
      }

    },
    created() {

    },
    mounted() {
      this.init()
    }
  }
</script>

<style scoped>
  .el-carousel__item h3 {
    color: #475669;
    font-size: 18px;
    opacity: 0.75;
    line-height: 100px;
    margin: 0;
  }

  .el-row {
    padding: 30px 20px;
  }

  .el-card {
    margin: 20px 0;
  }

</style>
