<template>
  <div>

  <el-table
    :data="directorList"
    :row-class-name="tableRowClassName"
    style="width: 100%">

    <el-table-column
      prop="title"
      label="主题">
    </el-table-column>

    <el-table-column
      prop="desc"
      label="描述">

    </el-table-column>

    <el-table-column
      prop="state"
      label="状态"
      :filters="[{ text: 'done', value: 'done' }, { text: 'doing', value: 'doing' }]"
      :filter-method="filterState"
      filter-placement="bottom-end"
      sortable
      width="100">
      <template slot-scope="scope">
        <el-tag
          :type="scope.row.state === 'done' ? 'primary' : 'success'"
          disable-transitions>{{scope.row.state}}</el-tag>
      </template>

    </el-table-column>

    <el-table-column label="操作">
      <template slot-scope="scope">
        <el-button
          size="mini"
          @click="watch_director(scope.row.id)">查看</el-button>

        <el-button
          size="mini"
          type="danger"
          @click="delete_director(scope.row.id)">删除</el-button>
      </template>
    </el-table-column>

  </el-table>

  </div>
</template>

<script>
  import {get_directors, delete_director} from '@/api/emergency'
  import {confirm4delete, removeElementById} from "@/api/common";


  export default {
    name: "list_director",
    data() {
      return {
        directors: [],
        directorList:[]
      }
    },
    methods: {
      init() {
        get_directors().then(data => {
          console.log(data)

          let data1 = data.data
          if (data1.code === 1) {
            this.directors = data1.data.hits.hits;

            let directorList = this.directorList

            this.directors.forEach(function (value, i) {
              let source = value._source
              source['id'] = value._id
              directorList.push(source)
            })

            console.log(this.directorList)
          }

        })
      },
      watch_director(id) {
        this.$router.push({name:'show_director',params:{did:id}})
      },
      delete_director(id) {

        let me = this

        confirm4delete(me, function () {

          delete_director(id).then(data =>{
            console.log(data)

            let data1 = data.data
            if (data1.code === 1) {
              removeElementById(me,me.directorList,id)
            }else {
              // todo error
            }
          })
        })

      },
      filterState(value, row) {
        return row.state === value
      },
      tableRowClassName({row,rowIndex}) {

        console.log(row)
        if (row.state === 'done') {
          return 'success-row';
        }

        if (row.state === 'doing') {
          return 'warning-row';
        }

        return ''
      }
    },
    created() {
      this.init()
    }
  }
</script>

<style>
  .el-table .warning-row {
    background-color: rgba(253, 245, 230, 0.35);
  }

  .el-table .success-row {
    background-color: white;
  }
</style>
