<template>

  <div>

    <el-table
      :data="treeList"
      stripe
      style="width: 100%">

      <el-table-column
        prop="title"
        label="主题">

      </el-table-column>

      <el-table-column
        prop="desc"
        label="描述">

      </el-table-column>

      <el-table-column label="操作">
        <template slot-scope="scope">
          <el-button
            size="mini"
            @click="watch_plan(scope.row.id)">查看
          </el-button>

          <el-button
            size="mini"
            type="info"
            @click="apply_plan(scope.row.id)">应用
          </el-button>

          <el-button
            size="mini"
            type="warning"
            @click="update_plan(scope.row.id)">更新
          </el-button>

          <el-button
            size="mini"
            type="danger"
            @click="delete_emergency(scope.row.id)">删除
          </el-button>
        </template>
      </el-table-column>

    </el-table>

  </div>
</template>

<script>
  import {get_emergencies, delete_emergency} from '@/api/emergency'
  import {confirm4delete, removeElementById} from "@/api/common";


  export default {
    name: "list",
    data() {
      return {
        trees: [],
        treeList: []
      }
    },
    methods: {
      get_emergencies() {
        get_emergencies().then(data => {
          console.log(data)

          let data1 = data.data
          if (data1.code === 1) {
            this.trees = data1.data.hits.hits;
            let treeList = this.treeList

            this.trees.forEach(function (value, index) {
              let source = value._source
              source['id'] = value._id
              treeList.push(source)
            })
          }
        })
      },
      delete_emergency(id) {

        let me = this

        confirm4delete(me, function () {

          delete_emergency(id).then(data => {
            console.log(data);

            let data1 = data.data
            if (data1.code === 1) {
              removeElementById(me, me.treeList, id)
            } else {
              // todo error
            }
          });
        })

      },
      watch_plan(id) {
        this.$router.push({name: 'show_emergency', params: {id: id}})
      },
      apply_plan(id) {
        // this.$router.push({name:'show_director',params:{pid:id}})
        this.$router.push({name: 'show_emergency', params: {id: id}})


      },
      update_plan(id) {
        this.$router.push({name: '新增应急预案', params: {id: id}})

      }
    },
    created() {
      this.get_emergencies()
    }

  }
</script>

<style scoped>

</style>
