<template>

<div>
  <el-form label-width="80px">
    <el-card class='box-card'>

      <el-form-item label="主题">
        <el-input v-model="title"></el-input>
      </el-form-item>

      <el-form-item label="描述">
        <el-input v-model="desc"></el-input>
      </el-form-item>


      <el-form-item label="负责人">
        <el-input v-model="principal"></el-input>
      </el-form-item>

      <div class="editor-container">
        <div>
          <wangeditor ref="editor1" :catchData="catchData"></wangeditor>
        </div>
      </div>

      <el-button type="success" plain @click="generate()">生成head节点</el-button>
      <el-button type="success" plain @click="update_node">修改node</el-button>
      <el-button v-show="tree_id == ''" type="info" plain @click="push">保存</el-button>
      <el-button v-show="tree_id != ''" type="info" plain @click="update_tree" v-loading.fullscreen.lock="fullscreenLoading">更新</el-button>

    </el-card>

    <div class="block">
      <el-tree
        :data="tree1"
        node-key="id"
        draggable
        ref="trees"
        default-expand-all
        :highlight-current="true"
        :expand-on-click-node="false">
      <span class="custom-tree-node" slot-scope="{ node, data }">
        <span>{{ data.title }}</span>
        <span>{{ node.id }}</span>
        <!--<span>{{ data.id }}</span>-->
        <!--<span>{{ data.principal }}</span>-->
        <!--<span>{{ data.desc }}</span>-->
        <span>
          <el-button
            type="text"
            size="mini"
            @click="() => append(data)">
            Append
          </el-button>
          <el-button
            type="text"
            size="mini"
            @click="() => remove(node, data)">
            Delete
          </el-button>

          <el-button
            type="text"
            size="mini"
            @click="() => getNode(node, data)">
            Edit
          </el-button>
        </span>
      </span>
      </el-tree>
    </div>
  </el-form>

  <div id="treeChart" style="height: 400px;width: 100%"></div>

  <el-row v-if="plan">
    <el-col :span="24">
      <el-card class="box-card">
        <div class="grid-content bg-purple-dark">
          <h2 style="color: #2C58A6">主题：{{plan.title}}</h2>
          <p style="color: #61d2f7">{{plan.desc}}</p>

          <div style="background-color: rgba(230,243,234,0.22)">
            <div v-html="plan.content"></div>
          </div>
          <p>记录： {{ plan.record }}</p>
          <p>负责人：{{ plan.principal }}</p>
        </div>
      </el-card>
    </el-col>
  </el-row>

</div>

</template>

<script>
  import echarts from 'echarts'
  import {uuid, Node, push_emergency, update_emergency, get_emergency} from '@/api/emergency'
  import wangeditor from '@/components/wangeditor/wangeditor'
  import {notice} from '@/api/common'


  let nodes = [];
  export default {
    name: "push",

    components:{
      wangeditor
    },

    data() {
      return {
        tree_id: '',
        title: '',
        desc: '',
        content: '',
        principal: '',
        tree1: [],
        myChart:null,
        plan:null,
        fullscreenLoading: false

      }
    },
    methods: {
      catchData(value){
        this.content = value
      },
      //新增应急预案
      push() {
        const data1 = {title: this.title, desc: this.desc, tree: this.tree1}
        push_emergency(data1).then(data => {
          console.log(data)

          let data1 = data.data
          let me = this

          notice(me,data1, '新增一条应急预案')

        })
      },
      update_node() {
        const node1 = this.$refs.trees.getCurrentNode();
        node1.name = this.title
        node1.title = this.title;
        node1.desc = this.desc;
        node1.content = this.content;
        node1.principal = this.principal;
        this.drawTree(this.tree1)

      },
      // update emergency
      update_tree() {

        let me = this

        me.fullscreenLoading = true;

        const data1 = {title: this.title, desc: this.desc, tree: this.tree1};
        const id = this.tree_id;
        update_emergency(id, data1).then(data => {

          try {
            console.log(data);

            const data1 = data.data

            notice(me, data1, '更新应急预案成功')
          } catch (e) {
            me.fullscreenLoading = false
          }

        });
      },
      getNode(data) {
        console.log(data);
        let node1 = data.data;
        this.title = node1.title;
        this.desc = node1.desc;
        this.content = node1.content;
        this.principal = node1.principal;
        this.$refs.editor1.setContent(this.content)
      },
      nodeEntity() {
        return new Node(this.title, this.desc, this.principal, this.content);
      },
      append(data) {

        const newChild = this.nodeEntity().o2j();
        if (!data.children) {
          this.$set(data, 'children', []);
        }
        data.children.push(newChild);
        this.drawTree(this.tree1)
      },
      remove(node, data) {
        const parent = node.parent;
        const children = parent.data.children || parent.data;
        const index = children.findIndex(d => d.id === data.id);
        children.splice(index, 1);

        this.drawTree(this.tree1)
      },
      generate() {
        const node1 = this.nodeEntity();
        node1.set_head(true);
        const head = node1.o2j();

        console.log(this.tree1)
        this.tree1.push(head);

      },
      init() {
        let id = this.$route.params.id;

        if (id != undefined) {
          get_emergency(id).then(data => {

            const data1 = data.data
            console.log(data1)

            if (data1.code === 1) {
              this.title = data1.data.title
              this.desc = data1.data.desc
              const False = false;
              const True = true
              const tree_str = data1.data.step_tree;
              this.tree1 = eval('(' + tree_str + ')')
              this.drawTree(this.tree1)
            }


          });
          this.tree_id = id;
        }

        console.log(id)
      },

      // -------------------tree draw----------------------
      chartClick(params) {
        console.log(params)
        this.plan = params.data
        console.log(this.plan)
      },
      drawTree(treeData) {

        // myChart.hideLoading();
        // reviseTreeData(treeData)

        let option = {
          tooltip: {
            show:false
          },
          toolbox:{

          },
          series: [
            {
              type: 'tree',

              data: treeData,

              top: '1%',
              left: '7%',
              bottom: '1%',
              right: '20%',

              symbolSize: 20,

              label: {
                normal: {
                  position: 'top',
                  verticalAlign: 'middle',
                  align: 'center',
                  fontSize: 14
                }
              },

              leaves: {
                label: {
                  normal: {
                    position: 'top',
                    verticalAlign: 'middle',
                    align: 'center'
                  }
                }
              },

              expandAndCollapse: false,
              animationDuration: 550,
              animationDurationUpdate: 750,
              // initialTreeDepth:5
            }
          ]
        }
        this.myChart.setOption(option);

        this.myChart.on('click', this.chartClick);
      }

    },
    created() {
      this.init()
    },
    mounted() {
      this.myChart = echarts.init(document.getElementById('treeChart'))
    }
  }
</script>

<style scoped>

  .el-row{
    padding: 30px 20px;
  }

  .editor-container {
    padding: 10px 0 10px 79px
  }
</style>
