<template>
  <div class="block">

    <div id="treeChart" style="height: 400px;width: 100%"></div>

    <el-row v-if="plan">
      <el-col :span="24">
        <el-card class="box-card">
          <div class="grid-content bg-purple-dark">
            <h2 style="color: #2C58A6">主题：{{plan.title}}</h2>
            <p style="color: #61d2f7">{{plan.desc}}</p>

            <div style="background-color: rgba(230,243,234,0.22)">
              <div v-html="plan.content"></div>
            </div>
            <p>记录： {{ plan.record }}</p>
            <p>负责人：{{ plan.principal }}</p>
          </div>
        </el-card>
      </el-col>
    </el-row>

    <el-row>
      <el-col>
        <el-form label-width="80px">
          <el-card class='box-card'>

            <el-form-item label="预案名称">
              <el-input type="textarea" v-model="title"></el-input>
            </el-form-item>

            <el-form-item label="描述">
              <el-input v-model="desc"></el-input>
            </el-form-item>

            <div>
              <el-button @click="apply">应用预案</el-button>
            </div>

          </el-card>

        </el-form>
      </el-col>

    </el-row>
  </div>
</template>

<script>
  import echarts from 'echarts'
  import {Node, get_emergency, add_director,data_str} from '@/api/emergency'

  export default {
    name: "show_plan",
    data() {
      return {
        id:'',
        title:'',
        desc:'',
        tree1: [],
        plan: null,
        myChart:null
      }
    },
    methods: {
      init() {
        let id = this.$route.params.id;
        get_emergency(id).then(data => {
          console.log(data)

          const data1 = data.data
          if (data1.code === 1) {

            let data2 = data1.data
            const tree_str = data2.step_tree;
            const False = false
            const True = true
            this.tree1 = eval('(' + tree_str + ')')

            if (this.plan == null) {
              this.plan = this.tree1[0]
              this.plan['state'] = 'doing'
              this.plan['start_time'] = data_str()
            }

            this.id = id;
            this.title = data2.title
            this.desc = data2.desc
            this.drawTree(this.tree1[0])
          }

        });
      },
      chartClick(params) {
        console.log(params)
        this.plan = params.data
        // params.color='white'
      },
      // 应用预案
      apply() {
        const data1 = {pid: this.id, title: this.title, desc: this.desc, state: 'doing', steps: this.tree1}
        add_director(data1).then(data => {
          console.log(data)

          let data1 = data.data
          if (data1.code === 1) {
            let did = data1.data
            this.$router.push({name:'show_director',params:{did:did}})
          }
          // this.$router.push({path: '/emergency/list_director'})
        })
      },
      drawTree(x) {

        // myChart.hideLoading();

        let option = {
          tooltip: {
            show:false
          },
          toolbox:{

          },
          series: [
            {
              type: 'tree',

              data: [x],

              top: '1%',
              left: '7%',
              bottom: '1%',
              right: '20%',

              symbolSize: 20,

              itemStyle:{
                emphasis:{
                  // borderType:'dotted'
                  borderColor:'black',
                  color:'lightsteelblue',
                  // opacity:.8
                }
              },

              label: {
                normal: {
                  position: 'top',
                  verticalAlign: 'middle',
                  align: 'center',
                  fontSize: 14
                }
              },

              leaves: {
                label: {
                  normal: {
                    position: 'top',
                    verticalAlign: 'middle',
                    align: 'center'
                  }
                }
              },

              expandAndCollapse: false,
              animationDuration: 550,
              animationDurationUpdate: 750,
              // initialTreeDepth:5
            }
          ]
        }
        this.myChart.setOption(option);

        this.myChart.on('click', this.chartClick);
      }

    },
    mounted() {
      this.myChart = echarts.init(document.getElementById('treeChart'))
      this.init()
    }
  }
</script>

<style scoped>
  .el-carousel__item h3 {
    color: #475669;
    font-size: 18px;
    opacity: 0.75;
    line-height: 300px;
    margin: 0;
  }

  .el-row{
    padding: 30px 20px;
  }

  .el-carousel__item:nth-child(2n) {
    background-color: #99a9bf;
  }

  .el-carousel__item:nth-child(2n+1) {
    background-color: #d3dce6;
  }
</style>
