<template>
  <div class="eslist-container">
    <Etp v-if="datas" :datas="datas._source"/> <!-- v-if="datas" datas是异步数据处理datas为null时报错 -->
  </div>
</template>

<script>
import { getEsdata } from "@/api/assets";
import Etp from './asset_infos'
export default {
  name: "login",
  data() {
    return {
      datas: null,
    };
  },
  components:{
    Etp
  },
  methods: {
    get_datas() {
      getEsdata().then(data => {
        let res = data.data;
        if (res.code == 1) {
          res.data.forEach(item=>{
             if(item._source.index_name=="企业"){
               this.datas = item
             }
          })
        }
        if (res.err_num == 401) {
          // 登录信息过期
          alert("登录信息过期，重新登录！");
          this.$store.dispatch("LogOut").then(() => {
            this.$router.push({ path: "/login" });
          });
          
        }
      });
    },
    
  },
  created() {
    this.get_datas();
    //禁止用F5键
    document.onkeydown = function(e) {
      e = window.event || e;
      var keycode = e.keyCode || e.which;
      if (keycode == 116) {
        e.preventDefault();
      }
    };
    window.onbeforeunload = function(e){
      window.event.returnValue="您确定要离开该页面吗?";
    }
  }
};
</script>

<style scoped>
.es-row {
  margin-bottom: 20px;
}
.baob_list {
  display: flex;
}
.button {
  padding-right: 20px;
}
.baob_item {
  flex: 1;
}
.grid-content {
  text-indent: 50px;
  line-height: 36px;
  color: #000;
  min-height: 36px;
}
.bg-purple-dark {
  background: #e6e9eb;
}
</style>
