<template>
    <div class="body">
      <div class="form">
        <h2>修改表格数据</h2>
        <div>
            <Slect :form="datas._source" :options="options" v-on:selectEvent="fomMite" v-on:fwbIndexEvent="fwbIndex" />
        </div>
      </div>
      <div v-show="fwb_show">
        <Fwb ref="child" v-on:itemEvent="editorContent" />
      </div>
    </div>
</template>

<script>
import { updateEsdata } from "@/api/assets";
import Fwb from '@/components/EsVue/fwb'
import Slect from '@/components/EsVue/Slecte'
export default {
  data() {
    return {
      datas: {},
      forms:{},
      options:{},
      fwn_index: "",
      fwb_show: false
    };
  },
  components:{
    Slect,
    Fwb
  },
  methods: {
    fomMite(data) {
      //this.form.tb_obj = this.userName; // 填表人
      console.log(data)
      let postData = {
        index_name: this.datas._index,
        id: this.datas._id,
        data: this.datas._source
      }
      console.log(postData)
      updateEsdata(postData).then(data => {
        let res = data.data;
        if (res.code == 1) {
          this.$notify({
            title: "成功",
            message: "成功添加一条记录",
            type: "success"
          });
          this.$router.go(-1)  // 
        } else {
          this.$notify.error({
            title: "失败",
            message: res.err_msg,
          });
        }
      });
    },
    
    editorContent(data){
      // 富文本
     console.log(data) 
     this.fwb_show = !this.fwb_show
     this.datas._source[this.fwn_index] = data
    },
    fwbIndex(data){
      this.fwn_index = data.index
      this.$refs.child.dataChange(data.html)
      this.fwb_show = !this.fwb_show
    },
  },
  created() {
    console.log(this.$route.params.esdata);
    if(this.$route.params.esdata==undefined){
      this.$router.push({name:"资产表"})
      return false
    }
    this.datas = this.$route.params.esdata;
    
  }   
};
</script>
<style scoped>
.body {
  width: 98%;
  margin: 0 auto;
}
.item_all{
    display: flex;
}
.form{
  width: 60%;
  margin: 0 10%;
}


</style>
