<template>
    <div class="body1">
       
        <div class="form">
          <el-form ref="form" label-width="100px">
              <div class="item_input">
                <el-form-item label="表名">
                    <el-input v-model="index_name" placeholder="自定义表名"></el-input>
                </el-form-item>
              </div>
              <div class="body_flex" v-for="form_data in form_datas">
                  <div class="item_flex">
                    <div class="item_input">
                      <el-form-item label="中文描述">
                          <el-input v-model="form_data.field_dis_zh" placeholder="中文描述"></el-input>
                      </el-form-item>
                    </div>
                    <div class="item_input">
                      <el-form-item label="英文描述">
                          <el-input v-model="form_data.field_dis_en" placeholder="英文描述"></el-input>
                      </el-form-item>
                    </div>
                  </div>
                  <div class="item_flex">
                      <el-form-item label="字段类型">
                          <el-select v-model="form_data.field_type" placeholder="请选择类型">
                              <el-option v-for="item in form_data.options" :key="item.value" :label="item.label" :value="item.value"> </el-option>
                          </el-select>
                      </el-form-item>
                      <el-form-item label="是否统计" >
                          <el-switch v-model="form_data.is_total" active-color="#13ce66" @change="total(form_data.is_total)" inactive-color="#ff4949"></el-switch>
                      </el-form-item>
                      <el-form-item label="是否必填" >
                          <el-switch v-model="form_data.is_must" active-color="#13ce66" @change="fill_in(form_data.is_must)" inactive-color="#ff4949"></el-switch>
                      </el-form-item>
                  </div>
                  
                  <el-form-item label="枚举值">
                      <el-input type="textarea" v-model="form_data.field_enum" placeholder="输入定义字段的值，如果有多个用英文逗号“,”隔开"></el-input>
                  </el-form-item>
              
              </div>
              <div class="create">            
                <el-form-item>
                    <el-button type="primary" @click="onSubmit">创建</el-button>
                    <el-button>取消</el-button>
                </el-form-item>
              </div>
          </el-form>
          <h2>已录入的填报报表</h2>
          <div> 
            <Fullele :formLists="formLists" v-on:reloadFull="reload"/>
          </div>
        </div>
        <div class="edit">
            <el-button type="primary" @click="addField">添加字段</el-button>
        </div>
    </div>
</template>

<script>
import { createBase, getEsdata, deleEsdata } from "@/api/assets";
import Fullele from "@/components/EsVue/BaseFullEle";
export default {
  data() {
    return {
      index_name: "",
      form_datas: [],
      formLists: []
    };
  },
  components: {
    Fullele,
  },
  methods: {
    reload(){
      // 删除触发
      this.getFullLis() // 获取已经填写的表数据
    },
    onSubmit() {
      let datas = [];
      let len = this.form_datas.length;
      for (var i = 0; i < len; i++) {
        let data = {};
        //  field_enum 按“，”分割
        data.field_name = "";
        data.field_dis_zh = this.form_datas[i].field_dis_zh;
        data.field_dis_en = this.form_datas[i].field_dis_en;
        data.is_total = this.form_datas[i].is_total;
        data.is_must = this.form_datas[i].is_must;
        data.field_type =
          this.form_datas[i].field_type == "enum"
            ? "text"
            : this.form_datas[i].field_type;
        if(this.form_datas[i].field_enum){
          data.field_enum = this.form_datas[i].field_enum.split(",");
        }else{
          data.field_enum = []
        }   
        datas.push(data);
      }
      createBase({ data: datas, index_name: this.index_name }).then(data => {
        let res = data.data;
        if (res.code == 1) {
          alert(res.desc);
          location.reload();
        } else {
          alert(res.desc);
        }
      });
    },
    getInit() {
      let form = {
        field_dis_zh: "",
        field_dis_en: "",
        field_enum: "",
        is_total: false,
        is_must: true,
        field_type: "",
        options: [
          {
            value: "text",
            label: "字符串"
          },
          {
            value: "integer",
            label: "数字类型"
          },
          {
            value: "enum",
            label: "枚举型"
          }
        ]
      };
      this.form_datas.push(form);
    },
    total(is_total) {
      is_total = !is_total;
    },
    fill_in(is_must){
      is_must = !is_must;
    },
    addField() {
      this.getInit();
    },
    getFullLis(){
      // 获取已填报项目
      getEsdata().then(data => {
        console.log(data);
        let res = data.data;
        if (res.code == 1) {
          this.formLists = res.data;
        }
      });
    }
  },
  created() {
    this.getInit();
    this.getFullLis()
    
  }
};
</script>
<style>
.body1 {
  width: 98%;
  display: flex;
}
.form {
  width: 90%;
}
.edit {
  width: 10%;
  text-align: right;
  position: fixed;
  right: 0;
}
.body_flex {
  padding-top: 22px;
  border-bottom: 1px solid #ccc;
}
.item_flex {
  display: flex;
}
.item_input {
  width: 50%;
}
.create {
  margin-top: 22px;
}
.edit {
  width: 20%;
  text-align: center;
}
.create_list {
  display: flex;
}
.item_name {
  flex: 1;
}
.button {
}
.es-row {
  margin-bottom: 20px;
}
.grid-content {
  text-indent: 50px;
  line-height: 36px;
  color: #000;
  min-height: 36px;
}
.bg-purple-dark {
  background: #e6e9eb;
}
</style>
