<template>
    <div class="body">
      <el-button type="primary" @click="outToExcel">导出<i class="el-icon-edit el-icon--right"></i></el-button>
      <div> 
        <Fullele :datas="datas" :formLists="formLists" v-on:reloadFull="reload"/>
        <div class="pagenation">
          <el-pagination :page-size="10"
          @current-change="getPage"
          :pager-count="7" layout="prev, pager, next" :total="total"></el-pagination>
        </div>
      </div>
      <hr>
      <div class="form">
        <div class="flag">
          <span>表格录入</span>
          <el-button v-if="up" @click='UpDown' icon="el-icon-arrow-up">收起</el-button>
          <el-button v-if="!up" @click='UpDown' icon="el-icon-arrow-down">展开</el-button>
        </div>
        <div v-if="up">
            <Slect ref="child" :form="form" :options="options" v-on:selectEvent="fomMite" v-on:fwbIndexEvent="fwbIndex" />
        </div>
        <span v-if="she_bei&&up">
          <input type="file" class="file el-button el-button--primary" ref="excelFile" @change="excelFile">
          <el-button @click="donFile" style="color:red;">下载格式文件!</el-button>
          <span style="color:red;">批量导入前先下载格式文件</span>
        </span>
      </div>
      <div v-show="fwb_show">
        <Fwb ref="childfwb" v-on:itemEvent="editorContent" />
      </div>
      
      
    </div>
</template>

<script>
import {
  updateEsdata,
  addEsdata,
  fullTable,
  deleEsdata,
  getSys,
  upLoadExe,
  outExcel
} from "@/api/assets";
import Fullele from "@/components/EsVue/FullEle";
import Fwb from "@/components/EsVue/fwb";
import Slect from "@/components/EsVue/Slecte";
export default {
  props: ["datas"],
  data() {
    return {
      up: true,
      form: {},
      formLists: [],
      options: {},
      field_sys_name: "", // 系统
      is_show: {}, // 用于判断是否必填
      fwn_index: "",
      fwb_show: false,
      fNum: 0,
      total: 0
    };
  },
  components: {
    Fullele,
    Fwb,
    Slect
  },
  computed: {
    she_bei() {
      if (!this.datas.index_name) {
        return false;
      }
      return this.datas.index_name == "设备";
    }
  },
  methods: {
    editorContent(data) {
      // 富文本
      console.log(data);
      this.fwb_show = !this.fwb_show;
      //this.form[this.fwn_index] = data
      this.$refs.child.changeFwb(this.fwn_index, data);
      this.$set(this.form, this.fwn_index, data);
    },
    fwbIndex(data) {
      this.fwn_index = data.index;
      this.fwb_show = !this.fwb_show;
      // 再次编辑时记录原有值
      this.$refs.childfwb.dataChange(data.html)
    },
    excelFile() {
      // 批量导入excle格式数据
      let excel = this.$refs.excelFile.files[0];
      console.log(excel);
      // 上传数据
      let formdata = new FormData();
      formdata.append("file", excel);
      upLoadExe(formdata).then(data => {
        let res = data.data;
        console.log(data);
        if (res.code == 1) {
          // 批量插入
          this.excel_datas(res.data);
        }
      });
    },
    excel_datas(data) {
      var es_datas = [];
      let obj = Object.assign({}, this.form); // 对象浅拷贝
      data.forEach(item => {
        let i = 0;
        for (let index in obj) {
          this.form[index] = item[i];
          i++;
        }
        this.form["add_user"] = localStorage.getItem("username"); // 填表人
        let obj1 = Object.assign({}, this.form);
        es_datas.push(obj1);
      });
      let postData = {
        index_name: this.datas.index_name,
        data: es_datas
      };
      console.log(postData.data);
      updateEsdata(postData).then(data => {
        let res = data.data;
        if (res.code == 1) {
          alert("成功添加" + es_datas.length + "条记录");
          this.getFullTable(); // 重新获取已经填写的表数据
        } else {
          alert(res.desc);
        }
      });
    },
    donFile() {
      window.open("http://192.168.99.131:5000/api/v1.0/download/shebei.xlsx");
    },
    getItemeTable() {
      // 让后端生成子表结构
      addEsdata(this.datas).then(data => {
        let res = data.data;
        if (res.code != 1) {
          alert(res.desc);
        }
      });
    },
    getPage(page){
      // 分頁
      console.log(page)
      this.fNum = (page - 1)*10  // 比如第二页的类容是从10到20
      this.getFullTable(this.fNum)  
    },
    getFullTable(fNum) {
      fNum?fNum:0
      // 获取已经填写了的表数据
      fullTable(this.datas.index_name,fNum).then(data => {
        let res = data.data;
        if (res.code == 1) {
          this.total = res.total;
          if (!res.data) {
            return false;
          }
          let lists = [];
          res.data.forEach(ele => {
            lists.push(ele);
          });
          this.formLists = lists;
        }
      });
    },
    addSys() {
      this.$router.push({ name: "资产表" });
    },
    fomMite(data,num) {
      // 填表人字段名  add_user
      this.form["add_user"] = localStorage.getItem("username"); // 填表人
      let postData = {
        index_name: this.datas.index_name,
        data: []
      };
      if(num){
        for(let i=0;i<num;i++){
          postData.data.push(this.form)   // 仅在设备时起作用   
        }
      }else{
        postData.data.push(this.form)
      }
      console.log(postData.data);
      updateEsdata(postData).then(data => {
        let res = data.data;
        if (res.code == 1) {
          this.$notify({
            title: "成功",
            message: "成功添加一条记录",
            type: "success"
          });
          this.init();   // 重新获取已经填写的表数据
        } else {
          this.$notify.error({
            title: "失败",
            message: res.desc
          });
        }
      });
    },
    reload(){
      // 删除触发
      this.getFullTable(); // 获取已经填写的表数据
    },
    showF(item) {
      if (
        item.field_dis_zh == "功能描述" ||
        item.field_dis_zh == "组成结构" ||
        item.field_dis_zh == "业务互联"
      ) {
        return true;
      }
      return false;
    },
    UpDown() {
      this.up = !this.up;
    },
    outToExcel(){
      // 数据导出
      outExcel(this.datas).then(data=>{
        let res = data.data;
        console.log(res);
        if (res.code == 1) {
          // 下载该excel
          window.open("http://192.168.99.131:5000/api/v1.0/download/sample.xlsx");
        }
      })
    },
    init() {
      this.datas.fields.forEach(item => {
        this.$set(this.form,item.field_name,"");
      });
      this.getFullTable(); // 获取已经填写的表数据
    }
  },
  created() {
    if (this.datas) {
      this.$store.commit("SAVE_ESBASE", this.datas); // 当前字表数据存入store中
    }
    this.init();
  }
};
</script>

<style>
.pagenation{
  width:400px;margin:20px auto;
}
</style>


<style scoped>
.flag {
  height: 60px;
}
.file {
  color: transparent;
  display: inline-block;
  width: 100px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
}
.body {
  width: 98%;
  margin: 0 auto;
}

.form {
  width: 60%;
  margin: 0 10%;
}
.button {
  text-align: right;
}
.item_name,
.eslist-container {
  width: 80%;
}

.edit {
  width: 20%;
  text-align: center;
}

.grid-content {
  text-indent: 50px;
  line-height: 36px;
  color: #000;
  min-height: 36px;
}
.bg-purple-dark {
  background: #e6e9eb;
}
.form-option {
  width: 60%;
}
</style>




