<template>
  <div class="body">
    <div class="form">
      <el-form ref="form" label-width="100px">
        <div class="item_input">
          <el-form-item label="表名">
            <el-input v-model="index_name" placeholder="自定义表名"></el-input>
          </el-form-item>
        </div>
        <div class="body_flex" v-for="form_data in form_datas">
          <div class="item_flex">
            <div class="item_input">
              <el-form-item label="中文描述">
                <el-input v-model="form_data.field_dis_zh" placeholder="中文描述"></el-input>
              </el-form-item>
            </div>
            <div class="item_input">
              <el-form-item label="英文描述">
                <el-input v-model="form_data.field_dis_en" placeholder="英文描述"></el-input>
              </el-form-item>
            </div>
          </div>
          <div class="item_flex">
            <el-form-item label="字段类型">
              <el-select v-model="form_data.field_type" placeholder="请选择类型">
                <el-option
                  v-for="item in form_data.options"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value"
                ></el-option>
              </el-select>
            </el-form-item>
            <!-- <el-form-item label="是否统计">
              <el-switch
                v-model="form_data.is_total"
                active-color="#13ce66"
                @change="total(form_data.is_total)"
                inactive-color="#ff4949"
              ></el-switch>
            </el-form-item> -->
            <el-form-item label="是否必填">
              <el-switch
                v-model="form_data.is_must"
                active-color="#13ce66"
                @change="fill_in(form_data.is_must)"
                inactive-color="#ff4949"
              ></el-switch>
            </el-form-item>
            <el-form-item label="删除此字段">
              <el-button type="danger" size="mini" icon="el-icon-delete"  @click="delField(form_data)" circle></el-button>
            </el-form-item>
          </div>

          <el-form-item label="枚举值">
            <el-input
              type="textarea"
              v-model="form_data.field_enum"
              placeholder="按json格式填写  没有子分类[{name:'国内'},{name:'国外'}] 有子分类 [{ name: '工业生产控制设备', childern: [{name:'可逻辑编程控制器（PLC）'},{name:'分布式控制系统（DCS）'},] },]"
            ></el-input>
          </el-form-item>
          
        </div>
        <div class="create">
          <el-form-item>
            <el-button type="primary" @click="onSubmit">修改</el-button>
            <el-button>取消</el-button>
          </el-form-item>
        </div>
      </el-form>
    </div>
    <div class="edit">
      <el-button type="primary" @click="addField">添加字段</el-button>
    </div>
  </div>
</template>

<script>
import { editBase } from "@/api/assets";

export default {
  data() {
    return {
      form_datas: [],
      formLists: [],
      id: ""
    };
  },
  methods: {
    onSubmit() {
      let datas = [];
      let len = this.form_datas.length;
      for (var i = 0; i < len; i++) {
        let data = {};
        //  field_enum 按“，”分割
        data.field_name = "";
        data.field_dis_zh = this.form_datas[i].field_dis_zh;
        data.field_dis_en = this.form_datas[i].field_dis_en;
        data.is_total = this.form_datas[i].is_total;
        data.is_must = this.form_datas[i].is_must;
        data.field_type =
          this.form_datas[i].field_type == "enum"
            ? "text"
            : this.form_datas[i].field_type;
        if (this.form_datas[i].field_enum.length) {
          // console.log(this.form_datas[i].field_enum)
          // console.log(JSON.parse(this.form_datas[i].field_enum))
          data.field_enum = this.form_datas[i].field_enum;
        } else {
          data.field_enum = [];
        }
        datas.push(data);
      };
      console.log(datas);
      editBase({id:this.id, data:datas, index_name:this.index_name}).then(data => {
        let res = data.data;
        if (res.code == 1) {
          alert(res.desc);
          this.$router.go(-1)  //
        } else {
          alert(res.desc);
        }
      });
    },
    addField() {
      let form = {
        index_name: "",
        field_dis_zh: "",
        field_dis_en: "",
        field_enum: "",
        is_total: false,
        is_must: true,
        field_type: "",
        options: [
          {
            value: "text",
            label: "字符串"
          },
          {
            value: "integer",
            label: "数字类型"
          },
          {
            value: "enum",
            label: "枚举型"
          }
        ]
      };
      this.form_datas.push(form);
    },
    delField(field){
      console.log(this.form_datas.length)
      this.form_datas.splice(this.form_datas.indexOf(field),1)
      // splice函数的第二个参数指删除的数目。splice直接修改原数组，并把删除的所有元素以另一个新数组的方式返回。
      console.log(this.form_datas.length)
    },
    total(is_total) {
      is_total = !is_total;
    },
    fill_in(is_must) {
      is_must = !is_must;
    }
  },
  created() {
    let data = this.$route.params.esdata
      ? this.$route.params.esdata._source.fields
      : null;
    if (!data) {
      this.$router.push({ name: "资产表" });
      return false;
    }
    this.index_name = this.$route.params.esdata._source.index_name;
    this.id = this.$route.params.esdata._id;
    let options = [
      {
        value: "text",
        label: "字符串"
      },
      {
        value: "integer",
        label: "数字类型"
      },
      {
        value: "enum",
        label: "枚举型"
      }
    ];
    if (data) {
      data.forEach(item => {
        if (item.is_must == undefined) {
          item.is_must = true;
        }
        
        if(item.field_enum.length){
          // 数组转字符
          item.field_type = 'enum'
        }else{
          item.field_enum = ''
          item.field_type = 'text'
        }
        item.options = options;
      });
    }
    this.form_datas = data;
  }
};
</script>
<style scoped>
.body {
  width: 98%;
}
.form {
  width: 90%;
}
.edit {
  width: 10%;
  text-align: right;
}
.body {
  display: flex;
}
.body_flex {
  padding-top: 22px;
  border-bottom: 1px solid #ccc;
}
.item_flex {
  display: flex;
}
.item_input {
  width: 50%;
}
.create {
  margin-top: 22px;
}
.edit {
  width: 20%;
  text-align: center;
}
.create_list {
  display: flex;
}
.item_name {
  flex: 1;
}
.button {
  width: 154px;
}
.es-row {
  margin-bottom: 20px;
}
.grid-content {
  text-indent: 50px;
  line-height: 36px;
  color: #000;
  min-height: 36px;
}
.bg-purple-dark {
  background: #e6e9eb;
}
</style>
