<template>
  <div class="app-container">
    <div>
      <el-form ref="form" :model="form" label-width="120px">
        <div style="margin-bottom: 10px">任务管理</div>
        <el-carousel :autoplay="false" indicator-position='buttom' :height="formHeight" trigger='click' ref='carousel' @change="handleCarouselChange">
          <el-carousel-item label="载入剧本">
            <el-table :data="playbookTemplateData" class="playbookTemplateTable">
              <el-table-column property="created_at" label="日期" width="150"></el-table-column>
              <el-table-column property="name" label="名称" width="200"></el-table-column>
              <el-table-column property="description" label="描述"></el-table-column>
              <el-table-column label="操作">
                <template slot-scope="scope">
                  <el-button size="mini" @click="handleLoadPlaybookTemplate(scope.$index, scope.row)">载入</el-button>
                  <el-button size="mini" type="danger" @click="handleDeletePlaybookTemplate(scope.$index, scope.row)">删除</el-button>
                </template>
              </el-table-column>
            </el-table>
          </el-carousel-item>
          <template v-for="(pbPlaybook, pbIndex) in form.pb">
          <el-carousel-item
            v-if="'playbook' in pbPlaybook"
            :key='pbPlaybook + pbIndex'
            :label="(Boolean(pbPlaybook.playbook) && ('category' in pbPlaybook.playbook)) ? '剧本 ' + (pbIndex+1) + ' ' + pbPlaybook.playbook.category : '剧本 ' + (pbIndex+1) + ' '"
            :name='pbIndex'>

            <el-form-item :label="'剧本 ' + (pbIndex+1)"></el-form-item>
            <el-form-item label="剧本类型">
              <el-radio-group v-model="form.pb[pbIndex].selectedCategory" @change="selectCategory(pbIndex)">
                <el-radio-button
                  v-for='item in categories'
                  :key="item"
                  :label="item">
                </el-radio-button>
              </el-radio-group>
            </el-form-item>

            <el-form-item label="剧本">
              <el-radio-group v-model="form.pb[pbIndex].selectedPlaybook" placeholder="请选择剧本" @change="selectPlaybook(form.pb[pbIndex].selectedPlaybook, pbIndex)">
                <el-radio-button
                  v-for='item in allPlaybooks'
                  v-if='item.category === form.pb[pbIndex].selectedCategory'
                  :key='item.description'
                  :label='item.name'
                  >
                  {{ item.description }}
                </el-radio-button>
              </el-radio-group>
            </el-form-item>

            <template class="extraVars" v-if="form.pb[pbIndex].hasExtraVars">
              <template v-for="(extraVar, extraVarIndex) in form.pb[pbIndex].playbook.extra_vars">
                <el-form-item :label="extraVar.key" :key="extraVar.value_description"
                :style="{'display': form.pb[pbIndex].playbook.extra_vars.length > 5 ? 'inline-block': 'block'}">
                  <el-tooltip class="item" effect="dark" :content="extraVar.value_description" placement="top-start">}
                    <template v-if="extraVar.value_type">
                      <el-upload
                        class="upload-demo"
                        action="string"
                        :data="{pbIndex: pbIndex, extraVarIndex: extraVarIndex}"
                        :http-request="handleUpload"
                        :limit="1"
                        :on-success="(res, file) => {return handleUploadSuccess(res, file, extraVarIndex)}"
                        style="width: 250px"
                      >
                        <el-button size="small" type="primary">上传文件</el-button>
                      </el-upload>
                    </template>
                    <el-input v-model="extraVar.value" :placeholder="extraVar.value_description" style="width: 250px;"></el-input>
                  </el-tooltip>
                </el-form-item>
              </template>
            </template>
            <el-form-item>
              <el-button @click="addPlaybook(pbIndex)" class='addPlaybookBtn'>添加剧本</el-button>
              <el-button @click.prevent="removePlaybook(pbIndex)" :disabled="form.pb.length === 2">删除剧本</el-button>
            </el-form-item>
          </el-carousel-item>
          <el-carousel-item v-if="!('playbook' in pbPlaybook)" label='运行' :key="'execute' + pbIndex">
            <el-card>
              <el-form-item
                v-for="(ip, index) in form.ipList"
                :label="'IP 地址'"
                :key="ip.key"
                :prop="'ipList.' + index + '.value'"
                :rules=ipRule
              >
                <el-input v-model="ip.value" style="width: 250px"></el-input>
                <el-button @click="addIp">添加</el-button>
                <el-button @click.prevent="removeIp(ip)" :disabled="form.ipList.length === 1">删除</el-button>
              </el-form-item>

              <el-form-item>
                <el-button type="primary" @click="submit" :disabled="isRunning">运行剧本</el-button>
                <el-button type="primary" @click="savePlaybook">保存剧本</el-button>
                <!--<el-button type="primary" @click="loadPlaybook">载入剧本</el-button>-->
              </el-form-item>
            </el-card>
            <el-card class="box-card responseCard">
              <div v-for="(line, index) in response" :key="index" class="text item">
                {{ line }}
              </div>
            </el-card>
          </el-carousel-item>
          </template>
        </el-carousel>

      </el-form>
    </div>
    <el-dialog
     title="确认剧本"
     :visible.sync="dialogVisible"
     width="30%">
     <span><pre v-text="confirmData"></pre></span>
     <span slot="footer" class="dialog-footer">
       <el-button @click="dialogVisible = false">取 消</el-button>
       <el-button type="primary" @click="handleConfirm">确 定</el-button>
     </span>
    </el-dialog>

    <el-dialog title="载入剧本" :visible.sync="playbookTemplateTableVisible">
      <el-table :data="playbookTemplateData">
        <el-table-column property="created_at" label="日期" width="150"></el-table-column>
        <el-table-column property="name" label="名称" width="200"></el-table-column>
        <el-table-column property="description" label="描述"></el-table-column>
        <el-table-column label="操作">
          <template slot-scope="scope">
            <el-button size="mini" @click="handleLoadPlaybookTemplate(scope.$index, scope.row)">载入</el-button>
            <el-button size="mini" type="danger" @click="handleDeletePlaybookTemplate(scope.$index, scope.row)">删除</el-button>
          </template>
        </el-table-column>
      </el-table>
    </el-dialog>

    <el-dialog title="保存剧本" :visible.sync="savePlaybookTemplateForm.visible">
      <el-form :model="form">
        <el-form-item label="名称" label-width="40px">
          <el-input v-model="savePlaybookTemplateForm.name" auto-complete="off"></el-input>
        </el-form-item>
        <el-form-item label="描述" label-width="40px">
          <el-input v-model="savePlaybookTemplateForm.description" type="textarea" auto-complete="off"></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="savePlaybookTemplateForm.visible = false">取 消</el-button>
        <el-button type="primary" @click="handleSavePlaybookTemplate">确 定</el-button>
      </div>
    </el-dialog>
    <!-- {{ $data.form }} -->
  </div>
</template>
<script>
  import { getPlaybook, executePlaybook, executePlaybooks, uploadFile, getPlaybookTemplate, savePlaybookTemplate, deletePlaybookTemplate } from '@/api/ansible'
  let io = require('socket.io-client')
  export default {
    data() {
      return {
        form: {
          pb: [{
            playbook: '',
            selectedPlaybook: '',
            selectedCategory: '',
            extraVarIndex: '',
            hasExtraVars: false,
            key: Date.now()
          },{}],
          ipList: [{
            'value': ''
          }],
        },
        savePlaybookTemplateForm: {
          visiable: false,
          name: '',
          description: '',
          data: ''
        },
        formHeight: '500px',
        allPlaybooks: '',
        categories: '',
        postData: {},
        socket: '',
        response: [],
        isRunning: false,
        confirmData: '',
        dialogVisible: false,
        playbookTemplateTableVisible: false,
        activeCarouselIndex: '',
        playbookTemplateData: '',
        ipRule: [
          {
            validator(rule, value, callback, source, options) {
              var errors = [];
              if (!/^((25[0-5]|2[0-4]\d|((1\d{2})|([1-9]?\d)))\.){3}(25[0-5]|2[0-4]\d|((1\d{2})|([1-9]?\d)))$/.test(value)) {
                callback('IP格式不正确');
              }
              callback(errors);
            }, trigger: 'blur',
          },
        ],
      }
    },
    mounted() {
      if (!/\/\?\#\//.exec(window.location.herf)) {
        window.location.href = window.location.protocol + '//' + window.location.host + window.location.pathname + '?' + window.location.hash
      }
      this.outputSocket()
      this.fetchPlaybook()
    },
    methods: {
      getType() {
      },
      setHeight(index) {
        setTimeout(() => {
          function getElementTop(element){
          　　var actualTop = element.offsetTop;
          　　var current = element.offsetParent;
          　　while (current !== null){
          　　　　actualTop += current.offsetTop;
          　　　　current = current.offsetParent;
          　　}
          　　return actualTop + element.scrollHeight;
          }
          if (index === 0) {
            var h = getElementTop(document.getElementsByClassName('playbookTemplateTable')[0]);
          }
          else if (index === this.form.pb.length) {
            var h = getElementTop(document.getElementsByClassName('responseCard')[0])
          }
          else {var h = getElementTop(document.getElementsByClassName('addPlaybookBtn')[this.activeCarouselIndex-1])
          }
          if (h > 500){
            this.formHeight = h + 'px'
          }
          else {
            this.formHeight = '500px'
          }
            console.log(h)
          }, 100)
      },
      selectCategory (pbIndex){
        this.setHeight(this.activeCarouselIndex)
        this.form.pb[pbIndex].selectedPlaybook = ''
        this.form.pb[pbIndex].playbook = ''
        this.form.pb[pbIndex].extraVarIndex = ''
      },
      selectPlaybook(playbook, pbIndex) {
        this.setHeight(this.activeCarouselIndex)
        this.form.pb[pbIndex].playbook = JSON.parse(JSON.stringify(this.allPlaybooks.find( pb => pb.name === playbook)))
        this.form.pb[pbIndex].hasExtraVars = Boolean(this.form.pb[pbIndex].playbook.extra_vars.length)
      },
      addPlaybook(pbIndex) {
        this.form.pb.splice(pbIndex+1, 0, {
            playbook: '',
            selectedPlaybook: '',
            selectedCategory: '',
            extraVarIndex: '',
            hasExtraVars: false,
            key: Date.now()
          })
        setTimeout(() => {
          this.$refs.carousel.setActiveItem(pbIndex + 2)
        }, 50)
      },
      removePlaybook(pbIndex) {
        if (pbIndex > 0) {
          setTimeout(() => {
            this.$refs.carousel.setActiveItem(pbIndex)
          }, 50)
        }
        this.form.pb.splice(pbIndex, 1)
      },
      addIp() {
        this.form.ipList.push({
          value: '',
          key: Date.now()
        })
      },
      removeIp(item) {
        var index = this.form.ipList.indexOf(item)
        if (index !== -1) {
          this.form.ipList.splice(index, 1)
        }
      },
      submit() {
        this.$refs['form'].validate((valid) => {
          if (valid) {
            // this.isRunning = true
            this.confirmData = ''
            this.postData = {}
            var playbookData = []
            var ipListLength = this.form.ipList.length;
            var ipList = []
            for (var i = 0; i < ipListLength; i++) {
              if (this.form.ipList[i].value !== '') {
                ipList.push(this.form.ipList[i].value)
              }
            }
            var playbookLength = this.form.pb.length - 1;
            for (var i = 0; i < playbookLength; i++){
              playbookData.push(this.form.pb[i].playbook)
            }

            for (var dataIndex in playbookData) {
              this.confirmData = this.confirmData + '剧本: ' + playbookData[dataIndex].description + '\n'
              if (playbookData[dataIndex].extra_vars.length) {
                this.confirmData = this.confirmData + '参数: \n'
                for (var varIndex in playbookData[dataIndex].extra_vars) {
                this.confirmData = this.confirmData + '  ' + playbookData[dataIndex].extra_vars[varIndex].key + ': ' + playbookData[dataIndex].extra_vars[varIndex].value + '\n'
                }
              }
              this.confirmData += '\n'
            }
            this.confirmData += '\n主机列表:\n'
            for (var i = 0; i < ipList.length; i++) {
              this.confirmData = this.confirmData + '  ' + ipList[i] + '\n'
            }
            this.postData.playbook = playbookData
            this.postData.ip = ipList
            this.postData.sid = this.socket.id
            console.log(JSON.stringify(this.postData))
            this.dialogVisible = true
          } else {
            return false;
          }
        });
      },
      outputSocket() {
        this.socket = io.connect("localhost:5002/ansible")
        console.log(this.socket.id)
        this.socket.on('error', (error) => {
          console.log("error:" + error)
        });
        this.socket.on('connect_timeout', (error) => {
          console.log("connect_timeout:" + error)
        });
        this.socket.on('connect', () => {
          console.log('ansible connect:' + 'ok!')
          this.socket.emit('ansible output')
        });
        this.socket.on('disconnect', (reason) => {
          console.log("disconnect reason:" + reason)
        });
        this.socket.on('reconnect', (attempt) => {
          console.log("attempt:" + attempt)
        });
        this.socket.on('ansible output', (output) => {
          this.response.push(output.data)
          this.setHeight(this.activeCarouselIndex)
        })
      },
      fetchPlaybook (){
        getPlaybook().then(response => {
          this.allPlaybooks = response.data.playbooks
          this.categories = response.data.categories
        })
      },
      handleUploadSuccess (response, file, extraVarIndex){
        this.form.playbook.extra_vars[extraVarIndex].value = response
      },
      handleUpload (param){
        var pbIndex = param.data.pbIndex
        var extraVarIndex = param.data.extraVarIndex
        var formData = new FormData();
        formData.append("file", param.file)
        uploadFile(formData).then(response => {
          this.form.pb[pbIndex].playbook.extra_vars[extraVarIndex].value = response.data
        })
      },
      handleConfirm (){
        this.dialogVisible = false
        console.log(JSON.stringify(this.form))
        this.response = []
        executePlaybooks(this.postData).then(response => {
              this.isRunning = false
            })
      },
      handleCarouselChange (index) {
        if (index === 0) {
          this.fetchPlaybookTemplate()
        }
        this.activeCarouselIndex = index
        this.setHeight(this.activeCarouselIndex)
      },
      fetchPlaybookTemplate (){
        getPlaybookTemplate().then(response => {
          this.playbookTemplateData = response.data
          this.setHeight(this.activeCarouselIndex)
        })
      },
      handleLoadPlaybookTemplate(index, row) {
        this.form.pb = row.data
        // this.playbookTemplateTableVisible = false
        setTimeout(() => {this.$refs.carousel.setActiveItem(this.form.pb.length)
          }, 50)
      },
      handleDeletePlaybookTemplate(index, row) {
        console.log({'id': row.id})
        deletePlaybookTemplate({'id': row.id}).then(() => {
          getPlaybookTemplate().then(response => {
            this.playbookTemplateData = response.data
          })
        })
      },
      // loadPlaybook() {
      //   this.playbookTemplateTableVisible = true
      //   this.fetchPlaybookTemplate()
      // },
      savePlaybook() {
        this.savePlaybookTemplateForm = {visible: true, name: '', description: '', data: ''}
      },
      handleSavePlaybookTemplate() {
        this.savePlaybookTemplateForm.visible = false
        this.savePlaybookTemplateForm.data = this.form.pb
        savePlaybookTemplate(this.savePlaybookTemplateForm)
      }
    }
  }


</script>
