<template>
  <div class="app-container">
    <div>
      <el-form ref="form" :model="form" label-width="120px">
        	<div style="margin-bottom: 10px">任务管理</div>
        <el-form-item label="目标设备类型">
          <el-radio v-model="form.deviceType" label='server' @change="getType">服务器</el-radio>
          <el-radio v-model="form.deviceType" label='networkDevice' @change="getType">网络设备</el-radio>
        </el-form-item>

        <el-form-item label="配置类型">
          <el-select v-model="form.selectedPlaybook" placeholder="请选择配置类型" @change="getPlaybook">
            <el-option
              v-for="(attribute, item) in playbook[form.deviceType]"
              :key="item"
              :label="item"
              :value="item">
            </el-option>
          </el-select>
        </el-form-item>

        <el-form-item label="配置选项" v-if="hasTag">
          <el-radio-group v-model="data.tags[0]">
            <el-radio v-for="(tag, index) in playbook[form.deviceType][form.selectedPlaybook].tags"
              :key="index" 
              :label="tag.tag"
              @change="getTag(index)">
              {{ tag.description }}
            </el-radio>
          </el-radio-group>
        </el-form-item>
        
        <div v-if="hasExtraVars">
          <el-form-item
            v-for="(vars, index) in playbook[form.deviceType][form.selectedPlaybook]['tags'][tagIndex]['extra_vars']"
            :label="vars.description"
            :key="index"
          >
            <el-input v-model="vars.value" style="width: 250px" :placeholder="vars.placeholder"></el-input>
          </el-form-item>
        </div>

        <!-- <el-form-item label="IP 地址">
          <el-col :span="4">
            <el-form-item prop="ipMin" :rules=ipRule>
              <el-input placeholder="起始地址" v-model="form.ipMin">
              </el-input>
             </el-form-item>
            </el-col>
            <el-col :span='0.5'>&nbsp;&nbsp;-&nbsp;&nbsp;</el-col>
            <el-col :span="4">
              <el-form-item  prop="ipMax" :rules=ipRule>
              <el-input placeholder="结束地址" v-model="form.ipMax">
              </el-input>
              </el-form-item>
            </el-col>
        </el-form-item> -->

        <el-form-item
          v-for="(ip, index) in form.ips"
          :label="'IP 地址'"
          :key="ip.key"
          :prop="'ips.' + index + '.value'"
          :rules=ipRule
        >
          <el-input v-model="ip.value" style="width: 250px"></el-input>
          <el-button @click="addIp">添加</el-button>
          <el-button @click.prevent="removeIp(ip)" :disabled="form.ips.length == 1">删除</el-button>
        </el-form-item>

        <el-form-item>
          <el-button type="primary" @click="submit" :disabled="isRunning">确定</el-button>
          <el-button type="primary" @click="cancel">取消</el-button>
        </el-form-item>
      </el-form>
    </div>

    <el-card class="box-card">
      <div v-for="(line, index) in this.response" :key="index" class="text item">
        {{ line }}
      </div>
    </el-card>
  </div>
</template>
<script>
  import { autoOps } from '@/api/ansible'
  let io = require('socket.io-client')
  export default {
    data() {
      return {
        form: {
          deviceType: '',
          selectedPlaybook: '',
          // ipMin: '',
          // ipMax: '',
          ips: [{
            'value': ''
          }],
        },
        playbook: {
          server: {
            ECN: {},
            LINK_MON_SLAVE: {},
          },
          networkDevice: {
            interface: {
              tags: [{
                tag: 'add',
                description: '添加',
                extra_vars: [{
                  name: 'interface',
                  description: '接口名',
                  placeholder: '请输入接口名',
                  value: '',
                },{
                  name: 'ipaddr',
                  description: 'IP 地址',
                  placeholder: '请输入 IP 地址，如 192.168.1.1/24',
                  value: '',
                }]
              },{
                tag: 'delete',
                description: '删除',
                extra_vars: [{
                  name: 'interface',
                  description: '接口名',
                  placeholder: '请输入接口名',
                  value: '',
                },{
                  name: 'ipaddr',
                  description: 'IP 地址',
                  placeholder: '请输入 IP 地址，如 192.168.1.1/24',
                  value: '',
                }]
              }],  
            },
            static_route: {
              tags: [{
                tag: 'add',
                description: '添加',
                extra_vars: [{
                  name: 'prefix',
                  description: '目的地址',
                  placeholder: '请输入目的地址，如 192.168.1.0/24',
                  value: '',
                },{
                  name: 'next_hop',
                  description: '下一跳地址',
                  placeholder: '请输入下一跳地址，如 192.168.1.1',
                  value: '',
                }]
              },{
                tag: 'delete',
                description: '删除',
                extra_vars: [{
                  name: 'prefix',
                  description: '目的地址',
                  placeholder: '请输入目的地址，如 192.168.1.0/24',
                  value: '',
                },{
                  name: 'next_hop',
                  description: '下一跳地址',
                  placeholder: '请输入下一跳地址，如 192.168.1.1',
                  value: '',
                }]
              }],  
            },
          }
        },
        data: {
          device_type: '',
          extra_vars: {},
          playbook: '',
          tags: [''],
          device: 'vyos',
          ip_list: [],
          sid: ''
        },
        socket: '',
        response: [],
        tagIndex: 0,
        hasTag: false,
        hasExtraVars: false,
        isRunning: false,
        ipRule: [
          {
            validator(rule, value, callback, source, options) {
              var errors = [];
              if (!/^((25[0-5]|2[0-4]\d|((1\d{2})|([1-9]?\d)))\.){3}(25[0-5]|2[0-4]\d|((1\d{2})|([1-9]?\d)))$/.test(value)) {
                callback('IP格式不正确');
              }
              callback(errors);
            }, trigger: 'blur',
          },
        ],
      }
    },
    mounted() {
      this.outputSocket()
    },
    methods: {
      getType() {
        this.form.selectedPlaybook = ''
        this.tagIndex = 0 
        this.hasTag = false
        this.hasExtraVars = false
        this.data.tags[0] = ''
        // console.log(this.form.deviceType)
        // console.log(this.hasTag)
      },
      getPlaybook() {
        this.tagIndex = 0 
        this.hasTag = false
        this.hasExtraVars = false
        this.data.tags[0] = ''
        if (('tags' in this.playbook[this.form.deviceType][this.form.selectedPlaybook]) && 
            (this.playbook[this.form.deviceType][this.form.selectedPlaybook].tags[0].tag !== 'all')) {
          this.hasTag = true
        }
        if (('tags' in this.playbook[this.form.deviceType][this.form.selectedPlaybook]) &&
            (this.playbook[this.form.deviceType][this.form.selectedPlaybook]['tags'][0].tag == 'all') &&
            ('extra_vars' in this.playbook[this.form.deviceType][this.form.selectedPlaybook]['tags'][0])) {
          this.hasExtraVars = true
        }
      },
      getTag(index) {
        this.tagIndex = index
        this.hasExtraVars = false
        if ('extra_vars' in this.playbook[this.form.deviceType][this.form.selectedPlaybook]['tags'][index]) {
          this.hasExtraVars = true
        }
        // console.log(this.hasExtraVars)
      },
      addIp() {
        this.form.ips.push({
          value: '',
          key: Date.now()
        })
      },
      removeIp(item) {
        var index = this.form.ips.indexOf(item)
        if (index !== -1) {
          this.form.ips.splice(index, 1)
        }
      },
      submit() {   
        this.$refs['form'].validate((valid) => {
          if (valid) {
            this.data.extra_vars = {}
            this.isRunning = true
            this.response = ["配置中，请稍候"] 
            var length = this.form.ips.length;
            var ipList = []
            for (var i=0; i < length; i++) {
              if (this.form.ips[i].value !== '') {
                ipList.push(this.form.ips[i].value)
              }
            }
            this.data.ip_list = ipList
            this.data.device_type = this.form.deviceType
            this.data.playbook = this.form.selectedPlaybook
            this.data.sid = this.socket.id
            if (this.data.tags[0]) {
              for (var index in this.playbook[this.form.deviceType][this.form.selectedPlaybook]['tags'][this.tagIndex]['extra_vars']) {
                this.data.extra_vars[this.playbook[this.form.deviceType][this.form.selectedPlaybook]['tags'][this.tagIndex]['extra_vars'][index]['name']] = 
                this.playbook[this.form.deviceType][this.form.selectedPlaybook]['tags'][this.tagIndex]['extra_vars'][index]['value']
              }
            }
            else if (('tags' in this.playbook[this.form.deviceType][this.form.selectedPlaybook]) && 
                     (this.playbook[this.form.deviceType][this.form.selectedPlaybook]['tags'][0].tag == 'all')){
              for (var index in this.playbook[this.form.deviceType][this.form.selectedPlaybook]['tags'][0]['extra_vars']) {
                this.data.extra_vars[this.playbook[this.form.deviceType][this.form.selectedPlaybook]['tags'][0]['extra_vars'][index]['name']] = 
                this.playbook[this.form.deviceType][this.form.selectedPlaybook]['tags'][0]['extra_vars'][index]['value']
              }  
            }
            autoOps(this.data).then(response => {
              this.isRunning = false
              // this.response = response.data.data
            })                            
          } else {
            return false;
          }
        });
      },
      cancel() {
      },
      outputSocket() {
        this.socket = io.connect("localhost:5002/ansible")
        console.log(this.socket.id)
        this.socket.on('error', (error) => {
          console.log("error:" + error)
        });
        this.socket.on('connect_timeout', (error) => {
          console.log("connect_timeout:" + error)
        });
        this.socket.on('connect', () => {
          console.log('ansible connect:' + 'ok')
          this.socket.emit('ansible output')
        });
        this.socket.on('disconnect', (reason) => {
          console.log("disconnect reason:" + reason)
        });
        this.socket.on('reconnect', (attempt) => {
          console.log("attempt:" + attempt)
        });
        this.socket.on('ansible output', (output) => {
          console.log("output:" + output)
          console.log(this.socket.id)
          this.response.push(output)
          // this.socket.emit('ansible output')
        })
      }
    }
  }
  
  
</script>
