<template>
  <div class="app-container">
    <!-- 机房 -->
    <el-row>
      <el-col :span="24">
        <div>机房
          <el-button icon="el-icon-edit" style="float: right" type="primary"
                     @click="f_room.roomDialogFormVisible = true">
            新建机房
          </el-button>
        </div>
        <el-table
          :data="rooms"
          stripe style="width: 100%" @row-click="rowClikEvent" v-loading.body="router_loading">

          <el-table-column
            prop="id"
            label="机房id">
          </el-table-column>

          <el-table-column
            prop="name"
            label="机房名称">
          </el-table-column>
          <el-table-column
            prop="message"
            label="创建时间">
          </el-table-column>

          <el-table-column label="操作" align="center">
            <template slot-scope="scope_room">
              <el-button type="warning" size="small" @click="clearRoomRow(scope_room.$index, scope_room.row)">删除
              </el-button>
            </template>
          </el-table-column>
        </el-table>
      </el-col>
    </el-row>
    <br>
    <!-- 路由器 -->
    <el-row>
      <el-col :span="24">
        <div>{{router_title_name}}
          <el-button icon="el-icon-edit" type="primary" style="float: right"
                     @click="f_router.routerDialogFormVisible = true"
                     :disabled="current_room === null">
            新增路由器
          </el-button>
        </div>
        <el-table
          :data="routers"
          stripe style="width: 100%" v-loading.body="router_loading">
          <el-table-column
            prop="id"
            label="id"
          >
          </el-table-column>

          <el-table-column
            prop="name"
            label="路由器名">
          </el-table-column>
          <el-table-column
            prop="peer"
            label="peer">
          </el-table-column>
          <el-table-column
            prop="peer_as"
            label="peer_as">
          </el-table-column>
          <el-table-column
            prop="local_as"
            label="local_as">
          </el-table-column>
          <el-table-column label="操作" fixed="right" align="center" width="250">
            <template slot-scope="scope">
              <el-button
                size="small"
                @click="f_community.communityDialogFormVisible = true, define_id(scope.row),loadCommunity(scope.row)">community 信息管理
              </el-button>

              <el-button type="warning" size="small" @click="clearRouterRow(scope.$index, scope.row)">删除</el-button>
            </template>
          </el-table-column>
        </el-table>
      </el-col>
    </el-row>

    <!-- 新建机房对话框 -->
    <el-dialog title="新建机房" :visible.sync="f_room.roomDialogFormVisible">
      <h3>新建操作无法撤回！！！</h3>
      <el-form ref="f_room.createData" :model="f_room.createData" :rules="roomCreateRule" label-width="120px">
        <div style="margin-bottom: 10px">机房信息</div>

        <el-form-item label="机房名称" prop="name">
          <el-input v-model="f_room.createData.name" placeholder="请输入机房名称" style="width: 250px"></el-input>
        </el-form-item>
        <el-form-item label="描述" prop="message">
          <el-input v-model="f_room.createData.message" placeholder="请输入机房名称" style="width: 250px"></el-input>
        </el-form-item>

        <el-form-item>
          <el-button @click="f_room.roomDialogFormVisible = false">取消</el-button>
          <el-button type="primary" @click="addRoom('f_room.createData')">新建</el-button>
        </el-form-item>
      </el-form>
    </el-dialog>
    <!-- 新增路由器对话框 -->

    <el-dialog title="新增路由器" :visible.sync="f_router.routerDialogFormVisible">
      <h3>新建操作无法撤回：</h3>

      <el-form ref="f_router.createData" :model="f_router.createData" :rules="routerCreateRule" label-width="120px">
        <el-form-item label="所属机房" prop="room_name" :label-width="formLabelWidth">
          <el-input style="width:120px" v-model="f_router.createData.room_name" auto-complete="off" size="50px"
                    disabled></el-input>
        </el-form-item>
        <el-form-item label="路由器名称" prop="name" :label-width="formLabelWidth">
          <el-input style="width:120px" v-model="f_router.createData.name" auto-complete="off" size="50px"></el-input>
        </el-form-item>
        <el-form-item label="peer" prop="peer" :label-width="formLabelWidth">
          <el-input style="width:300px" v-model="f_router.createData.peer" placeholder="请输入远端ip地址"
                    auto-complete="off"></el-input>
        </el-form-item>
        <el-form-item label="peer as" prop="peer_as" :label-width="formLabelWidth">
          <el-input style="width:300px" v-model="f_router.createData.peer_as" placeholder="请输入远端as号"
                    auto-complete="off"></el-input>
        </el-form-item>
        <el-form-item label="local as" prop="local_as" :label-width="formLabelWidth">
          <el-input style="width:300px" v-model="f_router.createData.local_as" placeholder="请输入本地as号"
                    auto-complete="off"></el-input>
        </el-form-item>
        <el-form-item>
          <el-button @click="f_router.routerDialogFormVisible = false">取消</el-button>
          <el-button type="primary" @click="addRouter('f_router.createData')">新建</el-button>
        </el-form-item>
      </el-form>
    </el-dialog>
    <!-- 新增community对话框 -->

    <el-dialog title="添加 community 配置" :visible.sync="f_community.communityDialogFormVisible">
      <!-- <h2>机房名称：{{selectedRoom}}</h2> -->
      <h4>新建操作无法撤回!!</h4>
      <el-form ref="f_community.createData" :model="f_community.createData" :rules="communityCreateRule"
               label-width="120px">
        <!-- <div style="margin-bottom: 10px">机房信息</div> -->
        <el-form-item label="所属路由器" prop="peer_name">
          <el-input v-model="f_community.createData.peer_name" disabled style="width: 250px"></el-input>
        </el-form-item>

        <el-form-item label="名称" prop="name">
          <el-input v-model="f_community.createData.name" placeholder="请输入community name"
                    style="width: 250px"></el-input>
        </el-form-item>

        <el-form-item label="community" prop="community">
          <el-input v-model="f_community.createData.community" placeholder="请输入community"
                    style="width: 250px"></el-input>
        </el-form-item>

        <el-form-item>
          <el-button @click="f_community.communityDialogFormVisible = false">取消</el-button>
          <el-button type="primary" @click="addCommunity('f_community.createData')">新建</el-button>
        </el-form-item>

      </el-form>
      <!-- communities的展示列表 -->
      <el-table :data="communities" :default-sort="{prop: 'time', order: 'descending'}" border
                style="width: 100%" fit highlight-current-row v-loading.body="community_loading">

        <el-table-column
          prop="id"
          label="id">
        </el-table-column>

        <el-table-column
          prop="name"
          label="name">
        </el-table-column>

        <el-table-column
          prop="community"
          label="community">
        </el-table-column>

        <el-table-column label="操作" fixed="right" align="center">
          <template slot-scope="scope_community">
            <el-button type="warning" size="small"
                       @click="clearCommunityRow(scope_community.$index, scope_community.row)">删除
            </el-button>
          </template>
        </el-table-column>

      </el-table>
    </el-dialog>
  </div>
</template>

<script>
  import {
    loadRoom,
    apiAddRoom,
    apiAddRouter,
    ApiAddCommunity,
    getRouter,
    loadCommunity,
    apiDelRoom,
    ApiDelRouter,
    apiDelCommunity
  } from '@/api/route'
  import ElButton from "../../../node_modules/element-ui/packages/button/src/button.vue";

  export default {
    components: {ElButton},
    data() {
      return {
        current_room: null,
        router_title_name: "路由器信息",

        selectedRoom: '',
        rooms: [],
        routers: [],
        communities: [],

        formLabelWidth: '120px',
        f_room: {createData: {name: '', message: ''}, roomDialogFormVisible: false},
        f_router: {createData: {}, routerDialogFormVisible: false},
        f_community: {createData: {}, communityDialogFormVisible: false},

        roomCreateRule: {
          name: [{required: true, message: '请输入机房名称', trigger: 'change'}]
        },
        routerCreateRule: {
          name: [{required: true, message: '请输入路由器名称', trigger: 'change'}],
          peer: [{required: true, message: 'peer地址信息不能为空', trigger: 'change'}, {
            validator(rule, value, callback, source, options) {
              var errors = [];
              if (!/^((25[0-5]|2[0-4]\d|((1\d{2})|([1-9]?\d)))\.){3}(25[0-5]|2[0-4]\d|((1\d{2})|([1-9]?\d)))$/.test(value)) {
                callback('IP格式不正确！');
              }
              callback(errors);
            }, trigger: 'change',
          }],
          peer_as: [{
            type: 'number', required: true, message: '期望由数字构成', trigger: 'change', transform(value) {
              return Number(value);
            }
          }],
          local_as: [{
            type: 'number', required: true, message: '期望由数字构成', trigger: 'change', transform(value) {
              return Number(value);
            }
          }],
        },
        communityCreateRule: {
          name: [{required: true, message: '请输入community标示名称', trigger: 'change'}],
          community: [{required: true, message: 'community信息不能为空', trigger: 'change'}, {
            validator(rule, value, callback, source, options) {
              var errors = [];
              if (!/^\d+:\d+$/.test(value)) {
                callback('由数字 + ":" + 数字构成，例如：2342:678');
              }
              callback(errors);
            }, trigger: 'change',
          }],
        },
        router_loading: false,
        community_loading: false,
      }
    },
    created() {
      //载入机房基本信息
      this.loadRoom("load_room");
    },

    methods: {

      tip(msg, type) {
        this.$message({message: msg, type: type});
      },
      show_error_tip(message, code) {
        var msg = {998: "路由信息不存在", 997: "参数异常", 996: "线路异常", 999: "其他异常"};
        if (code in msg) {
          alert(message + msg[code]);
        }
        else {
          alert(message + `${msg}`);
        }
      },

      init_router_env() {
        this.f_router.createData = {
          room_name: this.current_room.name
        };
      },

//载入机房
      loadRoom(type) {
        this.router_loading = true;
        loadRoom(type).then(res => {
          if (res.data.status === 'error') {
            this.$message({
              showClose: true,
              message: '后台连接有故障，请联系平台维护人员！',
              type: 'warning',
              duration: 0
            });
          } else {
            if (res.data.result === "ok") {

              for (var i = 0; i < res.data.data.rooms.length; i++) {
                this.rooms.push({
                  'id': res.data.data.rooms[i][0],
                  'name': res.data.data.rooms[i][1],
                  'message': res.data.data.rooms[i][2]
                })

              } // end for
            } else {
              var code = res.data.error.code;
              this.show_error_tip("载入机房信息异常：", code)
            }
          } // end if else

          this.router_loading = false
        }) // end api loadRoom
      },

// 删除机房
      clearRoomRow(index, row) {
        this.$confirm(`确认删除此机房（ ${row.name} ）?`, '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning',
          center: true
        }).then(() => {
          apiDelRoom("del_room", row.id).then(res => {
            if (res.data.result === "ok") {
              this.rooms.splice(index, 1)
            } else {
              var code = res.data.error.code;
              this.show_error_tip("机房信息删除失败：", code)
            }
          }); // end apiDelRoom

        }).catch(() => {
          this.tip(`取消删除 ${row.name}`, 'info');
        })
      },

//添加机房
      addRoom(formName) {
        this.$refs[formName].validate((valid) => {
          if (valid) {
            this.$confirm(`创建机房（${this.f_room.createData.name}）, 是否继续?`, '提示', {
              confirmButtonText: '确定',
              cancelButtonText: '取消',
              type: 'warning',
              center: true
            }).then(() => {
              apiAddRoom("add_room", {room: this.f_room.createData}).then(res => {
                if (res.data.result === "ok") {
                  this.rooms.push({
                    'id': res.data.data.room.id,
                    'name': res.data.data.room.name,
                    'message': res.data.data.room.message
                  });
                  this.f_room.roomDialogFormVisible = false
                } else {
                  var code = res.data.error.code;
                  this.show_error_tip("机房信息添加失败：", code)
                } // end if else res
              }) // end api apiAddRoom
            }).catch(() => {
              this.tip(`已取消创建机房(${this.f_room.createData.name})`, 'info');
            }); // end confirm
          }
        });
      },

      // 删除路由器
      clearRouterRow(index, row) {
        this.$confirm(`确认删除此路由（ ${row.name} ）?`, '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning',
          center: true
        }).then(() => {
          ApiDelRouter("control_router", row.id).then(res => {
            if (res.data.result === "ok") {
              this.routers.splice(index, 1)
            } else {
              var code = res.data.error.code;
              this.show_error_tip("路由信息删除失败：", code)
            }
          }); // end apiDelRoom

        }).catch(() => {
          this.tip(`取消删除 ${row.name}`, 'info');
        })
      },

//添加路由器
      addRouter(formName) {
        this.$refs[formName].validate((valid) => {
          if (valid) {
            this.$confirm(`添加路由（ ${this.f_router.createData.name} ）, 是否继续?`, '提示', {
              confirmButtonText: '确定',
              cancelButtonText: '取消',
              type: 'warning',
              center: true
            }).then(() => {
              apiAddRouter("add_control_router", false, {
                router: this.f_router.createData,
                room_id: this.current_room.id
              }).then(res => {
                if (res.data.result === "ok") {
                  this.routers.push({
                    'id': res.data.data.router.id,
                    'name': res.data.data.router.name,
                    'peer': res.data.data.router.peer,
                    'peer_as': res.data.data.router.peer_as,
                    'local_as': res.data.data.router.local_as
                  });
                  this.init_router_env();
                  this.f_router.routerDialogFormVisible = false
                } else {
                  var code = res.data.error.code;
                  this.show_error_tip("路由信息添加失败：", code)
                } // end if else res
              });
            }).catch(() => {
              this.tip('已取消添加路由', 'info');
            })
          }
        })
      },

//获取路由器信息
      open_success(name) {
        this.$notify({
          title: '成功',
          message: '路由器信息已成功在下方展示,所属机房' + name,
          type: 'success'
        })
      },

      open_warn() {
        this.$notify({
          title: '警告',
          message: '该机房下没有路由器',
          type: 'warning'
        })
      },

      rowClikEvent(row, event, column) {
        if (column.label !== "操作") {
          this.getRouter(row)
        }
      },

      getRouter(row) {
        this.current_room = row;
        this.router_title_name = `路由器信息（ 机房：${row.name} )`;
        this.init_router_env();
        this.routers = [];

        this.router_loading = true;
        getRouter("load_router_by_room", {"room_id": row.id}).then(res => {
          if (res.data.result === "ok") {
            if (res.data.data.peers.length === 0) {
              this.open_warn()
            }
            else {
              this.open_success(row.name);
              for (var i = 0; i < res.data.data.peers.length; i++) {
                this.routers.push({
                  id: res.data.data.peers[i].id,
                  name: res.data.data.peers[i].name,
                  peer: res.data.data.peers[i].peer,
                  peer_as: res.data.data.peers[i].peer_as,
                  local_as: res.data.data.peers[i].local_as,
                });
              } // end for
            }
          } else {
            var code = res.data.error.code;
            this.show_error_tip("路由信息载入失败：", code)
          } // end if else res
          this.router_loading = false
        }) // end api getRouter
      },

      clearCommunityRow(index, row) {
        this.$confirm(`确认删除此路由（ ${row.name} ）?`, '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning',
          center: true
        }).then(() => {
          apiDelCommunity("del_community", row.id).then(res => {
            if (res.data.result === "ok") {
              this.communities.splice(index, 1)
            } else {
              var code = res.data.error.code;
              this.show_error_tip("路由信息删除失败：", code)
            }
          }); // end apiDelRoom

        }).catch(() => {
          this.tip(`取消删除 ${row.name}`, 'info');
        })
      },
//添加社区
      define_id(row) {
        //社区的id依照路由器的id来建
        this.f_community.createData.peer_id = row.id;
        this.f_community.createData.peer_name = row.name
      },

      //载入社区
      loadCommunity(row) {
        this.community_loading = true;
        this.communities = [];
        loadCommunity("load_community", row.id).then(res => {
          if (res.data.result === "ok") {
            for (var i = 0; i < res.data.data.communities.length; i++) {
              this.communities.push({
                'id': res.data.data.communities[i][0],
                'name': res.data.data.communities[i][1],
                'community': res.data.data.communities[i][2]
              })
            } // end for
          } else {
            var code = res.data.error.code;
            this.show_error_tip("commounity 信息载入失败：", code)
          } // end if res.data.result
          this.community_loading = false
        }) // end api loadCommunity
      },

//添加社区
      addCommunity(formName) {
        this.$refs[formName].validate((valid) => {
          if (valid) {
            this.$confirm(`添加 community${this.f_community.createData.name} 配置 ）, 是否继续?`, '提示', {
              confirmButtonText: '确定',
              cancelButtonText: '取消',
              type: 'warning',
              center: true
            }).then(() => {
              ApiAddCommunity("add_community", {
                community: {
                  name: this.f_community.createData.name,
                  community: this.f_community.createData.community
                },
                peer_id: this.f_community.createData.peer_id
              }).then(res => {
                if (res.data.result === "ok") {
                  this.communities.push({
                    'id': res.data.data.community.id,
                    'name': res.data.data.community.name,
                    'community': res.data.data.community.community
                  });
                  this.f_community.createData = {id: this.f_community.createData.pee_id};
                  this.f_community.communityDialogFormVisible = false
                } else {
                  var code = res.data.error.code;
                  this.show_error_tip("commounity 信息添加失败：", code)
                } // end if else res.data.result
              }).catch(() => {
                this.tip('已取消添加社区', 'info');
              }); // end api ApiAddCommunity
            })
          }
        })
      } // end addCommunity
    }
  }
</script>

