<template>
  <div class="app-container">
    <div>
      <el-form ref="form" :model="form" :rules="rules" label-width="120px">
        <el-form-item label="机房">
          <el-select v-model="form_ext.clients" multiple
                     placeholder="请选择加速点"
                     @change="getAvailableNodes()"
                     size="50%">
            <el-option v-for="(n,i) in nodes"
                       :value="n.name"
                       :key="n.name"
                       :label="n.name"
                       :disabled="n.disabled">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="路由器">
          <el-select v-model="form_ext.clients" multiple
                     placeholder="请选择加速点"
                     @change="getAvailableNodes()"
                     size="50%">
            <el-option v-for="(n,i) in nodes"
                       :value="n.name"
                       :key="n.name"
                       :label="n.name"
                       :disabled="n.disabled">
            </el-option>
          </el-select>
        </el-form-item>

        <el-form-item label="BGP邻居ip地址" v-if="form.clientIsFixedPort=='false'">
          <el-input v-model="form_ext.client_port"></el-input>
        </el-form-item>

        <el-form-item>
          <el-button type="primary" @click="submit('form')">新建流</el-button>
          <el-button>取消</el-button>
        </el-form-item>
      </el-form>
    </div>


    <!--<div v-if="page_args.total != 0">-->
    <!--<el-pagination layout="total, prev, pager, next" @size-change="PageSizeChange" @current-change="PageCurrentChange"-->
    <!--:current-page.sync="page_args.current"-->
    <!--:page-size="page_args.size"-->
    <!--:total="page_args.total">-->
    <!--</el-pagination>-->
    <!--</div>-->
    <el-row>
    <el-col :span="24">
      <div class="grid-content bg-purple-dark">
        <div>
          <!-- 数据路由表格 -->
          <p>数据路由</p>
          <div style="margin-left:0px">
            <el-button>重启</el-button>
            <el-button type="success">停止</el-button>
          </div>
          <div>
            <el-table
              :data="tableData"
              style="width: 550px"
              :border=true
            >
              <el-table-column
                label="ID"
                width="100"
                align="right"
              >
                <template slot-scope="scope_id">
                  <i class="el-icon-time"></i>
                  <span style="margin-left: 10px">{{ scope_id.row.id }}</span>
                </template>
              </el-table-column>
              <el-table-column
                label="名称"
                width="180">
                <template slot-scope="scope_name">
                  <el-popover trigger="hover" placement="top">
                    <p>名称: {{ scope_name.row.name }}</p>
                    <p>peer_as: {{ scope_name.row.peer_as }}</p>
                    <p>local_as: {{ scope_name.row.local_as }}</p>
                    <div slot="reference" class="name-wrapper">
                      <el-tag size="medium">{{ scope_name.row.name }}</el-tag>
                    </div>
                  </el-popover>
                </template>
              </el-table-column>
              <el-table-column
                label="机房"
                width="180"
                prop="room">
              </el-table-column>

              <el-table-column
                prop="scope_button_column"
                label="编辑">
                <template slot-scope="scope_dialog">
                  <el-button type="primary"
                             @click="dialogForm_1_Visible = true, print_scope(scope_dialog.row,scope_dialog.$index)">修改
                  </el-button>
                  <el-dialog title="更改信息" :visible.sync="dialogForm_1_Visible" style="width:1000px">
                    <el-form>
                      <el-form-item label="名称" :label-width="formLabelWidth">
                        <el-input style="width:120px" v-model="dialog.name" auto-complete="off" size="50px"></el-input>
                      </el-form-item>
                      <el-form-item label="peer" :label-width="formLabelWidth">
                        <el-input style="width:300px" v-model="dialog.peer" auto-complete="off"></el-input>
                      </el-form-item>
                      <el-form-item label="peer as" :label-width="formLabelWidth">
                        <el-input style="width:300px" v-model="dialog.peer_as" auto-complete="off"></el-input>
                      </el-form-item>
                      <el-form-item label="local as" :label-width="formLabelWidth">
                        <el-input style="width:300px" v-model="dialog.local_as" auto-complete="off"></el-input>
                      </el-form-item>

                      <el-form-item label="room" :label-width="formLabelWidth">
                        <el-select v-model="value" no-data-text="" placeholder="请选择">
                          <el-option
                            v-for="item in options"
                            :key="item.value"
                            :label="item.label"
                            :value="item.value">
                          </el-option>
                        </el-select>
                      </el-form-item>

                    </el-form>
                    <div slot="footer" class="dialog-footer" style="width:400px">
                      <el-button @click="dialogForm_1_Visible = false,cancel()">取 消</el-button>
                      <el-button type="primary" @click="dialogForm_1_Visible = false, change_table(),open()">确 定
                      </el-button>
                    </div>

                  </el-dialog>

                </template>

              </el-table-column>

            </el-table>
            <div>
              <!--     为了美观和下行增加回车的空间  -->
              <br/> <br>
              <br/> <br>
            </div>
            <!-- 控制路由表格 -->
            <p>控制路由</p>
            <div style="margin-left:0px">
              <el-button>重启</el-button>
              <el-button>停止</el-button>
              <el-button>刷新</el-button>
              <el-button>添加</el-button>
            </div>
            <el-table
              :data="link_data"
              style="width: 915px"
              :border="true"

            >
              <el-table-column
                label="ID"
                width="100"
                align="right"
              >
                <template slot-scope="scope_link_id">
                  <i class="el-icon-time"></i>
                  <span style="margin-left: 10px">{{ scope_link_id.row.id }}</span>
                </template>
              </el-table-column>
              <el-table-column
                label="名称"
                width="180">
                <template slot-scope="scope_link_name">
                  <el-popover trigger="hover" placement="top">
                    <p>名称: {{ scope_link_name.row.name }}</p>
                    <p>peer_as: {{ scope_link_name.row.peer_as }}</p>
                    <p>local_as: {{ scope_link_name.row.local_as }}</p>
                    <div slot="reference" class="name-wrapper">
                      <el-tag size="medium">{{ scope_link_name.row.name }}</el-tag>
                    </div>
                  </el-popover>
                </template>
              </el-table-column>

              <el-table-column
                label="机房"
                width="180"
                prop="room">
              </el-table-column>
              <el-table-column
                label="社区"
                width="180">
                <template slot-scope="scope_link_name">
                  <el-popover ref="popover1" trigger="hover" placement="top">
                    <el-table :data="link_data">
                      <el-table-column width="150" property="community" label="社区"></el-table-column>
                    </el-table>
                  </el-popover>
                  <el-button v-popover:popover1>所有社区</el-button>
                </template>
              </el-table-column>
              <!-- <el-table-column
              label="state"
              width="180"
              prop = "state">
              </el-table-column> -->

              <el-table-column
                prop="scope_button_column"
                label="编辑"
                :span="3"
              >
                <template slot-scope="scope_dialog">


                  <el-button type="primary"
                             @click="dialogForm_2_Visible = true, print_scope(scope_dialog.row,scope_dialog.$index)">修改
                  </el-button>
                  <el-button type="primary" @click="removeTodo(scope_dialog.$index)">删除</el-button>
                  <el-button type="primary"
                             @click="dialogForm_3_Visible = true, printCommunityIndex(scope_dialog.$index)">添加社区
                  </el-button>
                  <el-dialog title="更改信息" :visible.sync="dialogForm_2_Visible" style="width:1000px">
                    <el-form>
                      <el-form-item label="名称" :label-width="formLabelWidth">
                        <el-input style="width:120px" v-model="dialog.name" auto-complete="off" size="50px"></el-input>
                      </el-form-item>
                      <el-form-item label="peer" :label-width="formLabelWidth">
                        <el-input style="width:300px" v-model="dialog.peer" auto-complete="off"></el-input>
                      </el-form-item>
                      <el-form-item label="peer as" :label-width="formLabelWidth">
                        <el-input style="width:300px" v-model="dialog.peer_as" auto-complete="off"></el-input>
                      </el-form-item>
                      <el-form-item label="local as" :label-width="formLabelWidth">
                        <el-input style="width:300px" v-model="dialog.local_as" auto-complete="off"></el-input>
                      </el-form-item>

                      <el-form-item label="社区" :label-width="formLabelWidth">
                        <el-select v-model="value" no-data-text="" placeholder="请选择">
                          <el-option
                            v-for="item in options"
                            :key="item.value"
                            :label="item.label"
                            :value="item.value">
                          </el-option>
                        </el-select>
                      </el-form-item>


                    </el-form>
                    <div slot="footer" class="dialog-footer" style="width:400px">
                      <el-button @click="dialogForm_2_Visible = false,cancel()">取 消</el-button>
                      <el-button type="primary" @click="dialogForm_2_Visible = false,change_link(),open()">确 定
                      </el-button>
                    </div>

                  </el-dialog>
                  <!-- dialog 3 -->
                  <el-dialog title="添加社区" :visible.sync="dialogForm_3_Visible" style="width:1000px">
                    <div slot="footer" class="dialog-footer" style="width:400px">
                      <el-input placeholder="请输入社区名字" style="width:300px" v-model="add_community"></el-input>
                      <el-button @click="dialogForm_3_Visible = false,cancel()">取 消</el-button>
                      <el-button type="primary" @click="dialogForm_3_Visible = false, addInformation(),open()">确 定
                      </el-button>
                    </div>
                  </el-dialog>


                </template>

              </el-table-column>

            </el-table>

          </div>

        </div>

      </div>
    </el-col>
  </el-row>
    <el-dialog title="流列表" :visible.sync="dialogFormVisible">
      <h2>流名称：{{selectedDomain}}</h2>
      <el-table :data="stream_details" :default-sort="{prop: 'time', order: 'descending'}" border
                style="width: 100%" fit highlight-current-row>
        <el-table-column prop="client_node" label="入节点" sortable></el-table-column>
        <el-table-column prop="server_node" label="出节点" sortable></el-table-column>
        <el-table-column prop="type" label="流类型" sortable></el-table-column>
        <el-table-column prop="custom_host" label="客户服务器" sortable></el-table-column>
        <el-table-column prop="custom_port" label="客户服务器端口" sortable></el-table-column>
        <el-table-column prop="update_at" label="更新" sortable></el-table-column>
        <el-table-column label="操作" fixed="right" width="150">
          <template slot-scope="scope">
            <!--<el-button type="primary" size="small"-->
            <!--@click="getStreams2(scope.$index, scope.row)">修改-->
            <!--</el-button>-->
            <el-button type="primary" size="small"
                       @click="delStream(scope.row.id)">删除
            </el-button>
          </template>
        </el-table-column>
      </el-table>
      <span slot="footer" class="dialog-footer">
    <el-button @click="dialogFormVisible = false">取消</el-button>
    <el-button type="primary" @click="dialogFormVisible = false">确定</el-button>
  </span>
    </el-dialog>


  </div>


</template>

<script>
  export default {
    data() {
      return {
        tableData: [{
          last_start: '6:07',
          last_stop: '8:06',
          peer: 'teenage',
          peer_as: 'adult',
          local_as: 'wife',
          id: '89',
          name: '华盛顿',
          address: '上海市普陀区金沙江路 1518 弄',
          room: 'Washington DC',
          community: 'WDC',
          state: 'state'
        },

        ],
        link_data: [
          {
            id: '99',
            name: '克利夫兰',
            room: 'Cleaveland',

            community: ['chongqing'],

            state: 'broken',
            peer_as: 'P2P',
            local_as: 'Beijing',
            peer: 'Tokyo',
          },
          {
            id: '101',
            name: '亚特兰大',
            room: 'Atlanta',

            community: ['zaozhuang'],

            state: 'broken',
            state: 'Fair',
            peer_as: 'P2P',
            local_as: 'Beijing',
            peer: 'Tokyo',

          },
        ],
        dialog: {
          name: '',
          peer: '',
          peer_as: '',
          local_as: '',
          room: '',
          community: '',
          state: ''
        },
        formLabelWidth: '120px',
        dialogForm_1_Visible: false,
        dialogForm_2_Visible: false,
        dialogForm_3_Visible: false,
        options: [{
          value: '选项1',
          label: 'chongqing'
        }, {
          value: '选项2',
          label: 'zaozhuang'
        }],
        add_community: '',
        value: '',
        index: ''
      }


    },
    methods: {
      print_scope(row, index) {//弹出对话框，将scope的值赋值给对话框

        this.dialog['name'] = row['name'];
        this.dialog['peer'] = row['peer'];
        this.dialog['peer_as'] = row['peer_as'];
        this.dialog['local_as'] = row['local_as'];

        this.dialog['room'] = row['room'];
        this.dialog['community'] = row['community'];
        this.dialog['state'] = row['state'];

        this.index = index;


      },
      printCommunityIndex(index) {

        this.index = index;
      }
      ,
      change_table() {//点击确定，将对话框中的值赋值给table

        this.tableData[this.index]['name'] = this.dialog['name'];
        this.tableData[this.index]['peer'] = this.dialog['peer'];
        this.tableData[this.index]['peer_as'] = this.dialog['peer_as'];
        this.tableData[this.index]['local_as'] = this.dialog['local_as'];
        this.tableData[this.index]['room'] = this.dialog['room'];
        this.tableData[this.index]['community'] = this.dialog['community'];
        this.tableData[this.index]['state'] = this.dialog['state'];

      },
      change_link() {//点击确定，将对话框中的值赋值给table

        this.link_data[this.index]['name'] = this.dialog['name'];
        this.link_data[this.index]['peer'] = this.dialog['peer'];
        this.link_data[this.index]['peer_as'] = this.dialog['peer_as'];
        this.link_data[this.index]['local_as'] = this.dialog['local_as'];
        this.link_data[this.index]['room'] = this.dialog['room'];
        this.link_data[this.index]['community'] = this.dialog['community'];
        this.link_data[this.index]['state'] = this.dialog['state'];

      },
      addInformation() {

        // L = {community:'CHICAOGO'};
        this.link_data[this.index]['community'].push(this.add_community);
      }
      ,
      removeTodo: function (index) {
        this.link_data.splice(index, 1);

      },
      open() {
        this.$message('修改成功');
      },
      cancel() {
        this.$message('取消成功');
      },

    }

  }

</script>
