<template>
  <div class="app-container">
    <div>
      <span class="demonstration">优化的路由器</span>
      <el-cascader
        expand-trigger="hover"
        :options="line.confRouterLines"
        v-model="line.selectedRouterLine"
        @change="changeRouterLine">
      </el-cascader>
    </div>

    <el-form ref="ruleForm" :model="ruleForm" :rules="rules" label-width="120px">
      <el-form-item label="IP地址" prop="ip">
        <el-radio v-model="ruleForm.radio" label="1">IP地址</el-radio>
        <el-radio v-model="ruleForm.radio" label="2">IP地址段</el-radio>
        <el-input v-model="ruleForm.value" placeholder="输入优化信息">
          <el-button type="primary" slot="append" icon="el-icon-search" @click="search_ip_section()">载入可用地址段
          </el-button>
        </el-input>
      </el-form-item>
      <el-form-item label="地址信息" prop="section_name">
        <el-select v-model="ruleForm.section_name" placeholder="请选择" :disabled=wait_section_loading>
          <el-option v-for="item in ruleForm.sections" :value="item" :key="item"></el-option>
        </el-select>
      </el-form-item>

      <el-form-item label="线路选择" prop="selectedLine.selectedName">
        <el-select v-model="ruleForm.selectedLine.selectedName" placeholder="请选择">
          <el-option v-for="item in line.confCommunityLines"
                     :value="item.name"
                     :key="item.id"
          ></el-option>
        </el-select>
      </el-form-item>

      <el-form-item label="撤销优化" prop="optimized">
        <!--<el-switch v-model="ruleForm.optimized" active-text="撤销优化" inactive-text="优化选择">-->
        <el-switch v-model="ruleForm.optimized" onColor="#13ce66" offColor="#ff4949">
        </el-switch>
      </el-form-item>

      <el-form-item>
        <el-button type="primary" @click="submitForm('ruleForm')" :disabled="waitRouterSelecting||submitSending">确定
        </el-button>
        <el-button type="primary" @click="clearForm()" :disabled="waitRouterSelecting||submitSending">取消</el-button>
      </el-form-item>
    </el-form>


    <el-table :data="pdata" v-loading.body="listLoading" :default-sort="{prop: 'time', order: 'descending'}" border
              style="width: 100%" fit highlight-current-row>
      <el-table-column prop="ip_section" label="ip地址段" width="150"></el-table-column>
      <el-table-column prop="ip" label="ip控制源" width="150"></el-table-column>
      <!--<el-table-column prop="status" label="控制方式" width="100"></el-table-column>-->

      <el-table-column label="线路切换" fixed="right" width="200">
        <template slot-scope="scope_line">
          <el-select v-model="scope_line.row.communityLine.selectedName" placeholder="请选择"
                     @change="handleChangeLineAtTable(scope_line.row)" v-bind:disabled="scope_line.row.restart_sending">
            <el-option v-for="item in line.confCommunityLines"
                       :value="item.name"
                       :key="item.id"
            ></el-option>
          </el-select>

        </template>
      </el-table-column>

      <el-table-column prop="time" label="时间" sortable></el-table-column>
      <el-table-column label="操作" fixed="right" width="300">
        <template slot-scope="scope">
          <el-button type="warning" size="small"
                     @click="handle_clear_click(scope.$index, scope.row)">清除纪录
          </el-button>
          <el-button type="primary" size="small" v-bind:disabled="scope.row.restart_sending"
                     @click="handle_resend_click(scope.$index, scope.row)">刷新
          </el-button>

          <el-button type="danger" size="small" v-bind:disabled="scope.row.bt_canceling"
                     @click="handle_withdraw_click(scope.$index, scope.row)">撤销优化
          </el-button>

        </template>
      </el-table-column>
    </el-table>


    <div v-if="page_args.total != 0">
      <el-pagination layout="total, prev, pager, next" @size-change="PageSizeChange" @current-change="PageCurrentChange"
                     :current-page.sync="page_args.current"
                     :page-size="page_args.size"
                     :total="page_args.total">
      </el-pagination>
    </div>
  </div>

</template>


<script>
  import {
    ApiLoadRegionSections,
    api_load_region,
    loadRoom,
    loadCommunity,
    getCommunity,
    api_hand_optimized,
    api_load_hand_log,
    api_load_line,
    api_switch_line,
    api_search_ip_section
  } from '@/api/route'

  export default {
    data() {
      return {
        ruleForm: {
          optimized: "",
          region: "",
          value: '',
          line_name: "",
          lines: "",
          radio: "1",
          sections: [],
          section_name: "",  // 选择的目标ip地址段
          selectedLine: {selectedName: null, name: null}  // community line
        },
        rules: {
          selectedLine: {selectedName: [
            {required: true, message: '请选择目标地址段', trigger: 'change'}
          ],}
        },
        pdata: [],
        listLoading: false,  //载入列表等待标志
        wait_section_loading: true,  //载入ip地址段等待标志
        tabActiveTypeName: "ip",
        waitRouterSelecting: true,
        submitSending: false,

        state: {"ipSectionMangerUiDialogVisible": false},
        value: '',
        line: {
          confRouterLines: [],  // 载入所有路由器线路配置
          selectedRouterLine: [],  // 已选择的路由器胚子
          confCommunityLines: [],  // 载入某路由下的ip community
        },


        page_args: {
          size: 50,
          total: 0,
          current: 1,
        }
      }
    },
    created() {
      api_load_line(1).then(res => {
        console.log("res =", res);
        this.line.confRouterLines = res.data["data"]["tree"];
      });
    },
    methods: {
      changeRouterLine(row) {
        this.waitRouterSelecting = true;
        loadCommunity("load_community", row[row.length - 1]).then(res => {
          console.log("loadCommunity =", res.data);
          this.line.confCommunityLines = [];

          var communities = res.data.data.communities;
          for (var i = 0; i < communities.length; i++) {
            this.line.confCommunityLines.push({id: communities[i][0], name: communities[i][1]})
          }
          this.waitRouterSelecting = false;
          this.PageCurrentChange(1)
        });

      },
      getCommunityIdByName(name) {
        var communities = this.line.confCommunityLines;
        for (var i = 0; i < communities.length; i++) {
          if (communities[i].name === name) {
            return communities[i].id;
          }
        }
        return null
      },
      // changeLine(label) {
      //   console.log("label =", label);
      //   this.ruleForm.selectedLine.id = this.getCommunityIdByName(label);
      //   console.log("label id =", this.ruleForm.selectedLine.id);
      // },

      // 切换线路优化
      handleChangeLineAtTable(row) {
        this.$confirm(`切换 ${row.ip_section} 到 ${row.communityLine.selectedName}, 是否继续?`, '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning',
          center: true
        }).then(() => {
          var data = {
            "is_ip_existed": false,
            "id": row.id,
            "ip_section": row.ip_section,
            "router_line": this.line.selectedRouterLine,
            "optimization": {
              "community": this.getCommunityIdByName(row.communityLine.selectedName),
              "optimized": 1
            }
          };
          row.restart_sending = true;
          api_hand_optimized("optimization", data).then(response => {
            console.log('submit!', response.data);
            this.tip(` '${row.ip_section}  线路切换' 发送成功`, "success");
            row.optimized = 1;
            row.communityLine.name = row.communityLine.selectedName;
            row.restart_sending = false;
          });

        }).catch(() => {
          row.communityLine.selectedName = row.communityLine.name;
          this.tip(`已取消： 线路切换 ${row.ip_section}`, "info");
        });

      },

      // 获取地址段
      search_ip_section() {
        console.log("this.ruleForm.value =", this.ruleForm.value);
        if (this.ruleForm.radio === "1") {
          var data = {type: "ip", ip: this.ruleForm.value};
          var error_tip = `对不起，您输入的目标地址（ ${this.ruleForm.value} ）异常或不存在，无法找到对应的地址段信息，请确认并重新输入！`
        }
        else {
          var data = {type: "ip_section", ip_section: this.ruleForm.value};
          var error_tip = `对不起，您输入的目标地址段（ ${this.ruleForm.value} ）异常或不存在，无法获取其信息，请重新输入！`
        }
        api_search_ip_section("search", data).then(response => {
          if (response.data.result === "ok") {
            if (response.data.data.exist === true) {
              // addressSectionInfo
              this.ruleForm.sections = response.data.data["sections"];
              this.wait_section_loading = false;
              this.tip(`已载入 ${this.ruleForm.value} 对应或所在的地址段信息`, "success");
            }
            else {
              this.$alert(error_tip, '查询异常', {
                confirmButtonText: '确定',
                callback: this.clearForm,
              })
            }
          }
          else {
            this.show_error_tip('查询失败： ', response.data.error["code"]);
          }
        });
      },

      tip(msg, type) {
        this.$message({message: msg, type: type});
      },

//      清除输入
      clearForm() {
        this.ruleForm = {
          optimized: "",
          value: '',
          line_name: "",
          lines: "",
          radio: "1",
          sections: [],
          section_name: "",
          selectedLine: {selectedName: null, name: null}
        };
        this.wait_section_loading = true
      },

      // 提交输入
      submitForm(formName) {
        this.$refs[formName].validate((valid) => {
          if (valid) {
            if (!this.ruleForm.value) {
              alert("请输入优化信息");
              return
            }
            if (this.ruleForm.radio === "1") {
              if (!/^((25[0-5]|2[0-4]\d|((1\d{2})|([1-9]?\d)))\.){3}(25[0-5]|2[0-4]\d|((1\d{2})|([1-9]?\d)))$/.test(this.ruleForm.value)) {
                alert('IP地址格式不正确！');
                return
              }
              var inputSectionName = this.ruleForm.value
            } else {
              if (!/^((25[0-5]|2[0-4]\d|((1\d{2})|([1-9]?\d)))\.){3}(25[0-5]|2[0-4]\d|((1\d{2})|([1-9]?\d)))\/\d{2}$/.test(this.ruleForm.value)) {
                alert('IP地址格式不正确！');
                return
              }
              var reg = /(.+)\/\d+$/;
              var inputSectionName = reg.exec(this.ruleForm.value);
              if (inputSectionName) {
                inputSectionName = inputSectionName[inputSectionName.length - 1]
              }
            }
            var optimized = this.ruleForm.optimized === true ? 2 : 1;

            if (!this.ruleForm.selectedLine.selectedName) {
              alert("请选择优化线路")
            }
            else {
              var selectSelectName = inputSectionName;
              if (this.ruleForm.section_name) {
                selectSelectName = this.ruleForm.section_name
              } else {
                selectSelectName = selectSelectName + "/32"
              }
              this.$confirm(`确认对 ${selectSelectName} 地址优化?`, '提示', {
                confirmButtonText: '确定',
                cancelButtonText: '取消',
                type: 'warning',
                center: true
              }).then(() => {
                var data = {
                  "optimization": {
                    "community": this.getCommunityIdByName(this.ruleForm.selectedLine.selectedName),
                    "optimized": optimized,
                  },
                  "ip_section": selectSelectName,
                  "router_line": this.line.selectedRouterLine,
                  "is_ip_existed": false,
                };

                this.submitSending = true;
                api_hand_optimized("optimization", data).then(response => {
                  console.log('submit!', response.data);
                  if (response.data.result === "ok") {
                    var plen = this.pdata.length;
                    if (plen < 50) {
                      var has_value = false;
                      var msg = response.data.data;
                      for (var i = 0; i < plen; i++) {
                        if (msg.ip_section === this.pdata[i]["ip_section"]) {
                          this.pdata[i].communityLine.name = this.ruleForm.selectedLine.selectedName;
                          this.pdata[i]["status"] = msg.status;
                          this.pdata[i]["optimized"] = msg.optimized;
                          if (optimized !== 1) {
                            this.pdata[i].communityLine.selectedName = null
                          } else {
                            this.pdata[i].communityLine.selectedName = this.ruleForm.selectedLine.selectedName;
                          }
                          has_value = true;
                          break
                        }
                      }

                      if (has_value === false) {
                        if (optimized === 1) {
                          this.$set(msg, "communityLine", {
                            name: this.ruleForm.selectedLine.selectedName,
                            selectedName: this.ruleForm.selectedLine.selectedName
                          });
                        }
                        this.pdata.push(msg)
                      }
                    }
                    this.tip('发送成功', 'success');
                    this.clearForm();
                  }
                  else {
                    var code = response.data.error.code;
                    this.show_error_tip("优化失败：", code)
                  }
                  this.submitSending = false
                });  // end api_hand_optimized
              }).catch(() => {
                this.tip(`取消优化 ${selectSelectName}地址信息`, 'info');
              })
            }
          } else {
            console.log('error format!!');
            return false;
          }
        })


      },

//      错误信息转义
      show_error_tip(message, code) {
        var msg = {998: "路由信息不存在", 997: "参数异常", 996: "线路异常", 999: "其他异常"};
        if (code in msg) {
          alert(message + msg[code]);
        }
        else {
          alert(message + msg[999]);
        }
      },

      //      删除记录
      handle_clear_click(index, row) {
        console.log(`删除`);
        this.$confirm(`此操作将从路由表中删除此路由（ ${row.ip_section} ）并清除本地记录, 是否继续?`, '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning',
          center: true
        }).then(() => {
          row["restart_sending"] = true;
          var data = {
            "clear": {
              "optimized": 2,
            },
            "ip_section": row.ip_section,
            "id": row.id,
            "router_line": this.line.selectedRouterLine,
            "is_ip_existed": false
          };

          api_hand_optimized("clear", data).then(response => {
            console.log('submit!', response.data);
            row.restart_sending = true;
            this.tip(`"${row.ip_section} 清除" 发送成功!`, 'success');
            this.pdata.splice(index, 1);
          })
        }).catch(() => {
          this.tip(`已取消： 撤销优化 ${row.ip_section}`, 'info');
        });
      },

      //      重新发送优化命令操作
      handle_resend_click(index, row) {
        console.log("重发");
        row["restart_sending"] = true;
        var data = {
          "is_ip_existed": false,
          "id": row.id,
          "ip_section": row.ip_section,
          "router_line": this.line.selectedRouterLine,
          "optimization": {
            "community": this.getCommunityIdByName(row.communityLine.selectedName),
            "optimized": 1
          }
        };

        api_hand_optimized("optimization", data).then(response => {
          console.log('submit!', response.data);
          row["restart_sending"] = false;
          row["time"] = response.data.data["time"];
          this.tip("发送成功", "success")
        });
      },

      //      撤销优化操作
      handle_withdraw_click(index, row) {
        console.log("撤销优化");
        this.$confirm(`此操作将从路由表中删除此路由（ ${row.ip_section} ）, 是否继续?`, '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning',
          center: true
        }).then(() => {
          row["restart_sending"] = true;
          var data = {
            "optimization": {
              "optimized": 2,
            },
            "is_ip_existed": false,
            "ip_section": row.ip_section,
            "id": row.id,
            "router_line": this.line.selectedRouterLine
          };
          api_hand_optimized("optimization", data).then(response => {
            console.log('submit!', response.data);
            row.optimized = 2;
            row.time = response.data.data["time"];
            row.communityLine.selectedName = null;
            row.restart_sending = true;
          });
          this.tip(`' ${row.ip_section} 撤销优化' 发送成功!`, 'success');
        }).catch(() => {
          this.tip(`已取消： 撤销优化 ${row.ip_section}`, 'info');
        });
      },

      PageSizeChange(index) {
        // if (this.page_args.current != index){
        //   this.PageCurrentChange()
        // }
        console.log(`每页 ${index} 条`);
      },

      show_line_name(row) {
        this.$set(row, "communityLine", {name: "----", selectedName: null});
        if ((row["line"].length !== 0) && (row["optimized"] === 1)) {
          var is_exist_community = false;
          for (var i = 0; i < this.line.confCommunityLines.length; i++) {
            if (this.line.confCommunityLines[i].id === row.line[2]) {
              this.$set(row, "restart_sending", false);
              row.communityLine.name = this.line.confCommunityLines[i].name;
              row.communityLine.selectedName = this.line.confCommunityLines[i].name;
              is_exist_community = true;
              break
            }
          }
          if (is_exist_community === false) {
            return null
          }

        }
        else {
          this.$set(row, "restart_sending", false);
          if (row.line.length === 0) {
            row.restart_sending = true
          }
        }
        return row
      },

      getSelectRouterId() {
        return this.line.selectedRouterLine[this.line.selectedRouterLine.length - 1]
      },
      //      载入当前页信息
      PageCurrentChange(index) {
        var data = [];
        this.listLoading = true;
        api_load_hand_log(this.page_args.size * (index - 1), this.page_args.size, this.line.selectedRouterLine).then(response => {
          console.log('PageCurrentChange =', response.data.data);
          var rcv = response.data.data.routes;
          for (var i = 0; i < rcv.length; i++) {
            var obj = this.show_line_name(rcv[i]);
            if (obj === null) {
              continue
            }
            data.push(obj)
          }

          this.page_args.total = response.data.count;
          this.pdata = data;
          this.page_args.current = index;
          this.listLoading = false;
          console.log("pdata =", this.pdata)
        })
      }
    }
  }
</script>
