<template>
  <div class="app-container">

    <div>
      <div>
        <br/>
        <span>数据路由</span>
      </div>

      <div align="right">
        <el-button type="success" v-bind:disabled="confDataRouters.loading"
                   @click="connectRouter(false)">重连 BGP 链路
        </el-button>
        <el-button type="primary" @click="updateDataState">更新</el-button>
      </div>

      <el-row>
        <el-col :span="24">
          <el-table :data="confDataRouters.data"
                    stripe
                    v-loading.body="confRoom.loading"
                    style="width: 100%">
            <el-table-column
              type="index"
              :index="indexMethod">
            </el-table-column>

            <el-table-column
              prop="name"
              label="路由器名">
            </el-table-column>
            <el-table-column
              prop="peer"
              label="peer">
            </el-table-column>
            <el-table-column
              prop="peer_as"
              label="peer_as">
            </el-table-column>
            <el-table-column
              prop="local_as"
              label="local_as">
            </el-table-column>
            <el-table-column
              prop="state"
              label="状态">
            </el-table-column>

            <!--<el-table-column label="路由器类型">-->
            <!--<template slot-scope="scope_is_send">-->
            <!--<el-tag v-if="scope_is_send.row.is_send">控制路由</el-tag>-->
            <!--<el-tag type="success" v-else>数据路由</el-tag>-->
            <!--</template>-->
            <!--</el-table-column>-->

          </el-table>
        </el-col>
      </el-row>


    </div>
    <br>
    <br>
    <div>
      <div align="left">
        <br/>
        <span>机房：</span>
        <el-dropdown :hide-on-click="false" @command="selectRoomDropdown">
        <span class="el-dropdown-link">
          {{ confRoom.current.name }}<i class="el-icon-arrow-down el-icon--right"></i>
        </span>
          <el-dropdown-menu slot="dropdown">
            <div v-for="item in confRoom.data">
              <el-dropdown-item :command="item" :disabled="confRoom.current.id === item.id">{{item.name}}
              </el-dropdown-item>
            </div>
          </el-dropdown-menu>
        </el-dropdown>
      </div>
      <div align="right">
        <el-button type="success" v-bind:disabled="confConRouters.loading" @click="connectRouter(true)">重连 BGP 链路
          ({{confRoom.current.name}})
        </el-button>
        <el-button type="primary" @click="updateConState">更新</el-button>
      </div>
    </div>
    <el-row>
      <el-col :span="24">
        <el-table :data="confConRouters.data"
                  stripe
                  v-loading.body="confRoom.loading"
                  style="width: 100%">
          <el-table-column
            type="index"
            :index="indexMethod">
          </el-table-column>

          <el-table-column
            prop="name"
            label="路由器名">
          </el-table-column>
          <el-table-column
            prop="peer"
            label="peer">
          </el-table-column>
          <el-table-column
            prop="peer_as"
            label="peer_as">
          </el-table-column>
          <el-table-column
            prop="local_as"
            label="local_as">
          </el-table-column>
          <el-table-column
            prop="state"
            label="状态">
          </el-table-column>

          <!--<el-table-column label="路由器类型">-->
          <!--<template slot-scope="scope_is_send">-->
          <!--<el-tag v-if="scope_is_send.row.is_send">控制路由</el-tag>-->
          <!--<el-tag type="success" v-else>数据路由</el-tag>-->
          <!--</template>-->
          <!--</el-table-column>-->

        </el-table>
      </el-col>
    </el-row>
  </div>

</template>

<script>
  import {loadRoom, getRouter, restartExaBgp} from '@/api/route'

  export default {
    data() {
      return {
        confRoom: {
          current: {id: null, name: "选择机房"},
          data: [],
          loading: false
        },
        communities: [],
        selectedRoom: '',
        confConRouters: {data: [], loading: true},
        confDataRouters: {data: [], loading: true},
      }
    },

    created() {
      this.loadRoom();
    },

    methods: {

      loadRoom() {
        this.confRoom.data = [];
        this.confRoom.loading = true;
        loadRoom("load_room").then(res => {
          for (var i = 0; i < res.data.data.rooms.length; i++) {
            this.confRoom.data.push({
              id: res.data.data.rooms[i][0],
              name: res.data.data.rooms[i][1],
            })
          }

          if (this.confRoom.data.length !== 0) {
            this.confRoom.current = this.confRoom.data[0];
            this.getDataRouter();
            this.getConRouter()
          }
          this.confRoom.loading = false;
        });

      },

      selectRoomDropdown(command) {
        // console.log('click on item ', command);
        this.confRoom.current = command;
        this.getConRouter()
      },

      getDataRouter() {
        getRouter("load_router_by_type", {"type": "data_router"}).then(res => {
          if (res.data.status === "error") {
            this.$message({
              showClose: true,
              message: '后台连接有故障，请联系平台维护人员！',
              type: 'warning',
              duration: 0
            })
          } else {
            if (res.data.data.peers.length === 0) {
              this.$message({
                showClose: true,
                message: `该机房(${this.confRoom.current.name})下没有路由器！`,
                type: 'info',
                duration: 0
              });
            } else {
              this.confDataRouters.data = res.data.data.peers;
              this.confDataRouters.loading = true;
              var disableRelink = true;
              this.confDataRouters.data.forEach((row) => {
                if (row.state !== "running") {
                  disableRelink = false
                }
              });
              if (disableRelink) {
                this.confDataRouters.loading = true;
              } else {
                this.confDataRouters.loading = false;
              }
            }
          }
        })
      },

      getConRouter() {
        getRouter("load_router_by_room", {"room_id": this.confRoom.current.id}).then(res => {
          if (res.data.status === 'error') {
            this.$message({
              showClose: true,
              message: '后台连接有故障，请联系平台维护人员！',
              type: 'warning',
              duration: 0
            });
          } else {
            if (res.data.data.peers.length === 0) {
              this.$message({
                showClose: true,
                message: `该机房(${this.confRoom.current.name})下没有路由器！`,
                type: 'info',
                duration: 0
              });
            }
            else {
              this.confConRouters.data = res.data.data.peers;
              this.confConRouters.loading = true;
              var disableRelink = true;
              this.confConRouters.data.forEach((row) => {
                if (row.state !== "running") {
                  disableRelink = false
                }
              });
              if (disableRelink) {
                this.confConRouters.loading = true;
              } else {
                this.confConRouters.loading = false;
              }
            }
          }
        })
      },

      tip(msg, type) {
        this.$message({message: msg, type: type});
      },

      connectRouter(type) {
        if (type) {
          var msg = `刷新机房（${this.confRoom.current.name}）的BGP链路连接`;
        } else {
          var msg = `刷新数据路由的BGP链路连接，是否继续？`;
        }
        this.$confirm(msg, '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning',
          center: true
        }).catch(() => {
        }).then(() => {
            restartExaBgp({type: "is_send", is_send: type, room_id: this.confRoom.current.id}).then(res => {
              console.log(res.data);
              if (res.data.status === 'error') {
                this.$message({
                  showClose: true,
                  message: '后台连接有故障，请联系平台维护人员！',
                  type: 'warning',
                  duration: 0
                });
              } else {
                if (res.data["result"] !== "ok") {

                  this.$message({
                    showClose: true,
                    message: `重启失败：${res.data["error"].message}`,
                    type: 'warning',
                    duration: 0
                  });
                } else {
                  this.$message({
                    showClose: true,
                    message: "please wait",
                    type: 'success',
                    duration: 0
                  });
                }
              }
            })
          }
        )
      },

      updateConState() {
        this.getConRouter()
      },
      updateDataState() {
        this.getDataRouter()
      },
      indexMethod(index) {
        return index;
      },
      // 跳转页面


    }
  }
</script>
<style>
  .el-dropdown-link {
    cursor: pointer;
    color: #409EFF;
  }

  .el-icon-arrow-down {
    font-size: 12px;
  }

</style>

