<template>
  <div class="app-container">
    <el-table :data="pdata" v-loading.body="listLoading" :default-sort="{prop: 'time', order: 'descending'}" border
              style="width: 90%" fit highlight-current-row>
      <el-table-column prop="ip" label="ip控制源" width="150"></el-table-column>

      <el-table-column prop="ip_section" label="ip地址段" width="200">
        <template slot-scope="scope_ip_section">
          <div>
            <el-select v-model="scope_ip_section.row.section_name" placeholder="请选择"
                       :disabled=scope_ip_section.row.wait_section_loading
                       @change="change_ip_section(scope_ip_section.row)">
              <el-option v-for="item in scope_ip_section.row.sections" :value="item" :key="item"></el-option>
            </el-select>
            <el-button type="primary" @click="search_ip_section(scope_ip_section.row)">刷新</el-button>
          </div>
        </template>
      </el-table-column>
      <el-table-column prop="optimized" label="请求类型">
        <template slot-scope="scope_optimized">
          <div v-if="scope_optimized.row.optimized == 1">
            {{ "请求优化" }}
          </div>
          <div v-else>
            {{ "撤销优化" }}
          </div>
        </template>
      </el-table-column>

      <el-table-column prop="time" label="时间" sortable></el-table-column>

      <el-table-column label="线路切换" fixed="right" width="150">
        <template slot-scope="scope_line">
          <el-dropdown split-button @command="handleDropdown">
            <span class="el-dropdown-link">
              <div v-if="scope_line.row.name">
                {{ scope_line.row.name }}
              </div>
              <!-- <i class="el-icon-arrow-down el-icon--right"></i> -->
            </span>
            <el-dropdown-menu slot="dropdown">
              <div v-for="msg in line_data">

                <div v-if="scope_line.row.name == msg.name">
                  <el-dropdown-item disabled :command="{id: msg.id, name: msg.name, row:scope_line.row}">{{msg.name}}
                  </el-dropdown-item>
                </div>
                <div v-else>
                  <el-dropdown-item :command="{id: msg.id, name: msg.name, row:scope_line.row}">{{msg.name}}
                  </el-dropdown-item>
                </div>
              </div>

            </el-dropdown-menu>
          </el-dropdown>
        </template>
      </el-table-column>

      <el-table-column label="优化确认操作" fixed="right" width="250">
        <template slot-scope="scope">
          <el-button type="warning" size="small"
                     @click="handle_clear_click(scope.$index, scope.row)">忽略
          </el-button>
          <el-button type="danger" size="small" v-bind:disabled="scope.row.sending"
                     @click="handle_withdraw_click(scope.$index, scope.row)">撤销优化
          </el-button>

        </template>
      </el-table-column>
    </el-table>

    <div v-if="page_args.total != 0">
      <el-pagination layout="total, prev, pager, next" @size-change="PageSizeChange" @current-change="PageCurrentChange"
                     :current-page.sync="page_args.current"
                     :page-size="page_args.size"
                     :total="page_args.total">
      </el-pagination>
    </div>
  </div>

</template>

<script>
  import {api_semi_optimized, api_load_semi_log, api_load_line, api_search_ip_section} from '@/api/route'

  export default {
    data() {
      return {
        pdata: [],

        listLoading: false,  //等待列表载入标志

        page_args: {
          size: 50,
          total: 0,
          current: 1,
        },
        line_data: [],
      }
    },
    created() {
      api_load_line().then(response => {
        console.log(response.data.status);
        if (response.data.status == 'error') {

        } else {
          this.line_data = response.data.data["line"];
        }

      });
      this.PageCurrentChange(1)
    },
    methods: {
      change_ip_section(row) {
        row.sending = false;
      },
      search_ip_section(row) {
        console.log("row.ip =", row.ip);

        var data = {type: "ip", ip: row.ip};

        api_search_ip_section("search", data).then(response => {
          if (response.data.result == "ok") {
            if (response.data.data.exist == true) {
              row.sections = response.data.data["sections"];
              row.wait_section_loading = false;
              this.tip('已载入 ' + row.ip + ' 对应或所属的地址段信息', "success");
              row.sending = false;
            }
            else {
              this.$alert('对不起，无法找到目标地址（' + row.ip + '）对应的地址段信息！', '查询失败')
            }
          }
          else {
            this.show_error_tip('查询失败： ', response.data.error["code"]);
          }
        });
      },

//      切换线路
      handleDropdown(command) {
        console.log('command.name =', command.id, command.name, command.row.ip_section);
        if (command.row.section_name == '') {
          alert("请选择合适的ip地址段！");
          return null
        }

        this.$confirm('切换 ' + command.row.ip_section + ' 到' + command.name + '，并清除记录, 是否继续?', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning',
          center: true
        }).then(() => {
          var data = {
            "ip": command.row.ip,
            "optimization": {
              "line_id": command.id, "optimized": 1, "ip_section": command.row.section_name,
            }
          };

          api_semi_optimized("optimization", data).then(response => {
            console.log('submit!', response.data);
            this.tip("`" + command.row.ip_section + "线路切换` 发送成功", "success");
            command.row.sending = false;
          });
          this.pdata.pop(command.row);
        }).catch(() => {
          this.tip("已取消： 线路切换" + command.row.ip_section, "info");
        });
      },
      tip(msg, type) {
        this.$message({message: msg, type: type});
      },

//      清除记录
      handle_clear_click(index, row) {
        console.log(`删除记录`);

        this.$confirm('忽略此路由（' + row.ip + '）请求, 是否继续?', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning',
          center: true
        }).then(() => {
          row["sending"] = true;
          var data = {
            "clear": {
//              "optimized": 2,
            },
            "ip": row.ip,
          };
          api_semi_optimized("clear", data).then(response => {
            console.log('submit!', response.data);
            row.sending = true;
            this.tip("`" + row.ip + '清除` 发送成功!', 'success');
            this.pdata.pop(row);
          })
        }).catch(() => {
          this.tip('已取消： 清除记录操作' + row.ip, 'info');
        });
      },

//      撤销优化
      handle_withdraw_click(index, row) {
        console.log("撤销优化");
        if (row.section_name == '') {
          alert("请选择合适的ip地址段！");
          return null
        }

        this.$confirm('此操作将从路由表中删除此路由（' + row.ip_section + '），并清除本地记录, 是否继续?', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning',
          center: true
        }).then(() => {
          row["sending"] = true;
          var data = {
            "optimization": {
              "optimized": 2,
              "ip_section": row.section_name,
            },
            "ip_section": row.ip_section,
          };
          api_semi_optimized("optimization", data).then(response => {
            console.log('submit!', response.data);
            this.pdata.pop(row);
          });
          this.tip("`" + row.ip_section + '撤销优化` 发送成功!', 'success');
        }).catch(() => {
          this.tip('已取消： 撤销优化' + row.ip_section, 'info');
        });
      },

      PageSizeChange(index) {
        // if (this.page_args.current != index){
        //   this.PageCurrentChange()
        // }
        console.log(`每页 ${index} 条`);
      },

      PageCurrentChange(index) {
        console.log(`当前页: ${index}`);
        var data = [];
        this.listLoading = true;
        api_load_semi_log(this.page_args.size * (index - 1), this.page_args.size).then(response => {
          console.log("PageCurrentChange =", response);
          this.pdata = response.data.data.routes;
          this.pdata.forEach((row) => {
            this.$set(row, "name", "---");
            this.$set(row, "section_name", "");
            this.$set(row, "sending", true);
            this.$set(row, "wait_section_loading", true);  //等待ip地址段获取标志
            this.$set(row, "sections", [])
          });

          this.page_args.current = index;
          this.page_args.total = response.data.count;
          this.listLoading = false;
        });
      }

    }
  }
</script>
