<template>
    <div class="personal-box">
      <div class="drawPieBox" id="drawPie" :style="{'height':'280px','width':'100%',}"></div>
    </div>
</template>


<script>
  import databox from '@/components/dashboard/databox'
  import echarts from 'echarts'
export default {
  name: 'personal',
  data(){
    return{
      websocket:null,
      todayRecord:[],
    }

  },
  created(){
    this.initWebsocket()
  },
  methods:{
    drawPie(){
      var scale = 1;
      var echartData = this.todayRecord
      //   [
      //   {
      //   value: 2000,
      //   name: '入侵检测'
      // }, {
      //   value: 3800,
      //   name: '私接告警'
      // }, {
      //   value: 3500,
      //   name: 'PLC异常'
      // }]
      var rich = {
        yellow: {
          color: "#ffc72b",
          fontSize: 18 * scale,
          padding: [5, 10],
          align: 'center'
        },
        total: {
          color: "#ffc72b",
          fontSize: 24 * scale,
          align: 'center'
        },
        white: {
          color: "#fff",
          align: 'center',
          fontSize: 10 * scale,
          padding: [0, 20]
        },
        blue: {
          color: '#49dff0',
          fontSize: 12 * scale,
          align: 'center'
        },
        // hr: {
        //   borderColor: '#0b5263',
        //   width: '100%',
        //   borderWidth: 2,
        //   height: 0,
        // }
      }
      // var option = {
      //   backgroundColor: '#031f2d',
      //   title: {
      //     text:'总考生数',
      //     left:'center',
      //     top:'53%',
      //     padding:[24,0],
      //     textStyle:{
      //       color:'#fff',
      //       fontSize:18*scale,
      //       align:'center'
      //     }
      //   },
      //   legend: {
      //     selectedMode:false,
      //     formatter: function(name) {
      //       var total = 0; // 告警数量率总和
      //       var averagePercent; //综合告警率率
      //       echartData.forEach(function(value, index, array) {
      //         total += value.value;
      //       });
      //       return '{total|' + total + '}';
      //     },
      //     data: [echartData[0].name],
      //     left: 'center',
      //     top: 'center',
      //     icon: 'none',
      //     align:'center',
      //     textStyle: {
      //       color: "#fff",
      //       fontSize: 16 * scale,
      //       rich: rich
      //     },
      //   },
      //   series: [{
      //     name: '总告警数量',
      //     type: 'pie',
      //     radius: ['42%', '50%'],
      //     hoverAnimation: false,
      //     color: ['#c487ee', '#deb140', '#49dff0', '#034079', '#6f81da', '#00ffb4'],
      //     label: {
      //       normal: {
      //         formatter: function(params, ticket, callback) {
      //           var total = 0; //告警总数量
      //           var percent = 0; //分别占比
      //           echartData.forEach(function(value, index, array) {
      //             total += value.value;
      //           });
      //           percent = ((params.value / total) * 100).toFixed(1);
      //           return '{white|' + params.name + '}\n{hr|}\n{yellow|' + params.value + '}\n{blue|' + percent + '%}';
      //         },
      //         rich: rich
      //       },
      //     },
      //     labelLine: {
      //       normal: {
      //         length: 55 * scale,
      //         length2: 0,
      //         lineStyle: {
      //           color: '#0b5263'
      //         }
      //       }
      //     },
      //     data: echartData
      //   }]
      // };
      let PieChart = echarts.init(document.getElementById('drawPie'))
      PieChart.setOption({
        title: {
          text:'总告警数量',
          left:'center',
          top:'53%',
          padding:[20,0],
          textStyle:{
            color:'#fff',
            fontSize:14*scale,
            align:'center'
          }
        },
        legend: {
          selectedMode:false,
          formatter: function(name) {
            var total = 0; // 告警数量率总和
            var averagePercent; //综合告警率率
            echartData.forEach(function(value, index, array) {
              total += value.value;
            });
            return '{total|' + total + '}';
          },
          data: [echartData[0].name],
          left: 'center',
          top: 'center',
          icon: 'none',
          align:'center',
          textStyle: {
            color: "#fff",
            fontSize: 12 * scale,
            rich: rich
          },
        },
        series: [{
          name: '总告警数量',
          type: 'pie',
          radius: ['42%', '50%'],
          hoverAnimation: false,
          color: ['#c487ee', '#deb140', '#49dff0', '#034079', '#6f81da', '#00ffb4'],
          label: {
            normal: {
              formatter: function(params, ticket, callback) {
                var total = 0; //告警总数量
                var percent = 0; //分别占比
                echartData.forEach(function(value, index, array) {
                  total += value.value;
                });
                percent = ((params.value / total) * 100).toFixed(1);
                return '{white|' + params.name + '}\n{hr|}\n{yellow|' + params.value + '}\n{blue|' + percent + '%}';
              },
              rich: rich
            },
          },
          labelLine: {
            normal: {
              length: 12 * scale,
              length2: 0,
              lineStyle: {
                color: '#0b5263'
              }
            }
          },
          data: echartData
        }]
      })
    },
    initWebsocket(){
      const wsuri = 'ws://192.168.99.131:9000';
      this.websocket = new WebSocket(wsuri)
      this.websocket.onopen = this.websocketonopen
      this.websocket.onerror = this.websocketonerror
      this.websocket.onmessage = this.websocketonmessage
      this.websocket.onclose = this.websocketonclose
    },
    websocketonopen() {
      console.log("WebSocket连接成功 Today");
      this.websocketsend('connect success')
    },
    websocketonerror(e) { //错误
      console.log("WebSocket连接发生错误");
    },
    websocketonmessage(e){ //数据接收
      let redata = JSON.parse(e.data);
      for (let i in redata){
        switch (redata[i]["type"]) {
          case 'iprecord':
            redata[i]["name"] = "IP告警";
            break;
          case 'plcset':
            redata[i]["name"] = "PLC配置";
            break;
          case 'plcconfig':
            redata[i]["name"] = "PLC日志";
            break;
          default:
            redata[i]["name"] = "未知";
        }
        redata[i]["value"] = redata[i]["count"]
        delete redata[i]["type"],redata[i]["count"]

      }
      this.todayRecord = redata
      this.websocketsend(e.data)
    },

    websocketsend(agentData){//数据发送
      const sendData = {server:'analysis_service',func:'alarm_today'}
      this.websocket.send(JSON.stringify(sendData));
    },

    websocketclose(e){ //关闭
      console.log("connection closed (" + e.code + ")");
    },
  },
  mounted(){
    // this.drawPie()
  },
  watch:{
    todayRecord: function (val, oldVal) {
      this.drawPie()
    }
  }
 }

</script>

<style >
</style>
