<template>
	<div class="bar">
		<v-header :name="name" :legendArr="legendArr" :myChart="myChart"></v-header>
		<div class="main">
		</div>
	</div>
</template>

<style>
.bar {
	width: 100%;
	height: 800px;
}
.main {
	height: calc(100% - 200px);
  width: 100%;
}
</style>

<script>
	import header from './header'
  let echarts = require('echarts/lib/echarts');
	require('echarts/lib/component/legend');

	export default {
		props: {
			isSeries: {
				type: Array,
				default() {
					return []
				}
			},
		},
		components: {
      'v-header': header,
    },
		data() {
	  	return {
				msg: "bar",
				name: "Top 10",
				option: {},
				legendArr: [],
				mySeries : [],
				myChart: {},
	  	}
		},
    watch:{
			isSeries(cur, old){
				this.coverData();
      },	
    },
		methods: {
	  	init(option) {
				if (option && typeof option === "object") {
					this.myChart.setOption(option, true);
					window.onresize = this.myChart.resize;
					window.addEventListener('resize', function() {
						this.myChart.resize()
					}.bind(this))
				}
			},
      coverData(){
				var mySeries = [];
				var yData = [];
				var links = this.isSeries
				for (var i = 0; i < links.length; i++) {
					yData.push(links[i].from + '->' + links[i].to);
				}

				mySeries.push({
        	name: 'barSer',
        	type: 'bar',
        	roam: false,
        	zlevel: 2,
					barMaxWidth: 20,
					barGap: 5,
					barCategoryGap: 5,
        	itemStyle: {
            normal: {
              color: '#40a9ed'
            },
            emphasis: {
              color: "#3596c0"
            }
        	},
        	label: {
            normal: {
              show: true,
              position: 'right',
              offset: [0, 5]
            },
            emphasis: {
              show: true,
              position: 'right',
              offset: [5, 0]
            }
					},
					data: links
				})
				this.mySeries = mySeries
        this.myChart.setOption({
					yAxis: {
						show: true,
						data: yData,
					}, 
          series: this.mySeries,
        });
      },
		},
		mounted() {
			this.myChart = echarts.init(document.querySelector('.bar .main'));
			this.option = {
    		grid: {
        	left: '50%',
        	top: 50,
        	// bottom: 30,
        	width: '20%'
    		},
    		xAxis: {
        	type: 'value',
        	scale: true,
        	position: 'top',
					splitNumber: 3,
					minInterval: 0.05,
        	boundaryGap: false,
        	splitLine: {
            show: false
        	},
        	axisLine: {
            show: false
        	},
        	axisTick: {
            show: false
        	},
        	axisLabel: {
						show: false,
            textStyle: {
              color: '#33FFFF'
            }
        	}
    		},
    		yAxis: {
					show: false,
        	type: 'category',
        	nameGap: 6,
        	axisLine: {
            show: true,
            lineStyle: {
              color: '#33FFFF'
            }
        	},
        	axisTick: {
            show: false,
            lineStyle: {
              color: '#33FFFF'
            }
        	},
        	axisLabel: {
            interval: 0,
            textStyle: {
              color: '#33FFFF'
            }
					},
					data: []
        	// data: yData
    		},
			};
			this.init(this.option)
			// if (this.isSeries.length!=0 && typeof this.isSeries === "object") {
			// 	this.coverData();	
			// }
		},
	}
</script>
