<template>
  <div id="circle"></div>
</template>

<style>
#circle {
  background-size: 100% 100%;
  height: 400px;
  width: 400px;
  position: absolute;
}
#circle:after {
	content: ' ';
	display: block;
	background-image: linear-gradient(44deg, rgba(0, 255, 51, 0) 50%, #00ff33 100%);
	width: 180px;
	height: 180px;
	position: absolute;
	top: 5.1%;
	left: 4.7%;
	animation: radar-beam 4s infinite;
	animation-timing-function: linear;
	transform-origin: bottom right;
	border-radius: 100% 0 0 0;
}
@keyframes radar-beam {
	0% {
	  transform: rotate(0deg);
	}
	100% {
	  transform: rotate(360deg);
	}
}
</style>

<script>
  let echarts = require('echarts/lib/echarts');

  export default {
		props: {
			isSeries: {
				type: Array,
				default() {
					return []
				}
      },
			isSelected: {
				type: String,
				default() {
					return ''
				}
			},
    },
    data() {
      return {
        option: {},
      }
    },
    mounted() {
      this.myChart = echarts.init(document.getElementById('circle'));
      this.initMap()
    },
    watch:{
			isSeries(cur, old){
				this.isSeries = cur
				this.coverData()
      },
      isSelected(cur, old){
        this.selectedShow(cur)
      },
    },
    methods: {
      initMap() {
				var minAngle = 10;	// 最小角度
				var indicator = [];
				var idx = 0;

				var randomArr = [];
					for(var i = 0;i < 5;i++){
						var r = Math.round(Math.random() * (360 / minAngle - 1));
						randomArr.push(r);
					}
				for(var i=0;i<360 / minAngle;i++){
					if(randomArr.indexOf(i) > -1){
						indicator.push({
							text: i * 10 + '`'
						});
					}
				};
				this.option = {
					tooltip: {
						trigger: 'item',
						formatter: function(params, callback){
							// console.log('str', params)
							return params.seriesName
						},
					},
        	radar: [{
            indicator: indicator,
            center: ['50%', '50%'],
            radius: 180,
            startAngle: 90,
            splitNumber: 4,
            shape: 'circle',
            name: {
              show: false,
              },
              splitArea: {
                areaStyle: {
                  color: 'rgba(255, 255, 255, 0)'
                }
              },
              axisLine: {
                lineStyle: {
                  color: 'rgba(0, 255, 51, 0)'
                }
              },
              splitLine: {
                lineStyle: {
                  color: 'rgba(0, 255, 51, 1)'
                }
              }
            }],
					series: [],
				}
        this.drawMap(this.option)
			},
			roundDatas(starname, num) {
				var datas = [];
				// var num = 5
				for (var i = 0; i < num; i++) {
					datas.push({
						name: '',
						itemStyle:{
							normal: {
								opacity: 0,
            	}
						}
					});
				}
    		var mark = Math.floor(Math.random() * num);
    		datas[mark] = {
        	symbolSize: 8,
        	itemStyle: {
            normal: {
              color: '#00BFFF'
            }
        	},
        	label: {
            normal: {
              show: false,
              formatter: starname,
              position: 'top'
            }
        	}
				};
				// console.log('datas', datas)
    		return datas;
			},
			randomSize(n, min, max){
				var arr = [];
				var arr2 = [];
				for(var i=0;i<max-min+1;i++){
					arr[i] = i + min;
				}
				for(var i=0;i<n;i++){
					var x = parseInt(Math.random()*arr.length);
					arr2[i] = arr[x];
					for(var j=x; j<arr.length; j++){
					arr[j] = arr[j+1];
					}
					arr.length = arr.length-1;
				}
				return arr2;
			},
      coverData(){
        var nodes = this.isSeries
				var mySeries = [];
				var rsize = this.randomSize(80, 5, 85)
				for(var i=0; i<nodes.length; i++){
					var size = rsize[i+3] + '%'
					var data = this.roundDatas(nodes[i].target, rsize[i+3])
					mySeries.push({
						name: nodes[i].node + '->' + nodes[i].target,
						type: 'graph',
						layout: 'circular',
						circular: {
							rotateLabel: false
						},
						symbol: 'circle',
						symbolSize: 1,
						width: size,
						height: size,
						data: data,
					});
				}
				console.log('series',mySeries)
        var options = this.myChart.getOption()
        options.series = mySeries
        this.myChart.setOption(options, true)
				this.mySeries = mySeries
        // this.myChart.setOption({
        //   series: mySeries,
				// });
			},
			selectedShow(selected=''){
				var nodes = this.isSeries
				var show_series = []
        for(var i=0; i< this.mySeries.length; i++){
          if(this.mySeries[i].name.split('->')[0] == selected){
            show_series.push(this.mySeries[i])
          }
				}
        var options = this.myChart.getOption()
        options.series = show_series
        this.myChart.setOption(options, true)
			},
      drawMap(option) {
        if (typeof this.isSeries === "object" || this.isSeries.length!=0) {
          this.myChart.setOption(option, true);
					window.onresize = this.myChart.resize;
					this.coverData()
        }
			},
    },
  }
</script>
