<template>
  <div class="filter_block">
    <el-date-picker
      v-model="time_value"
      type="datetimerange"
      :picker-options="pickerOptions"
      range-separator="至"
      start-placeholder="开始日期"
      end-placeholder="结束日期"
      align="right"
      @change="searchTime">
    </el-date-picker>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        pickerOptions: {
          shortcuts: [{
            text: '最近一小时',
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 1);
              picker.$emit('pick', [start, end]);
            }
          },{
            text: '最近一天',
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24);
              picker.$emit('pick', [start, end]);
            }
          }, {
            text: '最近一个月',
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
              picker.$emit('pick', [start, end]);
            }
          }],
          disabledDate(time){
            return  time.getTime() > Date.now() || time.getTime() < (Date.now()-(180*24*60*60*1000));
          },
        },
        time_value: '',
        select_time: {},
      };
    },
    methods: {
      searchTime(){
        if(this.time_value != null){
          this.select_time['start'] = this.time_value[0].toISOString()
          this.select_time['end'] = this.time_value[1].toISOString()
          this.$emit('filterTime', this.select_time)
        }
      },
    },
  };
</script>

<style>
.filter_block > .el-input__inner {
  height: 30px;
  opacity: 0.3;
}
.el-picker-panel {
  opacity: 0.3;
}
/* .filter_block > .el-picker-panel .el-picker-panel__footer .el-button{
  background: rgb(14, 221, 236);
} */
</style>