<template>
	<div class="gauge">
		<v-header :name="name" :legendArr="legendArr" :myChart="myChart"></v-header>
		<div class="main">
		</div>
	</div>
</template>

<style>
.map {
	width: 100%;
	height: 900px;
}
.main {
	height: calc(100% - 200px);
  width: 100%;
}
</style>

<script>
	import header from './header'
	let echarts = require('echarts/lib/echarts');
	require("echarts/lib/chart/gauge");
	require('echarts/lib/component/legend');

	export default {
		props: {
			isSeries: {
				type: Array,
				default() {
					return []
				}
			},
			isSelected: {
				type: String,
				default() {
					return ''
				}
			}
		},
    components: {
      'v-header': header,
    },
		data() {
	  	return {
				name: "CPU使用率",
				msg: "gauge",
        option: {},
				legendArr: [],
				mySeries : [],
				color: this.$store.state.color,
				myChart: {},
	  	}
		},
    watch:{
			isSeries(cur, old){
        this.coverData()
      },
      isSelected(cur, old){
        this.coverData(cur)
      },
    },
		methods: {
	  	init(option) {
				if (option && typeof option === "object") {
					this.myChart.setOption(option, true);
					window.onresize = this.myChart.resize;
					window.addEventListener('resize', function() {
						this.myChart.resize()
					}.bind(this))
				}
			},
		  coverData(selected=''){
				var nodes = this.isSeries
				var mySeries = [];
				var device = []
				for(var i = 0; i < nodes.length; i++){
					if(nodes[i]['name'] == selected && selected.length!=0){
						device.push(nodes[i]['device'])
						mySeries.push({
							name: nodes[i]['device'],
							type: 'gauge',
							center: ['50%', '60%'],
							min: 0,
							max: 100,
							splitNumber: 5,
							startAngle: 180,
							endAngle: 0,
							radius: '75%',
							data: [{
								value: [nodes[i]['cpu']],
							}],
							axisLine: {
								lineStyle: {
									color: [
										[0.33, 'green'],
										[0.66, 'yellow'],
										[1, 'red'],

									],
									width: 30,
								}
							},
							axisLabel: {
								distance: 2,
								textStyle: {
									color: "#7887ae",
									fontSize: 20,
								}
							},
							pointer: {
								show: true,
								length: '70%',
								width: 6,
								},
							detail: {
								show: true,
								color: '#f00',
								offsetCenter: [0, 0],
								textStyle: {
									fontWeight: 'bolder',
									color: '#fff'
								},
							},
						});
					}
				}
				this.mySeries = mySeries
				var show_series = []
        show_series.push(mySeries[0])

				this.myChart.setOption({
					legend: {
						selectedMode: 'single',
						data: name,
					},
					series: this.mySeries,
					// series: show_series,
				});
     	},
		},
		mounted() {
      this.myChart = echarts.init(document.querySelector('.gauge .main'));	
      var color = ['#00da07', '#00ed03', '#00b70d', '#007a19', '#00641d']		
			this.option =  {
				legend: {
					show: true,
					itemWidth: 14,
					itemHeight: 10,
					itemGap: 48,
					width: 680,
					height: 80,
					align: 'auto',
					data: name,
					selectedMode: 'single',
					orient: 'horizontal',
				},
    		tooltip: {
        	formatter: "{a} <br/>{c} {b}"
				},
				series: [],
				};
				this.init(this.option)
				
				if (this.isSeries.length!=0 && typeof this.isSeries === "object") {
          this.coverData();
				}
			},
	}
</script>