<template>
	<div class="lines">
    <v-header :name="name" :legendArr="legendArr" :myChart="myChart"></v-header>
    <div class="filter">
      <v-filter class="time" v-on:filterTime="filterTime"></v-filter>

      <div class="selected">
        <el-select
          v-model="dev_value"
          placeholder="请选择设备"
          @change="changeDevice(dev_value)">
          <el-option
            v-for="item in device"
            :key="item"
            :label="item"
            :value="item">
          </el-option>
        </el-select>

        <el-select
          v-model="port_value"
          placeholder="请选择端口"
          @change="changePort(port_value)">
          <el-option
            v-for="item in port"
            :key="item"
            :label="item"
            :value="item">
          </el-option>
        </el-select>
        <el-button type="small" @click="loadData(dev_value, port_value)">刷新</el-button>
      </div>
    </div>
		<div class="main"></div>
	</div>
</template>

<style>
.lines {
	width: 100%;
	height: calc(100% - 20px);
  position: absolute;
}
.main {
  height: 100%;
  width: 100%;
  transition: all 0.5s linear;
}
.filter{
  position: relative;
  display: flex;
  padding: 10px 0 0 28px;
  font-size: 12px;
  line-height: 10px;
  color: white;
  z-index: 9999;
}
.filter .time{
	width: 100px;
	height: 50px;
  margin-left: 8%;
	flex-grow: 0;
}
.filter .selected{
	margin-left: 25%;
  height: 47px;
	width: 100px;
	flex-grow: 1;
}
.block{
  flex: 1;
  height: 50px;
}
.selected > .el-select{
  opacity: 0.3;
}
.selected > .el-select .el-input__inner{
  height: 30px;
}
/* .selected > .el-select-dropdown .el-popper{
  opacity: 0.3;
} */
/* .el-select-dropdown{
  opacity: 1;
} */
.selected > .el-button--small{
  background: aquamarine;
  opacity: 0.3;
}
</style>

<script>
  import { getHistory } from '@/api/table'
  import header from './header'
  import filter from './filter'
  let echarts = require('echarts/lib/echarts');
	require("echarts/lib/chart/lines");
  require('echarts/lib/component/legend');
  require("echarts/lib/component/grid");
	export default {
		props: {
			isHistory: {
				type: Array,
				default() {
					return []
				}
      },
			isSelected: {
				type: String,
				default() {
					return ''
				}
      },
    },
    components: {
      'v-header': header,
      'v-filter': filter,
    },
		data() {
	  	return {
        msg: "lines",
        name: '折线图',
        option: {},
        legendArr: [],
        mySeries : [],
        device: [],
        select_time: {},
        port: [],
        xData: [],
        nodes: [],
        port_value: '',
        dev_value: '',
        selected: '',
        select_dev: [],
        select_port: [],
				color: this.$store.state.color,
        myChart: {},
	  	}
    },
    watch:{
      isSelected(cur, old){
        if(this.isHistory.length!=0){
          this.isSelected = cur
          this.dev_value = ''
          this.port_value = ''
          this.xData = this.isHistory[0].time
          this.nodes = this.isHistory[0].history_nodes
          this.coverData(cur)
        }
      },
      isHistory(cur, old){
        this.dev_value = ''
        this.port_value = ''
        this.isHistory = cur
        this.xData = this.isHistory[0].time
        this.nodes = this.isHistory[0].history_nodes
        this.coverData()
      }
    },
		methods: {
	  	init(option) {
				if (option && typeof option === "object") {
          this.myChart.setOption(option, true);
          window.onresize = this.myChart.resize;
					window.addEventListener('resize', function() {
						this.myChart.resize()
          }.bind(this))
				}
      },
      filterTime: function (time) {
        this.select_time = time
          getHistory(this.select_time).then(response => {
            this.xData = response.data.data.time
            this.nodes = response.data.data.history_nodes
            this.coverData();
          });
      },
      loadData(dev_value, port_value){
        if(dev_value == '' && port_value == ''){
          getHistory(this.select_time).then(response => {
            this.xData = [response.data.data][0].time
            this.nodes = [response.data.data][0].history_nodes
            this.coverData();
          });
        }else{
          var series = []
          for(var i=0; i< this.mySeries.length; i++){
            if(port_value.length!=0){
              var node_name = dev_value + "=" + port_value
              var series_name = this.mySeries[i]['name'].split("=")[1] + "=" + this.mySeries[i]['name'].split("=")[2]
              if(node_name == series_name){
                series.push(this.mySeries[i])
              }
            }else{
              if(dev_value == this.mySeries[i]['name'].split("=")[1]){
                series.push(this.mySeries[i])
              }
            }
          }
          var options = this.myChart.getOption()
          options.series = series
          if(series.length != 0){
            this.myChart.setOption(options, true)
          }
        }
      },
      changeDevice(data){
        this.select_dev = data
        this.port_value = ''
        var port = []
        for(var i = 0; i < this.nodes.length; i++){
          if(this.nodes[i]['device']==data){
            port.push(this.nodes[i]['port'])
          }
        }
        this.port =  Array.from(new Set(port))
      },
      changePort(data){
        this.select_port = data
      },
      coverData(selected=''){
        var nodes = this.nodes
        var mySeries = [];
        var device = []
        var port = []
        for (var i = 0; i < nodes.length; i++) {
          if((selected !='' && nodes[i]['node']==selected) || nodes[i]['node']==this.isSelected || selected ==''){
            device.push(nodes[i]['device'])
            // port.push(nodes[i]['port'])
            mySeries.push({
              name: nodes[i]['node'] + '=' + nodes[i]['device'] + '=' +  nodes[i]['port'] + '=' + 'in',
              type: "line",
              connectNulls: true,
              symbolSize: 8,
              symbol: 'circle',
              areaStyle: {
                normal: {
                  color: {
                    type: 'linear',
                    x: 0,
                    y: 0,
                    x2: 0,
                    y2: 1,
                    colorStops: [{
                      offset: 0,
                      color: 'rgba(203, 255, 112, 0.25)'
                    }, {
                      offset: 1,
                      color: 'rgba(203, 255, 112, 0.05)'
                    }],
                    globalCoord: false
                  }
                }
              },
              itemStyle: {
                normal: {
                  color: '#CAFF70',
                  lineStyle: {
                    width: 1,
                    type: 'dotted'
                  },
                  barBorderRadius: 0,
                  label: {
                    show: false,
                  }
                }
              },
              data: nodes[i]['in'],
            },{
              name: nodes[i]['node'] + '=' + nodes[i]['device'] + '=' +  nodes[i]['port'] + '=' + 'out',
              type: 'line',
              connectNulls: true,
              areaStyle: {
                normal: {
                  color: {
                    type: 'linear',
                    x: 0,
                    y: 0,
                    x2: 0,
                    y2: 1,
                    colorStops: [{
                      offset: 0,
                      color: 'rgba(255, 127, 80, 0.25)'
                    }, {
                      offset: 1,
                      color: 'rgba(255, 127, 80, 0.05)'
                    }],
                    globalCoord: false
                  }
                }
              },
              itemStyle: {
                normal: {
                  color: '#FF7F50',
                  barBorderRadius: 0,
                  label: {
                    show: false,
                  }
                }
              },
              data: nodes[i]['out'],
            }) 
          }
        }
        this.device = Array.from(new Set(device))
        // this.port =  Array.from(new Set(port))
        this.mySeries = mySeries
        var show_series = []
        show_series.push(mySeries[0])
        show_series.push(mySeries[1])
        var options = this.myChart.getOption()
        options.xAxis[0].data = this.xData
        options.series = show_series
        this.myChart.setOption(options, true);
      },
    },
		mounted() {
      document.getElementsByClassName("el-select-dropdown")[0].style.opacity = '0.3'
      document.getElementsByClassName("el-select-dropdown")[1].style.opacity = '0.3'

			this.myChart = echarts.init(document.querySelector('.lines .main'));			
			this.option = {
        legend: {
          show: true,
          top: 15,
          textStyle: {
            color: 'grey',
            fontSize: '12'
          },
          formatter: function (name) {
            return name.split("=")[3];
          },
          data: name
        },
        tooltip: {
          trigger: 'axis',
          axisPointer: {
            type: 'cross'
          },
          textStyle: {
              color: '#fff',
              fontSize: '15',
              fontWeight: 'normal',
              align: 'left',
            },
          formatter: function(params, callback){
            var str = ''
            for(var i=0; i<params.length; i++){
              str += 'device: ' + params[i].seriesName.split("=")[1] + '<br>' + 'port: ' + params[i].seriesName.split("=")[2] + '<br>'
                    + 'type: ' +params[i].seriesName.split("=")[3] + '<br>' + 'value: ' + params[i].value + '<br>' + '<br>'
            }
            return str
          },
        },
        grid: {
          borderWidth: 0,
          top: 10,
          height: '75%',
          bottom: 95,
          textStyle: {
            color: "#fff"
          }
        },
        xAxis: [{
					type: "category",
					name: '时间',
          axisLine: {
            lineStyle: {
              color: '#32346c'
            }
          },
          splitLine: {
            show: false
          },
          axisTick: {
            show: false
          },
          splitArea: {
            show: false
          },
          axisLabel: {
            inside: false,
            interval: 10,
            rotate: 40,
            textStyle: {
              color: '#bac0c0',
              fontWeight: 'normal',
              fontSize: '12',
            },
          },
            // data: xData,
        }],
        yAxis: {
					type: 'value',
					name: '测值',
          axisTick: {
            show: false
          },
          axisLine: {
            show: true,
            lineStyle: {
              color: '#32346c',
            }
          },
          splitLine: {
            show: false,
            lineStyle: {
              color: '#32346c ',
            }
          },
          axisLabel: {
            textStyle: {
              color: '#bac0c0',
              fontWeight: 'normal',
              fontSize: '12',
            },
            formatter: '{value}',
          },
        },
        dataZoom: [{
          show: true,
          height: 30,
          xAxisIndex: [
            0
          ],
          bottom: '18%',
          start: 10,
          end: 80,
          handleIcon: 'path://M306.1,413c0,2.2-1.8,4-4,4h-59.8c-2.2,0-4-1.8-4-4V200.8c0-2.2,1.8-4,4-4h59.8c2.2,0,4,1.8,4,4V413z',
          handleSize: '110%',
          handleStyle:{
            color:"#d3dee5",               
          },
          textStyle:{
            color:"#fff"},
            borderColor:"#90979c"     
        }, {
            type: "inside",
            show: true,
            height: 15,
            start: 1,
            end: 35
        }],
        // series: [],
			},
      this.init(this.option)
		},
	}
</script>
