<template>
<div class="liquidfill">
 	<v-header :name="name" :legendArr="legendArr" :myChart="myChart"></v-header>
	<div class="main"></div>
</div>
</template>

<style>
.liquidfill {
	width: 100%;
	height: calc(100% - 20px);
}
.main {
	/* height: calc(100% - 200px); */
  height: 100%;
  width: 100%;
  transition: all 0.5s linear;
}
</style>

<script>
	import "echarts-liquidfill";
	import header from './header'
	let echarts = require('echarts/lib/echarts');

  export default {
		props: {
			isSeries: {
				type: Array,
				default() {
					return []
				}
      },
			isSelected: {
				type: String,
				default() {
					return ''
				}
			},
		},
		components: {
      'v-header': header,
    },
    data() {
      return {
				msg: "liquidfill",
				name: '内存使用',
				option: {},
				legendArr: [],
				mySeries : [],
				myChart: {},
      }
		},
		watch:{
			isSeries(cur, old){
        this.coverData()
      },
      isSelected(cur, old){
				this.coverData(cur)
      },
    },
		methods: {
	  	init(option) {
				if (option && typeof option === "object") {
					this.myChart.setOption(option, true);
					window.onresize = this.myChart.resize;
					window.addEventListener('resize', function() {
						this.myChart.resize()
					}.bind(this))
				}
			},
      coverData(selected=''){
				var mySeries = [];
				var nodes = this.isSeries
				for(var i = 0; i < nodes.length; i++){
					if(nodes[i]['name']==selected && selected.length!=0){
						mySeries.push({
							name: nodes[i]['device'],
        			type: 'liquidFill',
        			center: ['50%', '50%'],
        			radius: '30%',
        			backgroundStyle: {
								color: 'rgba(0, 0, 0, 0.4)',
								borderColor: '#156ACF',
								borderWidth: 1,
								// shadowColor: 'rgba(0, 0, 0, 0.4)',
								shadowBlur: 20
        			},
        			itemStyle: {
            		normal: {
                	color: '#6b31aa'
           	 		}
        			},
        			outline: {
            		show: false
							},
							label:{
            		normal:{
                formatter: function(params, callback){
                  return params.data.value
                },
                	textStyle: {
                    fontSize: 50,
                    color: '#D94854'
                	}
            		}
        			},
							data: [nodes[i]['memory']*0.01],
    				});
					}
				}			
				this.mySeries = mySeries
				var show_series = []
        // show_series.push(mySeries[0])

        this.myChart.setOption({
					legend: {
						selectedMode: 'single',
						data: name,
					},
					series: this.mySeries,
					// series: show_series,
				});
			},
		},
		mounted() {
			this.myChart = echarts.init(document.querySelector('.liquidfill .main'));
			this.option = {
				legend: {
          top: 15,
          textStyle: {
            color: 'grey',
            fontSize: '12'
					},
          // data: name
        },
    		tooltip: {
					trigger: 'item',
					formatter: "{b}",
					position: ['50%', '45%']
    		},
				grid: {
					left: '0%',
					right: '0%',
					bottom: '0%'
				},
    		title: {
					show: false,
					text: "ww",
					left: '10%',
					top: '10%',
					textStyle: {
						fontSize: 12,
						color: "#fff"
					}
				},
				series: [],
			}
			this.init(this.option)
			
			if (this.isSeries.length!=0 && typeof this.isSeries === "object") {
				this.coverData();
				// var options = this.myChart.getOption()
        // options.series = this.mySeries
        // this.myChart.setOption(options, true)	
			}
		},
  }
</script>
