<template>
	<div class="map">
    <v-header :name="name" :legendArr="legendArr" :myChart="myChart"></v-header>
		<div class="main">
		</div>
	</div>
</template>

<style>
.map {
	width: 100%;
	height: calc(100% - 20px);
}
.main {
	height: 100%;
  width: 100%;
  transition: all 0.5s linear;
}
</style>

<script>
  import lines from '@/components/echarts/lines'
  import header from './header'
  let echarts = require('echarts/lib/echarts');
	require('echarts/map/js/world');
	require('echarts/lib/component/legend');

	export default {
		props: {
			isSeries: {
				type: Array,
				default() {
					return []
				}
      },
      isSelected: {
				type: String,
				default() {
					return ''
				}
      },
    },
    components: {
      'v-header': header,
    },
		data() {
	  	return {
        msg: "map",
        name: 'idc流量',
        option: {},
				legendArr: [],
				mySeries : [],
				color: this.$store.state.color,
				myChart: {},
	  	}
		},
		watch:{
      isSelected(cur, old){
        this.isSelected = cur
        this.coverData()
      },
			isSeries(cur, old){
        this.coverData()
      },
    },
		methods: {
	  	init(option) {
				if (option && typeof option === "object") {
					this.myChart.setOption(option, true);
					window.onresize = this.myChart.resize;
					window.addEventListener('resize', function() {
						this.myChart.resize()
					}.bind(this))
				}
			},
		  coverData(){
        var nodes = this.isSeries
        var node = nodes.map(function (itemOpt){
          return {
            name: itemOpt.name,
            value: [
              itemOpt['lng'],
              itemOpt['lat'],
            ],
          }
        })
        var mySeries = [];
        for(var i=0; i<nodes.length; i++){
          mySeries.push({
						name: nodes[i].name,
            type: 'scatter',
            coordinateSystem: 'geo',
            data: [[nodes[i].lng, nodes[i].lat].concat([0, nodes[i].name])],
						// data: node.map(function (itemOpt) {
            //   return {
            //     name: itemOpt.name,
            //     value: itemOpt.value,
            //   };
            // }),
            symbolSize: 10,
            hoverAnimation: false,
						label: {
							normal: {
                textStyle: {
                  color: "#33FFFF",
                  fontSize: 14,
                  fontWeight: 'bold',
                },
                // formatter: '{b}',
                formatter: function(params, callback){
                  return params.data[3]
                },
                position: 'right',
                offset: [5, 0],
								show: false
							}
						},
						itemStyle: {
							normal: {
								color: '#33FFFF',
							}
						},
						zlevel: 3
          });
        }
        for(var i=0; i<mySeries.length; i++){
          if(mySeries[i].name == this.isSelected){
            mySeries[i].type = 'effectScatter'
            mySeries[i].itemStyle.normal.color = '#66ff33'
            mySeries[i].showEffectOn = 'render',
            mySeries[i].effectType =  'ripple',
            mySeries[i].rippleEffect = {
              period: 8,
              brushType: 'stroke',
              scale: 4
            }
            mySeries[i].label.normal.show = true
          }else{
            mySeries[i].type = 'scatter'
            mySeries[i].itemStyle.color = '#33FFFF'
            mySeries[i].label.normal.show = false
          }
        }

        this.mySeries = mySeries
        // var options = this.myChart.getOption()
        // options.series = this.mySeries
        // this.myChart.clear()
        // this.myChart.setOption(options, false, true);
        this.myChart.setOption({
          series: this.mySeries,
        });
        this.myChart.off('click')
        this.myChart.on('click', (params)=>{
          if(params.componentType=='series' && params.data.length!=0){
            this.$emit('childByValue', params.data[3])
          }
        })
     },
		},
		mounted() {
				this.myChart = echarts.init(document.querySelector('.map .main'));			
				this.option = {
          tooltip : {
            trigger: 'item',
            formatter:function(params){
              return params.seriesName
            }
          },
					geo: {
            name: 'World',
            type: 'map',
            map: 'world',
            roam: true,
            scaleLimit: {
              max: 10,
              min: 1,
            },
            layoutCenter: ['50%', '53%'],
            label: {
              emphasis: {
                show: false
              }
            },
            itemStyle: {
              normal: {
                color: '#3c4247',
                opacity: 0.6,
                borderColor: 'rgba(255, 255, 255, 0.35)'
              },
              emphasis: {
                areaColor: '#2a333d'
              }
            }
					},
          series: [],
				};
				this.init(this.option)
				
				if (this.isSeries.length!=0 && typeof this.isSeries === "object") {
					this.coverData();
				}
			},
	}
</script>
