<template>
	<div class="pie">
		<v-header :name="name" :legendArr="legendArr" :myChart="myChart"></v-header>
		<div class="main">
		</div>
	</div>
</template>

<style>
.pie {
	width: 100%;
	height: 900px;
}
.main {
	height: calc(100% - 200px);
  width: 100%;
}
</style>

<script>
	import header from './header'
  let echarts = require('echarts/lib/echarts');
	require('echarts/lib/component/legend');

	export default {
		props: {
			isSeries: {
				type: Array,
				default() {
					return []
				}
			},
			isSelected: {
				type: String,
				default() {
					return ''
				}
			},
		},
		components: {
      'v-header': header,
    },
		data() {
	  	return {
				msg: "pie",
				name: "内存使用率",
        option: {},
				legendArr: [],
				mySeries : [],
				color: this.$store.state.color,
				myChart: {},
	  	}
		},
    watch:{
      isSelected(cur, old){
        this.coverData(cur)
      },
    },
		methods: {
	  	init(option) {
				if (option && typeof option === "object") {
					this.myChart.setOption(option, true);
					window.onresize = this.myChart.resize;
					window.addEventListener('resize', function() {
						this.myChart.resize()
					}.bind(this))
				}
			},
      coverData(selected=''){
				var mySeries = [];
				var nodes = this.isSeries[0].nodes
				var dataStyle = {
					normal: {
						label: {
							show: false
						},
						labelLine: {
							show: false
						},
						shadowBlur: 40,
						shadowColor: 'rgba(40, 40, 40, 0.5)',
					}
				};
				var placeHolderStyle = {
					normal: {
						color: 'rgba(44,59,70,1)',
						label: {
							show: false
						},
						labelLine: {
							show: false
						}
					},
					emphasis: {
								color: 'rgba(44,59,70,1)'
						}
					}
					for(var i = 0; i < nodes.length; i++){
						if(nodes[i]['node']==selected){
							mySeries.push({
								name: 'memory',
								type: 'pie',
								clockWise: false,
								radius: [80, 85],
								itemStyle: dataStyle,
								hoverAnimation: false,
								center: ['50%%', '50%'],
								data: [{
									value: nodes[i]['memory'],
									label: {
										normal: {
											formatter: '{d}%',
											position: 'center',
											show: true,
											textStyle: {
												fontSize: '35',
												fontWeight: 'normal',
												color: '#3dd4de'
											}
										}
									},
									itemStyle: {
										normal: {
											color: '#3dd4de',
											shadowColor: '#3dd4de',
											shadowBlur: 10
										}
									}
								}, {
									value: (100-nodes[i]['memory']),
									name: 'invisible',
									itemStyle: placeHolderStyle,
								}]
							});
						}
					}			
				this.mySeries = mySeries
        this.myChart.setOption({
          series: this.mySeries,
        });
      },
		},
		mounted() {
				this.myChart = echarts.init(document.querySelector('.pie .main'));
				this.option = {
    			tooltip: {
        		show: false,
    			},
					toolbox: {
						show: false,
					},
					series:[]
				}
				this.init(this.option)
			
				if (this.isSeries && typeof this.isSeries === "object") {
					this.coverData();
					// var options = this.myChart.getOption()
          // options.series = this.mySeries
          // this.myChart.setOption(options, true)	
				}
			},
	}
</script>
