<template>
	<div id="radar"></div>
</template>

<style>
#radar {
	position: relative;
	width: 400px;
	height: 400px
}
#radar:after {
	content: ' ';
	display: block;
	background-image: linear-gradient(44deg, rgba(0, 255, 51, 0) 50%, #00ff33 100%);
	width: 180px;
	height: 180px;
	position: absolute;
	top: 5.1%;
	left: 4.7%;
	animation: radar-beam 4s infinite;
	animation-timing-function: linear;
	transform-origin: bottom right;
	border-radius: 100% 0 0 0;
}
@keyframes radar-beam {
	0% {
	  transform: rotate(0deg);
	}
	100% {
	  transform: rotate(360deg);
	}
}
</style>

<script>
	let echarts = require('echarts/lib/echarts');
	require('echarts/lib/component/radar');
	require('echarts/lib/component/legend');

	export default {
		data() {
	  	return {
				msg: "radar",
				socket: {},
				indicator: [],
        option: {},
        mySeries:[],
	  	}
		},
		mounted() {
      this.myChart = echarts.init(document.getElementById('radar'));
			this.initMap()
		},
		methods: {
	  	initMap() {
				var mockData= JSON.parse(localStorage.getItem('mockData'));
				var minAngle = 10;	// 最小角度
				var indicator = [];
				var data = [];
				var idx = 0;
				// var randomArr = getRandom(360 / minAngle, mockData.length);
	
				var randomArr = [];
					for(var i = 0;i < mockData.length;i++){
						var r = Math.round(Math.random() * (360 / minAngle - 1));
						randomArr.push(r);
					}
				for(var i=0;i<360 / minAngle;i++){
					if(randomArr.indexOf(i) > -1){
						indicator.push({
							text: mockData[idx].text
						});
						data.push(mockData[idx].value);
						idx++;
					}else{
						indicator.push({
							text: i * 10 + '`'
						});
						data.push('-');
					}
				};

				this.option ={
        	radar: [{
            indicator: indicator,
            center: ['50%', '50%'],
            radius: 180,
            startAngle: 90,
            splitNumber: 4,
            shape: 'circle',
            name: {
              show: false,
              },
              splitArea: {
                areaStyle: {
                  color: 'rgba(255, 255, 255, 0)'
                }
              },
              axisLine: {
                lineStyle: {
                  color: 'rgba(0, 255, 51, 0)'
                }
              },
              splitLine: {
                lineStyle: {
                  color: 'rgba(0, 255, 51, 1)'
                }
              }
            }],
        		series: [{
              name: '雷达图',
              type: 'radar',
              symbol: 'circle',
              symbolSize: 24,
              silent: true,
              animationEasing: 'quarticOut',
              animationEasingUpdate: 'quarticOut',
              animationDuration: 2000,
              animationDurationUpdate: 2000,
              label: {
                normal: {
									show: true,
									textStyle: {
										color: 'rgba(0, 255, 51, 1)'
									}
              	}
              },
              itemStyle: {
                normal: {
                	opacity: 0
                },
                emphasis: {
                  color: {
                    type: 'radial',
                    x: 0.5,
                    y: 0.5,
                    r: 0.3,
                    colorStops: [{
											offset: 0,
											color: 'rgba(0, 255, 51, 1)'
                    }, {
                    	offset: 1,
                    	color: 'rgba(255, 255, 255, .1)'
                    }]
                  },
                  borderWidth: 0, 
                  opacity: 1
                }
              },
              data: [{
                value: data,
                label: {
                  normal: {
                    textStyle: {
                    	color: 'rgba(0, 255, 51, 1)'
                    }
                  }
                },
								lineStyle: {
									normal: {
										opacity: 0
									}
								}
            	}]
            }]
				};			
				this.drawMap(this.option)
			
			},
	  	drawMap(option) {
				// 基于准备好的dom，初始化echarts实例
				if (option && typeof option === "object") {
          this.myChart.setOption(option, true);
					window.onresize = this.myChart.resize;
					// setInterval(this.setTiming(), 100)
					this.setTiming()
				}
			},
			setTiming(){
				var highlight = false;
				var type = 'highlight'
				// var type;
				type = highlight ? 'downplay' : 'highlight';
				this.myChart.dispatchAction({
					type: type,
					seriesIndex: 0
				});
				highlight = !highlight;
			},
		},
	}
</script>
