<template>
	<div class="scatter">
		<v-header :name="name" :legendArr="legendArr" :myChart="myChart"></v-header>
		<div class="main">
		</div>
	</div>
</template>

<style>
.scatter {
	width: 100%;
	height: 800px;
}
.main {
	height: calc(100% - 200px);
  width: 100%;
}
</style>

<script>
	import header from './header'
	import { fetchData } from '@/api/table'
  let echarts = require('echarts/lib/echarts');
	require('echarts/lib/component/legend');

	export default {
		props: {
			isSeries: {
				type: Array,
				default() {
					return []
				}
			},
		},
		components: {
      'v-header': header,
    },
		data() {
	  	return {
				msg: "scatter",
				name: "任务状态",
				option: {},
				legendArr: [],
				mySeries : [],
				myChart: {},
	  	}
		},
    watch:{
			isSeries(cur, old){
				this.getDetected()
				// this.coverData();
      },	
    },
		methods: {
	  	init(option) {
				if (option && typeof option === "object") {
					this.myChart.setOption(option, true);
					window.onresize = this.myChart.resize;
					window.addEventListener('resize', function() {
						this.myChart.resize()
					}.bind(this))
				}
			},
			getDetected(){
        fetchData({type:'task', ip:''}).then(response => {
					var task = []
					var source = []
					var target = []
					response.data.map(function(item){
						if(item.type == 'private'){
							task.push({
								source: item.source,
								target: item.domin,
								state: item.state,
							})
							// task.push([item.source, item.domin])
							source.push(item.source)
							target.push(item.domin)
						}
					})
					source = Array.from(new Set(source))
					target = Array.from(new Set(target))
					this.coverData(task, source, target)
    		});
			},
      coverData(task=[], source=[], target=[]){
				var mySeries = [];

				for(var i=0; i<task.length; i++){
					if(task[i].state == "True"){
						var draw_data = []
						draw_data.push([task[i].source, task[i].target])
						mySeries.push({
							name: task[i].source + '->' + task[i].target,
							type: 'scatter',
							symbolSize: 14,
							itemStyle: {
                normal: {
                  color: '#CAFF70',
                }
              },
							data: draw_data
						})
					}
					if(task[i].state == "False"){
						var draw_data = []
						draw_data.push([task[i].source, task[i].target])
						mySeries.push({
							name: task[i].source + '->' + task[i].target,
							type: 'effectScatter',
							symbolSize: 15,
							showEffectOn: 'render',
							effectType: 'ripple',
							rippleEffect: {
								period: 8,
								brushType: 'stroke',
								scale: 4
							},
							itemStyle: {
                normal: {
                  color: 'red',
                }
              },
							data: draw_data
						})
					}
				}
				this.mySeries = mySeries
        this.myChart.setOption({
					dataZoom: [{
						show: false,
						xAxisIndex: 0,
					},{
						show: false,
						yAxisIndex: 0,
					}],
					xAxis: {
            data: source,
					},
					yAxis: {
            data: target,
          },
          series: this.mySeries,
        });
      },
		},
		mounted() {
			this.myChart = echarts.init(document.querySelector('.scatter .main'));
			this.option = {
        tooltip: {
          trigger: 'axis',
          axisPointer: {
            type: 'cross'
          },
          textStyle: {
              color: '#fff',
              fontSize: '15',
              fontWeight: 'normal',
              align: 'left',
						},
        },
    		grid: {
					top: 40,
					containLabel: true
    		},
        dataZoom: [{
					show: false,
					type: 'slider',
					height: 15,
					xAxisIndex: 0,
        	start: 0,
        	end: 100
    		}, {
					show: false,
					type: 'slider',
					width: 15,
					yAxisIndex: 0,
					start: 0,
					end: 100
    		}],
    		xAxis: {
					type: 'category',
					boundaryGap: false,
        	splitLine: {
            show: false,
            lineStyle: {
              color: '#33FFFF',
              type: 'dashed'
            }
					},
					axisLabel: {
            textStyle: {
              color: '#33FFFF'
            }
					},
        	axisLine: {
            show: false
        	}
    		},
    		yAxis: {
					type: 'category',
        	axisLine: {
            show: false
					},
					axisLabel: {
            textStyle: {
              color: '#33FFFF'
            }
					},
				},
				series: [],
			};
			this.init(this.option)
			// if (this.isSeries.length!=0 && typeof this.isSeries === "object") {
			// 	this.coverData();	
			// }
		},
	}
</script>
