<template>
  <div>


    <el-row>
      <el-col :span="16"
              v-loading="loading"
              element-loading-text="正在初始化虚拟机"
              element-loading-spinner="el-icon-loading"
              element-loading-background="rgba(0, 0, 0, 0.8)">
        <iframe id="lab" src="" width="100%"
                height="700px"></iframe>
      </el-col>

      <el-col :span="8">
        <div style="max-height: 700px;overflow: scroll;padding: 1vw;">
          <p v-html="form.content"></p>
        </div>
      </el-col>

    </el-row>

    <el-button @click="turn2vm(src)">重新连接</el-button>
    <el-button @click="exit">退出系统</el-button>
  </div>
</template>

<script>

  import {get_vm_address, exit_vm} from "../../api/labs";
  import {notice} from "../../api/common";

  export default {
    name: "contents",

    data() {
      return {
        loading: true,
        labId: '',
        form: {
          name: '',
          attacker: '',
          attacker_id: '',
          target: '',
          content: '',
          duration: '',
          status: '',
          tags: '',
          pool: '',
          url: ''
        },
        src: ''
      }
    },

    methods: {

      get_address() {
        let me = this
        if (me.labId !== '') {
          get_vm_address(this.labId).then(data => {
            console.log(data)
            let data1 = data.data
            if (data1.code === 1) {
              me.form = data1.data
              me.src = me.form.url
              setTimeout(() => {
                document.getElementById('lab').src = me.src;
                this.loading = false
              }, 10000)
            }
          })
        }

      },

      init() {
        this.loading = true

        this.labId = this.$route.params.labId;
        this.get_address()

        console.log(this.src)
      },
      turn2vm(src) {
        if (src === '') {
          me.$notify.error({
            title: '连接失败',
            message: '正尝试重新连接'
          });
          this.get_address()
        } else {
          document.getElementById('lab').src = src;
        }
        console.log()
      },
      exit() {
        let me = this
        if (me.labId !== '') {
          exit_vm(me.labId).then(data => {
            let data1 = data.data
            if (data1.code === 1) {
              notice(me, data1, '成功退出虚拟机')
              me.$router.push({name: 'list'})
            }
          })
        }
      }
    },

    created() {
      this.init()
    }
  }

</script>

<style scoped>

</style>
