<template>

  <div>
    <el-form ref="form" :model="form" label-width="80px" class="form">

      <el-form-item label="名称">
        <el-input v-model="form.name" placeholder="新建实验名"></el-input>
      </el-form-item>

      <el-form-item label="选择实验">
        <!--todo 选择一组实验-->
        <el-select v-model="attack_uuid" @change="chooseLab" placeholder="请选择一组实验">
          <el-option
            v-for="item in labList"
            :key="item.attack_name"
            :label="item.attack_name"
            :value="item.attack_uuid">
          </el-option>
        </el-select>
      </el-form-item>

      <el-form-item label="编辑教程">
        <div class="editor-container">
          <div>
            <wangeditor ref="editor1" :catchData="catchData"></wangeditor>
          </div>
        </div>
      </el-form-item>
      <el-form-item label="实验时长">
        <el-input v-model="form.duration" placeholder="单位:分钟"></el-input>
      </el-form-item>
      <!--todo 选择类型-->
      <el-form-item label="标签">
        <el-select v-model="form.tags" placeholder="请选择">
          <el-option
            v-for="item in types"
            :key="item._id"
            :label="item.name"
            :value="item.value">
          </el-option>
        </el-select>

        <el-button @click="add">
          新增
        </el-button>
      </el-form-item>
    </el-form>

    <el-table
      :data="labs"
      stripe

      style="width: 100%">

      <el-table-column
        prop="name"
        label="名称"
        width="200">
      </el-table-column>

      <el-table-column
        prop="attacker"
        label="攻击机"
        width="180">
      </el-table-column>

      <el-table-column
        prop="target"
        label="靶机"
        width="180">
      </el-table-column>

      <el-table-column
        prop="duration"
        label="持续时间"
        width="180">
      </el-table-column>

      <el-table-column
        prop="tags"
        label="标签类型"
        width="180">
      </el-table-column>


      <el-table-column label="操作">
        <template slot-scope="scope">
          <!--<el-button-->
          <!--size="mini"-->
          <!--@click="get_note(scope.row.id)">查看-->
          <!--</el-button>-->
          <!--<el-button-->
          <!--size="mini"-->
          <!--type="info"-->
          <!--@click="edit_note(scope.row.id)">编辑-->
          <!--</el-button>-->
          <el-button
            size="mini"
            type="danger"
            @click="delete_lab(scope.row.id)">删除
          </el-button>
        </template>
      </el-table-column>

    </el-table>

  </div>

</template>

<script>

  import wangeditor from '@/components/wangeditor/wangeditor'
  import {get_lab, add_lab, update_lab, get_labs, delete_lab, get_matched_instance, get_pools} from "../../api/labs";
  import {confirm4delete, removeElementById, notice} from "../../api/common";

  export default {
    name: "edit",
    components: {wangeditor},
    data() {
      return {
        labs: [],
        labList: [],
        form: {
          name: '',
          attacker: '',
          attacker_id: '',
          target: '',
          content: '',
          duration: 10,
          status: 'shutdown',
          tags: '',
          pool: ''
        },
        types: [],
        attack_uuid: '',
      }
    },
    methods: {
      init() {

        let me = this
        get_matched_instance().then(data => {
          console.log(data)
          let data1 = data.data

          me.labList = data1.matching_list
          console.log(me.labList)
        })

        get_pools().then(data => {
          console.log(data)
          let data1 = data.data
          if (data1.code === 1) {
            me.types = data1.data
          }
        })

        get_labs().then(data => {
          let data1 = data.data
          if (data1.code === 1) {
            me.labs = data1.data
          } else {
            me.labs = [{"name": "暂无实验", "desc": ""}]
          }
        })
      },
      catchData(value) {
        this.form.content = value      //在这里接受子组件传过来的参数，赋值给data里的参数
      },
      init_form(id) {

        let me = this

        get_lab(id).then(data => {
          console.log(data)

          let data1 = data.data

          if (data1.code === 1) {
            me.form = data1.data;
            me.$refs.editor1.setContent(data1.data.contents)
          } else {
            // todo common error
          }

        })
      },
      get_form() {
        return this.form
      },
      add() {
        let me = this
        add_lab(this.form).then(data => {
          console.log(data)
          let data1 = data.data
          notice(me, data1, '添加成功')

          get_labs().then(data => {
            let data1 = data.data
            if (data1.code === 1) {
              me.labs = data1.data
            } else {
              me.labs = [{"name": "暂无实验", "desc": ""}]
            }
          })
        })
      },
      chooseLab(a) {
        let me = this
        console.log(a)
        me.labList.forEach(function (value, index, array) {
          console.log(value)
          if (value.attack_uuid === a) {
            me.form.attacker_id = value.attack_uuid
            me.form.attacker = value.attack_name
            me.form.target = value.target_name
          }
        })
        console.log(me.form)
      },
      delete_lab(id) {
        let me = this

        confirm4delete(me, function () {

          delete_lab(id).then(data => {
            console.log(data)

            let data1 = data.data
            if (data1.code === 1) {
              removeElementById(me, me.labs, id)
            } else {
              //todo common error
            }
          })
        })
      }

    },
    created() {
      this.init()
    }
  }
</script>

<style scoped>
  .form {
    margin: 0% 5% 0% 5%;
  }
</style>
