<template>
    <div>
      <el-menu
        :default-active="activeIndex2"
        class="el-menu-demo"
        mode="horizontal"
        @select="handleSelect"
        background-color="#545c64"
        text-color="#fff"
        active-text-color="#ffd04b">
        <el-menu-item index="1">攻防实验室首页</el-menu-item>
      </el-menu>
      <app-main></app-main>
    </div>
</template>

<script>
    import AppMain from "../layout/AppMain";
    export default {
        name: "index",
      components: {AppMain},
      data(){
          return {
            activeIndex: '1',
            activeIndex2: '1'
          }
      },
      methods:{
        handleSelect(key, keyPath) {
          this.$router.push({name: 'list'})
        }
      }
    }
</script>

<style scoped>
.el-menu-nav{
  position: fixed;
  top: 0%;

}
</style>
