<template>
  <el-row :gutter="20">
    <el-col :span="6" v-for="pool in poolList">
      <el-card :body-style="{ padding: '0px' }">
        <!-- TODO  此处要动态替换图片-->
        <img
          src="https://ss0.baidu.com/94o3dSag_xI4khGko9WTAnF6hhy/image/h%3D300/sign=ea9a4e7360224f4a4899751339f69044/b3b7d0a20cf431ad938e7b6c4636acaf2edd9802.jpg"
          class="image">
        <div style="padding: 14px;">
          <span>{{pool.name}}</span>
          <span>{{pool.desc}}</span>
          <div class="bottom clearfix">
            <!--<a href=""></a>-->
            <el-button type="text" class="button" @click="goVm(pool.value)">开启实验</el-button>
          </div>
        </div>
      </el-card>
    </el-col>
  </el-row>
</template>

<script>

  import {get_pools, checkout} from "../../api/labs";

  export default {
    name: "list",
    data() {
      return {
        poolList: []
      }
    },
    methods: {
      init() {
        let me = this
        get_pools().then(data => {
          let data1 = data.data
          if (data1.code === 1) {
            me.poolList = data1.data

          } else {
            me.poolList = [{"name": "暂无实验", "desc": ""}]
          }
        })
      },
      goVm(type) {

        let me = this

        checkout(type).then(data => {
          console.log(data)
          let data1 = data.data

          if (data1.code === 1) {
            let labId = data1.data
            me.$router.push({name: 'vm', params: {labId: labId}})
          } else {
            me.$notify.error({
              title: '错误',
              message: data1.desc
            });
          }

        })


      },
    },
    created() {
      this.init()

    }
  }
</script>

<style scoped>
  .time {
    font-size: 13px;
    color: #999;
  }

  .bottom {
    margin-top: 13px;
    line-height: 12px;
  }

  .button {
    padding: 0;
    float: right;
  }

  .image {
    width: 100%;
    display: block;
  }

  .clearfix:before,
  .clearfix:after {
    display: table;
    content: "";
  }

  .clearfix:after {
    clear: both
  }

  .el-row{
    padding: 40px 10vw;
  }

  .el-col{
    padding: 0 3vw;
  }
</style>
