<template>
  <el-table
    :data="poolList"
    stripe

    style="width: 100%">

    <el-table-column
      prop="name"
      label="名称"
      width="200">
    </el-table-column>

    <el-table-column
      prop="value"
      label="值"
      width="180">
    </el-table-column>

    <el-table-column
      prop="duration"
      label="持续时间"
      width="180">
    </el-table-column>

    <el-table-column label="操作">
      <template slot-scope="scope">
        <!--<el-button-->
          <!--size="mini"-->
          <!--@click="get_note(scope.row.id)">查看-->
        <!--</el-button>-->
        <!--<el-button-->
          <!--size="mini"-->
          <!--type="info"-->
          <!--@click="edit_note(scope.row.id)">编辑-->
        <!--</el-button>-->
        <el-button
          size="mini"
          type="danger"
          @click="delete_pool(scope.row.id)">删除
        </el-button>
      </template>
    </el-table-column>

  </el-table>
</template>

<script>
  import {get_pools, delete_pool} from "../../api/labs";
  import {confirm4delete, removeElementById} from "../../api/common";

  export default {
    name: "pool",
    data() {
      return {
        poolList: []
      }
    },
    methods: {
      init() {
        let me = this
        get_pools().then(data => {
          let data1 = data.data
          if (data1.code === 1) {
            me.poolList = data1.data

          } else {
            me.poolList = [{"name": "暂无实验", "desc": ""}]
          }
        })
      },
      delete_pool(id) {
        let me = this

        confirm4delete(me, function () {

          delete_pool(id).then(data => {
            console.log(data)

            let data1 = data.data
            if (data1.code === 1) {
              removeElementById(me, me.poolList, id)
            } else {
              //todo common error
            }
          })
        })
      }
    },
    created() {
      this.init()
    }
  }
</script>

<style scoped>

</style>
