<template>
  <div>
    <el-form ref="form" :model="form" label-width="80px">

      <el-form-item label="类型">
        <el-input v-model="form.type"></el-input>
      </el-form-item>

      <el-form-item label="值">
        <el-input v-model="form.value"></el-input>
      </el-form-item>

      <el-form-item label="描述">
        <el-input v-model="form.desc"></el-input>
      </el-form-item>

      <el-form-item label="名称">
        <el-input v-model="form.name"></el-input>
      </el-form-item>

      <el-form-item lable="时长">
        <el-input v-model="form.duration"></el-input>
      </el-form-item>

      <!--todo 封面-->

      <div class="editor-container">
        <div>
          <wangeditor ref="editor1" :catchData="catchData"></wangeditor>
        </div>
      </div>

      <el-button @click="add">
        新增
      </el-button>

    </el-form>

  </div>
</template>

<script>

  import wangeditor from '@/components/wangeditor/wangeditor'
  import {get_pool,add_pool,update_pool} from "../../api/labs";
  import {notice} from "../../api/common";

  export default {
    name: "poolEdit",
    components: {wangeditor},

    data() {
      return {
        form: {
          type: '',
          value: '',
          desc: '',
          name: '',
          cover: '',
          duration: 10,
          content: ''
        }
      }
    },
    methods: {
      catchData(value) {
        this.form.content = value      //在这里接受子组件传过来的参数，赋值给data里的参数
      },
      init_form(id) {
        let me = this
        get_pool(id).then(data=>{
          let data1 = data.data
          if (data1.code === 1) {
            me.form = data1.data;
            me.$refs.editor1.setContent(data1.data.contents)          }

        })
      },
      add() {
        let me = this
        add_pool(this.form).then(data => {
          console.log(data)
          let data1 = data.data
          if (data1.code === 1) {
            notice(me,data1,'添加成功')
          }
        })
      },
      update(){

      }
    },
    created() {
    }
  }
</script>

<style scoped>

</style>
