<template>
	<div class="data-page"  scroll="no">
		<dheader></dheader>
		<div class="data-content">
			<div class="data-main">
				<div class="main-left">
				  <dleft :personalData="personalData" ></dleft>
				</div>
				<div class="main-center">
					<dcontent :numberData="numberData" ></dcontent>
				</div>
				<div class="main-right">
					<dright :username="username"></dright>
				</div>
			</div>
		</div>
		<nouser :isShow="isShow"  v-if="isShow"></nouser>
		<!--<loading v-if="pageShow"></loading>-->
	</div>
</template>

<script>
import dheader from './dheader'
import dleft from './dleft'
import dcontent from './dcontent'
import dright from './dright'
import topnav from '@/components/dashboard/topnav'
export default {
  components:{
  	dheader,
  	dleft,
  	dcontent,
  	dright,
    topnav
  },
  data(){
  	return{
  		isShow:false,
  		pageShow:true,
  		personalData:{},
  		username:"",
      numberData:"null",
      websocket: null,
  	}
  },
  created(){
    // this.initWebsocket()
  },
  methods:{
    initWebsocket(){
      const wsuri = 'ws://127.0.0.1:9000';
      this.websocket = new WebSocket(wsuri)
      this.websocket.onopen = this.websocketonopen
      this.websocket.onerror = this.websocketonerror
      this.websocket.onmessage = this.websocketonmessage
      this.websocket.onclose = this.websocketonclose
    },
    websocketonopen() {
      console.log("WebSocket连接成功");
      this.websocketsend('connect success')
    },
    websocketonerror(e) { //错误
      console.log("WebSocket连接发生错误");
    },
    websocketonmessage(e){ //数据接收
      const redata = JSON.parse(e.data);

      this.websocketsend(e.data)
      // const redata = JSON.parse(e.data);


    },
    websocketsend(agentData){//数据发送
      this.websocket.send(agentData);
    },
    websocketclose(e){ //关闭
      console.log("connection closed (" + e.code + ")");
    },
  }
}
</script>

<style lang="scss">
.data-page{
	background: url(../../assets/data/true.png) repeat-x;
	top: 0;
	right: 0;
	right: 0;
	bottom: 0;
	height: 100%;
    min-width: 1220px;
	.data-content {
	    padding-top: 20px;
	    padding-bottom: 20px;
	   .data-time {
		    width: 340px;
		    height: 35px;
		    background-color: #2C58A6;
		    line-height: 35px;
		    color: #fff;
		    font-size: 12.8px;
		    margin-bottom: 25px;
		    margin-left: 20px;
		    text-align: center;
		}
		.data-main {
		    width: calc(100% - 40px);
		    margin-bottom: 40px;
		    margin-left: 20px;
		    height: 720px;
		    
		    
		    .main-left{
		    	width: 24%;
		    	float: left;
		    }
		     .main-center{
		    	float: left;
		    	width: 52%;
		    	padding: 0 20px 0 20px;
		    	
		    }
		     .main-right{
		     	float: left;
		    	width: 24%;
		    	 height: 615px;
		    }
		}
	}		
}

</style>
