<template>
  <div class="app-container">
    <div>
      <el-form ref="form" :model="form" label-width="120px">

        <el-form-item label="用户名" prop="name">
          <el-input v-model="form.user.name" placeholder="请输入用户名" style="width: 250px"></el-input>
        </el-form-item>
        <el-form-item label="密码" prop="psw">
          <el-input v-model="form.user.name" type="password" placeholder="请输入密码" auto-complete="off" style="width: 250px"></el-input>
        </el-form-item>

        <el-form-item>
          <el-button type="primary" @click="submit('form')">新建</el-button>
          <el-button type="primary" @click="clear('form')">取消</el-button>
        </el-form-item>

      </el-form>
    </div>
  </div>
</template>

<script>
  import {newUsers} from '@/api/login'

  export default {
    data() {
      return {
        form: {
          'user': {
            'name': '',
            'psw': '',
          },
        },
      }
    },
    created() {
      
    },
    methods: {
       submit(form) {
        this.$refs[form].validate((valid) => {
          if (valid) {
            console.log(this.form);
            newUsers(this.form).then(response => {
              console.log('submit!', response.data);
              if(response.data.result=='error'){
                 this.$message({
                  showClose: true,
                  message: '用户名已存在或存在其他错误',
                  type: 'warning'
                });
              } else{
                this.form.user.name.push(this.form.name)
              }
            });
          } else {
            console.log('error format!!');
            return false;
          }
        });
      },
      // 清除
      clear(form) {
        this.$refs['form'].resetFields()
      },
    }
  }
</script>