<template>
    <div class="body">
      <el-form class='form1' ref="form" :model="form" label-width="80px">
        <el-form-item label="标题" prop="name">
          <el-input v-model="form.title"></el-input>
        </el-form-item>
        <el-form-item label="作者" prop="name">
          <el-input v-model="form.author"></el-input>
        </el-form-item>
        <el-form-item label="正文">
          <wangeditor :catchData="catchData"></wangeditor>
        </el-form-item>
        <el-form-item>
          <el-button type="primary"  @click="submitForm()">立即创建</el-button>
        </el-form-item>
      </el-form>


    </div>
</template>

<script>
  import wangeditor from '@/components/wangeditor/wangeditor';
  import {add_knowledge}  from '@/api/knowledge';
    export default {
        data(){
          return{
            form: {
              title: '',
              content:'',
              author: '',
            }
          }
        },
      methods: {
          submitForm(){

            this.form.create_time = new Date().getTime()
            add_knowledge(this.form).then(data =>{
              this.$router.push({name:"知识库"})
            });
          },


        catchData(value) {
          this.form.content = value      //在这里接受子组件传过来的参数，赋值给data里的参数
        },
      },
      components: {
        wangeditor
      }
    }
</script>

<style>
  .body {
    width: 98%;
    margin: 0 auto;
  }

</style>
