<template>
    <div class="body">
      <el-card class="box-card">
        <div slot="header" class="clearfix">
          <p>{{this.article.title}}</p>
          <h5>作者:{{this.article.author}}
          </h5>
          <el-button @click="handleClick()" type="text" size="small">返回知识列表</el-button>
        </div>
        <div v-html="this.article.content"></div>
      </el-card>
    </div>
</template>

<script>
    export default {
        data(){
          return{
            article:{}
          }
        },
      methods:{
       handleClick(){
         this.$router.push({name:"知识库"})
       }
      },
      created(){
        if (this.$route.params.article == undefined
        ){
          this.$router.push({name:"知识库"})
        }
          this.article = this.$route.params.article
      }
    }
</script>

<style scoped>

</style>
