<template>
  <div class="body">
    <el-table
      :data="form"
      style="width: 100%">
      <el-table-column
        prop="title"
        label="文章"
        width="180">
      </el-table-column>
      <el-table-column
        prop="author"
        label="作者"
        width="180">
      </el-table-column>
      <el-table-column
        prop="update_time"
        label="更新时间">
      </el-table-column>
      <el-table-column
        fixed="right"
        label="操作"
        width="180">
        <template slot-scope="scope">
          <el-button @click="handleClick(scope.row)" type="text" size="small">查看</el-button>
        </template>
      </el-table-column>
    </el-table>
  </div>
</template>

<script>
  import {version_list,version_show} from '@/api/knowledge';
  export default {
    data(){
      return{
        form:[]
      }
    },
    methods:{
      handleClick(row) {
        this.$router.push({name:"显示历史文章",params:{article:row}})
      }
    },
    created(){
      if (this.$route.params.title == undefined
      ){
        this.$router.push({name:"知识库"})
      }
      version_list(this.$route.params.title).then(data =>{
        this.form = data.data
      })
    }
  }
</script>

<style scoped>

</style>
