<template>
  <div class="body">
    <el-table
      :data="titleList"
      stripe
      style="width: 100%">
      <el-table-column
        prop="title"
        label="标题">
      </el-table-column>
      <el-table-column
        fixed="right"
        label="操作"
        width="180">
        <template slot-scope="scope">
          <el-button @click="handleClickToShow(scope.row)" type="text" size="small">查看</el-button>
          <el-button @click="handleClick(scope.row)" type="text" size="small">编辑</el-button>
          <el-button type="text" size="small">移除</el-button>
        </template>
      </el-table-column>
    </el-table>
    <div style="margin-top: 20px">
      <el-button @click="handleClickToUpdate()">新建文章</el-button>
    </div>
  </div>
</template>

<script>
  import {getlistData, } from '@/api/knowledge';
  export default {
        data(){
          return{
            titleList:[],

          }
        },
    methods: {
      handleClick(row) {
        this.$router.push({name:"更新知识", params:{title:row.title}})
      },
      handleClickToShow(row){
        this.$router.push({name:"显示知识", params:{title:row.title}})
      },
      handleClickToUpdate(){
        this.$router.push({name:"新建知识"})
      },

    },
      created(){

          getlistData().then(data =>{
            this.titleList = data.data
            // console.log(this.title_list[1].title)
          })
      }
    }
</script>

<style scoped>
  .body {
    width: 98%;
    margin: 0 auto;
  }
</style>
