<template>
    <div class="body">
      <el-card class="box-card">
        <div slot="header" class="clearfix">
          <p>{{this.article.title}}</p>
          <h5>作者:{{this.article.author}}
           </h5>
          <el-button @click="handleClick()" type="text" size="small">编辑本文章</el-button>
          <el-button @click="handleClickToHistory()" type="text" size="small">查看历史版本</el-button>

        </div>
        <div v-html="this.article.content"></div>
      </el-card>
    </div>
</template>

<script>
  import {editContent} from '@/api/knowledge';
    export default {
        data(){
          return {
            article: {},
          }
        },
        methods: {
          handleClick() {
            this.$router.push({name:"更新知识", params:{title:this.article.title}})
          },
          handleClickToHistory(){
            this.$router.push({name:"显示历史版本", params:{title:this.article.title}})
          }
        },
        created(){
          if (this.$route.params.title == undefined
          ){
            this.$router.push({name:"知识库"})
          }
          editContent(this.$route.params.title).then(data =>{
            this.article = data.data.content_lists
          })
        }
    }
</script>

<style scoped>
  .body{
    margin:0 auto
  }
  .text {
    font-size: 14px;
  }

  .item {
    margin-bottom: 18px;
  }

  .clearfix:before,
  .clearfix:after {
    display: table;
    content: "";
  }
  .clearfix:after {
    clear: both
  }

  .box-card {
    width: 480px;
  }
</style>
