<template>
  <div class="body">
    <el-form class='form1' ref="form" :model="article" label-width="80px">
      <el-form-item label="标题" prop="name">
        <el-input v-model="form.title" :disabled="true"></el-input>
      </el-form-item>
      <el-form-item label="作者" prop="name">
        <el-input v-model="form.author"></el-input>
      </el-form-item>
      <el-form-item label="正文">
        <editor :catchData="catchData" :content="form.content" ></editor>
      </el-form-item>
      <el-form-item>
        <el-button type="primary"  @click="submitForm()">立即修改</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
  import wangeditor from '@/components/wangeditor/wangeditor';
  import {editContent,update_content} from '@/api/knowledge';
    export default {
        data(){
          return{
            form:{
              title: '',
              author: '',
              content: '',

            },
            article : null,
          }
        },
      methods:{
        catchData(value) {
          this.form.content = value      //在这里接受子组件传过来的参数，赋值给data里的参数
        },
        submitForm(){
          update_content(this.form).then(data => {
            console.log(data.data.err_num)
           if (data.data.err_num == 0){
             alert("修改成功")
             this.$router.push({name:"知识库"})
           }
           else {
             alert("数据有误或未更改,请检查")
           }
          })
        }

      },
      created(){
        if (this.$route.params.title == undefined
        ){
          this.$router.push({name:"知识库"})
        }
         editContent(this.$route.params.title).then(data =>{
           this.article = data.data
           this.form.title = this.article.title
           this.form.content = this.article.content_lists.content
           this.form.author = this.article.content_lists.author
         })
      },
      components: {
        editor :wangeditor,
      },
    }
</script>

<style scoped>

</style>
