<template>
  <div class="eslist-container">
    <div class="baob_list">
      <div class="baob_item">
        <el-row class="es-row">
            <el-col :span="24" class="es-col"><div class="grid-content bg-purple-dark">所有主题</div></el-col>
        </el-row>
      </div>
    </div>
    <el-table :data="datas" stripe style="width: 100%">
      <el-table-column prop="_source.name" label="主题"></el-table-column>
      <el-table-column prop="_source.project" label="相关项目"></el-table-column>
      <el-table-column fixed="right" label="操作" width="180">
          <template slot-scope="scope">
              <el-button v-if="!scope.row.foll" @click="follow(scope.row)" type="text" size="small">关注</el-button>
              <el-button v-if="scope.row.foll" type="success" icon="el-icon-check" circle></el-button>
              <el-button v-if="scope.row.foll" @click="SharMsg(scope.row)" type="text" size="small">查看信息</el-button>
          </template>
      </el-table-column>
    </el-table>
  </div>
</template>

<script>
import { allTopic, follTopic, lookSharMsg } from "@/api/sharMsg";
export default {
  data() {
    return {
      datas: [],
      orgName: "",
      foll: false
    };
  },
  methods: {
    follow(topic) {
      let postData = {
        topic_id: topic._id,
        org: this.orgName
      };
      follTopic(postData).then(data => {
        let res = data.data;
        if (res.code == 1) {
          console.log(res);
          topic.foll = true;
          this.$notify({
            title: "成功",
            message: res.SUCCESS,
            type: "success"
          });
        }
      });
    },
    SharMsg(topic) {
      let postData = {
        topic_id: topic._id,
        org: this.orgName
      };
      lookSharMsg(postData).then(data => {
        let res = data.data;
        console.log(res);
        if (res.code == 1) {
            this.$router.push({ name: "共享信息",params: { sharMsg: res.data }});
        }
      });
    }
  },
  created() {
    this.orgName = this.$store.state.user.orgName
      ? this.$store.state.user.orgName
      : "紧信委"; // 通过Vuex获取
    let username = localStorage.getItem("username");
    allTopic().then(data => {
      let res = data.data;
      console.log(res);
      if (res.code == 1) {
        console.log(res.data);
        res.data.forEach(element => {
          if (element._source.concerns.indexOf(username) == -1) {
            element.foll = this.foll;
          } else {
            // 已关注该主题
            element.foll = !this.foll;
          }
        });
        this.datas = res.data;
      }
    });
  }
};
</script>

<style scoped>
.es-row {
  margin-bottom: 20px;
}
.baob_list {
  display: flex;
}
.button {
  padding-right: 20px;
}
.baob_item {
  flex: 1;
}
.grid-content {
  text-indent: 50px;
  line-height: 36px;
  color: #000;
  min-height: 36px;
}
.bg-purple-dark {
  background: #e6e9eb;
}
</style>
