<template>
  <div class="eslist-container">
    <div class="baob_list">
      <div class="baob_item">
        <el-row class="es-row">
            <el-col :span="24" class="es-col"><div class="grid-content bg-purple-dark">共享信息</div></el-col>
        </el-row>
      </div>
    </div>
    <el-table :data="datas" stripe style="width: 100%">
      <el-table-column prop="_source.topic_id" label="主题id"></el-table-column>
      <el-table-column prop="_source.org_name" label="组织"></el-table-column>
      <el-table-column prop="_source.msg_body" label="消息"></el-table-column>
    </el-table>
  </div>
</template>

<script>
import { allTopic, follTopic } from "@/api/sharMsg";
export default {
  data() {
    return {
      datas: [],
      orgName: "",
      foll: false
    };
  },
  methods: {
    
  },
  created() {
    this.orgName = this.$store.state.user.orgName
      ? this.$store.state.user.orgName
      : "紧信委"; // 通过Vuex获取
    let username = localStorage.getItem("username");
    this.datas = this.$route.params.sharMsg;
  }
};
</script>

<style scoped>
.es-row {
  margin-bottom: 20px;
}
.baob_list {
  display: flex;
}
.button {
  padding-right: 20px;
}
.baob_item {
  flex: 1;
}
.grid-content {
  text-indent: 50px;
  line-height: 36px;
  color: #000;
  min-height: 36px;
}
.bg-purple-dark {
  background: #e6e9eb;
}
</style>
