<template>
  <div class="app-container">
    <div id="app-topic">
      <div id="app-left">
        <el-form ref="queryForm" :model="queryForm" :rules="rules" label-width="120px">
          <el-form-item label="类型 ID">
            <el-checkbox v-model="queryForm.id.enable" name="type">
              <el-input v-model="queryForm.id.value"></el-input>
            </el-checkbox>
          </el-form-item>
          <el-form-item label="类型名称">
            <el-checkbox v-model="queryForm.name.enable" name="type">
              <el-input v-model="queryForm.name.value"></el-input>
            </el-checkbox>
          </el-form-item>
          <el-form-item label="起止时间">

            <el-date-picker
              v-model="queryForm.time.value"
              type="datetimerange"
              align="right"
              unlink-panels
              range-separator="至"
              start-placeholder="开始日期"
              end-placeholder="结束日期"
              :picker-options="pickerDateOptions">
            </el-date-picker>
          </el-form-item>

          <el-form-item>
            <el-form-item>
              <el-button type="warning" @click="clearForm()">清空</el-button>
              <el-button type="primary" @click="submitForm('queryForm')">搜索</el-button>
            </el-form-item>
          </el-form-item>
        </el-form>
      </div>
      <div id="app-right" v-show="clasifi_message.showDivClassifiInfo">
        <el-form ref="clasifi_message" :model="clasifi_message" label-width="120px">
          <el-form-item label="类型 ID: "> {{clasifi_message.id}}</el-form-item>
          <el-form-item label="类型名称: ">{{clasifi_message.name}}</el-form-item>
          <!--<el-form-item label="创建时间: ">{{clasifi_message.time}}</el-form-item>-->
          <el-form-item label="所属分词">{{clasifi_message.departs}}</el-form-item>
        </el-form>
      </div>
    </div>
    <el-table :data="listData" v-loading.body="listLoading" :default-sort="{prop: 'time', order: 'descending'}" border
              style="width: 100%" fit highlight-current-row>
      <el-table-column prop="num" label="序号" width="60" align="center"></el-table-column>
      <el-table-column prop="serverity" label="serverity" width="80" align="center"></el-table-column>
      <el-table-column prop="hostname" label="主机名" width="170" align="center"></el-table-column>
      <el-table-column prop="time" label="产生时间" width="170" align="center"></el-table-column>
      <el-table-column prop="message" label="告警内容"></el-table-column>
      <!--<el-table-column fixed="right" label="管理" width="150"></el-table-column>-->
    </el-table>
  </div>
</template>

<script>
  import {apiGetSyslogClassifiData} from '@/api/alert'

  export default {
    name: "alert_classifi_search",
    data() {
      return {
        queryForm: {
          name: {enable: false, value: null},
          time: {enable: true, value: [null, null]},
          id: {enable: false, value: null}
        },
        rules: {},
        pickerDateOptions: {
          shortcuts: [{
            text: '最近三天',
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 3);
              picker.$emit('pick', [start, end]);
            }
          }, {
            text: '最近一周',
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
              picker.$emit('pick', [start, end]);
            }
          }, {
            text: '最近一个月',
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
              picker.$emit('pick', [start, end]);
            }
          }]
        },

        listData: [],
        listLoading: false,

        clasifi_message: {
          showDivClassifiInfo: false,
          id: "1",
          name: "syslog",
          time: "2334",
          departs: "24344, 234"

        }
      }
    },
    created() {
      if (this.$route.query.id) {
        this.queryForm.id.value = this.$route.query.id;
        this.queryForm.id.enable = true;
      }
      if (this.$route.query.name) {
        this.queryForm.name.value = this.$route.query.name;
        this.queryForm.name.enable = true;
      }

      const start = new Date();
      this.queryForm.time.value = [start.getTime() - 3600 * 1000 * 24, start.getTime()]

    },
    methods: {
      clearForm() {
        this.queryForm.id.enable = false;
        this.queryForm.id.value = null;
        this.queryForm.name.enable = false;
        this.queryForm.name.value = null;
      },
      submitForm(formName) {
        // console.log('queryForm.time.value=', this.queryForm.time.value)
        // console.log('this.queryForm.id.enable =', this.queryForm.id.enable, this.queryForm.name.enable)
        this.listData = [];
        if (this.queryForm.id.enable === true && !this.queryForm.id.value) {
          this.$message({
            // showClose: true,
            message: '类型ID不能为空！',
            type: 'warning',
            // duration: 0
          });
          return
        }
        if (this.queryForm.name.enable === true && !this.queryForm.name.value) {
          this.$message({
            // showClose: true,
            message: '类型名称不能为空！',
            type: 'warning',
            // duration: 0
          });
          return
        }
        if (!this.queryForm.id.enable && !this.queryForm.name.enable) {
          this.$message({
            // showClose: true,
            message: '请选择查询方式！',
            type: 'warning',
            // duration: 0
          });
          return
        }

        var id = this.queryForm.id.value;
        this.listLoading = true;
        this.listData = [];
        apiGetSyslogClassifiData(id, 20, this.queryForm.time.value[0], this.queryForm.time.value[1]).then(res => {
          if (res.data.result === "ok") {
            var data = res.data.data.list;
            // console.log("data.length=", data.length)
            for (var i = 0; i < data.length; i++) {
              var msg = [];
              msg["num"] = i + 1;
              msg["hostname"] = data[i]["dev"]["hostname"];
              msg["serverity"] = data[i]["dev"]["level"];
              msg["time"] = data[i]["dev"]["time"];
              msg["message"] = data[i]["dev"]["content"];
              // msg["digest"] = data[i]["dev"]["digest"];
              this.listData.push(msg)
            }
            if (data.length > 0) {
              this.clasifi_message.showDivClassifiInfo = true;
              this.clasifi_message.id = id;
              this.clasifi_message.name = res.data.data.name;
              this.clasifi_message.departs = res.data.data.departs;
            } else {
              this.$message({
                // showClose: true,
                message: '没有匹配到相应的数据信息',
                type: 'success',
                // duration: 0
              });

              this.clasifi_message.showDivClassifiInfo = false;
              this.clasifi_message.id = "";
              this.clasifi_message.name = "";
              this.clasifi_message.departs = "";
            }
          } else {
            this.clasifi_message.showDivClassifiInfo = false;
            this.clasifi_message.id = "";
            this.clasifi_message.name = "";
            this.clasifi_message.departs = "";

            this.$message({
              // showClose: true,
              message: '查询失败，异常或者类型不存在！',
              type: 'warning',
              // duration: 0
            });
          }
          this.listLoading = false
        })
      },
    }
  }
</script>

<style scoped>
  #app-topic {
    display: flex;
  }
</style>
