<template>
  <div class="app-container">
    <el-table :data="show_msg_list" v-loading.body="listLoading" border
              style="width: 100%" fit highlight-current-row>
      <el-table-column prop="count" label="序号" width="50" align="center"></el-table-column>
      <el-table-column prop="hostname" label="主机名" width="180"></el-table-column>
      <el-table-column prop="serverity" label="告警级别" width="80" align="center"></el-table-column>
      <el-table-column prop="parse_time" label="解析时间(UTC)" width="170" align="center"></el-table-column>
      <el-table-column prop="message" label="信息"></el-table-column>
      <!--<el-table-column prop="row" label="row" v-if="false"></el-table-column>-->
      <el-table-column prop="word_depart" label="word_depart" v-if="false"></el-table-column>
      <el-table-column
        label="操作"
        width="100" align="center">
        <template slot-scope="scope">
          <el-button @click="ignoreDepartSet(scope.$index, scope.row)" type="text" size="small">删除
          </el-button>
          <el-button @click="openDialog(scope.$index, scope.row)" type="text" size="small">策略</el-button>
        </template>
      </el-table-column>
    </el-table>

    <el-dialog title="ip地址" :visible.sync="dialogFormVisible">
      <el-form :model="form" ref="form">
        <el-form-item label="原始告警信息" prop='message'>
           <span>
             {{form.message}}
            </span>
        </el-form-item>

        <el-form-item label="原始分词" prop='word_depart'>
           <span
             v-for="word in originalWords"
             :key="word"
             @click="removeOriginalWord(word)"
             style="margin-left: 5px;border:solid 1px;border-color:gray;border-radius: 20%">
              {{word}}
             <i class="el-icon-check"></i>
            </span>
        </el-form-item>

        <el-form-item label="关键分词" prop='words'>
          <span
            v-for="word in availableWords"
            :key="word"
            @click="removeAvailableWord(word)"
            style="margin-left: 5px;border:solid 1px;border-color:gray;border-radius: 20%">
            {{word}}
            <i class="el-icon-close"></i>
          </span>
        </el-form-item>

        <el-form-item label="分类类型名称" prop="name">
          <el-input v-model="form.name" auto-complete="off"></el-input>
        </el-form-item>
      </el-form>

      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogFormVisible = false">取 消</el-button>
        <el-button type="primary" @click="submitWord('form')">确定</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
  import {apiSetDeapartKeyType, apiGetUncategorizedSyslog, apiIgnoreDepartSyslog} from '@/api/alert'


  export default {
    name: "show_netdev_syslog",
    data() {
      return {
        row_id: null,
        row_key: "",
        keys: {},
        alert_server_url: "",
        count: 0,
        listLoading: true,
        show_msg_list: [
          // {count: 0, hostname: "zhongguo", serverity: "4", parse_time: "time", message: "source", row: "row"}
        ],
        dialogFormVisible: false,
        form: {words: "", name: "", word_depart: [], message: ""},
        originalWords: [],
        availableWords: []
      }
    },
    created() {
      this.loadWaitDepartHandleList()
    },
    methods: {
      loadWaitDepartHandleList() {
        this.listLoading = true;
        apiGetUncategorizedSyslog(100).then(res => {
          if (!res) {
            this.$message({
              showClose: true,
              message: '后台连接有故障，请联系平台维护人员！',
              type: 'warning',
              duration: 0
            });
          } else {
            console.log(res.data.result);
            this.show_msg_list = [];
            if (res.data.result === "ok") {
              var rcv = res.data.data.list;
              for (var i = 0; i < rcv.length; i++) {
                var temp = {};
                temp["hostname"] = rcv[i]["dev"]["hostname"];
                temp["serverity"] = rcv[i]["dev"]["level"];
                temp["parse_time"] = rcv[i]["dev"]["time"];
                temp["message"] = rcv[i]["dev"]["content"];
                temp["word_depart"] = rcv[i]["dev"]["word_depart"].split(",");
                temp["row"] = rcv[i]["row"];
                temp["count"] = i + 1;
                this.show_msg_list.push(temp)
              }
            }
            this.listLoading = false
          }
        })
      },

      removeOriginalWord(word) {
        this.availableWords.push(word);
        this.originalWords.splice(this.originalWords.indexOf(word), 1);
      },
      removeAvailableWord(word) {
        this.originalWords.push(word);
        this.availableWords.splice(this.availableWords.indexOf(word), 1);
      },
      openDialog(index, row) {
        this.keys = {};
        this.originalWords = [];
        this.availableWords = [];
        this.dialogFormVisible = true;
        this.form.message = row.message;
        this.originalWords = row.word_depart;
        this.row_key = row.row;
        this.row_id = index
      },

      submitWord(form) {
        this.$refs[form].validate((valid) => {
          if (valid) {
            this.keys['key'] = this.row_key;
            this.keys['word_depart'] = this.availableWords;
            this.keys['name'] = this.form.name;
            console.log(this.keys);
            apiSetDeapartKeyType(this.keys).then(res => {
              console.log(res.data.reply.result, res.data.reply.result === "ok");
              if (res.data.reply.result === "ok") {
                var info = res.data.reply.data;
                if (!info.hasOwnProperty("is_existed")) {
                  this.$set(info, "is_existed", false);
                }
                if (info.is_existed === true) {
                  var title = '分类类型已经存在'
                } else {
                  var title = '分类类型设置成功'
                }
                var msg = `分词类型ID: ${info.id} \n类型名称: ${info.name}`;
                this.$confirm(msg, title, {
                  confirmButtonText: '类型信息查看',
                  cancelButtonText: '返回',
                  type: 'warning',
                  center: true
                }).then(() => {
                  this.webPage(info.id, info.name)
                }).catch(() => {
                  this.dialogFormVisible = false;
                  this.show_msg_list.splice(this.row_id, 1);
                })
              }
            })
          } else {
            console.log('error format!!');
            return false;
          }
        });
      },
      ignoreDepartSet(index, row) {
        apiIgnoreDepartSyslog(row.row);
        this.show_msg_list.splice(index, 1)
      },
      webPage(id, name) {
        this.$router.push(
          {
            path: '/manage/classifi_query_alert',
            name: 'query_show',
            // 传递列表参数
            query: {
              id: id,
              name: name
            }
          }
        );
      },

    }
  }

</script>

<style scoped>

</style>
