<template>
  <div class="app-container">

    <el-col :span="12" :offset="10"><div class="grid-content bg-purple">最新告警信息流</div></el-col>
    <el-button icon="el-icon-document" style="float: right" type="primary" @click="webPage">
      告警信息说明
    </el-button>
    <el-table :data="show_msg_list" v-loading.body="listLoading" border
              style="width: 100%" fit highlight-current-row :row-class-name="tableRowClassName">
      <el-table-column prop="count" label="num" width="60" align="center"></el-table-column>
      <!--<el-table-column prop="facility" label="facility" width="150"></el-table-column>-->
      <el-table-column prop="serverity" label="serverity" width="100" align="center"></el-table-column>
      <el-table-column prop="depart_id_msg" label="分类ID" width="100" align="center"></el-table-column>
      <el-table-column prop="user_name" label="所属用户名" width="120"></el-table-column>
      <el-table-column prop="core" label="core" width="60" align="center"></el-table-column>
      <el-table-column prop="parse_time" label="parse_time(UTC)" width="170" align="center"></el-table-column>
      <el-table-column prop="message" label="message"></el-table-column>
    </el-table>
  </div>
</template>

<script>
  import {GetWebSocketIoServer} from '@/api/alert'

  let io = require('socket.io-client');
  export default {
    name: "show_netdev_syslog",
    data() {
      return {
        alert_server_url: "",
        count: 0,
        listLoading: false,
        show_msg_list: []
      }
    },
    mounted() {
      this.runSocket()
    },
    methods: {
      webPage() {
        this.$router.push(
          {
            path: '/manage/alert_msg',
          })
      },
      runSocket() {
        GetWebSocketIoServer().then(res => {
          if (!res) {
            this.$message({
              showClose: true,
              message: '后台连接有故障，请联系平台维护人员！',
              type: 'warning',
              duration: 0
            });
            return 0
          } else {
            this.alert_server_url = res.data["server"];
            this.openSocket()
          }
        })
      },
      openSocket() {
        this.socket = io.connect(this.alert_server_url);
        this.socket.on('error', (error) => {
          console.log("error:" + error)
        });
        this.socket.on('connect', () => {
          console.log('connect: chat ' + 'ok');
          // this.socket.send('ping')
        });
        this.socket.on('connect_timeout', (error) => {
          console.log("connect_timeout:" + error)
        });
        this.socket.on('disconnect', (reason) => {
          console.log("disconnect reason:" + reason)
        });
        this.socket.on('reconnect', (attempt) => {
          console.log("attempt:" + attempt)
        });
        this.socket.on('message', (msg) => {
          // console.log('received message:' + msg);
          // this.socket.send('ping')
          // this.show_msg_list.push(msg);

          this.count = this.count + 1;
          this.$set(msg, "count", this.count);
          if (! msg.hasOwnProperty("user_name")){
            this.$set(msg, "user_name", "---");
          }
          this.show_msg_list.splice(0, 0, msg);

          var num = this.show_msg_list.length - 50;
          if (num > 50) {
            console.log("delete: ", this.show_msg_list.splice(50, num), num)
          }
        });
      },
      tableRowClassName({row, rowIndex}) {
        if (row.serverity == 0){
          return 'disaster-row';
        } else if (row.serverity == 1) {
          return 'serious-row'
        }else if (row.serverity == 2) {
          return 'problem-row'
        }else if (row.serverity == 3) {
          return 'warning-row'
        }else if (row.serverity == 4) {
          return 'info-row'
        }
      },
    },
  }
</script>

<style>
  .el-table .warning-row {
    background: #409EFF;
  }
  .el-table .problem-row {
    background: rgb(243, 155, 54);
  }
  .el-table .serious-row {
    background: rgb(246, 104, 38);
  }
  .el-table .disaster-row {
    background: rgb(248, 3, 3);
  }
  .el-table .info-row {
    background: #0cf533;
  }
</style>
