<template>
  <div class="app-container">
    <el-table :data="listData" v-loading.body="listLoading" :default-sort="{prop: 'time', order: 'descending'}" border
              style="width: 100%" fit highlight-current-row>
      <!--<el-table-column prop="num" label="序号" width="60"></el-table-column>-->
      <el-table-column prop="id" label="分类ID" width="80" align="center"></el-table-column>
      <el-table-column prop="name" label="类型名称" width="170"></el-table-column>
      <!--<el-table-column prop="time" label="产生时间" width="170"></el-table-column>-->
      <el-table-column prop="word_depart" label="分词"></el-table-column>
      <!--<el-table-column prop="message" label="告警内容"></el-table-column>-->
      <el-table-column fixed="right" label="管理" width="90" align="center">
        <template slot-scope="scope">
          <el-button @click="queryClassifiSyslogData(scope.$index, scope.row)" type="text" size="small">查询分类</el-button>
        </template>
      </el-table-column>
    </el-table>
  </div>
</template>

<script>
  import {ApiGetSyslogClassifiedType} from '@/api/alert'

  export default {
    name: "syslog_classifi_type_show",
    data() {
      return {
        listData: [],
        listLoading: false,
      }
    },
    created() {
      this.getSyslogClassifiTypeList()
    },
    methods: {
      getSyslogClassifiTypeList() {
        this.listLoading = true;
        ApiGetSyslogClassifiedType().then(res => {
          if (res.data.status === 'error') {
            this.$message({
              showClose: true,
              message: '后台连接有故障，请联系平台维护人员！',
              type: 'warning',
              duration: 0
            });
          } else {
            if (res.data.result === "ok") {
              this.listData = res.data.data["list"]
            }
            else {
              this.$message({
                // showClose: true,
                message: '查询失败，异常或者类型不存在！',
                type: 'warning',
                // duration: 0
              });
            }
            this.listLoading = false
          }
        })

      },
      queryClassifiSyslogData(index, row) {
        this.webPage(row["id"], row["name"])
      },
      webPage(id, name) {
        this.$router.push(
          {
            path: '/manage/classifi_query_alert',
            name: 'query_show',
            // 传递列表参数
            query: {
              id: id,
              name: name
            }
          }
        );
      },
    }
  }
</script>

<style scoped>

</style>
