<template>
  <div>

    <el-col :span="12" :offset="6">
      <div class="grid-content bg-purple"><label>程序模块（Facility）映射关系</label></div>
    </el-col>
    <el-table
      :data="interpretiveFacilityData"
      border
      style="width: 100%">
      <el-table-column
        prop="code0"
        label="code">
      </el-table-column>
      <el-table-column
        prop="Facility0"
        label="Facility">
      </el-table-column>

      <el-table-column
        prop="code1"
        label="code">
      </el-table-column>
      <el-table-column
        prop="Facility1"
        label="Facility">
      </el-table-column>

      <el-table-column
        prop="code2"
        label="code">
      </el-table-column>
      <el-table-column
        prop="Facility2"
        label="Facility">
      </el-table-column>

      <el-table-column
        prop="code3"
        label="code">
      </el-table-column>
      <el-table-column
        prop="Facility3"
        label="Facility">
      </el-table-column>
    </el-table>

    <el-col :span="12" :offset="6">
      <div class="grid-content bg-purple"><label>严重性（Severity）映射关系</label></div>
    </el-col>

    <el-table
      :data="interpretiveSeverityData"
      border
      style="width: 100%">
      <el-table-column
        prop="code0"
        label="code">
      </el-table-column>
      <el-table-column
        prop="Severity0"
        label="Severity">
      </el-table-column>

      <el-table-column
        prop="code1"
        label="code">
      </el-table-column>
      <el-table-column
        prop="Severity1"
        label="Severity">
      </el-table-column>

      <el-table-column
        prop="code2"
        label="code">
      </el-table-column>
      <el-table-column
        prop="Severity2"
        label="Severity">
      </el-table-column>

      <el-table-column
        prop="code3"
        label="code">
      </el-table-column>
      <el-table-column
        prop="Severity3"
        label="Severity">
      </el-table-column>
    </el-table>

  </div>
</template>

<script>
  export default {
    name: "syslog_msg_explain",
    data() {
      return {
        interpretiveFacilityData: [{
          code0: 0,
          Facility0: "kernel messages",
          code1: 1,
          Facility1: "user-level messages",
          code2: 2,
          Facility2: "mail system",
          code3: 3,
          Facility3: "system daemons"
        }, {
          code0: 4,
          Facility0: "security/authorization messages (note 1)",
          code1: 5,
          Facility1: "messages generated internally by syslogd",
          code2: 6,
          Facility2: "line printer subsystem",
          code3: 7,
          Facility3: "network news subsystem"
        }, {
          code0: 8,
          Facility0: "UUCP subsystem",
          code1: 9,
          Facility1: "clock daemon (note 2)",
          code2: 10,
          Facility2: "security/authorization messages (note 1)",
          code3: 11,
          Facility3: "FTP daemon"
        }, {
          code0: 12,
          Facility0: "NTP subsystem",
          code1: 13,
          Facility1: "log audit (note 1)",
          code2: 14,
          Facility2: "log alert (note 1)",
          code3: 15,
          Facility3: "clock daemon (note 2)"
        }, {
          code0: 16,
          Facility0: "local use 0  (local0)",
          code1: 17,
          Facility1: "local use 1  (local1)",
          code2: 18,
          Facility2: "local use 2  (local2)",
          code3: 19,
          Facility3: "local use 3  (local3)"
        }, {
          code0: 20,
          Facility0: "local use 4  (local4)",
          code1: 21,
          Facility1: "local use 5  (local5)",
          code2: 22,
          Facility2: "local use 6  (local6)",
          code3: 23,
          Facility3: "local use 7  (local7)"
        }],
        interpretiveSeverityData:
          [{
            code0: 0,
            Severity0: "Emergency",
            code1: 1,
            Severity1: "Alert",
            code2: 2,
            Severity2: "Critical",
            code3: 3,
            Severity3: "Error"
          }, {
            code0: 4,
            Severity0: "Warning",
            code1: 5,
            Severity1: "Notice",
            code2: 6,
            Severity2: "Informational",
            code3: 7,
            Severity3: "Debug"
          }]
      }
    }
  }
</script>

<style scoped>

</style>
