<template>

</template>

<script>
  export default {
    name: "socket",
    data() {
      return{
        websocket:null
      }
    },
    created() {
      this.initWebsocket()
    },
    methods: {
      initWebsocket(){
        const wsuri = 'ws://127.0.0.1:9000';
        this.websocket = new WebSocket(wsuri)
        this.websocket.onopen = this.websocketonopen
        this.websocket.onerror = this.websocketonerror
        this.websocket.onmessage = this.websocketonmessage
        this.websocket.onclose = this.websocketonclose
      },
      websocketonopen() {
        console.log("WebSocket连接成功");
        this.websocketsend('connect success')
      },
      websocketonerror(e) { //错误
        console.log("WebSocket连接发生错误");
      },
      websocketonmessage(e){ //数据接收
        console.log(e.data)
        this.websocketsend(e.data)
        // const redata = JSON.parse(e.data);
      },

      websocketsend(agentData){//数据发送
        this.websocket.send(agentData);
      },

      websocketclose(e){ //关闭
        console.log("connection closed (" + e.code + ")");
      },
    }
  }
</script>

<style scoped>

</style>
