<template>

</template>

<script>
    export default {
        name: "socket",
      data() {
          return{
            websocket:null,
            mapDatas:{}
          }
      },
      created() {
        this.initWebsocket()
      },
      methods: {

        initWebsocket(){
          const wsuri = 'ws://127.0.0.1:9000';
          this.websocket = new WebSocket(wsuri)
          this.websocket.onopen = this.websocketonopen
          this.websocket.onerror = this.websocketonerror
          this.websocket.onmessage = this.websocketonmessage
          this.websocket.onclose = this.websocketonclose
        },
        websocketonopen() {
          console.log("WebSocket连接成功");
          this.websocketsend('connect success')
        },
        websocketonerror(e) { //错误
          console.log("WebSocket连接发生错误");
        },
        websocketonmessage(e){ //数据接收
          const redata = JSON.parse(e.data);
          console.log(redata)
          this.websocketsend(e.data)
          // const redata = JSON.parse(e.data);
        },

        websocketsend(agentData){//数据发送
          const sendData = {server:'analysis_service',func:'map_datas'}
          this.websocket.send(JSON.stringify(sendData));
        },

        websocketclose(e){ //关闭
          console.log("connection closed (" + e.code + ")");
        },

        // this.historyAlarm = redata.sort(compare("count"))
    //     function compare(property){
    //   return function(obj1,obj2){
    //     var value1 = obj1[property];
    //     var value2 = obj2[property];
    //     return value2 - value1;     // 降序
    //   }
    // }

      }
    }
</script>

<style scoped>

</style>
