<template>
  <div class="eslist-container">
    <el-row>
        <el-button round>圆角按钮</el-button>
        <el-button type="primary" @click="add" round>添加设备</el-button>
    </el-row>
  </div>
</template>

<script>
import { addTest, allTopic } from "@/api/sharMsg";
export default {
  data() {
    return {
      topicIds: [],
      orgName: "",
      username: ""
    };
  },
  methods: {
    add() {
      console.log(this.topicIds);
      let msg = this.username + "执行了添加设备操作";
      let postData = {
        org_name: this.orgName,
        topic_ids: this.topicIds,
        msg_body: msg
      };
      addTest(postData).then(data => {
        let res = data.data;
        console.log(res);
        if (res.code == 1) {
          this.$notify({
            title: "成功",
            message: res.desc,
            type: "success"
          });
        }
      });
    }
  },
  created() {
    this.orgName = this.$store.state.user.orgName
      ? this.$store.state.user.orgName
      : "紧信委"; // 通过Vuex获取
    this.username = localStorage.getItem("username");
    allTopic().then(data => {
      let res = data.data;
      console.log(res);
      if (res.code == 1) {
        res.data.forEach(element => {
          if (element._source.concerns.indexOf(this.username) > -1) {
            // 已关注的主题的id
            this.topicIds.push(element._id);
          }
        });
      }
    });
  }
};
</script>

<style scoped>
</style>
