<template>
  <div class="eslist-container">
    <div class="flex_cont">
      <el-row class="es-row">
        <el-col :span="24" class="es-col">
          <div class="grid-content bg-purple-dark">我的申请</div>
        </el-col>
      </el-row>
      <!--组织申请-->
      <div class="baob_list" v-for="(item,index) in apply_orgmsg">
        <div class="baob_item">
          <el-row class="es-row">
            <el-col :span="24" class="es-col">
              <div class="grid-content bg-purple-dark">{{item.org}}</div>
            </el-col>
          </el-row>
        </div>
        <div class="button">
          <el-button v-if="item.state=='wite'" type="primary">等待处理</el-button>
          <el-button v-if="item.state=='auth'" type="success">已同意</el-button>
          <el-button v-if="item.state=='refuse'" type="warning">已被拒绝</el-button>
        </div>
      </div>
      <!--组织申请end-->
      <!--角色申请-->
      <div class="baob_list" v-for="(item,index) in apply_rolemsg">
        <div class="baob_item">
          <el-row class="es-row">
            <el-col :span="24" class="es-col">
              <div class="grid-content bg-purple-dark">
                我申请
                <span>{{item.org}}</span>里的
                <span>{{item.app_name}}</span>应用的
                <span>{{item.role}}</span>角色权限
              </div>
            </el-col>
          </el-row>
        </div>
        <div class="button">
          <el-button v-if="item.state=='wite'" type="primary">等待处理</el-button>
          <el-button v-if="item.state=='auth'" type="success">已同意</el-button>
          <el-button v-if="item.state=='refuse'" type="warning">已被拒绝</el-button>
        </div>
      </div>
      <!--角色申请end-->
      <!--地区权限申请-->
      <div class="baob_list" v-for="(item,index) in apply_areamsg">
        <div class="baob_item">
          <el-row class="es-row">
            <el-col :span="24" class="es-col">
              <div class="grid-content bg-purple-dark">
                我申请
                <span>{{item._source.permis_areas}}</span>地区管理权限
              </div>
            </el-col>
          </el-row>
        </div>
        <div class="button">
          <el-button v-if="item._source.state=='wite'" type="primary">等待处理</el-button>
          <el-button v-if="item._source.state=='auth'" type="success">已同意</el-button>
          <el-button v-if="item._source.state=='refuse'" type="warning">已被拒绝</el-button>
        </div>
      </div>
      <!--地区权限申请end-->
    </div>

    <div class="flex_cont">
      <el-row class="es-row">
        <el-col :span="24" class="es-col">
          <div class="grid-content bg-blue">待处理的申请</div>
        </el-col>
      </el-row>
      <!--组织申请-->
      <div class="baob_list" v-for="(item,index) in handle_orgmsg" v-if="item.state=='wite'">
        <div class="baob_item">
          <el-row class="es-row">
            <el-col :span="24" class="es-col">
              <div class="grid-content bg-purple-dark">
                <span>{{item.apply_user}}</span>申请加入
                <span>{{item.org}}</span>组织
              </div>
            </el-col>
          </el-row>
        </div>
        <div class="button">
          <el-button type="success" @click="changeOrgState(item,'auth')">同意</el-button>
          <el-button type="warning" @click="changeOrgState(item,'refuse')">拒绝</el-button>
        </div>
      </div>
      <!--组织申请end-->
      <!--角色申请-->
      <div class="baob_list" v-for="(item,index) in handle_rolemsg" v-if="item.state=='wite'">
        <div class="baob_item">
          <el-row class="es-row">
            <el-col :span="24" class="es-col">
              <div class="grid-content bg-purple-dark">
                <span>{{item.org}}</span>组织的
                <span>{{item.apply_user}}</span>申请
                <span>{{item.app_name}}</span>应用的
                <span>{{item.role}}</span>角色
              </div>
            </el-col>
          </el-row>
        </div>
        <div class="button">
          <el-button type="success" @click="changeRoleState(item,'auth')">同意</el-button>
          <el-button type="warning" @click="changeRoleState(item,'refuse')">拒绝</el-button>
        </div>
      </div>
      <!--角色申请end-->
      <!--地区权限申请-->
      <div class="baob_list" v-for="(item,index) in handle_areamsg" v-if="item._source.state=='wite'">
        <div class="baob_item">
          <el-row class="es-row">
            <el-col :span="24" class="es-col">
              <div class="grid-content bg-purple-dark">
                <span>{{item._source.user_name}}</span>申请
                <span>{{item._source.permis_areas}}</span>地区管理权限
              </div>
            </el-col>
          </el-row>
        </div>
        <div class="button">
          <el-button type="success" @click="changeAreaState(item._id,'auth')">同意</el-button>
          <el-button type="warning" @click="changeAreaState(item._id,'refuse')">拒绝</el-button>
        </div>
      </div>
      <!--地区权限申请end-->
    </div>
  </div>
</template>

<script>
import {
  getOrgMsg,
  getRoleMsg,
  handleOrgApply,
  handleRoleApply
} from "@/api/base_srv";
import { getAreaPermis,handleAreaApply } from "@/api/analysis";
export default {
  data() {
    return {
      apply_orgmsg: [], // 我的申请
      apply_rolemsg: [], //我的角色申请
      apply_areamsg: [],  // 我的地区权限申请
      handle_orgmsg: [], // 待处理申请
      handle_rolemsg: [], // 待处理的角色申请
      handle_areamsg: []  // 待处理的地区权限申请
    };
  },
  methods: {
    // 处理组织申请
    changeOrgState(item, state) {
      item.state = state;
      handleOrgApply(item).then(data => {
        let res = data.data;
        if (res.code == 1) {
          this.$notify({
            title: "成功",
            message: res.desc,
            type: "success"
          });
          this.get_msg();
        }
      });
    },
    // 处理角色申请
    changeRoleState(item, state) {
      item.state = state;
      handleRoleApply(item).then(data => {
        let res = data.data;
        if (res.code == 1) {
          this.$notify({
            title: "成功",
            message: res.desc,
            type: "success"
          });
          this.get_msg();
        }
      });
    },
    // 处理地区权限申请
    changeAreaState(id, state) {
      handleAreaApply({permis_id:id,permis_state:state}).then(data => {
        let res = data.data;
        if (res.code == 1) {
          this.$notify({
            title: "成功",
            message: res.desc,
            type: "success"
          });
          this.get_msg();
        }
      });
    },
    get_msg() {
      // 组织申请
      getOrgMsg().then(data => {
        let res = data.data;
        console.log(res);
        if (res.code == 1) {
          this.apply_orgmsg = res.apply_msg;
          this.handle_orgmsg = res.handle_msg;
        }
      });
      //角色申请
      getRoleMsg().then(data => {
        let res = data.data;
        if (res.code == 1) {
          console.log(res);
          this.apply_rolemsg = res.apply_msg;
          this.handle_rolemsg = res.handle_msg;
        }
      });
      // 地区权限申请
      getAreaPermis().then(data => {
        let res = data.data;
        if (res.code == 1) {
          console.log(res);
          this.apply_areamsg = res.data.user_name;
          this.handle_areamsg = res.data.sudo_user;
        }
      });
    }
  },
  created() {
    // 不断询问申请状态
    this.get_msg();
    //let Timer = setInterval(this.get_msg, 15000); //十五秒
    // 路由跳转关闭
  }
};
</script>

<style scoped>
.eslist-container {
  display: flex;
}
.flex_cont {
  flex: 1;
}
.es-row {
  margin-bottom: 20px;
}
.baob_list {
  display: flex;
}
.button {
  padding-right: 20px;
}
.baob_item {
  flex: 1;
}
.grid-content {
  text-indent: 50px;
  line-height: 36px;
  color: #000;
  min-height: 36px;
}
.grid-content span {
  color: brown;
}
.bg-purple-dark {
  background: #e6e9eb;
}
.bg-blue {
  background: #c8def4;
}
</style>
