<template>
    <div class="body1">
        <div class="form">
          <el-form ref="form" label-width="100px">
              <div class="body_flex">
                  <div class="item_flex">
                    <div class="item_input">
                      <el-form-item label="组织名称">
                          <el-input v-model="form.orgName" placeholder="名称"></el-input>
                      </el-form-item>
                    </div>
                  </div>
                  <div class="item_flex item_select">
                    <p>添加应用</p>
                    <div class="select">
                      <el-checkbox-group v-model="form.apps" :min="1">
                        <el-checkbox v-for="city in cities" :label="city" :key="city">{{city}}</el-checkbox>
                      </el-checkbox-group>
                    </div>
                  </div>
                  <el-form-item label="组织描述">
                      <el-input type="textarea" v-model="form.orgDisp" placeholder="输入简单描述"></el-input>
                  </el-form-item>
              </div>
              <div class="create">            
                <el-form-item>
                    <el-button type="primary" @click="onSubmit">创建新组织</el-button>
                    <el-button>取消</el-button>
                </el-form-item>
              </div>
          </el-form>
          <h2>我创建的组织</h2>
          <el-table :data="corgLists" stripe style="width: 100%">
            <el-table-column prop="name" label="标题"></el-table-column>
            <el-table-column fixed="right" label="操作" width="180">
                <template slot-scope="scope">
                    <el-button @click="editOrg(scope.row)" type="text" size="small">进入</el-button>
                    <el-button @click="deleteOrg(scope.row)" type="text" size="small">退出</el-button>
                </template>
            </el-table-column>
          </el-table>
          <h2>我加入的组织</h2>
          <el-table :data="jorgLists" stripe style="width: 100%">
            <el-table-column prop="name" label="标题"></el-table-column>
            <el-table-column fixed="right" label="操作" width="180">
                <template slot-scope="scope">
                    <el-button @click="intoOrg(scope.row)" type="text" size="small">进入</el-button>
                    <el-button @click="outOrg(scope.row)" type="text" size="small">退出</el-button>
                </template>
            </el-table-column>
          </el-table>
        </div>
        <div class="edit">
            <el-button type="primary" @click="jionOrg">加入组织</el-button>
        </div>
    </div>
</template>

<script>
import { createOrg, getcOrg, getjOrg, getApp, getOrgApp } from "@/api/base_srv";

export default {
  data() {
    return {
      cities: [],
      form: {
        orgName: "",
        orgDisp: "",
        apps: []
      },
      corgLists: [],
      jorgLists: [],
      app: "",
      apps: "",
      is_show: false
    };
  },
  methods: {
    onSubmit() {
      createOrg(this.form).then(data => {
        let res = data.data;
        if (res.code == 1) {
          this.get_orgs();
        }
      });
    },
    get_orgs() {
      getcOrg().then(data => {
        let res = data.data;
        if (res.code == 1) {
          this.corgLists = res.data;
        }
      });
      getjOrg().then(data => {
        let res = data.data;
        if (res.code == 1) {
          this.jorgLists = res.data;
        }
      });
    },
    jionOrg() {
      this.$router.push({ path: "/admin/org_list" });
    },
    editOrg(item) {},
    deleteOrg(item) {},
    intoOrg(item) {
      // 选择应用并跳转对应的应用申请角色
      this.is_show = true;
      getOrgApp({ name: item.name }).then(data => {
        // 加入的组织下的所有应用
        let res = data.data;
        console.log(res)
        if (res.code == 1) {
          this.apps = res.data;
        }
      });
    },
    outOrg(item) {},
    blur(org_name) {
      // 选择应用后执行
      console.log(this.app);
      if (this.app == "es_service") {
        this.$router.push({
          name: "选择角色",
          params: { srv_name: this.app, org_name: org_name }
        });
      }
    }
  },
  created() {
    this.get_orgs();
    // 获取所有应用
    getApp().then(data => {
      let res = data.data;
      console.log(res)
      let lists = [];
      if (res.code == 1) {
        res.data.forEach(item => {
          lists.push(item.srv_name);
        });
      }
      this.cities = lists;
      this.form.apps.push(this.cities[0]);
    });
  }
};
</script>
<style scoped>
.body1 {
  width: 98%;
  display: flex;
}
.form {
  width: 90%;
}
.item_select {
  height: 50px;
}
.item_select p {
  width: 10%;
  text-align: center;
  color: #606266;
  font-size: 14px;
}
.select {
  padding-top: 13px;
}
.edit {
  width: 10%;
  text-align: right;
}
.body_flex {
  padding-top: 22px;
  border-bottom: 1px solid #ccc;
}
.item_flex {
  display: flex;
}
.item_input {
  width: 50%;
}
.create {
  margin-top: 22px;
}
.edit {
  width: 20%;
  text-align: center;
}
.create_list {
  display: flex;
}
.item_name {
  flex: 1;
}
.es-row {
  margin-bottom: 20px;
}
.grid-content {
  text-indent: 50px;
  line-height: 36px;
  color: #000;
  min-height: 36px;
}
.bg-purple-dark {
  background: #e6e9eb;
}
.form-option {
  width: 60%;
  height: 40px;
  border: 1px solid #dcdfe6;
  border-radius: 4px;
}
</style>
