<template>
  <div class="eslist-container">
    <el-row class="es-row">
        <el-col :span="24" class="es-col"><div class="grid-content bg-purple-dark">组织列表</div></el-col>
    </el-row>
    <el-table :data="datas" stripe style="width: 100%">
      <el-table-column prop="name" label="标题"></el-table-column>
      <el-table-column fixed="right" label="操作" width="180">
          <template slot-scope="scope">
              <el-button @click="jionOrg(scope.row.name)" type="text" size="small">加入</el-button>
          </template>
      </el-table-column>
    </el-table>
   
    <div>
      <el-button @click="applyAppid">申请APPID</el-button>
    </div>
  </div>
</template>

<script>
import { getOrg, userOrg, getRole, getAppId } from "@/api/base_srv";
export default {
  name: "login",
  data() {
    return {
      datas: [],
      role: "def_rol" // 默认角色
    };
  },
  methods: {
    applyAppid(){ 
        getAppId().then(data=>{
          console.log(data)
          let res = data.data
          alert(res.appid)
        })
    },
    jionOrg(name) {
      // 加入组织并
      userOrg({ name: name, role: this.role }).then(data => {
        let res = data.data;
        if (res.code == 1) {
          // 
          alert('你的申请正在等待管理员审核！')
        }
      });
    }
  },
  created() {
    // 获取所有组织
    getOrg().then(data => {
      let res = data.data;
      if (res.code == 1) {
        this.datas = res.data;
      }
    });
  }
};
</script>

<style scoped>
.es-row {
  margin-bottom: 20px;
}
.baob_list {
  display: flex;
}
.button {
  padding-right: 20px;
}
.baob_item {
  flex: 1;
}
.grid-content {
  text-indent: 50px;
  line-height: 36px;
  color: #000;
  min-height: 36px;
}
.bg-purple-dark {
  background: #e6e9eb;
}
</style>
