<template>
  <div class>
    <el-cascader class="form-option" v-model="value" :options="options" change-on-select></el-cascader>
    <el-button type="success" icon="el-icon-check" @click="areacheck"></el-button>
  </div>
</template>

<script>
import { applyAreaPermis } from "@/api/analysis";
import { Areas } from "@/api/assets";
export default {
  data() {
    return {
      value: [],
      options: []
    };
  },
  methods: {
    areacheck() {
      let postData = {
        permis_areas: this.value.join(">")
      }
      console.log(postData);
      applyAreaPermis(postData).then(data => {
        let res = data.data;
        if (res.code == 1) {
          this.$notify({
            title: "成功",
            message: res.desc,
            type: "success"
          });
        }
      });
    },
    rollFun(data, areas) {
      // 修改 json 对象key值
      data.forEach(element => {
        let obj = { value: element.name, label: element.name };
        if (element.children) {
          obj.children = [];
          this.rollFun(element.children, obj.children);
        }
        areas.push(obj);
      });
      return areas;
    },
    dataToArea(data) {
      let areas = [];
      return this.rollFun(data, areas);
    }
  },
  created() {
    // 获取地区数据
    Areas().then(data => {
      let res = data.data;
      if (res.code == 1) {
        this.options = this.dataToArea(eval(res.data));
      }
    });
  }
};
</script>

<style scoped>
.form-option {
  width: 60%;
}
</style>
