<template>
  <div class="eslist-container">
    <el-row>
        <el-col :span="24" class="es-col"><div class="grid-content bg-purple-dark">地州权限</div></el-col>
    </el-row>
    <div>
      <Region/>
    </div>
    
    <el-row>
        <el-col :span="24" class="es-col"><div class="grid-content"></div></el-col>
    </el-row>

    <el-row class="es-row">
        <el-col :span="24" class="es-col"><div class="grid-content bg-purple-dark">应用管理</div></el-col>
    </el-row>
    <el-table :data="datas" stripe style="width: 100%"> 
      <el-table-column prop="hz_srv_name" label="应用" width="400"> </el-table-column>
      <el-table-column label="角色">
        <template slot-scope="scope">
          <el-radio-group v-model="scope.row.role" @change="changeRole" class="flex">
              <el-radio v-for="(rol,name) in scope.row.roles" v-model="name" :label="name" class="flax-item">
                {{rol.name}}
              </el-radio>
          </el-radio-group>
        </template>
      </el-table-column> 
      <el-table-column label="操作" width="300">
        <template slot-scope="scope">
          <el-button size="mini" type="primary" @click="applyApp(scope.row)">申请此应用 </el-button>
          <el-button size="mini" type="danger" @click="deleApp(scope.row)">取消申请 </el-button>
        </template>
      </el-table-column>
    </el-table>
    
    
    
    
  </div>
</template>

<script>
import { handleApplyApp } from "@/api/base_srv";
import MenuUtils from "@/utils/MenuUtils";
import { getRoutes, getRoles } from "@/api/route";
import Region from "./region"
export default {
  name: "login",
  data() {
    return {
      datas: [],
      orgName: "",
      role: "def_rol", // 默认角色
      routes: [],
      descApps: {
        assets_service: "资产管理",
        pep_service: "人才库",
        analysis_service: "数据分析",
        emergency: "应急预案",
        notification: "通知",
        es_service: "报表上报",
        Knowledge_service: "知识库"
      }
    };
  },
  components:{
    Region
  },
  methods: {
    changeRole() {},
    applyApp(app) {
      console.log(app);
      let postData = {};
      postData.role = app.role;
      postData.srv_name = app.srv_name;
      postData.funcs = app.roles.def_rol.data.concat(
        app.roles[postData.role].data
      );
      postData.state = "wite";
      postData.org_name = this.orgName;
      console.log(postData);
      handleApplyApp(postData).then(data => {
        let res = data.data;
        if (res.code == 1) {
          this.$notify({
            title: "成功",
            message: "等待处理",
            type: "success"
          });
        }
      });
    },
    deleApp(app) {}
  },
  created() {
    this.orgName = this.$store.state.user.orgName ? this.$store.state.user.orgName : "紧信委"; // 通过Vuex获取
    getRoles(this.orgName).then(data => {
      let res = data.data;
      console.log(res);
      if (res.length != 0) {
        // 后端获取数据
        res.forEach(element => {
          if (element.srv_name) {
            element.role = this.role;
            // 汉化
            element.hz_srv_name = this.descApps[element.srv_name] 
            this.datas.push(element);
            console.log(element);
          }
        });
      }
    });
  }
};
</script>

<style scoped>
.flex {
  display: flex;
  justify-content: space-between;
}
.flax-item {
  width: 30%;
  height: 30px;
  padding: 10px 10px 0;
  text-indent: 10px;
}
.es-row {
  margin-bottom: 20px;
}
.grid-content {
  text-indent: 50px;
  line-height: 36px;
  color: #000;
  min-height: 36px;
}
.bg-purple-dark {
  background: #e6e9eb;
}
</style>
