<template>
    <div class="body">
        <el-form ref="form" :model="form" label-width="100px">
            <div class="body_flex">
              <div class="item_flex" v-for="(item,index) in forms">
                <el-form-item :label="forms[index]" >
                  <select class="form-option" v-model="form[index]" placeholder="请选择类型">
                    <option v-for="opt in options[index]">{{opt}}</option>
                  </select>
                </el-form-item>
              </div>
            </div>            
            <el-form-item>
                <el-button type="primary" @click="onSubmit">修改</el-button>
                <el-button>取消</el-button>
            </el-form-item>
        </el-form>
    </div>
</template>

<script>
import { editTjThem } from "@/api/es";

export default {
  data() {
    return {
      datas:{},
      form: {},
      forms: {},
      options: {},
      id: '',
      userName: "abc国际公司",
    };
  },
  methods: {
    onSubmit() {
      let postdata = {
          id: this.id,
          data: this.form
      }
      editTjThem(postdata).then(data => {
        let res = data.data;
        if (res.code == 1) {
          alert(res.err_msg);
          this.$router.go(-1)
        } else {
          alert(res.err_msg);
        }
      });
    }
  },
  created() {
    
    let prasdata = this.$route.params.esdata?this.$route.params.esdata:null
    if(!prasdata){
      this.$router.push({name:"数据列表"})
      return false
    }
    this.id = prasdata._id
    this.form = prasdata._source

    this.datas = this.$store.state.esstate.esdata;
    this.datas.fields.forEach(item => {
      if (item.field_enum[0]) {  // 数量字段排除  
        this.$set(this.forms,item.field_name,item.field_dis_zh)  // this.$set(obj,key,value)
        this.options[item.field_name] = item.field_enum; // 枚举值
      }
    });
  }
};
</script>
<style>
.body {
  width: 98%;
}
.body_flex {
  width: 60%;
  margin: 20px 100px;
}
.form-option{
  width: 60%;
  height: 40px;
  border: 1px solid #dcdfe6;
  border-radius: 4px;
}
</style>
