<template>
    <div class="body">
      <div class="eslist-container">
          <el-row class="es-row">
              <el-col :span="24" class="es-col"><div class="grid-content bg-purple-dark">统计主题项目</div></el-col>
          </el-row>
          <div>
            <el-form ref="form" :model="form" label-width="200px">
                <div class="body_flex">
                  <div class="item_flex" v-for="(item,index) in forms" v-if="options[index][0]">
                      <el-form-item :label="forms[index]">
                        <select class="form-option" v-model="form[index]" placeholder="请选择类型">
                          <option v-for="opt in options[index]">{{opt}}</option>
                        </select>
                      </el-form-item>
                  </div>
                  <div class="item_flex" v-for="(item,index) in forms" v-if="!options[index][0]">
                      <el-form-item :label="forms[index]" >
                        <el-input v-model="form[index]" placeholder="请输入"></el-input>
                      </el-form-item>
                  </div>
                </div>            
                <el-form-item>
                    <el-button type="primary" @click="onSubmit">创建</el-button>
                    <el-button>取消</el-button>
                </el-form-item>
            </el-form>
          </div>
          <h2>已创建的统计主题</h2>
          <div class="item_all" v-for="(item,index) in datas">
              <div class="item_name">
                  <el-row class="es-row">
                  <el-col :span="24" class="es-col">
                      <div class="grid-content bg-purple-dark">
                          <span v-for="(key,value) in item._source" v-if="value!='add_user'&&item._source[value]">
                            {{form_lable[value]?form_lable[value]+'=>':''}}{{item._source[value]==indexName?'' : item._source[value]+'；'}}
                          </span>
                      </div>
                  </el-col>
                  </el-row>
              </div>
              <div class="button">
                  <el-button type="primary" @click="editpage(item)" >编辑</el-button>
                  <el-button type="danger" @click="deleteThem(item)">删除</el-button>
                  <el-button @click="toseekTj(item)" type="text" size="small">查看统计</el-button>
              </div>
          </div>
      </div>
    </div>
</template>

<script>
import { getTjThem, deleEsdata, getEsdata, editTjThem } from "@/api/es";
export default {
  name: "login",
  data() {
    return {
      datas: [],
      indexName: "",
      data: {},
      form: {},
      forms: {},
      options: {},
      form_lable: null
    };
  },
  methods: {
    get_datas() {
      // 获取某个index的统计主题 传入索引名
      getTjThem(this.indexName).then(data => {
        let res = data.data;
        console.log(res)
        if(res.code==1){
          this.datas = res.data;
        }
        
      });
    },
    onSubmit() {
      // 把索引名加上
      this.form["index_name"] = this.data.index_name
      // 填表人
      this.form["add_user"] = localStorage.getItem('username')
      editTjThem(this.form).then(data => {
        let res = data.data;
        if (res.code == 1) {
          this.$notify({
            title: "成功",
            message: res.desc,
            type: "success"
          });
          this.get_datas()
        } else {
          this.$notify.error({
            title: "error",
            message: res.desc,
          });
        }
      });
    },
    editpage(item) {
      this.$router.push({ name: "修改统计主题", params: { esdata: item } });
    },
    deleteThem(item) {
      let data = {
        name: item._index,
        id: item._id
      };
      deleEsdata(data).then(data => {
        // 重新获取
        this.get_datas();
      });
    },
    toseekTj(item) {
      this.$router.push({
        name: "统计主题结果展示列表",
        params: { esdata: item._source }
      });
    },
    getFormLable() {
      getEsdata().then(data => {
        let res = data.data;
        if (res.code == 1) {
          res.data.forEach(item => {
            if (item._source.index_name == this.indexName) {
              this.form_lable = this.dataClean(item._source.fields);
              this.form_lable.add_user = "填表人"
            }
          });
        }
      });
    },
    dataClean(data) {
      let res = {};
      data.forEach(item => {
        res[item.field_name] = item.field_dis_zh;
      });
      return res;
    },
  },
  created() {
      let res = this.$route.params.esdata;
      if (!res) {
        this.$router.push({name:"数据列表"})
        return false
      }
      this.$store.commit("SAVE_ESBASE", res); // 当前表数据存入store中
      this.indexName = res.index_name;
      res.fields.forEach(item => {
        if (item.field_type == "integer") {
        this.$store.commit("SAVE_FIELD_NUM_NAME", item.field_name); // 数量字段名存入store中
      }
      });

      this.data = this.$store.state.esstate.esdata;
      if (this.data.fields==undefined) {
        this.$router.push({name:"数据列表"})
        return false
      }
      this.data.fields.forEach(item => {
        if (item.field_type != "integer") {  // 数量字段排除  
          this.form[item.field_name] = ""; // 提交表单格式
          // this.forms[item.field_name] = item.field_dis_zh;   此种方式不会触发视图更新
          this.$set(this.forms,item.field_name,item.field_dis_zh)  // this.$set(obj,key,value)
          this.options[item.field_name] = item.field_enum; // 枚举值
        }
      });
      console.log(this.options)
      this.get_datas();
      this.getFormLable()
  }
};
</script>

<style scoped>
.body,
.item_all {
  display: flex;
}

.button {
  text-align: right;
}
.item_name{
  width: 80%;
}
.eslist-container {
  width: 90%;
}
.es-row {
  margin-bottom: 20px;
}
.grid-content {
  text-indent: 50px;
  line-height: 36px;
  color: #000;
  min-height: 36px;
}
.bg-purple-dark {
  background: #e6e9eb;
}
.body_flex {
  width: 60%;
  margin: 20px 100px;
}
.form-option{
  width: 60%;
  height: 40px;
  border: 1px solid #dcdfe6;
  border-radius: 4px;
}
</style>
