<template>
  <div class="tj_info">
    <div class="sb_name">
      <el-table v-if="!tableData.length" :data="tableData" stripe style="width: 100%"></el-table>
      <el-table v-if="tableData.length" :data="tableData" stripe style="width: 100%">
        <el-table-column v-for="(item, index) in tableData[0]._source" :key="index" :label="form_lable[index]">
          <!-- 数据的遍历  scope.row就代表数据的每一个对象-->
          <template slot-scope="scope">
            <span>{{scope.row._source[index]}}</span>
          </template>
        </el-table-column>
        <!-- <el-table-column fixed="right" label="操作" width="180">
          <template slot-scope="scope">
            <el-button @click="getInfos(scope.row)" type="text" size="small">详情</el-button>
          </template>
        </el-table-column>-->
      </el-table>
    </div>
  </div>
</template>

<script>
import { getSbTj, getEsdata } from "@/api/es";

export default {
  data() {
    return {
      indexName: "",
      field: "",
      tableData: [],
      form_lable: null
    };
  },
  methods: {
    getFormLable() {
      getEsdata().then(data => {
        let res = data.data;
        if (res.code == 1) {
          res.data.forEach(item => {
            if (item._source.index_name == this.indexName) {
              this.form_lable = this.dataClean(item._source.fields);
              this.form_lable.add_user = "填表人"
            }
          });
        }
      });
    },
    dataClean(data) {
      let res = {};
      data.forEach(item => {
        res[item.field_name] = item.field_dis_zh;
      });
      return res;
    },
    get_datas() {
      getTjThem().then(data => {
        this.datas = data.data.data;
      });
    },
    get_res(data) {
      let postData = data
      getSbTj(postData).then(data => {
        let res = data.data;
        if (res.code == 1) {
          this.tableData = res.data;
        } else {
          this.$notify.error({
            title: "error",
            message: res.desc
          });
        }
      });
    }
  },
  created() {
    let res = this.$route.params.esdata;
    this.indexName = res.index_name;
    this.getFormLable();
    this.get_res(res);
  }
};
</script>

<style>
.tj_info {
  display: flex;
}
.sb_name {
  width: 98%;
}
</style>
