<template>
    <div class="body">
      <div class="form">
        <h2>修改表格数据</h2>
        <el-form ref="form" label-width="200px">
          <div v-for="(item,index) in datas._source">
            <el-form-item :label="forms[index]" v-if="index!=field_num_name&&index!='add_user'">
              <el-select v-model="datas._source[index]" placeholder="请选择类型">
                <el-option v-for="opt in options[index]" :key="opt" :value="opt"></el-option>
              </el-select>
            </el-form-item>
            <el-form-item :label="forms[index]" v-if="index==field_num_name">
              <el-input v-model="datas._source[index]" placeholder="设备数量"></el-input>
            </el-form-item>
          </div>
          <el-form-item>
              <el-button type="primary" @click="onSubmit">确定修改</el-button>
          </el-form-item>
        </el-form>
      </div>
    </div>
</template>

<script>
import { updateEsdata } from "@/api/es";

export default {
  data() {
    return {
      datas: {},
      base_datas:{},
      forms:{},
      options:{},
      field_num_name: this.$store.state.esstate.field_num_name
    };
  },
  methods: {
    onSubmit() {
      //this.form.tb_obj = this.userName; // 填表人
      let postData = {
        index_name: this.datas._index,
        id: this.datas._id,
        field_num_name: this.field_num_name,
        data: this.datas._source
      }
      updateEsdata(postData).then(data => {
        let res = data.data;
        if (res.code == 1) {
          alert("成功修改一条记录");
          this.$router.go(-1)  // 
        } else {
          alert(res.err_msg);
        }
      });
    }
  },
  created() {
    //console.log(this.$route.params.esdata);
    if(this.$route.params.esdata==undefined){
      this.$router.push({name:"数据列表"})
      return false
    }
    this.datas = this.$route.params.esdata;
    let base_datas = this.$store.state.esstate.esdata; // 通过Vuex获取
    base_datas.fields.forEach(item => {
      this.forms[item.field_name] = item.field_dis_zh
      if (item.field_enum[0]) {
        this.options[item.field_name] = item.field_enum; // 枚举值
      }
    });
  }   
};
</script>
<style>
.body {
  width: 98%;
  margin: 0 auto;
}
.item_all{
    display: flex;
}
.form{
  width: 60%;
  margin: 0 10%;
}


</style>
