<template>
    <div class="body">
      <div class="form">
        <h2>填写表格数据</h2>
        <el-form ref="form" label-width="200px">
          <div v-for="(item,index) in forms">
            <el-form-item :label="forms[index]" v-if="options[index]">
              <select class="form-option" v-model="form[index]" placeholder="请选择类型">
                  <option v-for="opt in options[index]">{{opt}}</option>
              </select>
            </el-form-item>
             <el-form-item :label="forms[index]" v-if="!options[index]">
               <el-input v-model="form[index]" placeholder="请输入"></el-input>
            </el-form-item>
          </div>
         
          <el-form-item>
              <el-button type="primary" @click="onSubmit">提交</el-button>
          </el-form-item>
        </el-form>
      </div>
      <h2>已填写项目</h2>
      <el-table :data="formLists" stripe style="width: 100%">
        <el-table-column prop="_index" label="项目"></el-table-column>
        
        <el-table-column fixed="right" label="操作" width="180">
            <template slot-scope="scope">
                <el-button @click="editpage(scope.row)" type="text" size="small">编辑</el-button>
                <el-button @click="deleteThem(scope.row)" type="text" size="small">删除</el-button>
            </template>
        </el-table-column>
      </el-table>
    </div>
</template>

<script>
import { updateEsdata, addEsdata, fullTable, deleEsdata } from "@/api/es";

export default {
  data() {
    return {
      form: {},
      forms: {},
      formLists: [],
      options: {},
      field_num_name: "", // 数量字段名
    };
  },
  methods: {
    getItemeTable() {
      // 让后端生成子表结构
      addEsdata(this.datas).then(data => {
        console.log(data.data.data);
        let res = data.data;
        if (res.err_num != 0) {
          alert(res.err_msg);
        }
      });
    },
    getFullTable() {
      // 获取已经填写了的表数据
      fullTable(this.datas.index_name).then(data => {
        let res = data.data;
        if (res.code == 1) {
          if (!res.data) {
            return false;
          }
          let lists = [];
          res.data.forEach(ele => {
            lists.push(ele);
          });
          this.formLists = lists;
          console.log(this.formLists)
        }
      });
    },

    onSubmit() {
      // 填表人字段名  add_user
      this.form["add_user"] = localStorage.getItem('username')  // 填表人
      let postData = {
        index_name: this.datas.index_name,
        field_num_name: this.field_num_name,
        data: this.form
      };
      // console.log(postData.data)
      updateEsdata(postData).then(data => {
        let res = data.data;
        console.log(data)
        if (res.code == 1) {
          alert("成功添加一条记录");
          this.getFullTable(); // 重新获取已经填写的表数据
        } else {
          alert(res.err_msg);
        }
      });
    },
    editpage(item) {
      this.$router.push({ name: "修改已填报数据", params: { esdata: item } });
    },
    deleteThem(item) {
      let data = {
        name: item._index,
        id: item._id
      };
      deleEsdata(data).then(data => {
        let res = data.data;
        if (res.code == 1) {
          alert("成功删除一条记录");
          this.getFullTable(); // 重新获取已经填写的表数据
        } else {
          alert(res.err_msg);
        }
      });
    }
  },
  created() {
    let res = null;
    if (this.$route.params.esdata == undefined) {
      if (this.$store.state.esstate.esdata.fields) {
        res = this.$store.state.esstate.esdata;
      }
    } else {
      res = this.$route.params.esdata;
      if (this.$store.state.esstate.esdata.fields == undefined) {
        this.$store.commit("SAVE_ESBASE", res); // 当前字表数据存入store中
      }
    }
    if (!res) {
      this.$router.push({ name: "数据列表" });
      return false;
    }
    res.fields.forEach(item => {
      if (item.field_type == "integer") {
        this.field_num_name = item.field_name
        this.$store.commit("SAVE_FIELD_NUM_NAME", item.field_name); // 数量字段名存入store中
      }
    });

    this.datas = this.$store.state.esstate.esdata; // 通过Vuex获取
    if (this.datas.fields == undefined) {
      this.$router.push({ name: "数据列表" });
      return false;
    }

    this.datas.fields.forEach(item => {
      this.form[item.field_name] = ""; // 提交表单格式
      this.forms[item.field_name] = item.field_dis_zh;
      if (item.field_enum[0]) {
        // 枚举值有类容是枚举类型没有类容则是其他类型 其他类型使用输入框
        this.options[item.field_name] = item.field_enum; // 枚举值
      }
    });
    console.log(this.options)
    //this.getItemeTable()
    this.getFullTable(); // 获取已经填写的表数据
  }
};
</script>
<style>
.body {
  width: 98%;
  margin: 0 auto;
}
.item_all {
  display: flex;
}
.form {
  width: 60%;
  margin: 0 10%;
}
.button {
  text-align: right;
}
.item_name,
.eslist-container {
  width: 80%;
}

.edit {
  width: 20%;
  text-align: center;
}
.es-row {
  margin-bottom: 20px;
}
.grid-content {
  text-indent: 50px;
  line-height: 36px;
  color: #000;
  min-height: 36px;
}
.bg-purple-dark {
  background: #e6e9eb;
}
.form-option {
  width: 60%;
  height: 40px;
  border: 1px solid #dcdfe6;
  border-radius: 4px;
}
</style>
