<template>
  <div class="eslist-container">
    <div class="baob_list">
      <div class="baob_item">
        <el-row class="es-row">
            <el-col :span="24" class="es-col"><div class="grid-content bg-purple-dark">待录入项目</div></el-col>
        </el-row>
      </div>
      <div class="button">
        <el-button v-if="role=='adm_rol'" type="success" @click="toGavernment()">创建表格</el-button>
      </div>
    </div>
    <el-table :data="datas" stripe style="width: 100%">
      <el-table-column prop="_source.index_name" label="标题"></el-table-column>
      <el-table-column fixed="right" label="操作" width="180">
          <template slot-scope="scope">
              <el-button v-if="role!='adm_rol'" @click="toEnterprise(scope.row)" type="text" size="small">查看填写</el-button>
              <el-button v-if="role=='adm_rol'" @click="toTj(scope.row)" type="text" size="small">统计主题</el-button>
          </template>
      </el-table-column>
    </el-table>
  </div>
</template>

<script>
import { getEsdata, getCruteRole } from "@/api/es";
export default {
  name: "login",
  data() {
    return {
      datas: [],
      role: "org_rol" // 默认不是管理者
    };
  },
  methods: {
    get_datas() {
      getEsdata().then(data => {
        console.log(data.data);
        let res = data.data;
        // 如果还没有发布任务，如果你是管理员跳转至创建自定义表格
        if (res.code == 2) {
          if (this.role == "adm_rol") {
            this.$router.push({ name: "创建自定义表格" });
          } else {
            alert("等待管理员发布项目");
          }
        }
        if (res.code == 1) {
          this.datas = res.data;
        }
        if (res.code == 401) {
          // 登录信息过期
          alert("登录信息过期，重新登录！");
          this.$store.dispatch("LogOut").then(() => {
            this.$router.push({ path: "/login" });
          });
        }
      });
    },
    toEnterprise(item) {
      this.$router.push({
        name: "企业填表信息",
        params: { esdata: item._source }
      });
    },
    toGavernment() {
      this.$router.push({ path: "/es/admbase" });
    },
    toTj(item) {
      this.$router.push({
        name: "统计主题列表",
        params: { esdata: item._source }
      });
    }
  },
  created() {
    // 向数据库询问用户在该应用中的角色
    let orgName = this.$store.state.user.orgName?this.$store.state.user.orgName:"紧信委"; // 通过Vuex获取
    getCruteRole(orgName).then(data => {
      let res = data.data;
      if (res.code == 1) {
        this.role = res.data;
        console.log(this.role);
      }
    });
    this.get_datas();
    //禁止用F5键
    document.onkeydown = function(e) {
      e = window.event || e;
      var keycode = e.keyCode || e.which;
      if (keycode == 116) {
        e.preventDefault();
      }
    };
    window.onbeforeunload = function(e) {
      window.event.returnValue = "您确定要离开该页面吗?";
    };
  }
};
</script>

<style scoped>
.es-row {
  margin-bottom: 20px;
}
.baob_list {
  display: flex;
}
.button {
  padding-right: 20px;
}
.baob_item {
  flex: 1;
}
.grid-content {
  text-indent: 50px;
  line-height: 36px;
  color: #000;
  min-height: 36px;
}
.bg-purple-dark {
  background: #e6e9eb;
}
</style>
