<template>
  <div class="eslist-container">
    <el-row class="es-row">
        <el-col :span="24" class="es-col"><div class="grid-content bg-purple-dark">角色列表</div></el-col>
    </el-row>
    <div class="baob_list" v-for="(item,index) in datas">
      <div class="baob_item">
        <el-row class="es-row">
            <el-col :span="24" class="es-col">
              <div class="grid-content bg-purple-dark">{{index}}</div>
            </el-col>
        </el-row>
      </div>
      <div class="button">
        <el-button type="primary" @click="jionRole(index)">选择</el-button>
      </div>
    </div>
  </div>
</template>

<script>
import { getEsRole, inputRoleFunc, getCruteRole } from "@/api/es";
export default {
  name: "login",
  data() {
    return {
      datas: [],
      role: null, // 默认角色
      org_name : this.$route.params.org_name?this.$route.params.org_name:'紧信委'
    };
  },
  methods: {
    jionRole(role) {
      this.role = role;
      // 把角色对应的权限加入库中
      inputRoleFunc({ role: this.role, org_name: this.org_name }).then(data => {
        let res = data.data;
        if (res.code == 1) {
          alert('申请已提交等待组织管理员审核')
          //this.$router.push({ name: "es数据列表", params: { role: this.role } });
        }
      });
    }
  },
  created() {
    if (!this.role) {
      // 向数据库询问用户在该应用中的角色
      getCruteRole(this.org_name).then(data => {
        let res = data.data;
        if (res.code == 1) {
          this.role = res.data;
          console.log(this.role);
          if (this.role == null) {
            this.$router.push({
              name: "数据列表",
              params: { role: "adm_rol" }
            });
          }
          if (this.role != "def_rol") {
            this.$router.push({
              name: "数据列表",
              params: { role: this.role }
            });
          }
        }else{
          alert(res.err_msg)
        }
      });
    }
    // 获取角色列表
    getEsRole().then(data => {
      let res = data.data;
      if (res.code == 1) {
        this.datas = res.data;
      }
    });
  }
};
</script>

<style scoped>
.es-row {
  margin-bottom: 20px;
}
.baob_list {
  display: flex;
}
.button {
  padding-right: 20px;
}
.baob_item {
  flex: 1;
}
.grid-content {
  text-indent: 50px;
  line-height: 36px;
  color: #000;
  min-height: 36px;
}
.bg-purple-dark {
  background: #e6e9eb;
}
</style>
