<template>
  <div class="login-container">
    <el-form v-if="isshow&&isLogin"  autoComplete="on" :model="loginForm" :rules="loginRules" ref="loginForm" label-position="left" label-width="0px"
      class="card-box login-form">
      <h3 class="title">工业信息安全态势感知平台</h3>
      <el-form-item prop="username">
        <span class="svg-container svg-container_login">
          <svg-icon icon-class="yonghuming" />
        </span>
        <el-input name="username" type="text" v-model="loginForm.username" autoComplete="on" placeholder="username" />
      </el-form-item>
      <el-form-item prop="password">
        <span class="svg-container">
          <svg-icon icon-class="mima"></svg-icon>
        </span>
        <el-input name="password" type="password" @keyup.enter.native="handleLogin" v-model="loginForm.password" autoComplete="on"
          placeholder="password"></el-input>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" style="width:100%;" :loading="loading" @click.native.prevent="handleLogin">
          登录
        </el-button>
      </el-form-item>

      <el-form-item>
        <el-button type="" style="width:100%;" :loading="loading" @click="handleRegist">
          还没账号马上注册
        </el-button>
      </el-form-item>

      <div class='tips'>
        <!--<span style="margin-right:20px;">username: admin</span>-->
        <!--<span> password: admin</span>-->
      </div>
    </el-form>


    <el-form v-if="!isLogin" autoComplete="on" :model="registForm" :rules="loginRules" ref="registForm" label-position="left" label-width="0px"
      class="card-box login-form">
      <h3 class="title">工业信息安全态势感知平台</h3>
      <el-form-item prop="username">
        <span class="svg-container svg-container_login">
          <svg-icon icon-class="yonghuming" />
        </span>
        <el-input name="username" type="text" v-model="registForm.username" autoComplete="on" placeholder="username"/>
      </el-form-item>
      <el-form-item prop="password">
        <span class="svg-container">
          <svg-icon icon-class="mima"></svg-icon>
        </span>
        <el-input name="password" type="password" v-model="registForm.password" autoComplete="on"
          placeholder="password"></el-input>
      </el-form-item>
      <el-form-item prop="repassword">
        <span class="svg-container">
          <svg-icon icon-class="mima"></svg-icon>
        </span>
        <el-input type="password" v-model="registForm.repassword" autoComplete="on" placeholder="repassword"></el-input>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" style="width:100%;" :loading="loading" @click.native.prevent="registUser">
          注册
        </el-button>
      </el-form-item>

      <div class='tips'>
        <!--<span style="margin-right:20px;">username: admin</span>-->
        <!--<span> password: admin</span>-->
      </div>
    </el-form>

    <!--div v-if="!isshow">
        <el-select v-model="orgName" placeholder="请选择" @blur="addroute">
           <el-option v-for="org in orgs" :key="org.name" :value="org.name"></el-option>
        </el-select>
    </div-->
  </div>
</template>

<script>
import { isvalidUsername } from "@/utils/validate";
import { getRoutes } from "@/api/route";
import { getjOrg, userOrg, UserRegist } from "@/api/base_srv";
import MenuUtils from "@/utils/MenuUtils";
var routers = [];
export default {
  name: "login",
  data() {
    const validateUsername = (rule, value, callback) => {
      if (!isvalidUsername(value)) {
        callback(new Error("请输入正确的用户名"));
      } else {
        callback();
      }
    };
    const validatePass = (rule, value, callback) => {
      if (value.length < 5) {
        callback(new Error("密码不能小于5位"));
      } else {
        callback();
      }
    };
    return {
      isshow: true,
      isLogin: true,
      orgs: [],
      orgName: "紧信委",

      loginForm: {
        username: "",
        password: ""
      },
      registForm: {
        username: "",
        password: ""
      },
      loginRules: {
        username: [
          { required: true, trigger: "blur", validator: validateUsername }
        ],
        password: [{ required: true, trigger: "blur", validator: validatePass }]
      },
      loading: false
    };
  },
  methods: {
    ////////登录///////////////
    handleLogin() {
      this.$refs.loginForm.validate(valid => {
        console.log(1111);
        if (valid) {
          this.loading = true;
          this.$store
            .dispatch("Login", this.loginForm)
            .then(() => {
              this.loading = false;
              // console.log(this.loginForm.username)
              // 用户名存入localstorage
              localStorage.setItem("username", this.loginForm.username);

              // 选择组织
              //this.isshow = !this.isshow;
              //alert("请选择组织");
              //this.select_org();
              this.$store.commit("ORG_NAME", this.orgName); // 当前字表数据存入store中
              this.addroute(); // 跳过组织选择
            })
            .catch(() => {
              this.loading = false;
            });
        } else {
          console.log("error submit!!");
          return false;
        }
      });
    },
    select_org(orgName) {
      getjOrg().then(data => {
        let res = data.data;
        if (res.code == 1) {
          this.orgs = res.data;
        }
      });
    },
    addroute() {
      getRoutes(this.orgName).then(data => {
        let res = data.data;
        console.log(data);
        if (res.code == -10) {
          return false;
        }
        if (res) {
          let routs = [];
          res.forEach(element => {
            routs.push(element.route);
          });
          window.sessionStorage.setItem("routes", JSON.stringify(routs));

          let routers = [];
          MenuUtils(routers, routs);
          this.$router.options.routes = this.$router.options.routes.concat(
            routers
          );
          this.$router.addRoutes(routers);
          console.log(this.$router.options.routes);
          if (localStorage.getItem("username") != "admin") {
            userOrg({ name: this.orgName, role: "def_rol" }).then(data => {
              let res = data.data;
              if (res.code == 1) {
                this.$router.push({ path: "/" });
              }
            });
          } else {
            this.$router.push({ path: "/" });
          }
        }
      });
    },
    ////////注册///////////////
    handleRegist() {
      this.isLogin = false;
    },
    registUser() {
      if (this.registForm.password != this.registForm.repassword) {
        alert("两处密码输入不一致！");
        return;
      }
      UserRegist(this.registForm).then(data => {
        let res = data.data;
        if (res.code == 1) {
          this.$notify({
            title: "成功",
            message: res.desc,
            type: "success"
          });
          this.isLogin = true;
        }else{
          this.$notify({
            title: "失败",
            message: res.desc,
          });
        }
      });
    }
    ///////////////////////
  }
};
</script>

<style rel="stylesheet/scss" lang="scss">
@import "src/styles/mixin.scss";
$bg: #2d3a4b;
$dark_gray: #889aa4;
$light_gray: #eee;

.login-container {
  @include relative;
  height: 100vh;
  background-color: $bg;
  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #293444 inset !important;
    -webkit-text-fill-color: #fff !important;
  }
  input {
    background: transparent;
    border: 0px;
    -webkit-appearance: none;
    border-radius: 0px;
    padding: 12px 5px 12px 15px;
    color: $light_gray;
    height: 47px;
  }
  .el-input {
    display: inline-block;
    height: 47px;
    width: 85%;
  }
  .tips {
    font-size: 14px;
    color: #fff;
    margin-bottom: 10px;
  }
  .svg-container {
    padding: 6px 5px 6px 15px;
    color: $dark_gray;
    vertical-align: middle;
    width: 30px;
    display: inline-block;
    &_login {
      font-size: 20px;
    }
  }
  .title {
    font-size: 26px;
    font-weight: 400;
    color: $light_gray;
    margin: 0px auto 40px auto;
    text-align: center;
    font-weight: bold;
  }
  .login-form {
    position: absolute;
    left: 0;
    right: 0;
    width: 400px;
    padding: 35px 35px 15px 35px;
    margin: 120px auto;
  }
  .el-form-item {
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    color: #454545;
  }
  .show-pwd {
    position: absolute;
    right: 10px;
    top: 7px;
    font-size: 16px;
    color: $dark_gray;
    cursor: pointer;
  }
  .thirdparty-button {
    position: absolute;
    right: 35px;
    bottom: 28px;
  }
}
</style>
