<template>
  <div>
    <div ref="cil"></div>
  </div>
</template>
<style scoped>
.txtNum{color:#606266;}
</style>


<script>
import {showCahrt} from "@/utils/chartD3";
export default {
  props: ["d3Data"],
  data() {
    return {
      data: []
    };
  },
  methods: {},
  created() {
    this.d3Data.forEach(element => {
      this.data.push({
        letter: element.key,  
        child: {
          category: "0",
          value: element.doc_count
        }
      });
    });
  },
  mounted() {
    // 统计分类
    showCahrt(this.data,this.$refs.cil) // 渲染数据和挂在dom
  }
};
</script>