<template>
    <div class="item_all">
        <el-table :data="sysData" stripe style="width: 100%">
            <el-table-column prop="_source.sys_gk1" label="标题"></el-table-column>
            <el-table-column fixed="right" label="操作" width="180">
                <template slot-scope="scope">
                    <el-button @click="editpage(scope.row)" type="text" size="small">查看</el-button>
                    <el-button @click="deleteThem(scope.row)" type="text" size="small">移除</el-button>
                </template>
            </el-table-column>
        </el-table>
    </div>
</template>
<style scoped>
/* .item_all {
  display: flex;
}
.es-row {
  margin-bottom: 20px;
} */
</style>


<script>
import { fullTable } from "@/api/assets";
export default {
  data() {
    return {
      sysData: []
    };
  },
  methods: {
    editpage(item) {
      console.log(item);
      this.$router.push({ name: "综合统计表", params: { sysData: item } });
    },
    deleteThem(item) {
      let data = {
        name: item._index,
        id: item._id
      };
      deleEsdata(data).then(data => {
        let res = data.data;
        if (res.code == 1) {
          alert("成功删除一条记录");
          //this.getFullTable(); // 重新获取已经填写的表数据
        } else {
          alert(res.err_msg);
        }
      });
    }
  },
  created() {
    fullTable("系统").then(data => {
      let res = data.data;
      console.log(res);
      if (res.code == 1) {
        this.sysData = res.data;
      }
    });
  }
};
</script>