<template>
    <div class="flex">
        <div>
            <h2>企业</h2>
            <Slect v-if="comp_data._source&&fieldKeys" ref="child" :fieldKeys="fieldKeys" :indexName="'企业'" :form="comp_data._source" />
        </div>
        <div>
          <h2>系统</h2>
            <Slect v-if="fieldKeys" ref="child" :fieldKeys="fieldKeys" :indexName="'系统'" :form="sysData._source" />
        </div>
        <div>
          <h2>设备</h2>
          <div v-for="(item,index) in assData">
            <h3>{{item._source.sys_gk4}}</h3>
            <Slect v-if="item._source&&fieldKeys" ref="child" :fieldKeys="fieldKeys" :indexName="'设备'" :form="item._source" />
          </div>
        </div>
    </div>
</template>

<script>
import { fullTable, fullSys, getEsdata } from "@/api/assets";
import Slect from "@/components/EsVue/AnalSlecte";
export default {
  data() {
    return {
      form: {},
      options: {},
      assData: [],
      sysData: {},
      comp_data: {},
      sysName:'',
      fieldKeys:null
    };
  },
  components: {
    Slect
  },
  methods: {
    
  },
  created() {
    // 获取该用户下的所有设备，系统，公司信息
    let add_user = localStorage.getItem("username");
    // 系统信息
    this.sysData = this.$route.params.sysData
    this.sysName = this.sysData._source.sys_gk1
    fullTable("企业").then(data => {
      let res = data.data;
      console.log(res);
      if (res.code == 1) {
        this.comp_data = res.data[0];
      }
    });
    
    fullSys("设备",this.sysName).then(data => {
      let res = data.data;
      console.log(res);
      if (res.code == 1) {
        this.assData = res.data;
      }
    });
    getEsdata().then(data => {
      let res = data.data;
      console.log(res);
      if (res.code == 1) {
        this.fieldKeys = res.data
      }
    });
  }
};
</script>

<style scoped>
.flex {
  width: 90%;
  margin: 0 5%;
}
</style>


