<template>
    <div class="">
      <div>
        <el-table :data="enterData" stripe style="width: 100%">
          <el-table-column prop="_source.sys_gk1" label="单位全称"></el-table-column>
          <el-table-column prop="_source.sys_gk2" label="法人代表"></el-table-column>
          <el-table-column prop="_source.sys_gk3" label="通讯地址"></el-table-column>
          <el-table-column prop="_source.sys_gk4" label="单位网址"></el-table-column>
          <el-table-column prop="_source.sys_gk5" label="邮政编码"></el-table-column>
          <el-table-column prop="_source.sys_gk6" label="所属行业"></el-table-column>
          <el-table-column prop="_source.sys_gk7" label="销售收入"></el-table-column>
          <el-table-column prop="_source.sys_gk8" label="经济类型"></el-table-column>
          <el-table-column prop="_source.sys_gk9" label="联系人姓名"></el-table-column>
          <el-table-column prop="_source.sys_gk10" label="联系人职务"></el-table-column>
          <el-table-column prop="_source.sys_gk11" label="联系人所属部门"></el-table-column>
          <el-table-column prop="_source.sys_gk12" label="联系人工作电话"></el-table-column>
          <el-table-column prop="_source.sys_gk13" label="联系人电子邮件"></el-table-column>
          <el-table-column prop="_source.sys_gk14" label="联系人传真"></el-table-column>
          <el-table-column prop="_source.sys_gk15" label="地区"></el-table-column>
        </el-table>
      </div>
    </div>
</template>

<script>
import { ClaEnterInfo } from "@/api/analysis";
import Slect from "@/components/EsVue/AssetSlecte";
export default {
  data() {
    return {
      form: {},
      enterData: [],
    };
  },
  components: {
    Slect
  },
  methods: {
    
  },
  created() {
    // 分类，和分类名
    let sysData = this.$route.params.param
    let condition = this.$route.params.condition
    

    console.log(sysData)
    console.log(condition)
    // 把缺失的条件补上
    let postData = {
      industry_name: condition.industry_name?condition.industry_name:sysData.claName,
      map_name: condition.map_name?condition.map_name:sysData.claName
    }
    console.log(postData)
    ClaEnterInfo(postData).then(data => {
      let res = data.data;
      console.log(res);
      if (res.code == 1) {
        this.enterData = res.data;
      }
    });
  }
};
</script>

<style scoped>
.flex {
  width: 90%;
  margin: 0 5%;
}
</style>


