<template>
  <div class="">
    <el-button @click="outToExc">导出</el-button>
    <div v-if="postData.field=='pipi'" class="itemkey">
      <el-button class="keybutn" @click="checKey(null,0)" :type="isOk[0]">所有</el-button>
      <el-button class="keybutn" @click="checKey('国内',1)" :type="isOk[1]">国内</el-button>
      <el-button class="keybutn" @click="checKey('国外',2)" :type="isOk[2]">国外</el-button>
    </div>
    <hr>
    <h2 style="text-align: center;" v-if="d3datas.length">{{classField}} 总计：{{allcunt}}</h2>
    <div class="myChart">
      <D3 v-if="d3datas.length" :d3Data="d3datas"/>
    </div>
    <div style="height:50px;"></div>

    <!-- <el-table :data="sysData" stripe style="width: 90%">
      <el-table-column prop="key" label="行业/地区/设备/品牌/设备类型"></el-table-column>
      <el-table-column prop="doc_count" label="企业数量/设备数量"></el-table-column>
      <el-table-column fixed="right" label="操作" width="180">
        <template slot-scope="scope">
          <el-button
            @click="editpage({cla:esKey,claName:scope.row.key})"
            type="text"
            size="small"
          >查看</el-button>
          <el-button
            @click="outToExc({cla:esKey,claName:scope.row.key})"
            type="text"
            size="small"
          >导出</el-button>
        </template>
      </el-table-column>
    </el-table>-->
  </div>
</template>
<style scoped>
.itemkey {
  width: 95%;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
}
.keybutn {
  margin-top: 10px;
}
</style>


<script>
import { fullTjCla, outExcel } from "@/api/analysis";
import D3 from "./assets_d3";
export default {
  data() {
    return {
      isOk: ["default", "default","default"],
      allcunt: null,
      d3datas: [],
      postData: {
        field: "",
        sys_name: null,
        map_name: null,
        pipi_name: null,
        class_name: null,
        in_or_out: "" // 国内国外
      }
    };
  },
  components: {
    D3
  },
  methods: {
    checKey(key, e) {
      this.agen();
      this.isOk[e] = "primary";
      this.postData.in_or_out = key;
      this.init();
    },
    outToExc() {
      this.postData.nenter_assea = "asset"; // 设备还是企业（enter:企业,asset:设备）
      outExcel(this.postData).then(data => {
        let res = data.data;
        console.log(res);
        if (res.code == 1) {
          window.open(
            "http://192.168.99.131:5000/api/v1.0/download/sample.xlsx"
          );
        }
      });
    },
    agen() {
      // 样式清零
      for(var i=0;i<=2;i++){
        this.isOk[i] = "default"
      }
    },
    cunt(param) {
      let num = 0;
      param.forEach(item => {
        num += item.doc_count;
      });
      return num ;
    },
    init() {
      this.d3datas = [];
      fullTjCla(this.postData).then(data => {
        let res = data.data;
        console.log(res);
        if (res.code == 1) {
          this.d3datas = res.data;
          this.allcunt = this.cunt(res.data);
        }
      });
    }
  },
  created() {
    // 统计分类
    let classField = {
      sys: "系统设备统计",
      map: "地区设备统计",
      pipi: "设备品牌统计",
      class: "设备类型统计"
    };
    this.postData.field = this.$route.params.field;
    this.classField = classField[this.postData.field];
    if(this.postData.field=="pipi"){
      // 国内国外
      this.isOk[0] = "primary"
    }
    this.init();
  }
};
</script>