<template>
  <div class="">
    <el-button @click="outToExc">导出</el-button>
    <div v-if="itemkey&&postData.field=='industry'" class="itemkey">
      <el-button class="keybutn" @click="checKey(itemkey.name,0)" :type="isOk[0]">{{itemkey.name}}</el-button>
      <span v-for="(item,index) in itemkey.children">
        <el-button
          class="keybutn"
          :type="isOk[index+1]"
          @click="checKey(item.name,index+1)"
        >{{item.name}}</el-button>
        <el-dropdown v-if="item.children" trigger="click">
          <span class="el-dropdown-link">
            <i class="el-icon-caret-bottom el-icon--right"></i>
          </span>
          <el-dropdown-menu slot="dropdown">
            <div
              v-for="(area,inx) in item.children"
              @click="checKey(item.name+'>'+area.name,index+1)">
              <el-dropdown-item class="clearfix">{{area.name}}</el-dropdown-item>
            </div>
          </el-dropdown-menu>
        </el-dropdown>
      </span>
    </div>
    <div v-if="itemkey&&postData.field=='map'" class="itemkey">
      <el-button
        class="keybutn"
        v-for="(item,index) in itemkey"
        :type="isOk[index]"
        @click="checKeyIn(item.name,index)"
      >{{item.name}}</el-button>
    </div>
    <hr>
    <h2 style="text-align: center;" v-if="d3datas.length">{{classField}} 总计：{{allcunt}}</h2>
    <h2 style="text-align: center;" v-if="!d3datas.length">没有数据</h2>
    <div class="myChart">
      <D3 v-if="d3datas.length" :d3Data="d3datas"/>
    </div>
  </div>
</template>
<style scoped>
.itemkey {
  width: 95%;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
}
.keybutn {
  margin-top: 10px;
  margin-left: 20px;
}
</style>


<script>
import { fullTjCla, enterTjCla, outExcel, Areas } from "@/api/analysis";
import { getEsdata } from "@/api/assets";
import D3 from "./assets_d3";
export default {
  data() {
    return {
      isOk: [],
      esKey: "",
      allcunt: null,
      d3datas: [],
      itemkey: null,
      postData: {
        field: null,
        map_name: null,
        industry_name: null
      }
    };
  },
  components: {
    D3
  },
  methods: {
    checKey(key, e) {
      this.agen();
      this.isOk[e] = "primary";
      if (key != "新疆") {
        this.postData.map_name = "新疆>" + key;
      } else {
        this.postData.map_name = key;
      }
      this.init();
    },
    checKeyIn(key, e) {
      for (var i = 0; i < this.itemkey.length; i++) {
        this.isOk[i] = "default";
      }
      this.isOk[e] = "primary";
      this.postData.industry_name = key;
      this.init();
    },
    outToExc() {
      this.postData.nenter_assea = "enter"; // 设备还是企业（enter:企业,asset:设备）
      outExcel(this.postData).then(data => {
        let res = data.data;
        console.log(res);
        if (res.code == 1) {
          window.open(
            "http://192.168.99.131:5000/api/v1.0/download/sample.xlsx"
          );
        }
      });
    },
    cunt(param) {
      let num = 0;
      param.forEach(item => {
        num += item.doc_count;
      });
      return num;
    },
    agen() {
      // 样式清零
      this.isOk[0] = "default";
      for (var i = 1; i <= this.itemkey.children.length; i++) {
        this.isOk[i] = "default";
      }
    },
    init() {
      this.d3datas = [];
      enterTjCla(this.postData).then(data => {
        let res = data.data;
        console.log(res);
        if (res.code == 1) {
          this.d3datas = res.data;
          this.allcunt = this.cunt(res.data);
        }
      });
    }
  },
  created() {
    // 统计分类
    let classField = {
      industry: "企业行业分类",
      map: "企业地区分类"
    };
    this.postData.field = this.$route.params.field;
    this.classField = classField[this.postData.field];
    if (this.postData.field == "industry") {
      // 获取地区数据
      Areas().then(data => {
        let res = data.data;
        if (res.code == 1) {
          this.itemkey = res.data[0];
          this.agen();
          this.isOk[0] = "primary";
        }
      });
    } else if (this.postData.field == "map") {
      // 获取企业行业数据
      getEsdata().then(data => {
        let res = data.data;
        if (res.code == 1) {
          res.data.forEach(item => {
            if (item._source.index_name == "企业") {
              let fields = item._source.fields;
              fields.forEach(field => {
                if (field.field_dis_zh == "所属行业") {
                  this.itemkey = eval(field.field_enum);
                }
              });
            }
          });
        }
      });
    }
    this.init();
  }
};
</script>