<template>
    <div class="">
      <div>
        <Slect :datas="assData" />
      </div>
    </div>
</template>

<script>
import { ClaAssetInfo } from "@/api/analysis";
import Slect from "@/components/EsVue/AssetSlecte";
export default {
  data() {
    return {
      form: {},
      assData: [],
      sysData: {},
      sysName:''
    };
  },
  components: {
    Slect
  },
  methods: {
    
  },
  created() {
    // 分类，和分类名
    this.sysData = this.$route.params.param
    let cla = this.sysData.cla
    this.claName = this.sysData.claName
    let claAsstes =  [
      {name: 'sys'},
      {name: 'map'},
      {name: 'pipi'},
      {name: 'class'},
    ]
    let postData = {
      sys_name: null,
      map_name: null,
      pipi_name: null,
      class_name: null,
    }
    
    postData[cla+'_name'] = this.claName

    console.log(postData)

    ClaAssetInfo(postData).then(data => {
      let res = data.data;
      console.log(res);
      if (res.code == 1) {
        this.assData = res.data;
      }
    });
  }
};
</script>

<style scoped>
.flex {
  width: 90%;
  margin: 0 5%;
}
</style>


