<template>
  <div class="flex">
    <div class="item gray" @click="ToTjCla('sys')">
      <div class="xj_img">
        <img src="../../assets/images/system.png">
      </div>
      <div class="xj">系统设备统计</div>
    </div>
    <div class="item blue" @click="ToTjCla('map')">
      <div class="xj_img">
        <img src="../../assets/images/region.png">
      </div>
      <div class="xj">地区设备统计</div>
    </div>
    <div class="item green" @click="ToTjCla('pipi')">
      <div class="xj_img">
        <img src="../../assets/images/brand.png">
      </div>
      <div class="xj">设备品牌统计</div>
    </div>
    <div class="item yellow" @click="ToTjCla('class')">
      <div class="xj_img">
        <img src="../../assets/images/type.png">
      </div>
      <div class="xj">设备类型统计</div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {};
  },
  methods: {
    ToTjCla(field) {
      this.$router.push({
        name: "统计分类",
        params: { field: field }
      });
    }
  },
  created() {}
};
</script>

<style scoped>
.flex {
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
}
.item {
  width: 500px;
  height: 234px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
}
.gray {
  background: rgb(56, 67, 95);
}
.blue {
  background: rgb(53, 152, 217);
}
.green {
  background: rgb(27, 188, 155);
}
.yellow {
  background: rgb(244, 173, 65);
}
.xj_img {
  width: 110px;
  height: 110px;
  float: left;
  padding-top: 60px;
  padding-left: 100px;
  
}
.xj {
  font-size: 24px;
  color: #ffffff;
  float: left;
  margin: 130px 0 0 110px;
  text-shadow: 5px 5px 5px #000;
}
</style>


