<template>
  <div>
    <div ref="index">
      <wangeditor :catchData="catchData"></wangeditor>
    </div>

    <p>{{content}}</p>
  </div>

</template>

<script>
  import wangeditor from '@/components/wangeditor/wangeditor'

  export default {
    name : 'index',
    data() {
      return {
        content: "",
      }
    },

    methods: {
      catchData(value) {
        this.content = value      //在这里接受子组件传过来的参数，赋值给data里的参数
      },

    },
    components: {
      wangeditor
    }
    ,
  }

</script>
