<template>
  <div>
    <el-upload
      class="upload-demo"
      drag
      action="http://localhost:5000/api/v1.0/files"
      name="files"
      :data="data"
      :on-success="success"
      :multiple="multiple">
      <i class="el-icon-upload"></i>
      <div class="el-upload__text">将文件拖到此处，或<em>点击上传</em></div>
      <div class="el-upload__tip" slot="tip">不超过500kb</div>
    </el-upload>
    <p>{{fileList}}</p>
  </div>
</template>

<script>
    export default {
        name: "uploads",
        data(){
          return{
            data:{
              path:'/ee/kk'
            },
            fileList:[],
            multiple:true,
          }
        },
      methods:{
        success(response, file, fileList) {
          console.log(response);
          console.log(file);
          console.log(fileList);
          this.fileList = fileList
        }
      }
    }
</script>

<style scoped>

</style>
