<template>
<div>
  <div>
    <h2>{{msg}}</h2>
  </div>
  <div>
    <ol>
      <li>
        <router-link to="/notification/push">发布通知</router-link>
      </li>
      <li>
        <router-link to="/notification/list">查看通知</router-link>
      </li>
    </ol>
  </div>
</div>
</template>

<script>
    export default {
        name: "index",
      data(){
          return{
            msg:'index page'
          }
      }
    }
</script>

<style scoped>

</style>
