<template>
  <div>

    <el-table
      :data="noteList"
      stripe

      style="width: 100%">

      <el-table-column
        prop="theme"
        label="主题">

      </el-table-column>

      <el-table-column
        prop="creator"
        label="创建人"
        width="180">

      </el-table-column>

      <el-table-column
        prop="create_time"
        label="创建时间"
        width="180">

      </el-table-column>

      <el-table-column label="操作">
        <template slot-scope="scope">
          <el-button
            size="mini"
            @click="get_note(scope.row.id)">查看
          </el-button>
          <el-button
            size="mini"
            type="info"
            @click="edit_note(scope.row.id)">编辑
          </el-button>
          <el-button
            size="mini"
            type="danger"
            @click="delete_note(scope.row.id)">删除
          </el-button>
        </template>
      </el-table-column>

    </el-table>

    <div style="padding: 10px" v-show="Object.keys(note).length > 0">
      <el-card class="box-card">
        <h2 style="color: #2C58A6">{{note.theme}}</h2>

        <p class="custom-desc">
          <span>发布时间：{{note.create_time}}</span>
          <span>发布人：{{note.creator}}</span>
          <span>阅读次数：{{note.read_times}}</span>
        </p>
        <div class="text item">
          <el-tag size="mini" :key="tag" v-for="tag in note.tags">{{tag}}</el-tag>
        </div>
        <div class="text item">
          <!--<div>{{note.contents}}</div>-->
          <div style="background-color: rgba(230,243,234,0.22)">
            <div v-html="note.contents"></div>
          </div>
        </div>

        <div class="text item">
          <el-tooltip :key="reader.user_id" v-for="reader in note.readers" placement="bottom">
            <div slot="content">{{reader.read_time}}<br/>阅读：{{reader.read_times}} 次</div>
            <el-button size="mini">{{reader.username}}</el-button>
          </el-tooltip>

        </div>
      </el-card>
    </div>

  </div>
</template>

<script>
  import {get_notes, get_note, delete_note, put_readers} from '@/api/note'
  import {confirm4delete, removeElementById} from "@/api/common";

  export default {
    name: "list",
    data() {
      return {
        data: {},
        note: {},
        noteList: [],
        loading:true
      }
    },
    methods: {
      handleEdit(v) {
        console.log(v.row.id)
      },
      get_notes() {
        get_notes().then(data => {
          console.log(data)

          let data1 = data.data

          if (data1.code === 1) {
            let res = data1.data.hits;

            // console.log(res.hits);
            let hits = res.hits
            let noteList1 = this.noteList
            hits.forEach(function (value, i) {
              let source = value._source
              source['id'] = value._id
              noteList1.push(source)
            })

            this.data = res;
          } else {
            // todo common error func
          }

        })
      },
      get_note(id) {
        get_note(id).then(data => {
          console.log(data.data);

          let data1 = data.data
          if (data1.code === 1) {
            this.note = data1.data;
            // console.log(this.$store.state.user.username)
          }

        });

        put_readers(id).then(data => {
          console.log(data.data)
        })
      },
      edit_note(id) {
        this.$router.push({name: 'update_note', params: {id: id}})
      },
      delete_note(id) {

        let me = this

        confirm4delete(me, function () {

          delete_note(id).then(data => {
            console.log(data)

            let data1 = data.data

            if (data1.code === 1) {

              removeElementById(me,me.noteList,id)

            } else {
              //todo common error
            }
          })
        })
      }
    },
    created() {
      this.get_notes();
    }
  }
</script>

<style scoped>
  .text {
    font-size: 14px;
  }

  .item {
    margin-bottom: 18px;
  }

  p.custom-desc {
    font-size: small;
    color: darkgray;
  }

  p.custom-desc span {
    padding-right: 20px;
  }

  .clearfix:before,
  .clearfix:after {
    display: table;
    content: "";
  }

  .clearfix:after {
    clear: both
  }

  .box-card {
    /*width: 480px;*/
    margin: 10px auto;
  }

  .el-tag + .el-tag {
    margin-left: 10px;
  }
</style>
