<template>
  <div>
    <el-form ref="form" :model="form" label-width="80px">

      <el-form-item label="主题">
        <el-input v-model="form.theme"></el-input>
      </el-form-item>

      <div class="editor-container">
        <div>
          <wangeditor ref="editor1" :catchData="catchData"></wangeditor>
        </div>
      </div>

      <el-form-item label="创建时间">
        <el-col :span="11">
          <el-date-picker type="date" placeholder="选择日期" v-model="form.create_date"
                          style="width: 100%;"></el-date-picker>
        </el-col>
        <el-col class="line" :span="2">-</el-col>
        <el-col :span="11">
          <el-time-picker type="fixed-time" placeholder="选择时间" v-model="form.create_time"
                          style="width: 100%;"></el-time-picker>
        </el-col>
      </el-form-item>

      <el-form-item label="tags">

        <el-tag
          :key="tag"
          v-for="tag in form.tags"
          closable
          :disable-transitions="false"
          @close="handleClose(tag)">
          {{tag}}
        </el-tag>

        <el-input
          class="input-new-tag"
          v-if="inputVisible"
          v-model="inputValue"
          ref="saveTagInput"
          size="small"
          @keyup.enter.native="handleInputConfirm"
          @blur="handleInputConfirm"
        >
        </el-input>
        <el-button v-else class="button-new-tag" size="small" @click="showInput">添加标签</el-button>

      </el-form-item>


      <el-form-item label="其他信息">
        <el-input v-model="form.other"></el-input>
      </el-form-item>

    </el-form>

  </div>

</template>

<script>
  import {push_note, get_note} from '@/api/note'
  import wangeditor from '@/components/wangeditor/wangeditor'


  export default {
    name: "Notes",
    components: {wangeditor},

    data() {
      return {

        form: {
          theme: '',
          contents: '',
          tags: [],
          creator: '',
          create_time: '',
          create_date: '',
          readers: [],
          read_times:0,
          other: ''
        },
        inputVisible: false,
        inputValue: ''
      }
    },
    methods: {
      catchData(value) {
        this.form.contents = value      //在这里接受子组件传过来的参数，赋值给data里的参数
      },
      get_form(){
        console.log(this.form);
        return this.form
      },
      init_form(id){
        get_note(id).then(data => {
          console.log(data);
          let data1 = data.data
          if(data1.code === 1){
            this.form = data1.data;
            this.$refs.editor1.setContent(data1.data.contents)
          }else {
            // todo common error
          }

        })
      },
      cancel() {
        this.$router.go(-1)
      },

      handleClose(tag) {
        this.form.tags.splice(this.form.tags.indexOf(tag), 1);
      },

      showInput() {
        this.inputVisible = true;
        this.$nextTick(_ => {
          this.$refs.saveTagInput.$refs.input.focus();
        });
      },

      handleInputConfirm() {
        let inputValue = this.inputValue;
        if (inputValue) {
          this.form.tags.push(inputValue);
        }
        this.inputVisible = false;
        this.inputValue = '';
      }
    }
  }
</script>

<style scoped>
  .editor-container {
    padding: 10px 0 10px 79px
  }

  .el-tag + .el-tag {
    margin-left: 10px;
  }

  .button-new-tag {
    margin-left: 10px;
    height: 32px;
    line-height: 30px;
    padding-top: 0;
    padding-bottom: 0;
  }

  .input-new-tag {
    width: 90px;
    margin-left: 10px;
    vertical-align: bottom;
  }
</style>
