<template>
  <div style="max-width: 80%;padding: 100px 0">

      <Notes ref="note1"/>

      <div style="padding-left: 80px">
        <el-button type="primary" @click="onSubmit">立即创建</el-button>
        <el-button @click="cancel">取消</el-button>

      </div>


  </div>

</template>

<script>
  import {push_note,get_note} from '@/api/note'
  import Notes from './note_editor'

  export default {
    name: "push",
    components: {Notes},
    comments:{Notes},
    data() {
      return {}
    },

    methods: {
      onSubmit() {

        let form = this.$refs.note1.get_form();

        push_note(form).then(data => {
          let data1 = data.data;
          if (data1.code === 1) {
            this.$router.push({path:'/notification/list'})
          }else{
            // todo common error
          }

        });
      },

      cancel(){
        this.$router.push({path:'/notification/list'})
      },

    },
    created(){

    }
  }
</script>

<style scoped>

</style>
