<template>
  <div style="max-width: 80%;padding: 100px 0">
    <Notes ref="note1" id="note"></Notes>

    <div style="padding-left: 80px">
      <el-button type="primary" @click="onSubmit" v-loading.fullscreen.lock="fullscreenLoading">修改</el-button>
      <el-button @click="cancel">取消</el-button>
    </div>


  </div>
</template>

<script>

  import {push_note, update_note, get_note} from '@/api/note'
  import {notice} from '@/api/common'
  import Notes from './note_editor.vue'

  export default {
    name: "put",
    components: {Notes},
    data() {
      return {
        fullscreenLoading: false
      }
    },

    methods: {
      onSubmit() {

        let me = this

        me.fullscreenLoading = true;

        let form = this.$refs.note1.get_form()
        console.log(form)

        update_note(this.$route.params.id, form).then(data => {
          try {
            console.log(data)

            let data1 = data.data

            notice(me, data1, '更新成功')
          } catch (e) {
            me.fullscreenLoading = false
          }

        });
      },
      cancel() {
        this.$router.push({path: '/notification/list'})
      },
      init() {
        let id = this.$route.params.id;
        if (id != null) {
          this.$refs.note1.init_form(this.$route.params.id)
        }
      }
    },
    mounted() {
      this.init()
    }
  }
</script>

<style scoped>

</style>
