<template>
	<div class="content-cont">
		<div class="top-box">
          <div id="drawMap" :style="{'height':'470px','width':'100%'}"></div>
		</div>
		<div class="content-box">
			<databox :title="'实时告警区域'" :dheight="220" :icon="'account'">
        <myevent></myevent>
			</databox>
		</div>
	</div>
</template>

<script>
import databox from '@/components/dashboard/databox'
import echarts from 'echarts'
import myevent from './myevent'
import mapJson from '@/assets/data/data-1507863641060-Sy-whsTh-.json'
export default {
  components:{
    databox,
    myevent
  },
  data () {

    return {
      mapData2:[
        {
          name: '巴音郭楞蒙古',
          value: 54
        }, {
          name: '哈密',
          value: 9
        }, {
          name: '阿勒泰',
          value: 14
        }, {
          name: '塔城',
          value: 2
        }, {
          name: '克孜勒苏柯尔克孜',
          value: 11
        }, {
          name: '博尔塔拉蒙古',
          value: 15
        }, {
          name: '乌鲁木齐',
          value: 12
        }, {
          name: '阿拉尔',
          value: 27
        }, {
          name: '五家渠',
          value: 7
        }],
      mapData1:[
        {
          name: '巴音郭楞蒙古',
          value: 390,
          alarm_num: 54
        }, {
          name: '和田',
          value: 119
        }, {
          name: '哈密',
          value: 55,
          alarm_num: 9
        }, {
          name: '阿克苏',
          value: 329
        }, {
          name: '阿勒泰',
          value: 219,
          alarm_num: 14
        }, {
          name: '喀什',
          value: 290
        }, {
          name: '塔城',
          value: 319,
          alarm_num: 2
        }, {
          name: '昌吉',
          value: 199
        }, {
          name: '克孜勒苏柯尔克孜',
          value: 419,
          alarm_num: 11
        }, {
          name: '吐鲁番',
          value: 299
        }, {
          name: '伊犁哈萨克',
          value: 49
        }, {
          name: '博尔塔拉蒙古',
          value: 219,
          alarm_num: 15
        }, {
          name: '乌鲁木齐',
          value: 89
        }, {
          name: '克拉玛依',
          value: 49
        }, {
          name: '阿拉尔',
          value: 209,
          alarm_num: 27
        }, {
          name: '图木舒克',
          value: 129
        }, {
          name: '五家渠',
          value: 49,
          alarm_num: 7
        }, {
          name: '石河子',
          value: 229
        }],
      MapChart:null,
      mapOption:null,
      message:[],
      websocket:null,
    }
  },
  methods:{
    drawMap(){
      this.MapChart = echarts.init(document.getElementById('drawMap'))

      // 引入新疆地区地图
      echarts.registerMap('新疆', mapJson);
      // 每个地区的坐标
      var geoCoordMap = {
        '巴音郭楞蒙古': [88.1653, 39.6002],
        '和田': [81.167, 36.9855],
        '哈密': [93.7793, 42.9236],
        '阿克苏': [82.9797, 41.0229],
        '阿勒泰': [88.2971, 47.0929],
        '喀什': [77.168, 37.8534],
        '塔城': [86.6272, 45.8514],
        '昌吉': [89.6814, 44.4507],
        '克孜勒苏柯尔克孜': [74.6301, 39.5233],
        '吐鲁番': [89.6375, 42.4127],
        '伊犁哈萨克': [82.5513, 43.5498],
        '博尔塔拉蒙古': [81.8481, 44.6979],
        '乌鲁木齐': [87.9236, 43.5883],
        '克拉玛依': [85.2869, 45.5054],
        '阿拉尔': [81.2769, 40.6549],
        '图木舒克': [79.1345, 39.8749],
        '五家渠': [87.5391, 44.3024],
        '石河子': [86.0229, 44.2914]
      };

      // 每个地区的设备数量值this.mapData1
      var data = this.mapData1;
      //   [
      //   {
      //   name: '巴音郭楞蒙古',
      //   value: 390,
      //   alarm_num: 54
      // }, {
      //   name: '和田',
      //   value: 119
      // }, {
      //   name: '哈密',
      //   value: 55,
      //   alarm_num: 9
      // }, {
      //   name: '阿克苏',
      //   value: 329
      // }, {
      //   name: '阿勒泰',
      //   value: 219,
      //   alarm_num: 14
      // }, {
      //   name: '喀什',
      //   value: 290
      // }, {
      //   name: '塔城',
      //   value: 319,
      //   alarm_num: 2
      // }, {
      //   name: '昌吉',
      //   value: 199
      // }, {
      //   name: '克孜勒苏柯尔克孜',
      //   value: 419,
      //   alarm_num: 11
      // }, {
      //   name: '吐鲁番',
      //   value: 299
      // }, {
      //   name: '伊犁哈萨克',
      //   value: 49
      // }, {
      //   name: '博尔塔拉蒙古',
      //   value: 219,
      //   alarm_num: 15
      // }, {
      //   name: '乌鲁木齐',
      //   value: 89
      // }, {
      //   name: '克拉玛依',
      //   value: 49
      // }, {
      //   name: '阿拉尔',
      //   value: 209,
      //   alarm_num: 27
      // }, {
      //   name: '图木舒克',
      //   value: 129
      // }, {
      //   name: '五家渠',
      //   value: 49,
      //   alarm_num: 7
      // }, {
      //   name: '石河子',
      //   value: 229
      // }];

      // 每个地区的设备告警数量this.mapData2
      var data2 = this.mapData2;



      var convertData = function(data) {
        var res = [];
        for (var i = 0; i < data.length; i++) {
          var geoCoord = geoCoordMap[data[i].name];
          if (geoCoord) {
            res.push({
              name: data[i].name,
              value: geoCoord.concat(data[i].value),
            });
          }
        }
        // 有数据的地区的名称和value值
        return res;

      };


      // 设定series是一个空的数组
      var series = [];
      [
        ['新疆', data]
      ].forEach(function(item, i) {
        series.push({
            name: '定位点',
            type: 'effectScatter', // 散点图
            coordinateSystem: 'geo', // 使用地理坐标系
            hoverAnimation: 'false',
            legendHoverLink: 'false',
            rippleEffect: {
              period: 4,
              brushType: 'stroke',
              scale: 3
            },
            data: convertData(item[1]),
            symbolSize: function(val) {
              if (val[2] <= 100) {
                return 4
              }
              if (val[2] > 100 && val[2] <= 200) {
                return 8
              }
              if (val[2] > 200 && val[2] <= 300) {
                return 12
              }
              if (val[2] > 300 && val[2] <= 400) {
                return 16
              }
              if (val[2] > 400 && val[2] <= 500) {
                return 20
              }
              if (val[2] > 500) {
                return 24
              }
            },
            itemStyle: {
              normal: {
                color: '#5599E4',
              }
            },
            zlevel: 1,
          },
          {
            name: '点',
            type: 'scatter',
            coordinateSystem: 'geo',
            symbol: 'pin',
            symbolSize: 25,
            label: {
              normal: {
                show: true,
                textStyle: {
                  color: '#fff',
                  fontSize: 9,
                },
                formatter: function(c){
                  return c.data.value[2];}
                ,
              }
            },
            itemStyle: {
              normal: {
                color: '#F62157', //标志颜色
                formatter: function (params) {
                  this.testData = params.value
                  return params
                },
              },
              textStyle: {
                color: '#ddb926',
                fontSize: 10
              },
            },
            zlevel: 2,
            data: convertData(data2)
          });
      });

      var option = {
        // backgroundColor: '#4f5555',
        title: {
          text: '新疆设备部署图',
          subtext: '散点圆的大小随设备数量改变而改变',
          left: 'center',
          textStyle: {
            color: '#7bbfea'
          }
        },
        geo: {
          map: '新疆',
          //视角缩放比例
          zoom: 1,
          //显示文本样式
          label: {
            normal: {
              show: true,
              textStyle: {
                color: '#fff'
              }
            },
            emphasis: {
              textStyle: {
                color: '#fff'
              }
            }
          },
          //鼠标缩放和平移
          roam: true,
          itemStyle: {
            normal: {
              //         	color: '#ddd',
              borderColor: 'rgba(147, 235, 248, 1)',
              borderWidth: 1,
              areaColor: {
                type: 'radial',
                x: 0.5,
                y: 0.5,
                r: 0.8,
                colorStops: [{
                  offset: 0,
                  color: 'rgba(175,238,238, 0)' // 0% 处的颜色
                }, {
                  offset: 1,
                  color: 'rgba(	47,79,79, .2)' // 100% 处的颜色
                }],
                globalCoord: false // 缺省为 false
              },
              shadowColor: 'rgba(128, 217, 248, 1)',
              // shadowColor: 'rgba(255, 255, 255, 1)',
              shadowOffsetX: -2,
              shadowOffsetY: 2,
              shadowBlur: 10
            },
            emphasis: {
              areaColor: '#389BB7',
              borderWidth: 0,
            }
          }
        },
        series: series
      };
      this.mapOption = option
      this.MapChart.setOption(option);


    },

    // drawBar(){
    //   let BarChart = echarts.init(document.getElementById('drawBar'))
    //   let option = {
    //     tooltip : {
    //       trigger: 'axis',
    //       axisPointer : {            // 坐标轴指示器，坐标轴触发有效
    //         type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
    //       },
    //       textStyle:{
    //         color:"#fff",               //文字颜色
    //         fontStyle:"normal",         //italic斜体  oblique倾斜
    //         fontWeight:"normal",        //文字粗细bold   bolder   lighter  100 | 200 | 300 | 400...
    //         fontFamily:"sans-serif",    //字体系列
    //       }
    //     },
    //     legend: {
    //       textStyle:{
    //         color:"#fff",               //文字颜色
    //         fontStyle:"normal",         //italic斜体  oblique倾斜
    //         fontWeight:"normal",        //文字粗细bold   bolder   lighter  100 | 200 | 300 | 400...
    //         fontFamily:"sans-serif",    //字体系列
    //       },
    //       data:['受保护', '未受保护']
    //     },
    //     toolbox: {
    //       show : true,
    //       // feature : {
    //       //   mark : {show: true},
    //       //   dataView : {show: true, readOnly: false},
    //       //   magicType : {show: true, type: ['line', 'bar', 'stack', 'tiled']},
    //       //   restore : {show: true},
    //       //   saveAsImage : {show: true}
    //       // }
    //     },
    //     calculable : true,
    //     xAxis : [
    //       {
    //         type : 'value'
    //       }
    //     ],
    //     yAxis : [
    //       {
    //         type : 'category',
    //         data : ['石河子','吐鲁番','喀什','昌吉','阿勒泰','和田','吐鲁番','克拉玛依' ],
    //         axisTick:{
    //           show:true,
    //           interval:0,
    //         },
    //         axisLabel: {
    //           interval:"0",
    //           "margin": 0,
    //           "textStyle": {
    //             "color": "#fff",
    //           }
    //         }
    //       }
    //
    //     ],
    //     series : [
    //       {
    //         name:'受保护',
    //         type:'bar',
    //         stack: '总量',
    //         itemStyle : {
    //           normal: {
    //             label : {
    //               show: true, position: 'insideRight',
    //             },
    //             color: '#669999'
    //           }
    //         },
    //         data:[320, 302, 301, 334, 390, 330, 320, 234]
    //       },
    //       {
    //         name:'未受保护',
    //         type:'bar',
    //         stack: '总量',
    //         itemStyle : { normal: {label : {show: true, position: 'insideRight'},
    //           color:'#FF0066'}},
    //         data:[220, 232, 201, 134, 90, 230, 210, 90]
    //       }
    //     ]
    //   };
    //   var ser = option.series;
    //   var seriesLen = ser.length;
    //   var sum = [];
    //   for (var i = 0; i < ser[0].data.length; i++) {
    //     sum.push(0);
    //   }
    //   for (var i = 0; i < seriesLen; i++) {
    //     var dataLen = ser[i].data.length;
    //     for (var j = 0; j < dataLen; j++) {
    //       sum[j] += ser[i].data[j];
    //     }
    //   }
    //
    //   // option.series.push({
    //   //   name:'总和',
    //   //   type:'bar',
    //   //   stack: '总量',
    //   //   itemStyle : {
    //   //     normal: {
    //   //       label :{
    //   //         show: true, position: 'insideRight'
    //   //       },
    //   //       color:'#CC9933'
    //   //     },
    //   //   },
    //   //   data:sum
    //   // });
    //   option.legend.data.push('总和')
    //   BarChart.setOption(option);
    // },


    initWebsocketMap(){
      const wsuri = 'ws://192.168.99.131:9000';
      this.websocket = new WebSocket(wsuri)
      this.websocket.onopen = this.websocketonopen
      this.websocket.onerror = this.websocketonerror
      this.websocket.onmessage = this.websocketonmessageMap
      this.websocket.onclose = this.websocketclose
    },
    websocketonopen() {
      console.log("WebSocket连接成功");
      this.websocketsend('connect success')
    },
    websocketonerror(e) { //错误
      console.log("WebSocket连接发生错误");
    },
    websocketonmessageMap(e){ //数据接收
      const redata = JSON.parse(e.data);
      this.mapData1 = redata.map_data1
      this.mapData2 = redata.map_data2
      this.websocketsend(e.data)
      // const redata = JSON.parse(e.data);
    },

    websocketsend(agentData){//数据发送
      const sendData = {server:'analysis_service',func:'map_datas'}
      this.websocket.send(JSON.stringify(sendData));
    },

    websocketclose(e){ //关闭
      console.log("connection closed (" + e.code + ")");
    },





    },
  mounted(){
    this.drawMap()
    // this.drawBar()
  },
  created(){
    this.initWebsocketMap()
  },
  watch:{
    mapData1 : function (val, oldVal) {
      this.drawMap()
    },
    mapData2 : function (val, oldVal) {
      this.drawMap()
    },
  }
}
</script>

<style lang="scss">
.content-cont{
	width: 100%;
	height: 100%;
   .content-box{
   	 padding-top: 30px;
   }
}
</style>
