<template>
  <div>
    <div class="inputArea">
      <div class="search">
        <el-input class="search_input" list="itemlist"  v-model="searchData" v-on:input="searchChange"  placeholder="请输入内容">
          <el-button slot="append"  @click="onSubmit"  icon="el-icon-search" class="searchBtn"></el-button>
        </el-input>
      </div>
      <div v-show="showsearch">
        <datalist id="itemlist">
          <option v-for="item in searchList">{{item}}</option>
        </datalist>
      </div>
    </div>
    <el-table
      :data="this.sourceList"
      border
      empty-text="请查询数据"
      style="width: 100%">
      <el-table-column
        label="项目名">
        <template slot-scope="scope">
          <a style="margin-left: 10px" :href="scope.row.url">{{scope.row.title}}</a>
        </template>
      </el-table-column>
      <el-table-column
        prop="class_name"
        label="平台">
      </el-table-column>
      <el-table-column
        prop="start_time"
        label="起始时间">
      </el-table-column>
      <el-table-column
        prop="end_time"
        label="结束时间">
      </el-table-column>
      <el-table-column
      label="跳转链接">
        <template slot-scope="scope">
          <a style="margin-left: 10px" target="_blank" :href="scope.row.url">查看</a>
        </template>
    </el-table-column>
    </el-table>
  </div>

</template>

<script>
  import {create_service, source} from '@/api/search.js';
  export default {
    data(){
      return {
        suggest_url: "http://localhost:5000/api/v1.0/search_service_searchsuggest",
        searchList:[],
        searchData: '',
        sourceList:[],
        showsearch: false
      };
    },
    methods:{
      onSubmit(){
        source(this.searchData).then((res) => {
          this.sourceList = res.data
        })
      },
      searchChange(){
        create_service(this.searchData).then((res) => {
          this.searchList = res.data
        })
        if (this.searchData.length != 0){
          this.showsearch = true
        }
        else {
          this.showsearch = false
        }
      }

    },
    watch:{
      searchChange(){}
    }

  }


</script>

<style>
  .search{
    width:  40%;
    margin: 20px 30%;

  }
  li {
    list-style-type:none;
    margin-bottom: 10px;
    margin: 20px;
  }
</style>
