<template>
  <div class="body">
    <el-form class='form1'  :rules='rules' ref="form" :model="form" label-width="80px">
      <el-form-item label="姓名" prop="name">
        <el-input v-model="form.name"></el-input>
      </el-form-item>
      <el-form-item label="手机号" prop="tel_phone">
        <el-input v-model="form.tel_phone"></el-input>
      </el-form-item>
      <el-form-item label="掌握技能">
        <el-input v-model="form.skill"></el-input>
      </el-form-item>
      <el-form-item label="个人简介">
        <el-input type="textarea" v-model="form.desc"></el-input>
      </el-form-item>
      <el-form-item label="历史案例">
        <el-input type="textarea" v-model="form.case_history"></el-input>
      </el-form-item>
      <el-form-item>
        <el-button type="primary"  @click="submitForm()">立即创建</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
  import { addpepdata, getpepMapp, getpepData, getpepInfos } from "@/api/pepoles";
  export default {
    data() {
      return {
        form: {
          name:'',
          tel_phone: '',
          skill: '',
          desc: '',
          case_history: ''
        },
        rules:{
          name:[
            { required: true, message: '请输入名称', trigger: 'blur' },
            { min: 2, max: 8, message: '长度在 2 到 8 个字符', trigger: 'blur' }
          ],
          tel_phone:[{
            required: true,
            message: '请输入手机号码',
            trigger: 'blur'
          },
            {validator:function(rule,value,callback){
                if(/^1[3456789]\d{9}$/.test(value) == false){
                  callback(new Error("请输入正确的手机号"));
                }else{
                  callback();
                }
              }, trigger: 'blur'}
          ],

        }
      }
    },
    methods: {
      submitForm(){

        addpepdata(this.form).then(data =>{
          {
            this.$alert('点击确定返回列表页', '添加成功', {
              confirmButtonText: '确定',
              showClose: false,
              callback: action => {
                this.$router.push({name:'人才库'})
              }
            });
          }
        })
      },

    }
  }

</script>
<style>
  .body {
    width: 98%;
    margin: 0 auto;
  }
  .item_all {
    display: flex;
  }
  .form1 {
    width: 60%;
    margin: 0 10%;
  }
  .button {
    text-align: right;
  }
  .item_name,
  .eslist-container {
    width: 80%;
  }

  .edit {
    width: 20%;
    text-align: center;
  }
  .es-row {
    margin-bottom: 20px;
  }
  .grid-content {
    text-indent: 50px;
    line-height: 36px;
    color: #000;
    min-height: 36px;
  }
  .bg-purple-dark {
    background: #e6e9eb;
  }
  .form-option{
    width: 60%;
    height: 40px;
    border: 1px solid #dcdfe6;
    border-radius: 4px;
  }
</style>
