<template>
  <div class="body">
    <el-table
      :data="tableData"
      stripe
      style="width: 100%">
      <el-table-column
        prop="id"
        type="index"
        width="50">
      </el-table-column>
      <el-table-column
        prop="name"
        label="姓名"
        width="180">
      </el-table-column>
      <el-table-column
        prop="tel_phone"
        label="手机号"
        width="180">
      </el-table-column>
      <el-table-column
        prop="skill"
        label="专长"
        width="180">
      </el-table-column>
      <el-table-column
        prop="desc"
        label="个人简介"
        width="180">
      </el-table-column>
      <el-table-column
        prop="case_history"
        label="历史案例"
        width="180">
      </el-table-column>
      <el-table-column
        fixed="right"
        label="操作"
        width="100">
        <template slot-scope="scope">
          <el-button @click="handleClick(scope.row)" type="text" size="small">编辑</el-button>
          <el-button type="text" size="small">移除</el-button>
        </template>
      </el-table-column>
    </el-table>
  </div>
</template>

<script>
  import { addpepdata,getpepData } from "@/api/pepoles";

  export default {
    data() {
      return {
        tableData: []
      };
    },
    methods: {
      handleClick(row) {
        this.$router.push({name:'人才信息更新',params:{id:row._id}})
      }
    },
    created() {
      getpepData().then(data => {
        this.tableData = data.data.source
      })
    }
  };
</script>
<style>
  .body {
    width: 98%;
    margin: 0 auto;
  }
  .item_all {
    display: flex;
  }
  .form1 {
    width: 60%;
    margin: 0 10%;
  }
  .button {
    text-align: right;
  }
  .item_name,
  .eslist-container {
    width: 80%;
  }

  .edit {
    width: 20%;
    text-align: center;
  }
  .es-row {
    margin-bottom: 20px;
  }
  .grid-content {
    text-indent: 50px;
    line-height: 36px;
    color: #000;
    min-height: 36px;
  }
  .bg-purple-dark {
    background: #e6e9eb;
  }
  .form-option{
    width: 60%;
    height: 40px;
    border: 1px solid #dcdfe6;
    border-radius: 4px;
  }
</style>
