<template>
  <div class="body">
    <el-form class='form1' :rules='rules' ref="form" :model="form" label-width="80px">
      <el-form-item label="姓名" prop="name">
        <el-input v-model="form.name"></el-input>
      </el-form-item>
      <el-form-item label="手机号" prop="tel_phone">
        <el-input v-model="form.tel_phone"></el-input>
      </el-form-item>
      <el-form-item label="掌握技能">
        <el-input v-model="form.skill"></el-input>
      </el-form-item>
      <el-form-item label="个人简介">
        <el-input type="textarea" v-model="form.desc"></el-input>
      </el-form-item>
      <el-form-item label="历史案例">
        <el-input type="textarea" v-model="form.case_history"></el-input>
      </el-form-item>
      <el-form-item>
        <el-button type="primary"  @click="submitForm()">立即更改</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
  import { getpepInfos,getpepMapp } from "@/api/pepoles";

  export default {
    data() {
      return {
        form: {
          name:'',
          tel_phone: '',
          skill: '',
          desc: '',
          case_history: ''
        },
        rules:{
          name:[
            { required: true, message: '请输入名称', trigger: 'blur' },
            { min: 2, max: 8, message: '长度在 2 到 8 个字符', trigger: 'blur' }
          ],
          tel_phone:[{
            required: true,
            message: '请输入手机号码',
            trigger: 'blur'
          },
            {validator:function(rule,value,callback){
                if(/^1[3456789]\d{9}$/.test(value) == false){
                  callback(new Error("请输入正确的手机号"));
                }else{
                  callback();
                }
              }, trigger: 'blur'}
          ],

        }
      };
    },
    methods: {
      submitForm(){
        let id = this.$route.params;
        let form = this.form;
        getpepMapp(id,form).then(data => {
          data.data.state
          if (data.data.state == 'ok')
          {
            this.$alert('点击确定返回列表页', '更新成功', {
              confirmButtonText: '确定',
              showClose: false,
              callback: action => {
                this.$router.push({name:'人才库'})
              }
            });
          }
        })
      }

    },
    created() {
      getpepInfos(this.$route.params).then(data =>{
        this.form=data.data
      })
    }
  };
</script>
<style>
  .body-base {
    width: 98%;
    display: flex;
  }
  .form {
    width: 90%;
  }
  .edit {
    width: 10%;
    text-align: right;
  }
  .body_flex {
    padding-top: 22px;
    border-bottom: 1px solid #ccc;
  }
  .item_flex{
    display: flex;
  }
  .item_input{
    width: 50%;
  }
  .create{
    margin-top: 22px;
  }
  .edit {
    width: 20%;
    text-align: center;
  }
  .create_list{
    display: flex;
  }
  .item_name{
    flex: 1;
  }
  .button{
    width: 154px;
  }
  .grid-content {
    text-indent: 50px;
    line-height: 36px;
    color: #000;
    min-height: 36px;
  }
  .bg-purple-dark {
    background: #e6e9eb;
  }
</style>
